.savebutton,
.backbutton {
	padding: 8px 28px;
}
.custom-btn {
	border-radius: 1rem;
}
.delete-btn {
	border-color: #f33c2f;
}

.changeuploaded#addlistpoint {
	padding: 13px 27px;
	width: auto;
}

.delete-btn#deletegroup {
	padding: 10px 30px;
	width: auto;
	font-size: 13.9px;
	margin: 20px 0;
}
