<form [formGroup]="addInsuranceForm" class="step_form_wrapper" appInvalidControlScroll>
	<!-- Main page content-->
	<section class="user_information">
		<h2 class="headinginfo"> Insurance Settings </h2>
		<div class="container">
			<div class="row ">
				<div class="col-md-6">
					<mat-form-field appearance="outline">
						<mat-label>Name of Insurance Company <span class="asterisk">*</span></mat-label>
						<input matInput placeholder="Name of Insurance Company" formControlName="CompanyName"
							tabIndex="1">
					</mat-form-field>
					<div *ngIf="submittedForm && f.CompanyName.errors || f.CompanyName.touched && f.CompanyName.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="f.CompanyName.errors.required">This field is required</div>
					</div>
				</div>
				<div class="col-md-6">
					<mat-form-field appearance="outline">
						<mat-label>Agency Name</mat-label>
						<input matInput placeholder="Agency Name" formControlName="AgentName" tabIndex="1">
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<mat-form-field appearance="outline" class="mat-custom-phone topLabelClass">
						<label class="mat-form-field-label mat-empty mat-form-field-empty labelClass">Agency / Insurance
							Telephone #<span class="asterisk"> *</span></label>
						<input matInput placeholder="1234567890" formControlName="AgentTelephone" ng2TelInput
							[ng2TelInputOptions]="{'preferredCountries': ['us', 'ca','mx','gb']}"
							(countryChange)="onCountryChange($event,'AgentTelephone')" class="phoneNumberClass"
							(intlTelInputObject)="telInputObjectAgentTelephone($event)" tabIndex="1" />
					</mat-form-field>
					<div *ngIf="submittedForm && f.AgentTelephone.errors || f.AgentTelephone.touched && f.AgentTelephone.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="f.AgentTelephone.errors.required">This field is required</div>
					</div>
					<div *ngIf="f.AgentTelephone.errors" class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="f.AgentTelephone.errors?.invalid_Pattern;else plusError">Do not add Dashes
							with numbers</div>
						<ng-template #plusError>
							<div *ngIf="f.AgentTelephone.errors?.invalidPattern;else allErrors">Do not enter +
								sign</div>
							<ng-template #allErrors>
								<div *ngIf="f.AgentTelephone.errors?.pattern;else numberLength">Enter Numbers Without
									Spaces or Dashes
								</div>
								<ng-template #numberLength>
									<div *ngIf="f.AgentTelephone.errors.minlength">Minimum length should be 4</div>
									<div *ngIf="f.AgentTelephone.errors.maxlength">Maximum length should be 15</div>
								</ng-template>
							</ng-template>
						</ng-template>
					</div>
				</div>
				<div class="col-md-6">
					<mat-form-field appearance="outline">
						<mat-label>Insurance / Agent Email</mat-label>
						<input matInput placeholder="Insurance / Agent Email" formControlName="AgentEmail" tabIndex="1">
					</mat-form-field>
					<div *ngIf="submittedForm && f.AgentEmail.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="f.AgentEmail.errors.pattern">Email format should be valid</div>
					</div>
				</div>
				<div class="col-md-2 col-4 policyMonth">
					<mat-form-field appearance="outline">
						<mat-label>Policy Expire Month <span class="asterisk">*</span></mat-label>
						<mat-select formControlName="policyExpiredMonth" tabIndex="1">
							<mat-option value="">Month</mat-option>
							<mat-option value='01'>01</mat-option>
							<mat-option value='02'>02</mat-option>
							<mat-option value='03'>03</mat-option>
							<mat-option value='04'>04</mat-option>
							<mat-option value='05'>05</mat-option>
							<mat-option value='06'>06</mat-option>
							<mat-option value='07'>07</mat-option>
							<mat-option value='08'>08</mat-option>
							<mat-option value='09'>09</mat-option>
							<mat-option value='10'>10</mat-option>
							<mat-option value='11'>11</mat-option>
							<mat-option value='12'>12</mat-option>
						</mat-select>
					</mat-form-field>
					<div *ngIf="submittedForm && f.policyExpiredMonth.errors || f.policyExpiredMonth.touched && f.policyExpiredMonth.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="f.policyExpiredMonth.errors.required">This field is required</div>
					</div>
					<span [hidden]="!addInsuranceForm.hasError('policyError')"
						class="text-danger margin-bottom-thin my-mat-hint">Please enter future date.</span>
						<span [hidden]="!addInsuranceForm.hasError('InvalidDate')"
						class="text-danger margin-bottom-thin my-mat-hint">Invalid Date</span>
				</div>
				<div class="col-md-2 col-4 policyDay">
					<mat-form-field appearance="outline">
						<mat-label>Policy Expire Day <span class="asterisk">*</span></mat-label>
						<mat-select formControlName="policyExpiredDay" tabIndex="1">
							<mat-option value="">Day</mat-option>
							<mat-option *ngFor="let day of policyExpiredDay" value="{{day}}">{{day}}</mat-option>
						</mat-select>
					</mat-form-field>
					<div *ngIf="submittedForm && f.policyExpiredDay.errors || f.policyExpiredDay.touched && f.policyExpiredDay.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="f.policyExpiredDay.errors.required">This field is required</div>
					</div>
				</div>
				<div class="col-md-2 col-4 policyYear">
					<mat-form-field appearance="outline">
						<mat-label>Policy Expire Year <span class="asterisk">*</span></mat-label>
						<mat-select formControlName="policyExpiredYear" tabIndex="1">
							<mat-option value="">Year</mat-option>
							<mat-option *ngFor="let year of policyExpiredYear" value="{{year}}">{{year}}</mat-option>
						</mat-select>
					</mat-form-field>
					<div *ngIf="submittedForm && f.policyExpiredYear.errors || f.policyExpiredYear.touched && f.policyExpiredYear.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="f.policyExpiredYear.errors.required">This field is required</div>
					</div>
				</div>
				<div class="col-md-6">
					<mat-form-field appearance="outline">
						<mat-label>Insurance Limits <span class="theme-color">(Choose Closest Limit)</span> <span
								class="asterisk">*</span></mat-label>
						<mat-select formControlName="insuranceLimits" tabIndex="1">
							<mat-option value="500000">500,000</mat-option>
							<mat-option value="1000000">1,000,000</mat-option>
							<mat-option value="1500000">1,500,000</mat-option>
							<mat-option value="5000000">5,000,000</mat-option>
						</mat-select>
					</mat-form-field>
					<div *ngIf="submittedForm && f.insuranceLimits.errors || f.insuranceLimits.touched && f.insuranceLimits.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="f.insuranceLimits.errors.required">This field is required</div>
					</div>
				</div>
				<div class="col-md-6">
					<mat-form-field appearance="outline">
						<mat-label>Policy Number <span class="asterisk">*</span></mat-label>
						<input matInput placeholder="Policy Number" formControlName="policyNumber" tabIndex="1">
					</mat-form-field>
					<div *ngIf="submittedForm && f.policyNumber.errors || f.policyNumber.touched && f.policyNumber.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="f.policyNumber.errors.required">This field is required</div>
					</div>
					<div *ngIf="f.policyNumber.errors" class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="f.policyNumber.errors?.invalid_Pattern;else plusError">Do not add Dashes
							with numbers</div>
						<ng-template #plusError>
							<div *ngIf="f.policyNumber.errors?.invalidPattern;else allErrors">Do not enter +
								sign</div>
							<ng-template #allErrors>
								<div *ngIf="f.policyNumber.errors?.pattern">Enter Numbers Only
								</div>
							</ng-template>
						</ng-template>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- Main page content-->
	<section class="user_information">
		<h2 class="headinginfo">Upload Proof of Insurance Images</h2>
		<div class="container mt-4">
			<div class="row">
				<div class="col-md-12 mb-2">
					<h3 class="addveh_top d-md-flex justify-content-between align-items-center">
						<label class="alert alert-danger">Add 1-800-LIMO.COM as Additionaly Insured.</label>
					</h3>
				</div>
			</div>
			<div class="vehtype_extintwrap">
				<div class="row">
					<div class="col-md-5" *ngIf="insCertificateImage; else noInsCertificateImage">
						<div class="vehtype_extint">
							<div>
								<p>Proof of Insurance Certificate <span class="asterisk">*</span></p>
								<img src="{{insCertificateImage}}" (click)="showImageInModal(insCertificateImage)"
									tabindex="-1">
								<ul class="mt-3 ng-star-inserted">
									<li>
										<button class="changeuploaded" tabindex="1">
											<input type="file"
												(change)="vehicleOfficialImagesChange($event,'insCertificate',insCertificateId)"
												tabindex="-1">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
												<path fill="none" d="M0 0h24v24H0V0z" />
												<circle cx="12" cy="12" r="3" />
												<path
													d="M20 4h-3.17l-1.24-1.35c-.37-.41-.91-.65-1.47-.65H9.88c-.56 0-1.1.24-1.48.65L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" />
											</svg>
											Change
										</button>
									</li>
									<li><a class="delete-btn" (click)="deleteImage(insCertificateId,'insCertificate')"
											tabindex="1">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
												<path
													d="M30,5H22V4a3,3,0,0,0-3-3H13a3,3,0,0,0-3,3V5H2A1,1,0,0,0,2,7H5V26a5.006,5.006,0,0,0,5,5H22a5.006,5.006,0,0,0,5-5V7h3a1,1,0,0,0,0-2ZM12,4a1,1,0,0,1,1-1h6a1,1,0,0,1,1,1V5H12ZM25,26a3,3,0,0,1-3,3H10a3,3,0,0,1-3-3V7H25Z" />
											</svg>
											Delete
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ng-template #noInsCertificateImage>
						<div class="col-md-5">
							<div class="vehtype_extint">
								<div>
									<p>Proof of Insurance Certificate <span class="asterisk">*</span></p>
									<div class="emptyImage">
										<img src="../../../../assets/images/empty-image.png" tabindex="-1">
									</div>
									<ul class="mt-3">
										<li>
											<button class="adduploaded" tabIndex="1">
												<input type="file"
													(change)="vehicleOfficialImagesChange($event,'insCertificate',insCertificateId)"
													tabindex="-1">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
													<path fill="none" d="M0 0h24v24H0V0z" />
													<circle cx="12" cy="12" r="3" />
													<path
														d="M20 4h-3.17l-1.24-1.35c-.37-.41-.91-.65-1.47-.65H9.88c-.56 0-1.1.24-1.48.65L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" />
												</svg>
												Add
											</button>
										</li>
									</ul>
								</div>
								<div *ngIf="submittedForm && f.insCertificate.errors"
									class="text-danger text-center margin-bottom-thin my-mat-hint mb-4">
									<div *ngIf="f.insCertificate.errors.required">The Proof of Insurance Certificate is
										required</div>
								</div>
							</div>
						</div>
					</ng-template>

					<div class="col-md-5" [hidden]="affiliate_type == 'fleet_operator'"
						*ngIf="insuranceCardImage; else noInsuranceCardImage">
						<div class="vehtype_extint">
							<div>
								<p>In-Vehicle Insurance Card <span class="asterisk">*</span>
								</p>
								<img src="{{insuranceCardImage}}" (click)="showImageInModal(insuranceCardImage)"
									tabindex="-1">
								<ul class="mt-3">
									<li>
										<button class="changeuploaded" tabindex="1">
											<input type="file"
												(change)="vehicleOfficialImagesChange($event,'insuranceCard',insuranceCardId)"
												tabindex="-1">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
												<path fill="none" d="M0 0h24v24H0V0z" />
												<circle cx="12" cy="12" r="3" />
												<path
													d="M20 4h-3.17l-1.24-1.35c-.37-.41-.91-.65-1.47-.65H9.88c-.56 0-1.1.24-1.48.65L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" />
											</svg>
											Change
										</button>
									</li>
									<li><a class="delete-btn" (click)="deleteImage(insuranceCardId,'insuranceCard')"
											tabindex="1">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
												<path
													d="M30,5H22V4a3,3,0,0,0-3-3H13a3,3,0,0,0-3,3V5H2A1,1,0,0,0,2,7H5V26a5.006,5.006,0,0,0,5,5H22a5.006,5.006,0,0,0,5-5V7h3a1,1,0,0,0,0-2ZM12,4a1,1,0,0,1,1-1h6a1,1,0,0,1,1,1V5H12ZM25,26a3,3,0,0,1-3,3H10a3,3,0,0,1-3-3V7H25Z" />
											</svg>
											Delete
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ng-template #noInsuranceCardImage>
						<div class="col-md-5" [hidden]="affiliate_type == 'fleet_operator'">
							<div class="vehtype_extint">
								<div>
									<p>In-Vehicle Insurance Card <span class="asterisk">*</span>
									</p>
									<div class="emptyImage">
										<img src="../../../../assets/images/empty-image.png" tabindex="-1">
									</div>
									<ul class="mt-3">
										<li>
											<button class="adduploaded" tabindex="1">
												<input type="file"
													(change)="vehicleOfficialImagesChange($event,'insuranceCard',insuranceCardId)"
													tabindex="-1">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
													<path fill="none" d="M0 0h24v24H0V0z" />
													<circle cx="12" cy="12" r="3" />
													<path
														d="M20 4h-3.17l-1.24-1.35c-.37-.41-.91-.65-1.47-.65H9.88c-.56 0-1.1.24-1.48.65L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" />
												</svg>
												Add
											</button>
										</li>
									</ul>
								</div>
								<div *ngIf="submittedForm && f.insuranceCard.errors"
									class="text-danger text-center margin-bottom-thin my-mat-hint mb-4">
									<div *ngIf="f.insuranceCard.errors.required">The In-Vehicle Insurance Card Image is
										required</div>
								</div>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</section>
	<section class="billing_inforamtion">
		<ul>
			<li><button class="custom-filled-button" (click)="submitForm()" [disabled]="disableSubmitButton"
					tabindex="1">SAVE</button> </li>
			<li><button class="custom-filled-button" (click)="resetForm()" tabindex="1">RESET</button> </li>
		</ul>
	</section>
</form>
<!-- Affiliate Email sent modal -->
<div class="modal fade" id="showStripe24HourAlert" tabindex="-1" role="dialog" aria-labelledby="showStripe24HourAlert"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close closeButton" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-header">
				<h5 class="modal-title text-center mb-0">Stripe Banking Information can take upto 24 hours for approval.
					Admin will follow up if there are any irregularities.
					<br><br>
					Continue to registering to Step 3.
				</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="custom-btn button2" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<!-- Image modal -->
<app-image-modal (closeTab)="closeButton()" [modalImage]="modalImage"></app-image-modal>