.accepted{
    background-color: #00bd1f;
  }
  .rejected{
    background-color: #fc0404;
  }
  .pending{
      background-color: #0474fc;
  }
  .approval_status{
    font-size:medium;
    color:#fff;
  }