<ngx-spinner></ngx-spinner>
<main>
    <!-- Main page content-->
    <section class="user_information">
        <h2 class="headinginfo">{{title}} Accounts</h2>
        <div class="containeredd">
            <div class="row">
                <!-- <div class="col-md-12">
					<button class="custom-btn add-button" (click)="addTravelPlannerClick(travelPlannerId)">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-circle"
							viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
							<path
								d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
						</svg> Add Travel Planner
					</button>
				</div> -->
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <label class="alert alert-danger">Note: ..........</label>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12 mt-3 mb-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Search Filter by Keyword</mat-label>
                        <input type="text" matInput (keyup)="handleSearchKeyword($event.target.value)"
                            (focus)="$event.target.select()" [value]="searchText"
                            placeholder="Search Filter by Key word" id="keyword">
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-2  mt-3 mb-3">
                    <button class="custom-btn button2 btnclass" (click)="loadTravelPlanners()">Search</button>
				</div> -->
            </div>
        </div>

        <div class="row m-2">
            <div class="col-md-4 col-sm-12 custom-control custom-checkbox">
                <mat-slide-toggle id="deleted_accounts" class="example-margin" [color]="color" [checked]="isDeletedAcc"
                    (change)="handleChangeToggle();loadAccounts()" tabindex="1">
                </mat-slide-toggle>
                <label class="ml-3" for="deleted_accounts">Show Deleted accounts</label>
            </div>
            <div class="col-md-8 col-sm-12 d-flex justify-content-end" style="gap: 15px;" *ngIf="showActionColumn">
                <h3 class="headingAccepted">Individual: {{accounts_count?.individual_count}}</h3>
                <h3 class="headingInProgress">Driver: {{accounts_count?.driver_count}}</h3>
                <h3 class="headingRejected">Travel Agent: {{accounts_count?.tarvel_agent_count}}</h3>
                <h3 class="headingStripe">Sub Admin: {{accounts_count?.subadmin_count}}</h3>
            </div>
        </div>
        <div class="containeredd driverside_table">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-striped table-bordered dataTable dt-responsive" id="dataTable" role="grid"
                        aria-describedby="dataTable_info" style="width: 100%;" width="150%" cellspacing="0">
                        <thead style="background: #f3933d;">
                            <tr role="row">
                                <th *ngIf="showActionColumn" style="width: 20px;">Actions</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Role</th>
                                <!-- <th>Name</th> -->
                                <th>Connected</th>
                                <th>Created at</th>
                                <!-- <th>Agency Name</th>
                                <th>Payee Name</th>
                                <th>IATA</th>
                                <th>Address</th>
                                <th>Country</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd" *ngFor="let account of accounts">
                                <td *ngIf="showActionColumn">

                                    <a class="user-profileded btn btn-icon btn-transparent-dark "
                                        id="navbarDropdownUserImage" role="button" aria-haspopup="true"
                                        aria-expanded="false" (click)="enableDisableClickedDelete(account.id)"
                                        data-toggle="modal" data-target="#deleteConfirmationModal">
                                        <!-- (click)="deleteAccount(account.id)" -->
                                        <!-- data-toggle="dropdown"  dropdown-toggle-->
                                        <!-- <span>View</span> -->
                                        <i class="fa fa-trash" aria-hidden="true" style="color: white;"></i>
                                    </a>
                                </td>
                                <td>
                                    <span [innerHTML]="highlighText(account.name)"></span>
                                </td>
                                <td class="clickable" (click)="sendMessage('sms', account)" data-messagetype="sms"><span
                                        [innerHTML]="highlighText(account.isd+account.phone+' '+'('+account?.phoneCountry.toUpperCase()+')')"></span>
                                </td>
                                <td class="clickable" (click)="sendMessage('email', account)" data-messagetype="email">
                                    <span [innerHTML]="highlighText(account.email)"></span>
                                </td>
                                <td>
                                    <span [innerHTML]="highlighText(account.role_name)"></span>
                                </td>
                                <!-- <td>
                                    <span [innerHTML]="highlighText(account.name)"></span>
                                </td> -->
                                <td>
                                    <span>{{formatText(account.is_connected) | titlecase}}</span>
                                </td>
                                <td>
                                    <span [innerHTML]="highlighText(account.created_at?.split('T')[0])"></span>
                                </td>

                                <!-- <td><span [innerHTML]="highlighText(account.agency_name)"></span></td>
                                <td><span [innerHTML]="highlighText(account.payee)"></span></td>
                                <td><span [innerHTML]="highlighText(account.iata)"></span></td>
                                <td><span [innerHTML]="highlighText(account.Address)"></span></td>
                                <td><span [innerHTML]="highlighText(account?.scountry)"></span></td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!----BACK BTN---->
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-circle pg-blue">
                        <li *ngIf="currentPage!=1" class="page-item disabled" (click)="loadAccounts(firstPageUrl)"><a
                                class="page-link">First</a></li>
                        <li *ngIf="currentPage!=1" class="page-item disabled" (click)="loadAccounts(prevPageUrl)">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li *ngFor="let in of counter() ;let i = index"
                            [ngClass]="(in==currentPage)?'page-item active':'page-item'"
                            (click)="loadAccounts(path+'?page='+in)" [disabled]="(in==currentPage)?true:false">
                            <a class="page-link">{{in}}</a>
                        </li>
                        <li *ngIf="currentPage!=lastPage" class="page-item" (click)="loadAccounts(nextPageUrl)">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        <li *ngIf="currentPage!=lastPage" class="page-item" (click)="loadAccounts(lastPageUrl)">
                            <a class="page-link">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</main>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close closeButton" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="70">
                    <g data-name="Layer 51" fill="#ea4444" class="color000 svgShape">
                        <path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"
                            fill="#ea4444" class="color000 svgShape"></path>
                        <path
                            d="M22.71,9.29a1,1,0,0,0-1.42,0L16,14.59l-5.29-5.3a1,1,0,0,0-1.42,1.42L14.59,16l-5.3,5.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L16,17.41l5.29,5.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L17.41,16l5.3-5.29A1,1,0,0,0,22.71,9.29Z"
                            fill="#ea4444" class="color000 svgShape"></path>
                    </g>
                </svg> -->
                <h5 class="modal-title my-3" id="exampleModalLabel">{{alertMessage}}</h5>
            </div>
            <div class="text-center">
                <button type="button" class="custom-btn yes-btn mr-2" (click)="deleteAccount()">Yes</button>
                <button type="button" class="custom-btn no-btn" data-dismiss="modal" aria-label="Close">No</button>
            </div>
        </div>
    </div>
</div>
<!-- <app-delete-confirmation (deleteRecord)="deleteAccount()" [alertMessage]="alertMessage"></app-delete-confirmation> -->