.headingAccepted{
    font-size: 20px;
    color: #00bd1f;
      }
    
      .headingInProgress{
        font-size: 20px;
        color: #0474fc;
      }
    
      .headingRejected{
        font-size: 20px;
        color: #fc0404;
      }
      .headingStripe{
        font-size: 20px;
        color: #ff69b4;
      }