<ngx-spinner></ngx-spinner>
<section class="section-container">
	<h3 class="font-weight-bolder mb-1 text-center">Finalize Booking</h3>
	<hr>
	<div class="invoicesum_header">
		<div class="row">
			<div class="col-md-6">
				<h3 class="text-lg pl-0">Booking # {{ BookingDetail?.reservation_id }}</h3>
			</div>
			<div class="col-md-6 text-right">
				<h3 class="text-lg pl-0">Payment Status # {{ BookingDetail?.payment_status | titlecase}}</h3>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-md-4">
				<p>Service Type <strong>{{ textFormatter(BookingDetail?.service_type) | titlecase }}</strong>
				</p>
			</div>
			<div class="col-md-4">
				<p>Transfer Type: <strong>{{ textFormatter(BookingDetail?.transfer_type) | titlecase }}</strong>
				</p>
			</div>
			<div class="col-md-4" *ngIf="BookingDetail?.return_transfer_type">
				<p>Return Transfer Type: <strong>{{ textFormatter(BookingDetail?.return_transfer_type) | titlecase
						}}</strong>
				</p>
			</div>
			<div class="col-md-4">
				<p>Booking Type <strong>{{ textFormatter(BookingDetail?.transfer_type) | titlecase }}</strong>
				</p>
			</div>
			<div class="col-md-4">
				<p>Booking Status <strong>{{ BookingDetail?.booking_status | titlecase }}</strong></p>
			</div>
		</div>
	</div>


	<h4 class="m-2">Journey Details</h4>
	<div class="row ml-2">

	<div class="col-md-4 field" *ngIf="BookingDetail?.pickup_address">
		<p>Pickup Address: </p>
		<strong>$ {{ BookingDetail?.pickup_address }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.pickup_airport_name">
		<p>Pickup Airport: </p>
		<strong>$ {{ BookingDetail?.pickup_airport_name }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.pickup_airline_name">
		<p>Pickup Airline: </p>
		<strong>$ {{ BookingDetail?.pickup_airline_name }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.pickup_flight">
		<p>Pickup Flight Number: </p>
		<strong>$ {{ BookingDetail?.pickup_flight }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.origin_airport_city">
		<p>Pickup Origin Airport / City: </p>
		<strong>$ {{ BookingDetail?.origin_airport_city }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.dropoff_address">
		<p>Drop-Off Address: </p>
		<strong>$ {{ BookingDetail?.dropoff_address }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.dropoff_airport_name">
		<p>Drop-Off Airport: </p>
		<strong>$ {{ BookingDetail?.dropoff_airport_name }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.dropoff_airline_name">
		<p>Drop-Off Airline: </p>
		<strong>$ {{ BookingDetail?.dropoff_airline_name }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.dropoff_flight">
		<p> Drop-Off Flight Number: </p>
		<strong>$ {{ BookingDetail?.dropoff_flight }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.stop_1">
		<p> Extra Stops Number 2: </p>
		<strong>$ {{ BookingDetail?.stop_1 }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.stop_2">
		<p> Extra Stops Number 3: </p>
		<strong>$ {{ BookingDetail?.stop_2 }}</strong>
	</div>
	<div class="col-md-4 field" *ngIf="BookingDetail?.meet_greet_choices">
		<p> Meet and Greet Choices: </p>
		<strong>$ {{ BookingDetail?.meet_greet_choices }}</strong>
	</div>
	<div class="col-md-4 field">
		<p>Pickup Date </p>
		<strong>{{ dateFormat2(BookingDetail?.pickup_date) }} | {{ dateFormat(BookingDetail?.pickup_date)
			}}</strong>
	</div>
	<div class="col-md-4 field">
		<p>Pickup Time</p>
		<strong>{{ timeFormat2(BookingDetail?.pickup_time) }} |
			{{ timeFormat(BookingDetail?.pickup_time) }}</strong>
	</div>




	<div *ngIf="BookingDetail.service_type=='roundtrip'">
		<div class="col-md-4 field" *ngIf="BookingDetail.return_pickup_address">
			<p> Return Pickup Address: </p>
			<strong> {{BookingDetail.return_pickup_address}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_pickup_airport_name">
			<p> Return Pickup Airport: </p>
			<strong> {{BookingDetail.return_pickup_airport_name}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_pickup_airline_name">
			<p> Return Pickup Airline: </p>
			<strong> {{BookingDetail.return_pickup_airline_name}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_pickup_flight">
			<p> Return Pickup Flight Number: </p>
			<strong> {{BookingDetail.return_pickup_flight}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_origin_airport_city">
			<p> Return Pickup Origin Airport / City: </p>
			<strong> {{BookingDetail.return_origin_airport_city}}
			</strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_pickup_latitude">
			<p> Return Pickup Latitude/Longitude: </p>
			<strong> {{BookingDetail.return_pickup_latitude}}/{{BookingDetail.return_pickup_longitude}}
			</strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_dropoff_address">
			<p> Return Drop-Off Address: </p>
			<strong> {{BookingDetail.return_dropoff_address}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_dropoff_airport_name">
			<p> Return Drop-Off Airport: </p>
			<strong> {{BookingDetail.return_dropoff_airport_name}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_dropoff_airline_name">
			<p>Return Drop-Off Airline: </p>
			<strong> {{BookingDetail.return_dropoff_airline_name}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_dropoff_flight">
			<p> Return Drop-Off Flight Number: </p>
			<strong> {{BookingDetail.return_dropoff_flight}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_dropoff_latitude">
			<p> Return Drop-Off Latitude/Longitude: </p>
			<strong> {{BookingDetail.return_dropoff_latitude}}/{{BookingDetail.return_dropoff_longitude}}
			</strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_stop_1">
			<p> Return Extra Stops Number 2: </p>
			<strong>{{BookingDetail.return_stop_1}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_stop_1_latitude && BookingDetail.return_stop_1_longitude">
			<p> Return Extra Stops Number 2 Latitude/Longitude: </p>
			<strong> {{BookingDetail.return_stop_1_latitude}}/{{BookingDetail.return_stop_1_longitude}}
			</strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_stop_2">
			<p> Return Extra Stops Number 3: </p>
			<strong> {{BookingDetail.return_stop_2}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_stop_2_latitude && BookingDetail.return_stop_2_longitude">
			<p> Return Extra Stops Number 3
				Latitude/Longitude: </p>
			<strong>{{BookingDetail.return_stop_2_latitude}}/{{BookingDetail.return_stop_2_longitude}}
			</strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_meet_greet_choices">
			<p> Return Meet and Greet Choices: </p>
			<strong> {{BookingDetail.return_meet_greet_choices
				|titlecase}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_pickup_date">
			<p> Return Travel Date: </p>
			<strong> {{BookingDetail.return_pickup_date}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.return_pickup_time">
			<p> Return Travel Time: </p>
			<strong> {{BookingDetail.return_pickup_time}} </strong>
		</div>
	</div>
	</div>
	<hr>


	<h4 class="m-2">Account Details</h4>
	<div class="row ml-2">
		<div class="col-md-4" *ngIf="BookingDetail.account_type">
			<p> Account Type: </p>
			<strong> {{BookingDetail.account_type |titlecase}}</strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.account_first_name">
			<p> Account Name: </p>
			<strong> {{BookingDetail.account_first_name+'
				'+BookingDetail.account_last_name}} </strong>
		</div>
	</div>
	<hr>

	<h4 class="m-2">Passenger Information</h4>
	<div class="row ml-2" >
		<div class="col-md-4" *ngIf="BookingDetail.passenger_name">
			<p> Passenger Name: </p>
			<strong> {{BookingDetail.passenger_name}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.passenger_email">
			<p> Passenger Email: </p>
			<strong> {{BookingDetail.passenger_email}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.passenger_cell">
			<p> Passenger Cell: </p>
			<strong> {{BookingDetail.passenger_cell_isd+BookingDetail.passenger_cell}}
			</strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.total_passengers">
			<p> No of Passengers: </p>
			<strong> {{BookingDetail.total_passengers}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.luggage_count">
			<p> Luggage Count: </p>
			<strong>{{BookingDetail.luggage_count}} </strong>
		</div>
		<div class="col-md-12" *ngIf="BookingDetail.booking_instructions">
			<p> Special Instructions: </p>
			<strong> {{BookingDetail.booking_instructions}} </strong>
		</div>
	</div>
	<hr>

	<h4 class="m-2">Rate / Affiliate / Accounts</h4>
	<div class="row ml-2">
		<div class="col-md-4" *ngIf="BookingDetail.number_of_hours">
			<p> Booking Hours: </p>
			<strong>{{BookingDetail.number_of_hours}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.hourly_rate">
			<p> Hourly Rate: </p>
			<strong> {{BookingDetail.hourly_rate}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.number_of_vehicles">
			<p> Number of Vehicles: </p>
			<strong> {{BookingDetail.number_of_vehicles}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.quote_amount">
			<p> Quote Amount: </p>
			<strong> {{BookingDetail.quote_amount}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.affiliate_type">
			<p> Affiliate Type: </p>
			<strong> {{BookingDetail.affiliate_type}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.affiliate_first_name">
			<p> Affiliate Name: </p>
			<strong> {{BookingDetail.affiliate_first_name+'
				'+BookingDetail.affiliate_last_name}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.referral_affiliate_first_name">
			<p> Referral Affiliate Name: </p>
			<strong> {{BookingDetail.referral_affiliate_first_name+'
				'+BookingDetail.referral_affiliate_last_name}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.vehicle">
			<p> Vehicle: </p>
			<strong> {{BookingDetail.vehicle}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.lose_affiliate_name">
			<p> Loose Affiliate Name: </p>
			<strong> {{BookingDetail.lose_affiliate_name}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.lose_affiliate_phone_isd">
			<p> Loose Affiliate Phone: </p>
			<strong> {{BookingDetail.lose_affiliate_phone_isd+BookingDetail.lose_affiliate_phone}}
			</strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.lose_affiliate_email">
			<p> Loose Affiliate Email: </p>
			<strong>{{BookingDetail.lose_affiliate_email}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.vehicle_type_name">
			<p> Vehicle Type: </p>
			<strong> {{BookingDetail.vehicle_type_name}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.vehicle_year">
			<p> Vehicle Year: </p>
			<strong> {{BookingDetail.vehicle_year}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.vehicle_make">
			<p> Vehicle Make: </p>
			<strong> {{BookingDetail.vehicle_make}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.vehicle_model">
			<p> Vehicle Model: </p>
			<strong>{{BookingDetail.vehicle_model}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.vehicle_color">
			<p> Vehicle Color: </p>
			<strong> {{BookingDetail.vehicle_color}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.vehicle_license_plate">
			<p> License Plate:</p>
			<strong> {{BookingDetail.vehicle_license_plate}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.vehicle_seats">
			<p> Seats: </p>
			<strong> {{BookingDetail.vehicle_seats}} </strong>
		</div>
	</div>
	<hr>

	<h4 class="m-2">Driver Preferences</h4>
	<div class="row ml-2">
		<div class="col-md-4" *ngIf="BookingDetail.affiliate_driver_first_name">
			<p> Driver: </p>
			<strong> {{BookingDetail.affiliate_driver_first_name+'
				'+BookingDetail.affiliate_driver_last_name+'
				('+BookingDetail.affiliate_driver_cell_isd+BookingDetail.affiliate_driver_cell_number+')'}}
			</strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.driver_name">
			<p> Driver: </p>
			<strong> {{BookingDetail.driver_name}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.driver_gender">
			<p> Driver Gender: </p>
			<strong> {{BookingDetail.driver_gender |titlecase}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.driver_cell">
			<p> Driver Cell: </p>
			<strong> {{BookingDetail.driver_cell_isd+BookingDetail.driver_cell}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.driver_email">
			<p> Driver Email: </p>
			<strong> {{BookingDetail.driver_email}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.driver_phone_type">
			<p> Driver Phone Type: </p>
			<strong> {{BookingDetail.driver_phone_type}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.driver_languages">
			<p> Driver language: </p>
			<strong> {{BookingDetail.driver_languages}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.driver_dresses">
			<p> Driver Dress: </p>
			<strong> {{BookingDetail.driver_dresses}} </strong>
		</div>
		<div class="col-md-4" *ngIf="BookingDetail.amenities">
			<p> Amenities: </p>
			<strong> {{BookingDetail.amenities}} </strong>
		</div>

	</div>
	

</section>
<section class="section-container mt-2">
	<app-affiliate-finalize-rates class="d-flex flex-wrap finalize-rates" [reservation_id]="bookingId">
	</app-affiliate-finalize-rates>
	<div class="row mb-3" id="submitForm">
		<div class="col-md-12 text-right">
			<button type="button" class="custom-filled-button ratesButton m-3" (click)="submitForm()">
				{{finalize_btn}}
			</button>
		</div>
	</div>
</section>