body {
    font-family: 'Roboto', sans-serif !important;
}

p {
    margin-bottom: 0;
}

.invoicesum_dtl .row .col-md-6,
.invoicesum_header .row .col-md-6,
.invoice_chargelft .row .col-md-6 {
    margin-bottom: 1rem;
}

.color-grey {
    border: 2px solid #a2a3a2;
    background-color: #a2a3a2;
    color: #fff;
    pointer-events: none;
}

.color-green-finalize {
    border: 2px solid #a2a3a2;
    background-color: var(--green-color);
    color: #fff;
}

.color-green {
    border: 2px solid #a2a3a2;
    background-color: var(--green-color);
    color: #fff;
    animation: pulse-glow 2s ease-in-out infinite;
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.6), 0 0 0 0 rgba(51, 198, 88, 0.7);
    }
    70% {
        box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(51, 198, 88, 0);
    }
    100% {
        box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.6), 0 0 0 0 rgba(51, 198, 88, 0);
    }
}

.color-blue {
    border: 2px solid #a2a3a2;
    background-color: var(--blue);
    color: #fff;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0px 15px;
}

.invoicesum_header {
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.invoicesum_header h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.invoicesum_header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    width: 400px;
    justify-content: space-between;
}

.invoicesum_header h3 {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
}

.invoicesum_header label {
    font-size: 20px;
    color: #000;
    // font-weight: bold;
    margin-bottom: 0;
}

.invoicesum_dtl ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;

}

.invoicesum_dtl h3 {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
}

.invoicesum_dtl label {
    font-size: 18px;
    color: #000;
    // font-weight: bold;
    margin-bottom: 50px;
}


.invoice_chargelft {
    width: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.invoice_chargelft h3 {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
}

.invoice_chargelft label {
    font-size: 18px;
    color: #000;
    // font-weight: bold;
    margin-bottom: 20px;
}

.invoice_chargelft ul {
    list-style-type: none;
    padding: 20px;
    width: 100%;
    border: 1px solid #ecf0f6;
}

.invoice_chargelft ul li {
    width: 100%;
}

.invoice_chargewrap {
    display: flex;
    justify-content: space-between;
}

.invoice_chargemrgt {
    /* border: 1px solid #ecf0f6; */
    margin-bottom: 20px;
    width: 70%;
}

.invoice_chargergt {
    border: 1px solid #ecf0f6;
    /* margin-bottom: 20px; */
    width: 100%;
}

.invoice_chargetp {
    display: flex;
    justify-content: space-between;
}

.invoice_chargetp h3 {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
}

.invoice_chargetp label {
    font-size: 18px;
    color: #000;
    // font-weight: bold;
    margin-bottom: 20px;
}

.invoice_chargergt h2 {
    width: 100%;
    background-color: #c4bdaf;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
}

.invoice_chargetp {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px 30px;
    margin-bottom: 25px;
}

.invoice_chargetp h3 {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
}

.invoice_chargetp label {
    font-size: 18px;
    color: #000;
    // font-weight: bold;
    margin-bottom: 20px;
}

.invoice_chargemid {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px 30px;
}

.invoice_chargemid li {
    display: flex;
    align-items: center;
    width: 33%;
}

.invoice_chargemid h3 {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
}

.invoice_chargemid label {
    font-size: 18px;
    color: #000;
    // font-weight: bold;
    margin-bottom: 0px;
    padding: 2px 10px;
    border: 1px solid #ccc;
    margin-left: 16px;
}

.invoice_chargemid li:last-child label {
    border: 0
}

.invoice_chargemid li:last-child {
    justify-content: space-between;
}

.invoice_chargebtm {
    padding: 0;
    list-style-type: none;
}

.invoice_chargebtm li {
    display: flex;
    justify-content: space-between;
    padding: 13px 30px 10px 30px
}

.invoice_chargebtm h3 {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 0;
}

.invoice_chargebtm label {
    font-size: 16px;
    color: #000;
    // font-weight: bold;
    margin-bottom: 0px;

}

.invoice_chargebtm li:nth-child(even) {
    background-color: #fff;
}

.invoice_chargebtm li:nth-child(odd) {
    background-color: #f7f9fa;
}

.invoice_chargergt h4 {
    padding: 0px 30px;
    font-size: 24px;
    margin-top: 30px;
    color: #000;
    font-weight: bold;
}

.invoice_chargettl {
    padding: 0;
    margin-top: 10px;
    list-style-type: none;
}

.invoice_chargettl li {
    display: flex;
    justify-content: space-between;
    padding: 13px 30px 10px 30px;
}

.invoice_chargettl h3 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
}

.invoice_chargettl label {
    font-size: 20px;
    color: #889097;
    // font-weight: bold;
    margin-bottom: 0px;
}

button.backbar {
    background-color: #c3cfd9;
    color: #000;
    padding: 10px 15px;
    margin: 20px 10px 0px 0px;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #c3cfd9;
}



/******************************RESPONSIVE MEDIA QUERY*******************/
@media only screen and (max-width: 991px) {
    .invoicesum_dtl ul li {
        width: 33%;
    }

}

@media only screen and (max-width: 767px) {

    .invoicesum_header h3,
    .invoicesum_header label {
        font-size: 16px;
    }

    .invoicesum_header h2 {
        font-size: 19px;
    }

    .invoice_chargettl li {
        padding: 13px 15px 10px 15px;
    }

    .invoice_chargemid li {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .invoice_chargemid {
        flex-wrap: wrap;
        padding: 0px 15px;
    }

    .invoice_chargergt h4 {
        padding: 0px 15px;
        font-size: 20px;
    }

    .invoice_chargebtm li {
        padding: 13px 15px 10px 15px;
    }

    .invoice_chargemrgt {
        width: 100%;
    }

    .invoice_chargelft {
        width: 100%;
        margin-right: 0;
    }

    .invoice_chargewrap {
        flex-wrap: wrap;
    }

    .invoicesum_dtl h3,
    .invoice_chargelft h3 {
        font-size: 15px;
    }

    .invoicesum_dtl label,
    .invoice_chargelft label {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .invoicesum_header ul {
        padding: 0;
        width: 100%;
    }

    .invoicesum_dtl ul li {
        width: 50%;
    }

}

.close {
    color: #000 !important;
}

.close span {
    position: absolute;
    top: 4px;
    left: 10px;
}

.closeButton {
    background: #fff !important;
    position: absolute;
    top: -5px;
    right: -15px;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    opacity: 1 !important;
}

.contactMail {
    position: absolute;
    right: 45px;
    bottom: 205px;
}

#print-section hr {
    margin: 0 auto;
    border: 1.5px solid #000;
    width: 35%;
}

.field:nth-child(odd) {
    // background-color: #efeaea;
    // border : 1px solid #fff;
    padding: 10px;
}

.field:nth-child(even) {
    // background-color: rgb(243, 243, 243);
    // border : 1px solid #fff;
    padding: 10px;
}

.section-container {
    background-color: #fff;
    color: #000;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    font-size: 1rem;
    box-shadow: 3px 3px 20px -6px rgba(40, 40, 40, 0.5);
}

#card-type-container {
    .card-type {
        width: 48%;
        text-align: center;
        border-radius: 1rem;
        height: fit-content;
        line-height: 2.7rem;
        box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
        margin: 0 3px;
        cursor: pointer;
        transition: box-shadow 0.25s ease, background-color 0.25s ease;
    }

    .card-type.active {
        background-color: var(--green-color);
        box-shadow: 0px 5px 10px -1px rgb(0 0 0 / 30%);
    }
}

.section-dropdown-header {
    color: var(--orange);
    margin-bottom: 20px;
}

html {
    height: 100%;
}

body {
    font: 'Roboto' normal 1em/1.5;
    background-color: #fff;
    display: flex;
    color: #000;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.InputGroup {
    display: flex;
    height: 80px;
    width: 400px;
}

.cardSection {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    max-width: 95%;
    margin: 30px 20px 0px 20px;
}

input[type=radio] {
    margin: 0 10px 0 0;
}

// .methodCard {
//     padding: 15px;
// }

tbody {
    border: 1px solid var(--orange);
    background-color: rgb(243, 147, 61, 0.1);
    border-radius: 15px;
}

.addCardClass {
    cursor: pointer;
    text-decoration: none;
}

.bi {
    float: right;
    font-size: 25px;
    margin-top: -35px;
    cursor: pointer;
}

.section-container h4 {
    cursor: pointer;
}

.ratesButton {
    position: absolute;
    right: 10px;
    top: -80px;
}

.accpt_reject_button {
    // position: absolute;
    right: 10px;
    top: -80px;
}

.accpt_reject_div {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 5rem;

}

.custom-filled-button {
    color: #fff !important
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: #f44336 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.mat-form-field-should-float.mat-focused .mat-form-field-outline-gap {
    border-top-color: #3f51b5 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-touched.ng-dirty.mat-form-field-should-float.ng-valid .mat-form-field-outline-gap {
    border-top-color: rgba(0, 0, 0, .12) !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-touched.mat-form-field-should-float.ng-valid.mat-focused .mat-form-field-outline-gap {
    border-top-color: #3f51b5 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.ng-dirty.ng-valid.ng-touched .mat-mdc-form-field-flex:hover .mat-form-field-outline-gap {
    border-top-color: rgba(0, 0, 0, .87) !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.mat-focused .mat-form-field-outline-gap {
    border-top-color: #f44336 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-top-color: #3f51b5 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-mdc-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-invalid.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: rgba(0, 0, 0, .12) !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-mdc-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-invalid .mat-mdc-form-field-flex:hover .mat-form-field-outline-gap {
    border-top-color: rgba(0, 0, 0, .87) !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix mat-label {
    font-weight: normal !important;
    font-size: 14px !important;
    color: #191919;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline .mat-mdc-form-field-label {
    top: 1.3675em
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix .labelClass {
    font-weight: normal !important;
    font-size: 14px !important;
    color: #191919;
    top: 2.05em
}

:host ::ng-deep .mat-mdc-form-field {

    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    .mat-form-field-outline {
        &-end {
            border-radius: 0 10px 10px 0 !important;
        }

        &-start {
            border-radius: 10px 0 0 10px !important;
            flex-grow: 1;
        }
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-mdc-form-field .mat-mdc-text-field-wrapper {
    border-radius: 10px;
    background-color: rgb(226, 226, 226, 1);
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix .labelClass+.iti--allow-dropdown .iti__flag-container {
    top: -12px
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-mdc-form-field-label,
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+mat-mdc-form-field-label-wrapper .mat-mdc-form-field-label {
    transform: translateY(-0.8em) scale(0.75) !important;
    width: 133.3333333333%
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: #b2b2b2 !important;
}


:host ::ng-deep .selectInputStyle {
    background-color: rgb(226, 226, 226, 1) !important;
}

:host ::ng-deep .ng-placeholder {
    background-color: rgb(226, 226, 226, 1) !important;
}

:host ::ng-deep .ng-select-container {
    // background-color: #f5f4fe;
    background-color: rgb(226, 226, 226, 1) !important;
    border: #b2b2b2 2em;
    border-radius: 10px;
}

:host ::ng-deep .ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-opened .ng-placeholder {
    transform: translateY(-0.68125em) scale(0.6) perspective(100px) translateZ(0.001px);
    color: #000;
    top: 0.95em;
}

:host ::ng-deep .ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder {
    transform: translateY(-0.68125em) scale(0.6) perspective(100px) translateZ(0.001px) !important;
    color: #000;
}

:host ::ng-deep .ng-select .ng-select-container.ng-appearance-outline:after {
    height: 100%;
    border-radius: 10px;
}

.mat-mdc-option {
    background-color: rgb(226, 226, 226, 1) !important;
}

:host ::ng-deep .ng-option {
    background-color: rgb(226, 226, 226, 1) !important;
}

:host ::ng-deep .select-cancel-label,
.select-seat-label,
.select-charter-cancel-label,
.select-luggage-label {
    background-color: rgb(226, 226, 226, 1) !important;
    transform: translateY(0.4em) scale(0.9) !important;
    top: 1.3em;
    opacity: 0.7;
    left: -0.05em;
}

:host ::ng-deep .mat-mdc-input-element {
    font-weight: 500;
}


:host ::ng-deep .selectStyle select {
    font-weight: 400;
}

:host ::ng-deep #vehicleTypeField .ng-select-container.ng-appearance-outline {
    border: 3px solid red;
}

.paymentOptionsDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width:767px) {
    .paymentOptionsDiv {
        display: flex;
        flex-direction: column;
    }
}

.sticky-alert-container {
    position: sticky;
    top: 3.625rem;
    z-index: 1050;
    margin-bottom: 1.2rem;
    
    .alert {
        border-radius: 8px;
        font-weight: 500;
    }
}