.mobileLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	padding-left    : 0px;
	background-color: #fff;
	max-width       : 70px;
	text-align      : center;
	left            : -6px;
	top             : 30px;
}

.phoneLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	padding-left    : 0px;
	background-color: #fff;
	max-width       : 120px;
	text-align      : center;
	left            : -6px;
	top             : 30px;
}

.cellLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	padding-left    : 0px;
	// background-color: #e5e5e5;
	max-width       : 70px;
	text-align      : center;
	left            : -6px;
	top             : 28px;
}


:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap{
	border-top-color: #f44336!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.mat-form-field-should-float.mat-focused .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-touched.ng-dirty.mat-form-field-should-float.ng-valid .mat-form-field-outline-gap{
	border-top-color: rgba(0,0,0,.12)!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-touched.mat-form-field-should-float.ng-valid.mat-focused .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.ng-dirty.ng-valid.ng-touched .mat-form-field-flex:hover .mat-form-field-outline-gap{border-top-color: rgba(0,0,0,.87)!important;}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.mat-focused .mat-form-field-outline-gap{
	border-top-color: #f44336!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-invalid.mat-form-field-should-float .mat-form-field-outline-gap{
	border-top-color: rgba(0,0,0,.12)!important;
}
:host ::ng-deep.mat-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-invalid .mat-form-field-flex:hover .mat-form-field-outline-gap{border-top-color: rgba(0,0,0,.87)!important;}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix mat-label{
	font-weight: normal!important;
	font-size: 14px!important;
	color: #191919;
}
:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-label{top:1.3675em}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix .labelClass{font-weight: normal!important;
	font-size: 14px!important;
	color: #191919;
top:2.05em}
:host ::ng-deep .mat-form-field {
	.mat-form-field-outline {
	  &-end {
		border-radius: 0 10px 10px 0 !important;
	  }
  
	  &-start {
		border-radius: 10px 0 0 10px !important;
		flex-grow: 1;
	  }
	}
  }
  :host ::ng-deep .mat-form-field .mat-form-field-wrapper{
		border-radius: 10px;
		background-color: rgb(226, 226, 226,1);
  } 
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix .labelClass+.iti--allow-dropdown .iti__flag-container{top:-12px}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{transform:translateY(-0.8em) scale(0.85)!important;width:133.3333333333%}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: #b2b2b2 !important;
}

:host ::ng-deep .selectInputStyle,.mat-form-field-label{
	background-color: rgb(226, 226, 226,1) !important;
}

:host ::ng-deep .select-gender-label,.select-year-label{
	background-color: rgb(226, 226, 226,1) !important;
	transform: translateY(0.4em) scale(1) !important;
}

:host ::ng-deep .select-year-label{
	transform: translateY(0.4em) translateX(-0.8em) scale(0.9) !important;
    opacity: 0.8;
    font-size: 11px !important;
}


.mat-option{
	background-color: rgb(226, 226, 226,1) !important;
}
:host ::ng-deep .ng-option{
	background-color: rgb(226, 226, 226,1) !important;
}

:host ::ng-deep .select-gender-label{
	transform: translateY(0.4em) translateX(-0.2em) scale(0.9) !important;
    opacity: 0.8;
    font-size: 11px !important;
}
:host ::ng-deep .iti__selected-flag{
	transform: translateY(5px);
}


.topLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    text-align: start;
    padding-left: 8px;
}

:host ::ng-deep .mat-input-element{
	font-weight: 500;
}

:host ::ng-deep .selectStyle select {
	font-weight: 400;
}
.asterisk{
	font-size: 1.3rem;
}

@media only screen and (max-width:767px) {

	.billing_inforamtion ul {
		justify-content: center;
		/* Keep buttons centered */
		gap: 10px;
		/* Smaller gap for mobile */
	}

	.billing_inforamtion li {
		flex: 0 1 auto;
		/* Allow the buttons to stay in one row */
	}
}

.billing_inforamtion ul {
	display: flex;
	flex-wrap: nowrap;
	/* Prevent wrapping */
	justify-content: center;
	/* Center align the buttons */
	gap: 30px;
	/* Adjust spacing between buttons */
}
