<ngx-spinner></ngx-spinner>
<main>
	<!-- Main page content-->
	<form [formGroup]="editTravelPlannerAccountForm">
		<section class="user_information">
			<h2 class="headinginfo adminbox_shadow">Travel Planner Account</h2>
			<div class="container mt-1 ">
				<div class="row ">
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>First Name <span class="asterisk">*</span></mat-label>
							<input formControlName="firstName" type="text" matInput placeholder="First Name">
						</mat-form-field>
						<div *ngIf="submittedForm && f.firstName.errors" class="text-danger">
							<div *ngIf="f.firstName.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>Middle Name</mat-label>
							<input formControlName="middleName" type="text" matInput placeholder="Middle Name">
						</mat-form-field>

					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>Last Name <span class="asterisk">*</span></mat-label>
							<input formControlName="lastName" type="text" matInput placeholder="Last Name">
						</mat-form-field>
						<div *ngIf="submittedForm && f.lastName.errors" class="text-danger">
							<div *ngIf="f.lastName.errors.required">This field is required</div>
						</div>
					</div>

					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>Contact<span class="asterisk">
									*</span></mat-label>
							<input matInput placeholder="Contact" formControlName="office" ng2TelInput
								[ng2TelInputOptions]="{'preferredCountries': ['us', 'ca','mx','gb']}"
								placeholder="1234567890" class="phoneNumberClass"
								(countryChange)="onCountryChange($event,'office')"
								(intlTelInputObject)="telInputObjectOffice($event)" tabIndex="1" />
						</mat-form-field>
						<div *ngIf="submittedForm && f.office.errors || f.office.touched && f.office.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.office.errors.required">This field is required</div>
						</div>
						<div *ngIf="f.office.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.office.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div>
							<ng-template #plusError>
								<div *ngIf="f.office.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div>
								<ng-template #allErrors>
									<div *ngIf="f.office.errors?.pattern;else numberLength">Enter Numbers Without
										Spaces or Dashes
									</div>
									<ng-template #numberLength>
										<div *ngIf="f.office.errors.minlength">Minimum length should be 4</div>
										<div *ngIf="f.office.errors.maxlength">Maximum length should be 15</div>
									</ng-template>
								</ng-template>
							</ng-template>
						</div>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline" class="read-only mat-custom-phone cellLabelClass">
							<label class="mat-form-field-label mat-empty mat-form-field-empty labelClass">Mobile<span
									class="asterisk">
									*</span></label>
							<input matInput placeholder="Mobile" formControlName="mobile" ng2TelInput
								[ng2TelInputOptions]="{'preferredCountries': ['us', 'ca','mx','gb']}"
								placeholder="1234567890" class="phoneNumberClass"
								(countryChange)="onCountryChange($event,'mobile')" readonly
								(intlTelInputObject)="telInputObjectMobile($event)" tabIndex="1" />
						</mat-form-field>
						<div *ngIf="submittedForm && f.mobile.errors || f.mobile.touched && f.mobile.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.mobile.errors.required">This field is required</div>
						</div>
						<div *ngIf="f.mobile.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.mobile.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div>
							<ng-template #plusError>
								<div *ngIf="f.mobile.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div>
								<ng-template #allErrors>
									<div *ngIf="f.mobile.errors?.pattern;else numberLength">Enter Numbers Without
										Spaces or Dashes
									</div>
									<ng-template #numberLength>
										<div *ngIf="f.mobile.errors.minlength">Minimum length should be 4</div>
										<div *ngIf="f.mobile.errors.maxlength">Maximum length should be 15</div>
									</ng-template>
								</ng-template>
							</ng-template>
						</div>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>E-mail <span class="asterisk">*</span></mat-label>
							<input formControlName="email" type="text" matInput placeholder="E-mail">
						</mat-form-field>
						<div *ngIf="submittedForm && f.email.errors" class="text-danger">
							<div *ngIf="f.email.errors.required">This field is required</div>
							<div *ngIf="f.email.errors.pattern">Email format should be valid</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="user_information">
			<h2 class="headinginfo adminbox_shadow"> Travel Agency Information </h2>
			<div class="container mt-1 ">
				<div class="row ">
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Agency Name <span class="asterisk">*</span></mat-label>
							<input formControlName="agencyName" type="text" matInput placeholder="Agency Name">
						</mat-form-field>
						<div *ngIf="submittedForm && f.agencyName.errors" class="text-danger">
							<div *ngIf="f.agencyName.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Payee Name <span class="asterisk">*</span></mat-label>
							<input formControlName="payee" type="text" matInput placeholder="Payee Name">
						</mat-form-field>
						<div *ngIf="submittedForm && f.payee.errors" class="text-danger">
							<div *ngIf="f.payee.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>IATA # <span class="asterisk">*</span></mat-label>
							<input formControlName="iata" type="text" matInput placeholder="IATA">
						</mat-form-field>
						<div *ngIf="submittedForm && f.iata.errors" class="text-danger">
							<div *ngIf="f.iata.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Fax<span class="asterisk">
									*</span></mat-label>
							<input matInput placeholder="Fax" formControlName="fax" ng2TelInput
								[ng2TelInputOptions]="{'preferredCountries': ['us', 'ca','mx','gb']}"
								placeholder="1234567890" class="phoneNumberClass"
								(countryChange)="onCountryChange($event,'fax')"
								(intlTelInputObject)="telInputObjectFax($event)" tabIndex="1" />
						</mat-form-field>
						<div *ngIf="submittedForm && f.fax.errors || f.fax.touched && f.fax.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.fax.errors.required">This field is required</div>
						</div>
						<div *ngIf="f.fax.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.fax.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div>
							<ng-template #plusError>
								<div *ngIf="f.fax.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div>
								<ng-template #allErrors>
									<div *ngIf="f.fax.errors?.pattern;else numberLength">Enter Numbers Without
										Spaces or Dashes
									</div>
									<ng-template #numberLength>
										<div *ngIf="f.fax.errors.minlength">Minimum length should be 4</div>
										<div *ngIf="f.fax.errors.maxlength">Maximum length should be 15</div>
									</ng-template>
								</ng-template>
							</ng-template>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Office
								Phone<span class="asterisk">
									*</span></mat-label>
							<input matInput placeholder="Office Phone" formControlName="officeNumber" ng2TelInput
								[ng2TelInputOptions]="{'preferredCountries': ['us', 'ca','mx','gb']}"
								placeholder="1234567890" class="phoneNumberClass"
								(countryChange)="onCountryChange($event,'officeNumber')"
								(intlTelInputObject)="telInputObjectOfficePhone($event)" tabIndex="1" />
						</mat-form-field>
						<div *ngIf="submittedForm && f.officeNumber.errors || f.officeNumber.touched && f.officeNumber.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.officeNumber.errors.required">This field is required</div>
						</div>
						<div *ngIf="f.officeNumber.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.officeNumber.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div>
							<ng-template #plusError>
								<div *ngIf="f.officeNumber.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div>
								<ng-template #allErrors>
									<div *ngIf="f.officeNumber.errors?.pattern;else numberLength">Enter Numbers Without
										Spaces or Dashes
									</div>
									<ng-template #numberLength>
										<div *ngIf="f.officeNumber.errors.minlength">Minimum length should be 4</div>
										<div *ngIf="f.officeNumber.errors.maxlength">Maximum length should be 15</div>
									</ng-template>
								</ng-template>
							</ng-template>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Address <span class="asterisk">*</span></mat-label>
							<input formControlName="address" type="text" matInput placeholder="Address" #search1>
						</mat-form-field>
						<!-- <textarea placeholder="Address" formControlName="address"></textarea> -->
						<div *ngIf="submittedForm && f.address.errors" class="text-danger">
							<div *ngIf="f.address.errors.required">This field is required</div>
						</div>
					</div>
					<!-- <div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>City <span class="asterisk">*</span></mat-label>
							<input formControlName="city" type="text" matInput placeholder="City">
						</mat-form-field>
						<div *ngIf="submittedForm && f.city.errors" class="text-danger">
							<div *ngIf="f.city.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>State/Province <span class="asterisk">*</span></mat-label>
							<input formControlName="state" type="text" matInput placeholder="State/Province">
						</mat-form-field>
						<div *ngIf="submittedForm && f.state.errors" class="text-danger">
							<div *ngIf="f.state.errors.required">This field is required</div>
						</div>
					</div> -->
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Country <span class="asterisk">*</span></mat-label>
							<input formControlName="country" type="text" matInput placeholder="Country">
						</mat-form-field>
						<div *ngIf="submittedForm && f.country.errors" class="text-danger">
							<div *ngIf="f.country.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Zip Code / Country Address Code <span class="asterisk">*</span></mat-label>
							<input formControlName="zipCode" type="text" matInput
								placeholder="Zip Code / Country Address Code">
						</mat-form-field>
						<div *ngIf="submittedForm && f.zipCode.errors" class="text-danger">
							<div *ngIf="f.zipCode.errors.required">This field is required</div>
							<div *ngIf="f.zipCode.errors.pattern">This field should be a number</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="row justify-content-between">

				<div class="billing_inforamtion">
					<ul>
						<li>

							<button class="custom-filled-back-button" (click)="backButton()">
								BACK
							</button>
						</li>
					</ul>
				</div>


				<div class="billing_inforamtion">
					<ul>
						<li>
							<button class="custom-filled-reset-button" (click)="resetForm()" tabIndex="2">
								RESET
							</button>
						</li>
						<li><button class="custom-filled-button" (click)="submitForm()" tabIndex="1">
								SAVE
							</button>
						</li>
					</ul>
				</div>

			</div>
		</div>
		<!-- <div class="billing_inforamtion">
			<ul>
				<li><button class="custom-btn savebutton" (click)="submitForm()" [disabled]="disableSubmitButton"
						tabindex="-1">SAVE</button> </li>
				<li><button class="custom-btn resetbutton" (click)="resetForm()" tabindex="-1">RESET</button> </li>
				<li><button class="custom-btn backbutton" (click)="backButton()" tabindex="-1">BACK</button> </li>
			</ul>
		</div> -->
	</form>
</main>