mat-form-field input {
	background-color: #fff;
	margin-bottom   : 0;
}

#myTab {
	li a {
		background-color: transparent;
		color           : var(--orange);
	}

	li a.active {
		color: #fff;
	}
}

#search-button-container {
	height : 100px;
	width  : 100%;
	display: table;

	#search-button-box {
		display       : table-cell;
		text-align    : center;
		vertical-align: middle;

		button {
			font-size: 1.08rem;
			padding  : 0.675rem 0.758rem;
		}
	}
}

.font-weight-bolder {
	font-size: 16px !important;
}

// .container:not(.checkourveh_wrapper) {
// 		max-width: 900px;
//  	}
@media (min-width: 1200px) {
	.checkourveh_wrapper .container {
		max-width: 1140px;
	}
}

.dropdown-menu hr {
	margin    : 5px 10px 5px 10px;
	background: #646464;
}

.mat-form-field {
	margin-top: 0;
}

.passengers_qty input {
	background-color: #fff !important;
}

.crossStyle {
	height: 17px;
	margin: 6px -12px;
}

.btnStyle {
	color           : #000 !important;
	background-color: #f69a40 !important;
	border-color    : #f69a40 !important;
	padding         : 10px 40px;
}

#showCountriesModal .modal-content {
	background-color: #fff;
}

#showCountriesModal .modal-content hr {
	border          : 2px solid #000;
	width           : 100px;
	background-color: #000;
	margin          : 10px 347px 20px 347px;
	display         : block;
	margin-top      : 0;
}

.modal-content {
	border-radius: 1rem;
	padding      : 1rem 0;
}

.modal-dialog {
	max-width: 800px;
}

@media only screen and (max-width: 1024px) {
	.text_desktop br {
		display: none;
	}

	.viewVehicleCarousel .owl-nav button.owl-prev,
	.viewVehicleCarousel .owl-nav button.owl-next {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	#showCountriesModal .modal-content hr {
		border    : 2px solid #000;
		width     : 150px;
		margin    : 10px 29px 20px 15px;
		display   : block;
		margin-top: 0;
	}

	#showCountriesModal .modal-content {
		background-color: #fff;
		border-radius   : 0 !important;
	}

	#myModal .modal-content {
		border-radius: 0 !important;
	}

	.modal-dialog {
		margin: 0rem !important;
		// top: 20px;
	}

	.close {
		height     : 40px;
		width      : 40px;
		color      : #ff0000;
		box-shadow : none;
		text-shadow: none;
		font-size  : 40px;
	}
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
	#showCountriesModal .modal-content hr {
		border    : 2px solid #000;
		width     : 150px;
		margin    : 10px 30px 20px 15px;
		display   : block;
		margin-top: 0;
	}

	.modal-dialog {
		margin   : 0rem;
		max-width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#showCountriesModal .modal-content hr {
		border    : 2px solid #000;
		width     : 100px;
		margin    : 10px 200px 20px 200px;
		display   : block;
		margin-top: 0;
	}

	#myModal .modal-content hr {
		border    : 2px solid #fff;
		width     : 100px;
		margin    : 10px 200px 20px 200px;
		display   : block;
		margin-top: 0;
	}

	.modal-dialog {
		margin   : 1.5rem auto;
		top      : 20px;
		max-width: 500px;
	}
}

.modal-content {
	background-color: #000;
}

.modal-header h3 {
	color     : #f69a40;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.modal-header h3 {
		color     : #f69a40;
		text-align: left;
	}
}

.modal-header {
	justify-content: center;
}

.modal-body p {
	color     : #fff !important;
	text-align: left !important;
}

.modal-content hr {
	border          : 2px solid #fff;
	width           : 100px;
	background-color: #fff;
	margin          : 10px 347px 20px 347px;
	display         : block;
}

@media only screen and (max-width: 767px) {
	.modal-content hr {
		border : 2px solid #fff;
		width  : 100px;
		margin : 10px 145px 20px 145px;
		display: block;
	}

	#myModal .modal-content hr {
		border : 2px solid #fff;
		width  : 180px;
		margin : 10px 15px 20px 20px;
		display: block;
	}
}

.Qualitymargin h3 {
	height: 30px;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
	.modal-content hr {
		border : 2px solid #fff;
		width  : 100px;
		margin : 10px 200px 20px 200px;
		display: block;
	}
}

.rightPart span {
	display     : inline-block;
	padding-left: 10px;
}

@media only screen and (max-width: 1199px) {
	.rightPart span {
		padding-right: 0 !important;
		padding-left : 25px;
		margin-top   : -25px;
		display      : block;
	}
}

.logbutton {
	// border            : 1px solid #5dbd8a !important;
	width             : 35% !important;
	height            : 50px !important;
	margin            : 20px auto;
	margin-top        : 0%;
	padding-top       : 13px !important;
	background-color  : #5dbd8a !important;
	-webkit-appearance: none;
	appearance        : none;
	height            : 40px;
	border-radius     : 15px !important;
	padding           : 0px 10px;
	color             : #fff !important;
	transition        : 0.6s;
	display           : block;
}

.text_mobile .dropdown-item {
	text-transform: none;
}

a.user-profile::after {
	display: inline-block !important;
}

a.user-profile:hover::after,
a.user-profile:focus::after,
a.user-profile:active::after {
	color: #fff !important;
}

.dropdown.button-signin a.dropdown-item {
	color: #000 !important;
}

.dropdown.button-signin a.dropdown-item:hover {
	color: var(--orange) !important;
}

.dropdown-item {
	display: flex !important;
	padding: 10px !important;
}

.dropdown-menu svg {
	height: 1.5rem !important;
}

.bannertext .dropdown-menu {
	max-width       : 80%;
	right           : 0;
	margin          : auto;
	color           : #fff !important;
	background-color: #fff !important;
	border          : 1px solid #5dbd8a;
	top             : -2px !important;
	transform       : none !important;
	left            : 0px !important;
	top             : 50px !important;
}

.dropdown-item:active {
	color: #000 !important;
}

.dropdown-item {
	color: #000 !important;
}

.dropdown-item:hover {
	color: var(--orange) !important;
}

@media only screen and (max-width: 360px) {
	.bannertext .dropdown-menu {
		max-width: 100%;
	}

	//right: 0;
	//     margin: 0px;
	//     color: #fff !important;
	//     background-color: #fff !important;
	//     border: 1px solid #5dbd8a;
	//     top: -2px !important;
	//     transform: translate3d(47px, 50px, 0px) !important;
	//     left: -46px !important;

	.dropdown-item {
		white-space: normal !important;
	}

	.logbutton {
		border            : 1px solid #5dbd8a !important;
		width             : 100% !important;
		height            : 50px !important;
		margin            : 20px auto;
		margin-top        : 0%;
		padding-top       : 13px !important;
		background-color  : #5dbd8a !important;
		-webkit-appearance: none;
		-moz-appearance   : none;
		appearance        : none;
		height            : 40px;
		border-radius     : 5px;
		padding           : 0px 10px;
		color             : #fff;
		transition        : 0.6s;
		display           : block;
	}

	.bannerform_wrapper .nav-item .dropdown-menu a {
		text-align: left;
	}
}

@media (min-width: 361px) and (max-width: 381px) {
	// .bannertext .dropdown-menu {
	//     max-width: 90%;
	//     right: 0;
	//     margin: 0px;
	//     color: #fff !important;
	//     background-color: #fff !important;
	//     border: 1px solid #5dbd8a;
	//     top: -2px !important;
	//     transform: translate3d(45px, 50px, 0px) !important;
	//     left: -28px !important;
	// }

	.logbutton {
		// border            : 1px solid #5dbd8a !important;
		width             : 90% !important;
		height            : 50px !important;
		margin            : 20px auto;
		margin-top        : 0%;
		padding-top       : 13px !important;
		background-color  : #5dbd8a !important;
		-webkit-appearance: none;
		-moz-appearance   : none;
		appearance        : none;
		height            : 40px;
		border-radius     : 15px !important;
		padding           : 0px 10px;
		color             : #fff;
		transition        : 0.6s;
		display           : block;
	}
}

@media (min-width: 382px) and (max-width: 438px) {
	// .bannertext .dropdown-menu {
	//     max-width: 90%;
	//     right: 0;
	//     margin: 0px;
	//     color: #fff !important;
	//     background-color: #fff !important;
	//     border: 1px solid #5dbd8a;
	//     top: -2px !important;
	//     transform: translate3d(47px, 50px, 0px) !important;
	//     left: -28px !important;
	// }

	.logbutton {
		border            : 1px solid #5dbd8a !important;
		width             : 90% !important;
		height            : 50px !important;
		margin            : 20px auto;
		margin-top        : 0%;
		padding-top       : 13px !important;
		background-color  : #5dbd8a !important;
		-webkit-appearance: none;
		-moz-appearance   : none;
		appearance        : none;
		height            : 40px;
		border-radius     : 5px;
		padding           : 0px 10px;
		color             : #fff;
		transition        : 0.6s;
		display           : block;
	}
}

@media (min-width: 439px) and (max-width: 540px) {
	// .bannertext .dropdown-menu {
	//     max-width: 90%;
	//     right: 0;v
	//     margin: 0px;
	//     color: #fff !important;
	//     background-color: #fff !important;
	//     border: 1px solid #5dbd8a;
	//     top: -2px !important;
	//     transform: translate3d(47px, 50px, 0px) !important;
	//     left: -20px !important;
	// }

	.logbutton {
		border            : 1px solid #5dbd8a !important;
		width             : 90% !important;
		height            : 50px !important;
		margin            : 20px auto;
		margin-top        : 0%;
		padding-top       : 13px !important;
		background-color  : #5dbd8a !important;
		-webkit-appearance: none;
		-moz-appearance   : none;
		appearance        : none;
		height            : 40px;
		border-radius     : 5px;
		padding           : 0px 10px;
		color             : #fff;
		transition        : 0.6s;
		display           : block;
	}
}

.showCountries {
	cursor: pointer;
}

.quoteform_homewrapper li {
	cursor: pointer;
}

.errorValid {
	border       : 2px solid red !important;
	margin-bottom: 0 !important;
	border-radius: 7px;
}

.custom-list img {
	height: 12px;
}

.input-contain {
	width           : 100%;
	// margin-bottom: 10px !important;
}

.errorMsg {
	margin-bottom: 10px !important;
}

.cross-svg {
	background-color: white;
	border-radius   : 0 5px 5px 0;
	align-self      : center;
	margin-left     : -4px;
	height          : 30px;
	cursor          : pointer;
}

.input-box {
	width: 100%;
}

.input-f {
	margin: 0 !important;
}

/* ------------- TIME PICKER ------------------------ */
@at-root
/*-------------------------------time picker---------------------------------------*/

.input-group-addon {
	cursor: pointer;
}

.input-group.date {
	text-transform: uppercase;
}

.form-control {
	border    : 1px solid #ccc;
	box-shadow: none;
	color     : #000;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #34495e;
}

// .content {
//     background: #fff;
//     border-radius: 3px;
//     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
//     padding: 30px 30px 20px;
// }
.bootstrap-datetimepicker-widget.dropdown-menu {
	border       : 1px solid #34495e;
	border-radius: 0;
	box-shadow   : none;
	margin       : 10px 0 0 0;
	padding      : 0;
	min-width    : 329px;
	max-width    : 100%;
	width        : auto;
	color        : #000;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
	display: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td,
.bootstrap-datetimepicker-widget.dropdown-menu table th {
	border-radius: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.old,
.bootstrap-datetimepicker-widget.dropdown-menu table td.new {
	color: #000;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.today:before {
	border-bottom-color: #0095ff;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.active,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active {
	background-color: #0095ff;
	text-shadow     : none;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.active.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active.today:before {
	border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget.dropdown-menu table th {
	height : 40px;
	padding: 0;
	width  : 40px;
}

.bootstrap-datetimepicker-widget.dropdown-menu table th.picker-switch {
	width: auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu table tr:first-of-type th {
	border-bottom: 1px solid #34495e;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.day {
	height     : 32px;
	line-height: 32px;
	padding    : 0;
	width      : auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td span {
	border-radius: 0;
	height       : 27px;
	line-height  : 27px;
	margin       : 0;
	width        : 25%;
	color        : #000;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td {
	padding    : 0;
	width      : 30%;
	height     : 20px;
	line-height: 20px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td:nth-child(2) {
	width: 10%;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
	border       : none;
	border-radius: 0;
	height       : 26px;
	line-height  : 26px;
	padding      : 0;
	width        : 100%;
	color        : #000 !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span {
	color     : #333 !important;
	margin-top: -1px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
	background-color: #fff;
	color           : #333;
	font-weight     : bold;
	font-size       : 1.2em;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button:hover {
	background-color: #eee;
}

.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour {
	color: #000;
}

.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
	border-top: 1px solid #34495e;
}

.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td span {
	display    : block;
	height     : 40px;
	line-height: 40px;
	padding    : 0;
	width      : 100%;
	color      : #000;
}

// .bannerform_wrapper .quoteform_homewrapper .input-group input {
// 	width          : auto !important;
// 	display        : inline-flex;
// 	justify-content: left !important;
// 	justify-self   : left !important;
// }

.bannerform_wrapper .quoteform_homewrapper .input-group .input-group-append {
	border: none;
}

.bannerform_wrapper .quoteform_homewrapper input {
	border-radius: 5px;
}

.bannerform_wrapper .quoteform_homewrapper .input-group .input-group-append .input-group-text {
	height          : 30px !important;
	background-color: var(--orange-color);
	color           : #fff !important;
	border          : none;
	width           : 30px;
	border-radius   : 0px 5px 5px 0px;
	position        : relative;
}

.bannerform_wrapper .quoteform_homewrapper #timepicker2.input-group .input-group-append .input-group-text {
	height          : 30px !important;
	background-color: var(--orange-color);
	color           : #fff !important;
	border          : none;
	width           : 30px;
	border-radius   : 5px 0px 0px 5px;
	position        : absolute;
	left            : 0;
}

.bannerform_wrapper .quoteform_homewrapper .input-group .input-group-append .input-group-text:after {
	position     : absolute;
	content      : "";
	background   : url(/assets/images/clock.svg) 97% 50% no-repeat !important;
	right        : 6px;
	width        : 20px;
	height       : 20px;
	// z-index   : 99;
}

.bannerform_wrapper .quoteform_homewrapper .form-group .input-group {
	align-items    : center;
	justify-content: left;
	flex-wrap      : nowrap;
}

.bannerform_wrapper .quoteform_homewrapper .form-group .input-group .input-group-append {
	height: 40px;
}

[type="time"] {
	position   : relative;
	// z-index : 9
}

// [type="time"]:before {
// 	position: absolute;
// 	content: "";
// 	right: 0;
// 	left: auto;
// 	top: 0;
// 	bottom: 0;
// 	height: 35px !important;
// 	background-color: #fff;
// 	color: #fff !important;
// 	border: none;
// 	width: 35px;
// 	border-radius: 0px 5px 5px 0px
// }

[type="time"]::-webkit-inner-spin-button {
	display: none;
}

[type="time"]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.bannerform_wrapper .quoteform_homewrapper .time input {
	padding: 0px 0px 0px 10px;
}

#timepicker2 input {
	padding-left : 40px;
	border-radius: 5px;
	z-index      : 0;
}

// .bannerform_wrapper .quoteform_homewrapper .input-group .input-group-addon {
//     position: absolute;
//     right: 0;
//     left: auto;
//     top: 0;
//     bottom: auto;
// }
.dropdown-toggle::after {
	border-top   : 0.5em solid;
	border-right : 0.5em solid transparent;
	border-bottom: 0;
	border-left  : 0.5em solid transparent;
}

.dropdown-menu {
	hr {
		margin    : 5px 10px 5px 10px;
		background: #646464;
	}

	.dropdown-item.nav-disabled {
		opacity: 0.6;
		cursor : default;
	}

	.dropdown-item {
		display         : block;
		border-radius   : 8px;
		background-color: var(--orange-color);
		margin          : 14px 15px;
		width           : auto;
		padding         : 8px 15px;

		&:hover:not(.dropdown-item.nav-disabled) {
			background-color: #be691d;
		}
	}

	.driver-dropdown {
		background-color: var(--green);
	}

	.driver-dropdown:hover {
		color: #000 !important;
	}

	.dropdown-item:not(.dropdown-item.nav-disabled) {
		box-shadow: 0 3px 10px -6px rgba(0, 0, 0, 0.6);
	}

	.dropdown-item:active {
		box-shadow: none;
	}
}

.whychoose_no a {
	color        : #000 !important;
	background   : var(--orange);
	font-size    : 17px;
	border       : 1px solid var(--orange);
	line-height  : 17px;
	padding      : 5px 15px;
	transition   : 0.2s;
	border-radius: 10px;
}

@media only screen and (max-width:767px) {
	.dropdown-menu a {
		font-size: 14px;
	}
}


button.custom-filled-button {
	padding  : 0.475rem 1.358rem !important;
	color    : #fff !important;
	font-size: 14px !important;
}




.gear-bg {
	color: aliceblue !important;
}

.logout-background {
	 background: #8080805c !important;
	}

