.owl-carousel
{
	width: 100% !important;
}
#big
{
	.item
	{
		width: auto;
		margin: 0 auto;
		img
		{
			max-width: 337px;
			width: 100%;
			border-radius: 0.25rem;
			object-fit: cover;
			max-height: 14rem;
			height: 14rem;
		}
	}
}

#thumbs
{
	.item
	{
		img
		{
			object-fit: cover;
			margin: 5px 9px;
			max-width: 70px;
			height: 55px;
			width: 90%;
		}
	}
}

hr
{
	margin: 0.5rem 0 0.5rem 0;
	border-top: 1px solid transparent;
}
hr.perforated-line
{
	border-top: 2px dashed #424242ad;
	margin: 2.4rem 0;
}
hr.blue-line
{
	border-top: 1px solid #8ab4f8;
}

.cont-block {
	font-weight: 500;
	color      : #000;
}


.btn {
	border-radius: 100px;
	margin       : 5px;
}




.org-Btn {
	border-radius: 8px;
	// background: rgba(243, 147, 61, 0.2);
	border       : none;
}

.pass-det {
	padding  : 5px 10px;
	font-size: 18px !important;
}





.custom-control-input:focus~.custom-control-label::before {
	box-shadow: none !important;
}


.img-Block #google_map {
	max-width: 100%;
	height   : 225px;
}

#map {
	height       : 100%;
	border-radius: 10px;
	margin-top   : 15px;
}


.price-Blc {
	.checkbox-block
	{
		small {
			font-size: 17px;
		}
		
		label.custom-control-label {
			font-size    : 1.3rem;
			margin-top   : 14px;
			margin-bottom: 14px;
			font-weight  : 600;
			
			small {
				font-size: 1rem;
			}
		}
		#charter-price p
		{
			font-size: 1.3rem;
		}
	}
}


.pass-det .cont-Block p {
	opacity: 0.5;
}


.price-Blc .custom-control-input:checked~.custom-control-label::before {
	border-color    : #f3933d;
	background-color: #f3933d;
}

.bg-light {
	background-color: rgba(243, 147, 61, 0.2) !important;
}

.text-org {
	color: #f3933d;
}

img.img-cir {
	width             : 182px;
	height            : 182px;
	border-radius     : 100px;
	border            : 2px solid #00000081;
	-o-object-fit     : cover;
	object-fit        : cover;
	-o-object-position: center top;
	object-position   : center top;
}

.list-box ul {
	display              : grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width            : 700px;
}

.list-unstyled li {
	position    : relative;
	padding-left: 22px;
}

.b-cus.btn.btn-back {
	background  : #cccccc;
	border-color: #9f9f9f;
	color       : #1d1d1d;
}


.table td {
	border-bottom: 1px solid #dee2e6;
}

.table tr.total-fields td {
	border-top-color: #202020 !important;
	border-top-width: 2px
}

.table tbody tr:first-child td {
	width: 40%;
}

button.custom-btn {
	width                  : -webkit-fit-content;
	width                  : -moz-fit-content;
	width                  : fit-content;
	height                 : -webkit-fit-content;
	height                 : -moz-fit-content;
	height                 : fit-content;
	padding                : 0.275rem 0.67rem;
	background-color       : var(--orange);
	border                 : 1.5px solid var(--orange);
	border-radius          : 20px;
	color: #000000;
	margin: 0 3px;
}

section.pre-Details
{
	p
	{
		margin: 0;
	}
}

@media only screen and (max-width: 1100px) and (min-width: 768px) {
	.img-Block img {
		max-width: 255px;
	}
	
	.car-cap .org-Btn {
		max-width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.img-Block img {
		max-width: 100%;
	}
	.car-Details .cont-Block {
		margin-top: 20px;
	}
	.list-box ul {
		display: block;
	}
}

button.custom-filled-button
{
	margin: 0 0.275rem;
}
button.custom-filled-back-button {
	margin: 0 0.275rem;
}

p.pv-title, p.pv-title-value
{
	font-size: 1rem;
}
p.pv-title-value
{
	font-weight: 600;
}
p.pv-title-value.pv-details
{
	font-weight: 600;
	font-size: 1.3rem;
}
p.pv-title.pv-details
{
	font-weight: 600;
	font-size: 1.2rem;
}


.modal
{
	.modal-header
	{
		p
		{
			font-size: 1.6rem;
		}
		button.close {
			color: #ff0000;
			font-size: 2rem;
			opacity: 1;
		}
	}
}

.modal#ModalDriverDetails
{
	.modal-body
	{
		#driver-image img
		{
			border-radius: 50%;
		}
	}
}

.modal#ModalAmenities
{
	.modal-body
	{
		#chargeable-amenities > li
		{
			flex: 0 0 60%;
			max-width: 60%;
			white-space: break-spaces;
		}
	}
}

// tablets and above
@media only screen and (min-width: 767px) {
	#thumbs .item img {
		max-width: 55px;
		height: 37px;
	}
	.modal#ModalAmenities
	{
		.modal-body #chargeable-amenities > li
		{
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}