<!-- Selected Vehicle section -->
<section class="pro-Fil pt-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- Vehicle Selected details -->
				<div class="car-Details row">
					<!-- OWL CAROUSEL -->
					<div class="col-md-6 col-xl-4">
						<div class="outer m-0 w-auto">
							<div id="big" class="owl-carousel owl-theme m-0">
								<div class="item"
									*ngFor="let item of selected_vehicle.vehicle_images; index as item_index">
									<img [src]="item" id="V_Image_{{ item_index + 1 }}" class="mx-auto"
										alt="Vehicle Image {{ item_index + 1 }}">
									<!-- {{item }} -->
								</div>
							</div>
							<div id="thumbs" class="owl-carousel owl-theme m-0 my-3">
								<div class="item"
									*ngFor="let item of selected_vehicle.vehicle_images; index as item_index">
									<!-- {{ item }} -->
									<img [src]="item" alt="Vehicle Image {{ item_index + 1 }}" class="mx-auto"
										id="V_Image_{{ item_index + 1 }}">
								</div>
							</div>
						</div>
					</div>
					<!-- OWL CAROUSEL ENDS -->

					<!-- VEHICLE INFORMATION BLOCK -->
					<div class="col-md-6 col-lg-auto">
						<!-- CONTENT BLOCK -->
						<div class="cont-Block w-100 pl-lg-4">
							<h5>
								{{ selected_vehicle.name }}
							</h5>
							<div class="car-cap d-flex">
								<div class="pass-det mx-2">
									<img alt="" class="img-fluid mr-2" src="assets/images/select_vehicle/pass.png" /> {{
									selected_vehicle.passenger }}
								</div>
								<div class="pass-det mx-2">
									<img alt="" class="img-fluid mr-2" src="assets/images/select_vehicle/lug.png" /> {{
									selected_vehicle.luggage }}
								</div>
							</div>
							<div class="textArea mt-3" *ngIf="selected_vehicle.description">
								{{ selected_vehicle.description }}
							</div>

							<!-- PRICE BLOCK -->
							<div class="price-Blc my-3">
								<div class="checkbox-block d-md-flex" (change)="selectPrice()">
									<!-- One Way -->
									<div class="custom-control custom-checkbox custom-control-inline"
										*ngIf="getKeyName() != 'charter_tour'">
										<input type="checkbox" id="price1" name="price1" class="custom-control-input"
											(change)="routeSelection('one_way')" value="one_way"
											[checked]="quotebot_form.service_type == 'one_way'" />
										<label class="custom-control-label" for="price1">
											<small>
												One Way
											</small>
											${{ selected_vehicle['rate_breakdown_one_way']?.grand_total }}
										</label>
									</div>

									<!-- Round Trip -->
									<div class="custom-control custom-checkbox custom-control-inline"
										*ngIf="getKeyName() != 'charter_tour'">
										<input type="checkbox" id="price2" name="price2" class="custom-control-input"
											(change)="routeSelection('round_trip')" value="round_trip"
											[checked]="quotebot_form.service_type == 'round_trip'" />
										<label class="custom-control-label" for="price2">
											<small>
												Round Trip
											</small>
											${{ selected_vehicle['rate_breakdown_round_trip']?.grand_total }}
										</label>
									</div>

									<!-- Charter Tour -->
									<div id="charter-price" *ngIf="getKeyName() == 'charter_tour'">
										<p class="font-weight-bolder">
											Charter Tour: ${{
											selected_vehicle['rate_breakdown_charter_tour']?.grand_total }}
										</p>
									</div>
								</div>
								<small> All Inclusive Rates (Some Taxes, and Tolls are additional) </small>
							</div>
							<!-- PRICE BLOCK ENDS -->

						</div>
						<!-- CONTENT BLOCK ENDS -->

						<!-- FUNCTIONAL BUTTONS -->
						<div class="btn-Area d-flex flex-wrap">
							<button type="button" class="custom-btn" data-toggle="modal"
								data-target="#detailFareRateModal">
								View Subtotals
							</button>
							<button type="button" class="custom-btn" data-toggle="modal"
								data-target="#driverFareRateModal">
								Driver Info
							</button>
							<button type="button" class="custom-btn" data-toggle="modal"
								data-target="#amenitiesFareRateModal">
								Amenities
							</button>
							<!-- <button type="button" class="custom-btn" (click)="bookNow()">
																							Book Now
																						</button> -->
						</div>
					</div>
					<!-- ṾEHICLE INFORAMATION BLOCK ENDS -->

				</div>

				<!-- MAP -->
				<div class="row">
					<div class="col-md-12">
						<div class="col-lg-12">
							<div class="map-image img-Block mt-4 mt-lg-0">
								<div id="google_map">
									<div id="map"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- VEHICLE SELECTED DETAILS ENDS -->

			</div>
		</div>
	</div>
</section>
<!-- Selected Vehicle section ends -->

<!-- QuoteBot Preview Section -->
<section class="pre-Details py-5">
	<div class="container-fluid">
		<div class="row my-3">
			<div class="col-sm-6 col-md-5">
				<p class="pv-title pv-details text-orange">
					Pickup Details
				</p>
			</div>
			<div class="col-auto">
				<p class="pv-title-value pv-details">
					{{ quotebot_form.service_type.includes('charter') ? 'Charter/Tour' :
					formatString(quotebot_form.service_type) | titlecase }}
					/
					{{ formatString(quotebot_form.pickup_type) | titlecase }}
					to
					{{ formatString(quotebot_form.dropoff_type) | titlecase }}
					{{ quotebot_form.service_type.includes('round') ? 'and Return' : '' }}
				</p>
			</div>
		</div>

		<!-- Date -->
		<div class="row my-3">
			<div class="col-6 col-md-5">
				<p class="pv-title">
					Date
				</p>
			</div>
			<div class="col-auto">
				<p class="pv-title-value">
					{{ formatDate(quotebot_form.pickup_date) }}
				</p>
			</div>
		</div>

		<!-- Time -->
		<div class="row my-3">
			<div class="col-6 col-md-5">
				<p class="pv-title">
					Time
				</p>
			</div>
			<div class="col-auto">
				<p class="pv-title-value">
					{{ formatTime(quotebot_form.pickup_time) }}
				</p>
			</div>
		</div>

		<!-- Number of Pax -->
		<div class="row my-3">
			<div class="col-6 col-md-5">
				<p class="pv-title">
					Number of Pax
				</p>
			</div>
			<div class="col-auto">
				<p class="pv-title-value">
					{{ quotebot_form.no_of_passenger }}
				</p>
			</div>
		</div>

		<!-- Number of Luggage -->
		<div class="row my-3">
			<div class="col-6 col-md-5">
				<p class="pv-title">
					Number of Luggage
				</p>
			</div>
			<div class="col-auto">
				<p class="pv-title-value">
					{{ quotebot_form.no_of_luggage }}
				</p>
			</div>
		</div>

		<hr class="blue-line" />

		<!-- Pickup Address/Airport -->
		<div class="row">

			<!-- Controller -->
			<ng-container *ngIf="quotebot_form.pickup_type == 'airport'; then pikair; else pikadd"></ng-container>

			<ng-template #pikair>
				<div class="col-md-5">
					<p class="pv-title">
						Pickup Airport
					</p>
				</div>
				<div class="col-auto">
					<p class="pv-title-value">
						{{ quotebot_form.other_details.pickup_airport_name }}
					</p>
				</div>
			</ng-template>

			<ng-template #pikadd>
				<div class="col-md-5">
					<p class="pv-title">
						Pickup Address
					</p>
				</div>
				<div class="col-auto">
					<p class="pv-title-value">
						{{ quotebot_form.pickup_address }}
					</p>
				</div>
			</ng-template>
		</div>

		<hr class="blue-line" />

		<!-- Dropoff Address/Airport -->
		<div class="row my-3">

			<!-- Controller -->
			<ng-container *ngIf="quotebot_form.dropoff_type == 'airport'; then dropair; else dropadd"></ng-container>

			<ng-template #dropair>
				<div class="col-md-5">
					<p class="pv-title">
						Dropoff Airport
					</p>
				</div>
				<div class="col-auto">
					<p class="pv-title-value">
						{{ quotebot_form.other_details.dropoff_airport_name }}
					</p>
				</div>
			</ng-template>

			<ng-template #dropadd>
				<div class="col-md-5">
					<p class="pv-title">
						Dropoff Address
					</p>
				</div>
				<div class="col-auto">
					<p class="pv-title-value">
						{{ quotebot_form.dropoff_address }}
					</p>
				</div>
			</ng-template>
		</div>


		<!-- Travel Time/Miles -->
		<div class="row my-3">
			<div class="col-md-5">
				<p class="pv-title">
					Travel Time / Miles
				</p>
			</div>
			<div class="col-auto">
				<p class="pv-title-value">
					{{ quotebot_form.location_info[0].duration.text }}
					/
					{{ ((quotebot_form.location_info[0].distance.value)/1609).toFixed(2) }} miles
				</p>
			</div>
		</div>

		<hr />

		<!-- Return Details -->
		<div *ngIf="quotebot_form.service_type == 'round_trip'">
			<h5 class="mt-4 text-org"> Return Details </h5>

			<!-- Return Date -->
			<div class="row my-3">
				<div class="col-6 col-md-5">
					<p class="pv-title">
						Date
					</p>
				</div>
				<div class="col-auto">
					<p class="pv-title-value">
						{{ formatDate(quotebot_form.return_pickup_date) }}
					</p>
				</div>
			</div>

			<!-- Return Time -->
			<div class="row my-3">
				<div class="col-6 col-md-5">
					<p class="pv-title">
						Time
					</p>
				</div>
				<div class="col-auto">
					<p class="pv-title-value">
						{{ formatTime(quotebot_form.return_pickup_time) }}
					</p>
				</div>
			</div>

			<hr class="blue-line" />

			<!-- Return Pickup Address/Airport -->
			<div class="row my-3">

				<!-- Controller -->
				<ng-container *ngIf="quotebot_form.return_pickup_type == 'airport'; then rpikair; else rpikadd">
				</ng-container>

				<ng-template #rpikair>
					<div class="col-md-5">
						<p class="pv-title">
							Pickup Airport
						</p>
					</div>
					<div class="col-auto">
						<p class="pv-title-value">
							{{ quotebot_form.other_details.return_pickup_airport_name }}
						</p>
					</div>
				</ng-template>

				<ng-template #rpikadd>
					<div class="col-md-5">
						<p class="pv-title">
							Pickup Address
						</p>
					</div>
					<div class="col-auto">
						<p class="pv-title-value">
							{{ quotebot_form.return_pickup_address }}
						</p>
					</div>
				</ng-template>

			</div>

			<hr class="blue-line" />

			<!-- Return Dropoff Address/Airport -->
			<div class="row my-3">

				<!-- Controller -->
				<ng-container *ngIf="quotebot_form.return_dropoff_type == 'airport'; then rdropair; else rdropadd">
				</ng-container>

				<ng-template #rdropair>
					<div class="col-md-5">
						<p class="pv-title">
							Dropoff Airport
						</p>
					</div>
					<div class="col-auto">
						<p class="pv-title-value">
							{{ quotebot_form.other_details.return_dropoff_airport_name }}
						</p>
					</div>
				</ng-template>
				<ng-template #rdropadd>
					<div class="col-md-5">
						<p class="pv-title">
							Dropoff Address
						</p>
					</div>
					<div class="col-auto">
						<p class="pv-title-value">
							{{ quotebot_form.return_dropoff_address }}
						</p>
					</div>
				</ng-template>
			</div>

			<!-- Travel Time/Miles -->
			<div class="row my-3">
				<div class="col-md-5">
					<p class="pv-title">
						Travel Time/Miles
					</p>
				</div>
				<div class="col-auto">
					<p class="pv-title-value">
						{{ quotebot_form.location_info[1].duration.text }}
						/
						{{ ((quotebot_form.location_info[1].distance.value)/1609).toFixed(2) }} miles
					</p>
				</div>
			</div>
		</div>
		<!-- Return Details Ends -->
	</div>
	<!-- QuoteBot Preview Section ends -->



	<div class="btn-Area d-flex mx-4 justify-content-center" style="gap: 1rem">
		<button type="button" class="custom-filled-back-button" (click)="backButton()">
			Back
		</button>
		<button type="button" class="custom-filled-button" (click)="bookNow()">
			Book Now
		</button>
	</div>
</section>



<!-- --------------------------------x-------------------x---------------------------------- -->



<!-- --------------- MODALS ------------------------- -->




<!-- Detailed Slip Modal -->
<div aria-hidden="true" aria-labelledby="detailFareRateModal" class="modal fade" id="detailFareRateModal"
	tab-index="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					Detailed Fare Rate Slip
				</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table">
					<thead>
						<th> Rate Type </th>
						<th> Rate </th>
						<th> Amount </th>
					</thead>
					<tbody *ngIf="quotebot_form.service_type == 'one_way'">
						<tr
							*ngFor="let rate of one_way_rates?.rateArray?.all_inclusive_rates | keyvalue; index as rate_index">
							<td>
								{{ rate.value.rate_label }}
							</td>
							<td>
								${{ rate.value.baserate }} {{ (rate.value.multitple != undefined || rate.value.multiple
								== null )
								? ' ' : 'x' }} {{ rate.value.multiple !== undefined ? rate.value.multiple : '' }}
							</td>
							<td>
								${{ rate.value.amount }}
							</td>
						</tr>
						<!-- <tr>
							<td> Gratuity: </td>
							<td>
								{{ rates?.rateArray?.others?.Gratuity?.percentage }}%
							</td>
							<td> {{ rates?.rateArray?.others?.Gratuity?.amount }} </td>
						</tr> -->
						<tr class="total-fields">
							<td class="font-weight-bolder">
								Total:
							</td>
							<td></td>
							<td class="font-weight-bolder">
								${{ one_way_rates?.total }}
							</td>
						</tr>
						<!-- <tr>
							<td class="font-weight-bolder">
								Grand Total:
							</td>
							<td></td>
							<td class="font-weight-bolder">
								${{ rates?.grand_total }}
							</td>
						</tr> -->
					</tbody>
					<tbody *ngIf="quotebot_form.service_type == 'round_trip'">
						<tr
							*ngFor="let rate of round_trip_rates?.rateArray?.all_inclusive_rates | keyvalue; index as rate_index">
							<td>
								{{ rate.value.rate_label }}
							</td>
							<td>
								${{ rate.value.baserate }} {{ (rate.value.multitple != undefined || rate.value.multiple
								== null )
								? ' ' : 'x' }} {{ rate.value.multiple !== undefined ? rate.value.multiple : '' }}
							</td>
							<td>
								${{ rate.value.amount }}
							</td>
						</tr>
						<!-- <tr>
													<td> Gratuity: </td>
													<td>
														{{ rates?.rateArray?.others?.Gratuity?.percentage }}%
													</td>
													<td> {{ rates?.rateArray?.others?.Gratuity?.amount }} </td>
												</tr> -->
						<tr class="total-fields">
							<td class="font-weight-bolder">
								Total:
							</td>
							<td></td>
							<td class="font-weight-bolder">
								${{ round_trip_rates?.total }}
							</td>
						</tr>
						<!-- <tr>
													<td class="font-weight-bolder">
														Grand Total:
													</td>
													<td></td>
													<td class="font-weight-bolder">
														${{ rates?.grand_total }}
													</td>
												</tr> -->
					</tbody>
				</table>
			</div>
			<div class="modal-footer flex justify-items-end">
				<div class="btn-Area">
					<button class="btn btn-secondary px-4" data-dismiss="modal" type="button">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div aria-hidden="true" aria-labelledby="driverFareRateModal" class="modal fade" id="driverFareRateModal"
	tab-index="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="text-org-light col-md-12 px-4 py-2 mb-4" style="border-radius: 10.8px">
					Driver Details
				</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="pre-Details pb-5">
					<div class="container-xl">
						<div class="row">
							<div class="col-auto" *ngIf="!selected_vehicle.driverInformation">
								<p class="text-danger">
									No Driver Registered with this vehicle.
								</p>
							</div>
							<div class="col-lg-4" *ngIf="selected_vehicle.driverInformation">
								<div class="img-Block mb-4 mb-lg-0 text-md-left text-center">
									<img [src]="selected_vehicle.driverInformation?.imageUrl" class="img-cir"
										alt="Driver Image" />
								</div>
							</div>
							<div class="col-lg-8" *ngIf="selected_vehicle.driverInformation">
								<div class="px-4">
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Driver Name:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.name }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Gender:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.gender }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Start Rating:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.starRating }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Background:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.background }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Dress:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.dress }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Languages:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">English</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Years of Experience:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.experience }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Contact:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.phone }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer flex justify-content-end">
				<div class="btn-Area">
					<button class="btn btn-secondary px-4" data-dismiss="modal" type="button">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true" aria-labelledby="amenitiesFareRateModal" class="modal fade" id="amenitiesFareRateModal"
	tab-index="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pl-3">
					Available Amenities
				</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="pre-Details pb-5">
					<div class="container-xl">
						<div class="row">
							<div class="col-lg-12">
								<h5 class="text-org-light px-4 py-2 mb-4">
									Available Amenities
								</h5>
							</div>
							<div class="col-md-12">
								<ul
									class="list-unstyled d-flex flex-row flex-wrap justify-content-around align-items-start pl-0 pr-0">
									<li *ngFor="let category of selected_vehicle.amenities | keyvalue"
										class="fw-bold text-dark mr-5 flex-grow-1 p-0">
										{{ category.key | titlecase }}
										<ul class="list-unstyled p-0">
											<li *ngFor="let item of category.value; index as item_index"
												id="Item_{{ item_index + 1 }}" class="p-0">
												{{ item.name | titlecase }}
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer flex justify-content-end">
				<div class="btn-Area">
					<button class="btn btn-secondary px-4" data-dismiss="modal" type="button">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
</div>