.pro-Fil * {
    font-size: 14px;
}
.cont-block {
    font-weight: 500;
    color: #000;
}

.fil-itm button.close {
    float: left;
    margin-right: 10px;
    opacity: 1;
}

.btn {
    border-radius: 100px;
    margin: 5px;
}

.fil-itm button.close span {
    font-size: 15px;
    color: #fff;
    background: #f3933d;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10px;
}

.filter-list .accordion .card-header h2 .btn {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.org-Btn {
    border-radius: 8px;
    // background: rgba(243, 147, 61, 0.2);
    border: none;
}

.pass-det {
    padding: 5px 10px;
}

.show-More {
    margin-top: 17px;
    color: #f3933d;
}

.show-More::after {
    border-top: 0.3em solid #000;
}

.filter-list .accordion .card {
    border-radius: 0;
    /* border-top: none; */
    border-left: none;
    border-right: none;
    background: transparent;
}

.filter-list .accordion .card .card-header {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.filter-list .accordion .card .card-body {
    padding-left: 0;
    padding-right: 0;
    color: #19191d;
}

.filter-field input.form-control {
    border: none !important;
    padding-left: 0;
    padding-right: 0px;
    opacity: 0.5;
    box-shadow: none !important;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none !important;
}

.fil-itm {
    padding-bottom: 20px;
}

.clr-Fil {
    color: rgb(243, 147, 61);
    text-decoration: underline;
}

.car-cap .org-Btn {
    max-width: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #e23545;
    font-weight: 500;
}

.car-Details .img-Block {
    position: relative;
    border: 1px solid #e8e8e8;
    padding: 30px;
}

.car-Details .map-image.img-Block {
    padding: 0px;
    border: none
}

.car-Details .img-Block .dri-Ico {
    position: absolute;
    right: 14px;
    top: 14px;
}

.img-Block #google_map {
    max-width: 100%;
    height: 225px;
}

#map {
    height: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.fil-itm .btn {
    padding: 3px 7px;
}

.price-Blc 
{
    small
    {
        font-size: 0.97rem;
    }
    label.custom-control-label 
    {
        font-size: 1.3rem;
        margin-top: 14px;
        margin-bottom: 14px;
        font-weight: 600;
        small
        {
            font-size: 1rem;
        }
    }
}

.b-cus {
    font-weight: bold;
}

.b-cus.btn-primary {
    background: #f3933d;
    border-color: #f3933d;
}

.b-cus.btn-success {
    background: #5dbd8a;
    border-color: #5dbd8a;
}

.b-cus.btn-success {
    background: #5dbd8a;
    border-color: #5dbd8a;
}

.b-cus.btn-dark {
    background: #3d84fe;
    border-color: #3d84fe;
}

.cont-Block h5 {
    font-weight: bold;
    font-size: 18px;
}

.cont-Block p {
    opacity: 0.5;
}

aside.sidebar {
    position: sticky;
    top: 10px;
}

.filter-list .accordion .card-header h2 .btn:after {
    content: "\f106";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: 12px;
}

.filter-list .accordion .card-header h2 .btn.collapsed:after {
    content: "\f107";
}

.car-Details .car-cap {
    width: 23%;
    max-width: 170px;
}

.slider-Block .slick-slide .sliderIn {
    border: solid 1px #e8e8e8;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

// .slider-Block .slider-nav .slick-slide .sliderIn {
// 	/* margin: 10px; */
// }
.slider-Block .slick-prev,
.slider-Block .slick-next {
    width: 40px;
    height: 40px;
    border: solid 1px #e8e8e8;
    border-radius: 8px;
    background: #fff !important;
    z-index: 1;
}

.slider-Block .slick-next:before,
.slider-Block .slick-prev:before {
    font-family: FontAwesome !important;
    color: #f3933d;
    left: 14px;
    position: absolute;
    bottom: 10px;
}

.slider-Block .slick-next:before {
    content: "\f105" !important;
}

.slider-Block .slick-prev:before {
    content: "\f104" !important;
}

.slider-Block .slick-prev {
    left: -11px;
}

.slider-Block .slick-next {
    right: -11px;
}

.slider-nav .sliderIn {
    padding: 10px !important;
}

.price-Blc-n .custom-control-label::before,
.price-Blc-n .custom-control-label::after {
    top: 7px;
}

.price-Blc-n .custom-control:first-child {
    // border-right: 1px solid #000;
    padding-right: 16px;
}

.price-Blc .custom-control-input:checked~.custom-control-label::before {
    border-color: #f3933d;
    background-color: #f3933d;
}

.text-org-light {
    background-color: rgba(243, 147, 61, 0.2) !important;
}

.text-org {
    color: #f3933d;
}

img.img-cir {
    width: 182px;
    height: 182px;
    border-radius: 100px;
    border: 2px solid #00000081;
    object-fit: cover;
    object-position: center top;
}

.list-box ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 700px;
}

// .list-unstyled li:before {
// 	content      : "";
// 	position     : absolute;
// 	width        : 7px;
// 	height       : 7px;
// 	background   : #f3933d;
// 	border-radius: 100px;
// 	top          : 8px;
// 	left         : 0;
// }
.list-unstyled li {
    position: relative;
    padding-left: 22px;
}

.b-cus.btn.btn-back {
    background: #cccccc;
    border-color: #9f9f9f;
    color: #fff;
}

// Owl Theme Container
.outer {
    margin: 0 auto;
    max-width: 800px;
}

#big .item {
    // background: #ec6e46;
    padding: 0;
    margin: 2px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    img {
        height: 190px;
        width: 70%;
        margin: 0 auto;
    }
}

#thumbs .item {
    // background: #C9C9C9;
    height: auto;
    width: 70px;
    line-height: 70px;
    padding: 0px;
    margin: 2px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    img {
        padding: 0px 10px 0px 0px;
        height: 60px;
        object-fit: contain;
        width: 60px;
    }
}

.owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

#big.owl-theme {
    position: relative;
}

.table td {
    border-bottom: 1px solid #dee2e6;
}

.table tr.total-fields td {
    border-top-color: #202020 !important;
    border-top-width: 2px
}

.table tbody tr:first-child td {
    width: 40%;
}

button.custom-btn
{
    width: fit-content;
    height: fit-content;
    padding: 0.375rem 0.87rem;
    background-color: var(--orange);
    border: 1.5px solid var(--orange);
    margin: 8px 4.5px;
    border-radius: 25px;
    &:last-child
    {
        background-color: var(--green);
        border-color: var(--green);
    }
}

@media only screen and (max-width: 1100px) and (min-width: 768px) {
    .img-Block img {
        max-width: 255px;
    }
    .car-cap .org-Btn {
        max-width: 100%;
    }
    .car-Details .cont-Block {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .img-Block img {
        max-width: 100%;
    }
    .car-Details .cont-Block {
        margin-top: 20px;
    }
    .fil-itm .close {
        height: auto;
        width: auto;
    }
    .list-box ul {
        display: block;
    }
    #driverFareRateModal .modal-body,
    #amenitiesFareRateModal .modal-body {
        padding: 1rem 0rem!important;
    }
    #driverFareRateModal .col-lg-8 .px-4 {
        padding: 0 !important;
    }
}

@media only screen and (max-width:380px) {
    #thumbs .item img {
        padding: 0px 10px 0px 0px;
        height: 25px;
        -o-object-fit: contain;
        object-fit: contain;
        width: 40px;
    }
}

@media (min-width:381px) and (max-width:767px) {
    #thumbs .item img {
        padding: 0px 10px 0px 0px;
        height: 30px;
        -o-object-fit: contain;
        object-fit: contain;
        width: 65px;
    }
    #big .item img {
        width: 50%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    #thumbs .item img {
        padding: 0px 10px 0px 0px;
        height: 30px;
        -o-object-fit: contain;
        object-fit: contain;
        width: 45px;
    }
    #big .item img {
        width: 85%;
    }
    .owl-carousel {
        width: 350px !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    #thumbs .item img {
        padding: 0px 10px 0px 0px;
        height: 30px;
        -o-object-fit: contain;
        object-fit: contain;
        width: 50px;
    }
    #big .item img {
        width: 68%;
    }
    .owl-carousel {
        width: 500px !important;
    }
    #thumbs .item img {
        padding: 0px 10px 0px 0px;
        height: 50px;
        -o-object-fit: contain;
        object-fit: contain;
        width: 65px;
    }
}

@media only screen and (min-width: 1199px)
{
    #big .item img
    {
        width: 60%;
        height: 250px;
    }
}