<!-- Selected Vehicle section -->
<section class="pro-Fil pt-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<!-- Vehicle Selected details -->
				<article class="car-Details row mb-4">
					<!-- OWL CAROUSEL -->
					<div class="slider-Block col-md-6">
						<div class="outer">
							<div id="big" class="owl-carousel owl-theme">
								<div class="item" *ngFor="let item of selected_vehicle.vehicle_images; index as item_index">
									<img [src]="item" id="V_Image_{{ item_index + 1 }}" alt="Vehicle Image {{ item_index + 1 }}">
									<!-- {{item }} -->
								</div>
							</div>
							<div id="thumbs" class="owl-carousel owl-theme">
								<div class="item" *ngFor="let item of selected_vehicle.vehicle_images; index as item_index">
									<h1>
										<!-- {{ item }} -->
										<img [src]="item" alt="Vehicle Image {{ item_index + 1 }}"
											id="V_Image_{{ item_index + 1 }}">
									</h1>
								</div>
							</div>
						</div>
					</div>
					<!-- OWL CAROUSEL ENDS -->

					<div class="col-md-6">
						<div class="cont-Block w-100 pl-lg-4">
							<h5>
								{{ selected_vehicle.name }}
							</h5>
							<div class="car-cap d-flex">
								<div class="pass-det org-Btn">
									<img alt="" class="img-fluid mr-2" src="assets/images/select_vehicle/pass.png" /> {{
									selected_vehicle.passenger }}
								</div>
								<div class="pass-det org-Btn">
									<img alt="" class="img-fluid mr-2" src="assets/images/select_vehicle/lug.png" /> {{
									selected_vehicle.luggage }}
								</div>
							</div>
							<div class="textArea mt-3">
								{{ selected_vehicle.description }}
							</div>

							<div class="price-Blc price-Blc-n">
								<div class="checkbox-block d-md-flex my-3" (change)="selectPrice()">
									<!-- One Way -->
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" id="price1" name="price1" class="custom-control-input"
											(change)="routeSelection('one_way')" value="one_way"
											[checked]="quotebot_form.service_type == 'one_way'" />
										<label class="custom-control-label" for="price1">
											<small>
												One Way
											</small>
											${{ selected_vehicle['rate_breakdown_one_way'].grand_total }}
										</label>
									</div>

									<!-- Round Trip -->
									<div class="custom-control custom-checkbox custom-control-inline"
										*ngIf="selected_vehicle['rate_breakdown_round_trip']">
										<input type="checkbox" id="price2" name="price2" class="custom-control-input"
											(change)="routeSelection('round_trip')" value="round_trip"
											[checked]="quotebot_form.service_type == 'round_trip'" />
										<label class="custom-control-label" for="price2">
											<small>
												Round Trip
											</small>
											${{ selected_vehicle['rate_breakdown_round_trip']?.grand_total }}
										</label>
									</div>
								</div>
							</div>
							<div class="btn-Area d-flex flex-wrap">
								<button type="button" class="custom-btn" data-toggle="modal" data-target="#detailFareRateModal">
									View Subtotals
								</button>
								<button type="button" class="custom-btn" data-toggle="modal" data-target="#driverFareRateModal">
									Driver Info
								</button>
								<button type="button" class="custom-btn" data-toggle="modal"
									data-target="#amenitiesFareRateModal">
									Amenities
								</button>
								<button type="button" class="custom-btn" (click)="bookNow()">
									Book Now
								</button>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="map-image img-Block mt-4 mt-lg-0">
								<div id="google_map">
									<div id="map"></div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<!-- VEHICLE SELECTED DETAILS ENDS -->
			</div>
		</div>
	</div>
</section>
<!-- Selected Vehicle section ends -->

<!-- QuoteBot Preview Section -->
<section class="pre-Details py-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h5 class="text-org-light px-4 py-2 mb-4">
					Quotebot Preview Details
				</h5>
			</div>
			<div class="col-lg-12">
				<div class="px-4">
					<!-- Travel Type -->
					<div class="row my-1">
						<div class="col-lg-4">
							<div class="title-block">
								Service Type:
							</div>
						</div>
						<div class="col-lg-8">
							<div class="cont-block">
								{{ formatString(quotebot_form.service_type) | titlecase }}
							</div>
						</div>
					</div>
					<!-- Service Type -->
					<!-- <div class="row">
						<div class="col-lg-4">
							<div class="title-block">Service Type:</div>
						</div>
						<div class="col-lg-8">
							<div class="cont-block">Round Trip</div>
						</div>
					</div> -->

					<hr />

					<!-- One Way Details -->
					<div>
						<!-- Pickup Details -->
						<div class="mb-4">
							<!-- Pickup Type -->
							<div class="row my-1">
								<div class="col-lg-4">
									<div class="title-block">
										Pickup Type:
									</div>
								</div>
								<div class="col-lg-8">
									<div class="cont-block">
										{{ quotebot_form.pickup_type | titlecase }}
									</div>
								</div>
							</div>
							<!-- Pickup Address -->
							<div class="row my-1">
								<div class="col-lg-4">
									<div class="title-block">
										Pickup Address:
									</div>
								</div>
								<div class="col-lg-8">
									<div class="cont-block">
										{{ quotebot_form.pickup_address }}
									</div>
								</div>
							</div>
						</div>

						<!-- Dropoff Details -->
						<div class="mt-4">
							<!-- Drop Off Type -->
							<div class="row my-1">
								<div class="col-lg-4">
									<div class="title-block">
										Drop Off Type:
									</div>
								</div>
								<div class="col-lg-8">
									<div class="cont-block">
										{{ formatString(quotebot_form.dropoff_type) | titlecase }}
									</div>
								</div>
							</div>
							<!-- Drop off Address -->
							<div class="row my-1">
								<div class="col-lg-4">
									<div class="title-block">
										Drop Off Address:
									</div>
								</div>
								<div class="col-lg-8">
									<div class="cont-block">
										{{ quotebot_form.dropoff_address }}
									</div>
								</div>
							</div>
						</div>

						<!-- Travel Time / Miles -->
						<div class="row my-3">
							<div class="col-lg-4">
								<div class="title-block">
									Travel Time/Miles:
								</div>
							</div>
							<div class="col-lg-8">
								<div class="cont-block">
									{{ quotebot_form.location_info[0].duration.text }} / {{
									((quotebot_form.location_info[0].distance.value)/1609).toFixed(2) }} miles
								</div>
							</div>
						</div>
					</div>
					<!-- One Way Details Ends -->

					<hr />

					<!-- Return Details -->
					<div *ngIf="quotebot_form.travel_type == 'round_trip'">
						<h5 class="mt-4 text-org"> Return Details </h5>
						<!-- Return Pickup Details -->
						<div>
							<!-- Return Pickup Type
							<div class="row my-1">
								<div class="col-lg-4">
									<div class="title-block">
										Return Pickup Type:
									</div>
								</div>
								<div class="col-lg-8">
									<div class="cont-block">
										{{ quotebot_form.return_pickup_type | titlecase }}
									</div>
								</div>
							</div> -->
							<!-- Return Pickup Address -->
							<div class="row my-1">
								<div class="col-lg-4">
									<div class="title-block">
										Return Pickup Address:
									</div>
								</div>
								<div class="col-lg-8">
									<div class="cont-block">
										{{ quotebot_form.return_pickup_address | titlecase }}
									</div>
								</div>
							</div>
						</div>

						<!-- Return Dropoff Details -->
						<div>
							<!-- Return Drop Off Type
							<div class="row">
								<div class="col-lg-4">
									<div class="title-block">
										Return Drop Off Type:
									</div>
								</div>
								<div class="col-lg-8">
									<div class="cont-block">
										{{ quotebot_form.return_dropoff_type | titlecase }}
									</div>
								</div>
							</div> -->
							<!-- Return Dropoff Address -->
							<div class="row">
								<div class="col-lg-4">
									<div class="title-block">
										Return Drop Off Address:
									</div>
								</div>
								<div class="col-lg-8">
									<div class="cont-block">
										{{ quotebot_form.return_dropoff_address | titlecase }}
									</div>
								</div>
							</div>
						</div>

						<!-- Return Travel Time / Miles -->
						<div class="row mt-2">
							<div class="col-lg-4">
								<div class="title-block">
									Travel Time/Miles:
								</div>
							</div>
							<div class="col-lg-8">
								<div class="cont-block">
									{{ quotebot_form.location_info[1].duration.text }} / {{
									((quotebot_form.location_info[1].distance.value)/1609).toFixed(2) }} miles
								</div>
							</div>
						</div>
					</div>
					<!-- Return Details Ends -->
				</div>
			</div>

			<!-- Google Map for selected location points -->
			<!-- <div class="col-lg-4">
				<div class="img-Block mt-4 mt-lg-0">
					<div id="google_map">
						<div id="map"></div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<!-- QuoteBot Preview Section ends -->
	<div class="btn-Area d-flex pl-0 pr-4">
		<button type="button" class="b-cus btn btn-back px-4" (click)="backButton()">
			Back
		</button>
		<button type="button" class="b-cus btn btn-success px-4" (click)="bookNow()">
			Book Now
		</button>
	</div>
</section>



<!-- Driver Details -->



<!-- Amenities -->




<!-- Detailed Slip Modal -->
<div aria-hidden="true" aria-labelledby="detailFareRateModal" class="modal fade" id="detailFareRateModal" tab-index="-1">
	<div class="modal-dialog modal-sm modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					Detailed Fare Rate Slip
				</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table">
					<thead>
						<th> Rate Type </th>
						<th> Rate </th>
						<th> Amount </th>
					</thead>
					<tbody>
						<tr *ngFor="let rate of rates?.rateArray?.all_inclusive_rates | keyvalue; index as rate_index">
							<td>
								{{ rate.value.rate_label }}
							</td>
							<td>
								${{ rate.value.baserate }} {{ (rate.value.multitple != undefined || rate.value.multiple == null )
								? ' ' : 'x' }} {{ rate.value.multiple !== undefined ? rate.value.multiple : '' }}
							</td>
							<td>
								${{ rate.value.amount }}
							</td>
						</tr>
						<tr>
							<td> Gratuity: </td>
							<td>
								{{ rates?.rateArray?.others.Gratuity.percentage }}%
							</td>
							<td> {{ rates?.rateArray?.others.Gratuity.amount }} </td>
						</tr>
						<tr class="total-fields">
							<td class="font-weight-bolder">
								Sub Total:
							</td>
							<td></td>
							<td class="font-weight-bolder">
								${{ rates?.sub_total }}
							</td>
						</tr>
						<tr>
							<td class="font-weight-bolder">
								Grand Total:
							</td>
							<td></td>
							<td class="font-weight-bolder">
								${{ rates?.grand_total }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer flex justify-items-end">
				<div class="btn-Area">
					<button class="btn btn-secondary px-4" data-dismiss="modal" type="button">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true" aria-labelledby="driverFareRateModal" class="modal fade" id="driverFareRateModal" tab-index="-1">
	<div class="modal-dialog modal-sm modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="text-org-light col-md-12 px-4 py-2 mb-4" style="border-radius: 10.8px">
					Driver Details
				</h3>
				<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button> -->
			</div>
			<div class="modal-body">
				<div class="pre-Details pb-5">
					<div class="container-xl">
						<div class="row">
							<div class="col-auto">
								<p class="text-danger">
									No Driver Registered with this vehicle.
								</p>
							</div>
							<div class="col-lg-4" *ngIf="selected_vehicle.driverInformation">
								<div class="img-Block mb-4 mb-lg-0 text-md-left text-center">
									<!-- <img src="assets/images/select_vehicle/driver.jpg" class="img-cir" /> -->
									<img [src]="selected_vehicle.driverInformation?.imageUrl" class="img-cir"
										alt="Driver Image" />
								</div>
							</div>
							<div class="col-lg-8" *ngIf="selected_vehicle.driverInformation">
								<div class="px-4">
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Driver Name:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.name }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Gender:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.gender }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Start Rating:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.starRating }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Background:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.background }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Dress:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.dress }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Languages:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">English</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Years of Experience:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.experience }}
											</div>
										</div>
									</div>
									<div class="row flex-md-wrap flex-nowrap">
										<div class="col-lg-4">
											<div class="title-block">Contact:</div>
										</div>
										<div class="col-lg-8">
											<div class="cont-block">
												{{ selected_vehicle.driverInformation?.phone }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer flex justify-content-end">
				<div class="btn-Area">
					<button class="btn btn-secondary px-4" data-dismiss="modal" type="button">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true" aria-labelledby="amenitiesFareRateModal" class="modal fade" id="amenitiesFareRateModal" tab-index="-1">
	<div class="modal-dialog modal-sm modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pl-3">
					Available Amenities
				</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="pre-Details pb-5">
					<div class="container-xl">
						<div class="row">
							<div class="col-lg-12">
								<h5 class="text-org-light px-4 py-2 mb-4">
									Available Amenities
								</h5>
							</div>
							<div class="col-md-12">
								<ul
									class="list-unstyled d-flex flex-row flex-wrap justify-content-around align-items-start pl-0 pr-0">
									<li *ngFor="let category of selected_vehicle.amenities | keyvalue"
										class="fw-bold text-dark mr-5 flex-grow-1 p-0">
										{{ category.key | titlecase }}
										<ul class="list-unstyled p-0">
											<li *ngFor="let item of category.value; index as item_index"
												id="Item_{{ item_index + 1 }}" class="p-0">
												{{ item.name | titlecase }}
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer flex justify-content-end">
				<div class="btn-Area">
					<button class="btn btn-secondary px-4" data-dismiss="modal" type="button">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
</div>