@media only screen and (min-width:767px) {
	.scrollButton {
		display: none;
	}
}

#google-translate {
	display: none;
}

// #google_translate_element_desktop.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed{pointer-events: none!important;}
.scrollButton {
	margin-left: 45px;
	position: absolute;
	left: 160px;
	top: -65px;
}

a.dropdown-item.active {
	background-color: transparent !important;
	color: #000 !important;
}

.sidebar_admin_li{
	margin-bottom: 5px;
}

a.dropdown-item:hover {
	color: var(--orange-color) !important;
}

.HeadingH1 svg {
	height: 50px;
}

@media only screen and (max-width:320px) {
	.scrollButton {
		margin-left: 45px;
		position: absolute;
		left: 175px;
		top: -65px;
	}
}

@media (min-width:321px) and (max-width:368px) {
	.scrollButton {
		margin-left: 45px;
		position: absolute;
		left: 200px;
		top: -65px;
	}
}

@media (min-width:369px) and (max-width:372px) {
	.scrollButton {
		margin-left: 45px;
		position: absolute;
		left: 250px;
		top: -65px;
	}
}

@media (min-width:373px) and (max-width:410px) {
	.scrollButton {
		margin-left: 45px;
		position: absolute;
		left: 225px;
		top: -65px;
	}
}

@media (min-width:411px) and (max-width:767px) {
	.scrollButton {
		margin-left: 45px;
		position: absolute;
		left: 265px;
		top: -65px;
	}
}

mat-progress-bar {
	top: 80px;
	position: fixed;
	z-index: 99;
}

.translatorStyle {
	position: absolute;
	width: 40px;
	display: block;
	top: 25px;
	right: 115px;
	z-index: -1;
}

:host ::ng-deep .VIpgJd-ZVi9od-l4eHX-hSRGPd {
	display: none !important;
}

:host ::ng-deep .goog-te-gadget .goog-te-combo {
	// margin: 0 !important;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0 0px 10px 10px !important;
	width: 130px !important;
	max-width: 100% !important;
}


@media only screen and (max-width:767px) {
	.hideMobile {
		display: none;
	}
}

@media only screen and (min-width:767px) {
	.hideDesktop {
		display: none;
	}
}


// .affilate-wrapper .sidenav-menu .nav-item:nth-child(2) a {
// 	padding-left: 10px !important;
// }

.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30px;  /* Set the width of the hamburger icon */
	height: 26px; /* Set the height of the hamburger icon */
	cursor: pointer; /* Add cursor pointer to make it clickable */
  }
  
  .line {
	width: 100%;
	height: 4px;  /* Set the thickness of each line */
	background-color: black;  /* Color of the lines */
	border-radius: 4px;  /* Rounded corners for smoothness */
  }
  