@media only screen and (min-width:767px) {
	.scrollButton {
		display: none;
	}
}
#google_translate_element_desktop.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed{pointer-events: none!important;}
.scrollButton {
	margin-left: 45px;
	position   : absolute;
	left       : 160px;
	top        : -65px;
}

a.dropdown-item.active {
	background-color: transparent !important;
	color           : #000 !important;
}

a.dropdown-item:hover {
	color: var(--orange-color) !important;
}

.HeadingH1 svg {
	height: 50px;
}

@media only screen and (max-width:320px) {
	.scrollButton {
		margin-left: 45px;
		position   : absolute;
		left       : 175px;
		top        : -65px;
	}
}

@media (min-width:321px) and (max-width:368px) {
	.scrollButton {
		margin-left: 45px;
		position   : absolute;
		left       : 200px;
		top        : -65px;
	}
}

@media (min-width:369px) and (max-width:372px) {
	.scrollButton {
		margin-left: 45px;
		position   : absolute;
		left       : 250px;
		top        : -65px;
	}
}

@media (min-width:373px) and (max-width:410px) {
	.scrollButton {
		margin-left: 45px;
		position   : absolute;
		left       : 225px;
		top        : -65px;
	}
}

@media (min-width:411px) and (max-width:767px) {
	.scrollButton {
		margin-left: 45px;
		position   : absolute;
		left       : 265px;
		top        : -65px;
	}
}

mat-progress-bar {
	top     : 80px;
	position: fixed;
	z-index : 99;
}

.translatorStyle {
	position: absolute;
	width   : 40px;
	display : block;
	top     : 25px;
	right   : 115px;
	z-index : -1;
}


@media only screen and (max-width:767px) {
	.hideMobile {
		display: none;
	}
}

@media only screen and (min-width:767px) {
	.hideDesktop {
		display: none;
	}
}


.affilate-wrapper .sidenav-menu .nav-item:nth-child(2) a {
	padding-left: 15px !important;
}
