<ngx-spinner></ngx-spinner>
<main>
	<!-- Main page content-->
	<form [formGroup]="addStaffForm" class="step_form_wrapper" appInvalidControlScroll>
		<section class="user_information">
			<h2 class="headinginfo"> Staff</h2>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>First Name <span class="asterisk">*</span></mat-label>
							<input matInput placeholder="First Name" formControlName="firstName" tabIndex="1">
						</mat-form-field>
						<div *ngIf="submittedForm && f.firstName.errors || f.firstName.touched && f.firstName.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.firstName.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>Middle Name</mat-label>
							<input matInput placeholder="Middle Name" formControlName="middleName" tabIndex="1">
						</mat-form-field>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>Last Name <span class="asterisk">*</span></mat-label>
							<input matInput placeholder="Last Name" formControlName="lastName" tabIndex="1">
						</mat-form-field>
						<div *ngIf="submittedForm && f.lastName.errors || f.lastName.touched && f.lastName.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.lastName.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>E-mail <span class="asterisk">*</span></mat-label>
							<input matInput placeholder="Affiliate E-mail" formControlName="email" tabIndex="1">
						</mat-form-field>
						<div *ngIf="submittedForm && f.email.errors || f.email.touched && f.email.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.email.errors.required">This field is required</div>
						</div>
						<div *ngIf="f.email.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.email.errors.pattern">Email format should be valid</div>
						</div>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline" class="deptTelLabelClass">
							<label class="mat-form-field-label mat-empty mat-form-field-empty labelClass">Dept Tel # /
								Ex <span class="asterisk">
									*</span></label>
							<input matInput placeholder="Dept Tel # / Ex" formControlName="deptTel" ng2TelInput
								[ng2TelInputOptions]="{'preferredCountries': ['us', 'ca','mx','gb']}"
								placeholder="1234567890" class="phoneNumberClass"
								(countryChange)="onCountryChange($event,'deptTel')"
								(intlTelInputObject)="telInputObjectDeptTel($event)" tabIndex="1" />
						</mat-form-field>
						<div *ngIf="submittedForm && f.deptTel.errors || f.deptTel.touched && f.deptTel.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.deptTel.errors.required">This field is required</div>
						</div>
						<div *ngIf="f.deptTel.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.deptTel.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div>
							<ng-template #plusError>
								<div *ngIf="f.deptTel.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div>
								<ng-template #allErrors>
									<div *ngIf="f.deptTel.errors?.pattern;else numberLength">Enter Numbers Without
										Spaces or Dashes
									</div>
									<ng-template #numberLength>
										<div *ngIf="f.deptTel.errors.minlength">Minimum length should be 4</div>
										<div *ngIf="f.deptTel.errors.maxlength">Maximum length should be 15</div>
									</ng-template>
								</ng-template>
							</ng-template>
						</div>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline" class="cellLabelClass">
							<label class="mat-form-field-label mat-empty mat-form-field-empty labelClass">Cell<span
									class="asterisk">
									*</span></label>
							<input matInput placeholder="Cell" formControlName="cellNumber" ng2TelInput
								[ng2TelInputOptions]="{'preferredCountries': ['us', 'ca','mx','gb']}"
								placeholder="1234567890" class="phoneNumberClass"
								(countryChange)="onCountryChange($event,'cellNumber')"
								(intlTelInputObject)="telInputObjectCell($event)" tabIndex="1" />
						</mat-form-field>
						<div *ngIf="submittedForm && f.cellNumber.errors || f.cellNumber.touched && f.cellNumber.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.cellNumber.errors.required">This field is required</div>
						</div>
						<div *ngIf="f.cellNumber.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.cellNumber.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div>
							<ng-template #plusError>
								<div *ngIf="f.cellNumber.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div>
								<ng-template #allErrors>
									<div *ngIf="f.cellNumber.errors?.pattern;else numberLength">Enter Numbers Without
										Spaces or Dashes
									</div>
									<ng-template #numberLength>
										<div *ngIf="f.cellNumber.errors.minlength">Minimum length should be 4</div>
										<div *ngIf="f.cellNumber.errors.maxlength">Maximum length should be 15</div>
									</ng-template>
								</ng-template>
							</ng-template>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<input matInput [matDatepicker]="picker1" placeholder="Driver / Staff Start Date"
								formControlName="staffStartDate" (change)="changeDetection.staffStartDate($event)"
								(click)="picker1.open()" [class.errorValid]="submittedForm && f.staffStartDate.errors">
							<mat-datepicker-toggle matSuffix [for]="picker1">
							</mat-datepicker-toggle>
							<mat-datepicker #picker1></mat-datepicker>
						</mat-form-field>
						<div *ngIf="submittedForm && f.staffStartDate.errors" class="text-danger">
							<div *ngIf="f.staffStartDate.errors.matDatepickerParse; else staffStartDateError">
								Pickup Date is not valid</div>
							<ng-template #staffStartDateError>
								<div *ngIf="f.staffStartDate.errors.required">Pickup Date is
									required
								</div>
							</ng-template>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Phone Type</mat-label>
							<mat-select formControlName="phoneType" tabindex="1">
								<mat-option value="">Choose Phone Type</mat-option>
								<mat-option value="android">Android</mat-option>
								<mat-option value="ios+">iOS</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
		</section>

		<section class="user_information">
			<h2 class="headinginfo"> Choose Language(s) <span class="asterisk">*</span> <span>(Choose Each)</span></h2>
			<div class="container mt-1 ">
				<div class="row ">
					<div class="col-md-12" id="languageSpoken">
						<div class="choose_ameniteslist">
							<div class="custom-control custom-checkbox" *ngFor="let language of languages">
								<input type="checkbox" class="custom-control-input" id="language_{{language.name}}"
									[value]="language.id" (change)="onCheckboxChange($event)">
								<label class="custom-control-label"
									for="language_{{language.name}}">{{language.name}}</label>
							</div>
							<div *ngIf="submittedForm && f.languageSpoken.errors" class="text-danger">
								<div *ngIf="f.languageSpoken.errors.required">This field is required</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="col-md-12">
				<div class="billing_inforamtion">
					<ul class="d-flex justify-content-center">
						<li>
							<button class="custom-filled-back-button" type="button" (click)="backButton()"><i
									class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
						</li>
						<li><button class="custom-filled-reset-button" (click)="resetForm()" tabindex="1">RESET</button>
						</li>
						<li><button class="custom-filled-button" (click)="submitForm()">SAVE</button></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <section class="billing_inforamtion">
			<ul>
				<li><button class="custom-btn savebutton" (click)="submitForm()" [disabled]="disableSubmitButton"
						tabindex="1">SAVE</button></li>
				<li><button class="custom-btn resetbutton" type="reset" (click)="resetForm()"
						tabindex="1">RESET</button>
				</li>
				<li><button class="custom-btn backbutton" type="button" (click)="backButton()" data-toggle="tooltip"
						data-placement="top" title="Clicking back button deletes all fields." tabindex="1">BACK</button>
				</li>
			</ul>
		</section> -->
	</form>
</main>