.cellLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	padding-left    : 0px;
	background-color: #fff;
	max-width       : 50px;
	text-align      : center;
	left            : -6px;
	top             : 30px;
}

.deptTelLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	padding-left    : 0px;
	background-color: #fff;
	max-width       : 130px;
	text-align      : center;
	left            : -6px;
	top             : 30px;
}