<!-- Rates and Taxes -->
<div class="row px-3">
	<div *ngIf="RatesForm" [formGroup]="RatesForm" class="section-container section-dropdown mt-5"
		[ngClass]="{'active': rate_params.chevrons.section, 'col-md-12': init_rates && !init_r_rates, 'col-md-6': init_rates && init_r_rates}"
		[ngStyle]="affiliate_type == 'affiliate' ? {'height': '0', 'padding': '0'} : ''">
		<div class="row cursor-pointer" (click)="toggleDropdown('section')">
			<div class="col-9 col-md-10">
				<h4 class="section-dropdown-header m-0">
					Taxes/Rates
				</h4>
			</div>
			<div class="col-3 col-md-2 text-right">
				<h4 class="m-0">
					<i class="bi"
						[ngClass]="{true: 'bi-chevron-up', false: 'bi-chevron-down'}[rate_params.chevrons.section]"></i>
				</h4>
			</div>
		</div>

		<div [attr.id]="'RateFormItem-' + item_index" class="my-4 px-md-3"
			[formGroupName]="item.key"
			*ngFor="let item of RateForm | keyvalue: returnZero; index as item_index">
			<h5>
				{{ textFormatter(item.key) | titlecase }}
			</h5>
			<div [attr.id]="'RateFormSubItem-' + sub_item_index"
				class="row rates-row align-items-center justify-content-between mx-auto"
				*ngFor="let sub_item of item?.value?.controls | keyvalue: returnZero; index as sub_item_index">
				<!-- Base Rate -->
				<div class="col-6 col-sm-4 col-md-5 my-3" [formGroupName]="sub_item.key"
					*ngIf="sub_item.key !== 'Minimum_Rate'">
					<div class="rate-label">
						<mat-form-field appearance="outline" class="m-0">
							<mat-label>
								{{ textFormatter(sub_item?.value?.controls?.rate_label?.value) |
								titlecase }}
							</mat-label>
							<input type="number" matInput placeholder="0" formControlName="baserate"
								class="font-weight-bolder rate-input-field text-right"
								(focus)="$event.target.select()" />
						</mat-form-field>
						<div class="errors"
							*ngIf="sub_item.key === 'Kilometer_Rate' && trigger_error">
							<div class="error-field">
								<p class="text-danger">
									Rate cannot be less than Minimum Rate
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Distance Value -->
				<div class="col-auto"
					*ngIf="sub_item.key === 'Kilometer_Rate' || sub_item.key === 'Milage_Rate'">
					<div>
						<mat-form-field appearance="outline" class="m-0">
							<mat-label>
								Distance
							</mat-label>
							<input type="number" matInput placeholder="0" [value]="distance"
								style="cursor: not-allowed"
								class="font-weight-bolder rate-input-field text-right" readonly />
						</mat-form-field>
					</div>
				</div>
				<div class="col-auto" *ngIf="item.key === 'taxes'">
					<!-- Matslide Toggle -->
					<div class="d-block d-md-none d-lg-block">
						<mat-slide-toggle
							[checked]="sub_item?.value?.controls?.type?.value == 'percent'"
							(change)="changeValue('RatesForm', item.key, sub_item.key, 'type', $event.checked ? 'percent' : 'flat')">
							<i class="bi mx-1"
								[ngClass]="sub_item?.value?.controls?.type?.value === 'flat' ? 'bi-currency-dollar' : 'bi-percent'"></i>
						</mat-slide-toggle>
					</div>
					<!-- Flat | Percent -->
					<div class="d-none d-md-block d-lg-none">
						<div [formGroupName]="sub_item.key">
							<mat-form-field appearance="outline" class="m-0">
								<mat-label>
									Rate Type
								</mat-label>
								<mat-select formControlName="type">
									<mat-option value="flat"> Flat </mat-option>
									<mat-option value="percent"> Percentage </mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
				<!-- Rate Amount -->
				<div id="rate-amount" class="col-auto" *ngIf="sub_item.key !== 'Minimum_Rate'">
					<div class="rate-amount text-2xl font-weight-bolder text-right">
						<p class="m-0 m-lg-3">
							<i class="bi bi-currency-dollar text-danger"></i>
							{{ sub_item?.value?.controls?.amount.value }}
						</p>
					</div>
				</div>
			</div>
		</div>

		<hr style="border-top: 2.5px solid #000000; " />

		<div class="row px-5 justify-content-between align-items-center">
			<div class="col-9">
				<p class="font-weight-bolder text-uppercase m-0" style="font-size: 2rem;">
					Total
				</p>
			</div>
			<div class="col-3 text-3xl">
				<i class="bi bi-currency-dollar text-danger"></i>
				{{ subtotal }}
			</div>
		</div>

		<hr style="width: 95%; margin: auto; border: 1.3px solid #000000;" />

		<!-- Number of Vehicles/Hours -->
		<div class="row px-5 justify-content-between align-items-center"
			*ngIf="hours !== 0 || vehicles !== 0">
			<div class="col-9">
				<p class="font-weight-bolder text-uppercase m-0" style="font-size: 2rem;">
					Number of {{ hours ? 'Hours' : 'Vehicles' }}
				</p>
			</div>
			<div class="col-3 text-3xl">
				<i class="bi bi-x text-dark font-weight-bolder"></i>
				{{ hours ? hours : 0 }} {{ vehicles ? vehicles : '' }}
			</div>
		</div>

		<hr style="width: 95%; margin: auto; border: 1.3px solid #000000;"
			*ngIf="hours !== 0 || vehicles !== 0" />

		<!-- Total -->
		<div class="row px-5 justify-content-between align-items-center">
			<div class="col-9">
				<p class="font-weight-bolder text-uppercase m-0" style="font-size: 2rem;">
					Grand Total
				</p>
			</div>
			<div class="col-3 text-3xl">
				<i class="bi bi-currency-dollar text-danger"></i>
				{{ grandtotal }}
			</div>
		</div>
	</div>



	<div *ngIf="ReturnRatesForm" [formGroup]="ReturnRatesForm"
		class="section-container section-dropdown mt-5"
		[ngClass]="{'active': rate_params.chevrons.r_section, 'col-md-6': init_r_rates}"
		[ngStyle]="affiliate_type == 'affiliate' ? {'height': '0', 'padding': '0'} : ''">
		<div class="row cursor-pointer" (click)="toggleDropdown('r_section')">
			<div class="col-9 col-md-10">
				<h4 class="section-dropdown-header m-0">
					Return Taxes/Rates
				</h4>
			</div>
			<div class="col-3 col-md-2 text-right">
				<h4 class="m-0">
					<i class="bi"
						[ngClass]="{true: 'bi-chevron-up', false: 'bi-chevron-down'}[rate_params.chevrons.r_section]"></i>
				</h4>
			</div>
		</div>

		<div [attr.id]="'RateFormItem-' + item_index" class="my-4 px-md-3"
			[formGroupName]="item.key"
			*ngFor="let item of ReturnRateForm | keyvalue: returnZero; index as item_index">
			<h5>
				{{ textFormatter(item.key) | titlecase }}
			</h5>
			<div [attr.id]="'RateFormSubItem-' + sub_item_index"
				class="row rates-row align-items-center justify-content-between mx-auto"
				*ngFor="let sub_item of item?.value?.controls | keyvalue: returnZero; index as sub_item_index">
				<!-- Base Rate -->
				<div class="col-6 col-sm-4 col-md-5 my-3" [formGroupName]="sub_item.key"
					*ngIf="sub_item.key !== 'Minimum_Rate'">
					<div class="rate-label">
						<mat-form-field appearance="outline" class="m-0">
							<mat-label>
								{{ textFormatter(sub_item?.value?.controls?.rate_label?.value) |
								titlecase }}
							</mat-label>
							<input type="number" matInput placeholder="0"
								class="font-weight-bolder rate-input-field text-right"
								(focus)="$event.target.select()" formControlName="baserate" />
						</mat-form-field>
						<div class="errors"
							*ngIf="sub_item.key === 'Kilometer_Rate' && trigger_error">
							<div class="error-field">
								<p class="text-danger">
									Rate cannot be less than Minimum Rate
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Distance Value -->
				<div class="col-auto"
					*ngIf="sub_item.key === 'Kilometer_Rate' || sub_item.key === 'Milage_Rate'">
					<div>
						<mat-form-field appearance="outline" class="m-0">
							<mat-label>
								Distance
							</mat-label>
							<input type="number" matInput placeholder="0" [value]="distance"
								style="cursor: not-allowed"
								class="font-weight-bolder rate-input-field text-right" readonly />
						</mat-form-field>
					</div>
				</div>
				<div class="col-auto" *ngIf="item.key === 'taxes'" [formGroupName]="sub_item.key">
					<!-- Matslide Toggle -->
					<div class="d-block d-md-none d-lg-block">
						<mat-slide-toggle
							[checked]="sub_item?.value?.controls?.type?.value == 'percent'"
							(change)="changeValue('ReturnRatesForm', item.key, sub_item.key, 'type', $event.checked ? 'percent' : 'flat')">
							<i class="bi mx-1"
								[ngClass]="sub_item?.value?.controls?.type?.value === 'flat' ? 'bi-currency-dollar' : 'bi-percent'"></i>
						</mat-slide-toggle>
					</div>
					<!-- Flat | Percent -->
					<div class="d-none d-md-block d-lg-none">
						<div>
							<mat-form-field appearance="outline" class="m-0">
								<mat-label>
									Rate Type
								</mat-label>
								<mat-select formControlName="type">
									<mat-option value="flat"> Flat </mat-option>
									<mat-option value="percent"> Percentage </mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
				<!-- Rate Amount -->
				<div id="rate-amount" class="col-auto" *ngIf="sub_item.key !== 'Minimum_Rate'">
					<div class="rate-amount text-2xl font-weight-bolder text-right">
						<p class="m-0 m-lg-3">
							<i class="bi bi-currency-dollar text-danger"></i>
							{{ sub_item?.value?.controls?.amount.value }}
						</p>
					</div>
				</div>
			</div>
		</div>

		<hr style="border-top: 2.5px solid #000000; " />

		<div class="row px-5 justify-content-between align-items-center">
			<div class="col-md-9">
				<p class="font-weight-bolder text-uppercase m-0" style="font-size: 2rem;">
					Total
				</p>
			</div>
			<div class="col-auto text-3xl">
				<i class="bi bi-currency-dollar text-danger"></i>
				{{ r_grand_total }}
			</div>
		</div>
	</div>
</div>