<!-- Rates and Taxes -->
<div *ngIf="RatesForm" [formGroup]="RatesForm">
	<h2>
		Taxes and Rates
	</h2>
	<div [attr.id]="'RateFormItem-' + item_index" class="px-5" [formGroupName]="item.key"
		*ngFor="let item of RateForm | keyvalue: returnZero; index as item_index">
		<h5>
			{{ textFormatter(item.key) | titlecase }}
		</h5>
		<div [attr.id]="'RateFormSubItem-' + sub_item_index"
			class="row rates-row align-items-center justify-content-between mx-auto"
			*ngFor="let sub_item of item?.value?.controls | keyvalue: returnZero; index as sub_item_index">
			<div class="col-5 col-xl-3" style="min-width: 230px" [formGroupName]="sub_item.key">
				<div class="rate-label">
					<mat-form-field appearance="outline">
						<mat-label>
							{{ textFormatter(sub_item?.value?.controls?.rate_label?.value) |
							titlecase }}
						</mat-label>
						<input type="number" matInput placeholder="0" formControlName="baserate"
							class="font-weight-bolder rate-input-field text-right" />
					</mat-form-field>
					<div class="errors" *ngIf="sub_item.key === 'Kilometer_Rate' && trigger_error">
						<div class="error-field">
							<p class="text-danger">
								Rate cannot be less than Minimum Rate
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Kilometers Value -->
			<div class="col-auto"
				*ngIf="item.key === 'Kilometer_Rate' || item.key === 'Milage_Rate'">
				<div style="min-width: 230px; max-width: 250px;">
					<mat-form-field appearance="outline">
						<mat-label>
							Distance
						</mat-label>
						<input type="number" matInput placeholder="0" [value]="distance"
							style="cursor: not-allowed"
							class="font-weight-bolder rate-input-field text-right" readonly />
					</mat-form-field>
				</div>
			</div>
			<!-- Flat | Percent -->
			<div class="col-auto" *ngIf="item.key === 'taxes'">
				<div style="min-width: 230px; max-width: 300px;" [formGroupName]="sub_item.key">
					<mat-form-field appearance="outline">
						<mat-label>
							Rate Type
						</mat-label>
						<mat-select formControlName="type">
							<mat-option value="flat"> Flat </mat-option>
							<mat-option value="percent"> Percentage </mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-3 col-md-2">
				<div class="rate-amount text-2xl font-weight-bolder text-right">
					<p class="m-0 m-lg-3">
						<i class="bi bi-currency-dollar text-danger text-xl"></i>
						{{ sub_item?.value?.controls?.amount.value }}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>