<ngx-spinner></ngx-spinner>
<main>
	<!-- Main page content-->
	<section class="adminbox_shadow user_information">
		<h2 class="headinginfo">Sub Admin Accounts</h2>
		<div class="containeredd">
			<div class="row">
				<div class="col-md-12">
					<button class="custom-btn add-button" (click)="addSubAdminClick(subAdminId)">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-circle"
							viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
							<path
								d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
						</svg> Add Sub Admin Account
					</button>
				</div>
			</div>
			<div class="row">
				<!-- <div class="col-md-12">
              <label class="alert alert-danger">Note: Add each different Sub Admin first. Enter rates and taxes for each Sub Admin.</label>
              </div>
               -->

				<div class="col-md-10 mb-3">
					<mat-form-field appearance="outline">
						<mat-label>Search Filter by Key word</mat-label>
						<input type="text" matInput placeholder="Search Filter by Key word" 
						(keyup)="handleSearchKeyword($event.target.value)"
						id="keyword" [value]="searchText" autofocus>
					</mat-form-field>
				</div>
				<div class="col-md-2 mb-3">
					<button class="custom-btn button2 btnclass btn-shadow" (click)="loadSubAdmin()">SEARCH</button>
				</div>
			</div>
		</div>

		<div class="containeredd driverside_table">
			<div class="row">
				<div class="col-md-12 custom_table">
					<div class="table-responsive">
						<table class="table table-dark table-striped table-bordered dataTable dt-responsive"
						id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;"
						width="100%" cellspacing="0">
						<thead>
							<tr role="row">
									<th>Actions</th>
									<th>Name</th>
									<th>Email</th>
									<th>Mobile</th>
									<th>Address</th>
									<th>City</th>
									<th>State</th>
									<th>Country</th>
									<th>Zip Code</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr role="row" class="odd" *ngFor="let subAdmin of subAdmins">
									<td>
										<a class="user-profileded btn btn-icon btn-transparent-dark dropdown-toggle"
											id="navbarDropdownUserImage" href="javascript:void(0);" role="button"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span>View</span>
										</a>
										<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
											aria-labelledby="navbarDropdownUserImage">
											<a class="dropdown-item" (click)="clickEditSubAdmin(subAdmin.id)">
												<div class="dropdown-item-icon"></div>
												Edit Sub Admin Account
											</a>
										</div>
									</td>
									<td>{{subAdmin.first_name +' '}}{{subAdmin?.middle_name ? subAdmin?.middle_name : ' '}} {{subAdmin.last_name}}</td>
									<td>{{subAdmin.email}}</td>
									<td>{{subAdmin.mobileIsd+subAdmin.mobile}}</td>
									<td>{{subAdmin.address}}</td>
									<td>{{subAdmin.city}}</td>
									<td>{{subAdmin.state}}</td>
									<td>{{subAdmin.country}}</td>
									<td>{{subAdmin.zip}}</td>
									<td>
										<mat-slide-toggle class="example-margin" [color]="color"
											[checked]="subAdmin.status" [disabled]="disabled"
											(change)="enableDisableClicked($event,subAdmin.id)">
										</mat-slide-toggle>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<!----BACK BTN---->
				<nav aria-label="Page navigation example">
					<ul class="pagination pagination-circle pg-blue">
						<li *ngIf="currentPage!=1" class="page-item disabled" (click)="loadSubAdmin(firstPageUrl)"><a
								class="page-link">First</a></li>
						<li *ngIf="currentPage!=1" class="page-item disabled" (click)="loadSubAdmin(prevPageUrl)">
							<a class="page-link" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li *ngFor="let in of counter() ;let i = index"
							[ngClass]="(in==currentPage)?'page-item active':'page-item'"
							(click)="loadSubAdmin(path+'?page='+in)" [disabled]="(in==currentPage)?true:false">
							<a class="page-link">{{in}}</a>
						</li>
						<li *ngIf="currentPage!=lastPage" class="page-item" (click)="loadSubAdmin(nextPageUrl)">
							<a class="page-link" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
						<li *ngIf="currentPage!=lastPage" class="page-item" (click)="loadSubAdmin(lastPageUrl)"><a
								class="page-link">Last</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
</main>