.btnclass {
	margin-top: 18px;
	height    : 60px;
	width     : 100%;
}
.btn-shadow{
    box-shadow: 0px 5px 20px -6px rgb(0 0 0 / 60%);
}
.mat-form-field-hide-placeholder{
	border: solid 3px;
    border-radius: 4px;
}
.clickable
{
    cursor: pointer;
    transition: color 0.1s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
    transition: color 0.1s ease-in-out, text-decoration 0.2s ease-in-out;
    transition: color 0.1s ease-in-out, text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
    &:hover
    {
        text-decoration: underline;
        color: var(--blue);
    }
}

.mb-search{
    margin-bottom: -1rem;
  }

  @media only screen and (max-width: 767px) {
    .mb-search{
      margin-bottom: .5rem;
    }
  }
  
  
.modal#messageModal
{
    .modal-body
    {
        p
        {
            font-size: 1rem;
            font-weight: 500;
            span
            {
                font-size: 1.1rem;
            }
        }
        textarea#message
        {
            width: 100%;
            border-radius: 1rem;
            padding: 1rem;
            max-height: 15rem;
        }
    }
}
