<section class="safety_wrapper user_information affiliate_steps_border_radius">
  <div class="agreement_step0">
    <p>
        Affiliate Registration Document
        <br>
        (non-legalese version)
        <br>
        1-800-Limo Policies, Procedures, Terms & Conditions
    </p>
    <p>
        1-800-LIMO.COM is an on-line global transportation network operating since 2001.  This registration process is for affiliates to upload their data to enable travelers to search for vehicles, drivers, and amenities while simultaneously quoting all-inclusive rates which is unique to our industry.  Our digital sales platform operates in a free-market system to support global travelers and affiliate partners alike.
    </p>
    <h3>Simple, but mandatory requirements</h3>

    <ul>
        <li>Agree with our Mission Statement, Policies and Procedures.</li>
        <li>Professional demeaner always; regardless of rate.</li>
        <li>The minimum vehicles size is a semi-luxury midsize 4-door sedan that can hold two large pieces of luggage and two carry-ons.</li>
        <li>Must be a legal and fully insured operator</li>
        <li>Vehicle is no more than 10 years old or by law. Limo and bus age is unlimited (antique/classic) as long as it passes annual safety inspection with full insurance</li>
        <li>Plan ahead and be prepared. Be on-time “every-time” or communicate any delays</li>
        <li>Be flexible with rates and airport cancellations</li>
        <li>Follow the professional taxi, limo, and bus associations guidelines. Work the legal number of hours per day and use cell phones responsibly by law.</li>
        <li>We collect and pay you the taxes you set and you are responsible to pay those taxes</li>
        <li>Verify that your vehicle has no outstanding recall notices</li>
        <li>Always communicate directly with the client.  Text the Client when En Route and on location.  Give any pick-up instructions.</li>
        <li>Contact 1-800-limo.com immediately with any booking questions, client issues, comments, suggestions or complaints at 1-800-5466-266 or info@1-800-LIMO.COM</li>
        <li>Accept a booking only if you are legal to do so.  Meet all clients’ vehicle type, amenities and driver requests.</li>
        <li>Never farm out a booking.  Always reject if not available from 1-800-LIMO.com</li>
        <li>Depending on weather; always show up in a clean vehicle.  No clutter on dash or seats. Many clients are allergic so do not use artificial odor eliminators or strong cologne.  </li>
        <li>Always check flight status before dispatching a driver</li>
        <li>Never solicit the client with a personal business card even if they request one.  Remind the client they can book you again if available every time if you schedule permits. </li>
        <li>We want to boost your repeat business. </li>
        <li>Never flirt with a client and put yourself or 1-800-LIMO.COM at risk for any reason. Don’t test or push the limits of professionalism.  </li>
        <li>Never argue with a client.  We will handle any disputes and work it out with you and the client which will be addressed the same day.  We will give you an opportunity to remedy it, offer a discount, reimburse in total or our assistance when requested.  We will support you in any way possible; but you must be proactive and create a sense of urgency in all actions. Any legitimate complaint or dispute will be considered a “thumbs down” on your review.</li>
        <li>Follow all booking details and instructions to the letter. Failure to do so is a “thumbs down.”</li>
        <li>You will be rated with a Thumbs Up or Down after each booking…its more logical.  No ambiguous star ratings.  Fix the issue after one thumbs down.</li>
        <li>Two thumbs down for the same reported issue will jeopardize your affiliation.  No exceptions. Always thank the client at the end of the booking.  A standard response would be “I hope you enjoyed the ride and I look forward to the next trip.” Smile and make the client feel important and welcome at all times. </li>
    </ul>
    <p>
        MINIMUM REQUIREMENTS-
        <br>
        At some point you will need to secure a background check through you state on-line FOID card registration process with a passport type photo and fingerprinted.  In Illinois the cost is about $40.00 and 30-60 days to obtain.  We do not encourage gun ownership, however; the FOID application is the most comprehensive background check available and some clients are willing to pay more for safety and security.
        Read the book, “Raving Fans” about providing the best customer service experience by Ken Blanchard and Sheldon Bowles.  
        Some clients respect a quiet ride; but everyone is different.  Get to know them and their preferences but most clients like a quiet ride to the airport or office. 
    </p>
    
    <h3>
        Why 1-800-LIMO.COM
    </h3>
    <p>
        WE’RE YOUR BEST SALES CHANNEL AND TOGETHER WE CAN REACH MORE TRAVELERS UNLIKE ANY OTHER PLATFORM
        <br>
        Enter your wholesale, all-inclusive rates for each vehicle type so travel agents and fellow operators can easily search, compare, book and share revenue
        <br>
        Farm-outs and travel planners earn a minimum 10% commission.
        <br>
        Reduce deadheading and share rides going in the same direction to/from large crowd gatherings – airports, sports arenas and special events.
        <br>
        We are totally transparent with riders, drivers and local governments.
        <br>
        We do not share personal data with any third parties
        <br>
        Set your own rates, schedule and accept or reject any booking.
        <br>
        You and the client see the same rates.  We do not mark it up.
        <br>
        You may add up to a 20% gratuity in your profile.
        <br>
        Match or lower your all-inclusive rates with friendly competitors to keep your share of the volume
        <br>
        Our clients know value and may hand-tip or add an additional tip when finalizing.
        <br>
        Raise or lower rates in real time depending on the season or market conditions
        <br>
        We sell your excess capacity so you can work more efficiently with less deadheading
        <br>
        We earn a 25% commission on each booking.  We pay the charge card fee and the 10% on farm-outs and commission to travel planners.  
        <br>
        Get paid with direct deposit in 3 to 5 business days
    </p>

    <h3>
        What You Need To Get Started Now
    </h3>

    <p>
        7 Easy Steps-Click SAVE on each page-even if incomplete-go back and complete each step
        <br>
        6 Nice interior and Exterior Pix of Each Vehicle
        <br>
        1 Head and Shoulder Driver Pix - smile
        <br>
        Pix of your legal documents; licenses, insurance, bank, and tax info
        <br>
        Follow the 7 Easy Steps
        <br>
        Collectively, We Make the Difference!
    </p>
    
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="agreement" [checked]="agreement" (change)="onCheckboxChange($event)">
        <label class="custom-control-label" for="agreement">I AGREE (clicking AGREE allows you to begin the registering process.) Please follow the simple 8 step process and enter Company Profile, Document Images and One Drive Profile, Vehicle Profile and Rate/Taxes for Network Approval</label>
        <span *ngIf="agreementValidation" class="text-danger">
            Please agree to Affiliate Agreement.
        </span>
    </div>
 

    <h3>
        THANK YOU FOR ADHERING TO OUR HIGH STANDARDS AND WANTING TO WORK WITH THE BEST.
    </h3>

    <button class="custom-btn button2" (click)="submitForm()">AGREE</button>
  </div>
</section>