.vehtype_extint img {
	height: 225px;
	border-radius: 15px;
}
.vehtype_extint .emptyImage {
	height: 225px;
	border-radius: 15px;
}
.vehtype_extint .emptyImage img {
	width: 100%;
	object-fit: cover;
	cursor: zoom-in;
}

.savebutton,
.backbutton {
	padding: 10px 40px !important;
}

.custom-btn {
	border-radius: 1.25rem;
}
