.scrollTopButton {
    position: fixed;
    bottom: 65px;
    right: 3px;
    opacity: 0;
    z-index: 0;
    transition: all .2s ease-in-out;
}

.scrollDownButton {
    position: fixed;
    bottom: 65px;
    right: 3px;
    opacity: 0;
    z-index: 0;
    transition: all .2s ease-in-out;
}

.show-scrollDown
{
    opacity: 1;
    z-index: 999;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    opacity: 1;
    z-index: 999;
    transition: all .2s ease-in-out;
}



.rotate-btn{
    transform: rotate(180deg);
}
