.btnclass
{
    margin-top: 25px;
    height: 60px;
    width: 100%;
}
.mat-form-field-hide-placeholder{
	border: solid 3px;
    border-radius: 4px;
}
 .mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.3675em !important;
}

table {
	width: 100;
	white-space: break-spaces;
	padding: 10px;
	min-width: 5rem;

	thead th {
		color: #000000;
		font-weight: 600;
	}

	tbody td>p {
		margin: 0;
	}
}

.x-cross-btn {
	background: #fff !important;
	color: #ff0000 !important;
	/* position: absolute; */
	top: 5px;
	right: 15px;
	border-radius: 20px;
	width: 25px;
	opacity: 1 !important;
}

.x-close-btn {
	float: right;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1;
	border: none;
	z-index: 10;
}

a:hover {
	text-decoration: none;
	color: unset !important;
}

.dropdown-item{
	padding: 0.7rem 1.8rem !important;
	font-size: 16px;
}
.clickable
{
    cursor: pointer;
    transition: color 0.1s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
    transition: color 0.1s ease-in-out, text-decoration 0.2s ease-in-out;
    transition: color 0.1s ease-in-out, text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
    &:hover
    {
        text-decoration: underline;
        color: var(--blue);
    }
}
.modal#messageModal
{
    .modal-body
    {
        p
        {
            font-size: 1rem;
            font-weight: 500;
            span
            {
                font-size: 1.1rem;
            }
        }
        textarea#message
        {
            width: 100%;
            border-radius: 1rem;
            padding: 1rem;
            max-height: 15rem;
        }
    }
}
