<ngx-spinner></ngx-spinner>
<main>
	<!-- Main page content-->
	<section class="adminbox_shadow user_information">
		<h2 class="headinginfo"> Individual Accounts </h2>
		<div class="containeredd">
			<div class="row">
				<div class="col-md-12">
					<button class="custom-btn add-button" (click)="addIndividualClick(individualId)">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-circle"
							viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
							<path
								d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
						</svg> Add Individual Accounts
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label class="alert alert-danger">Note: Add each different individual first. Enter rates and taxes
						for each individual.</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 mt-3 mb-3">
					<mat-form-field appearance="outline">
						<mat-label>Type here to search</mat-label>
						<input type="text" matInput placeholder="Search Filter by Key word" 
						(keyup)="loadIndividuals()"
						id="keyword" autofocus>
					</mat-form-field>
				</div>
				<!-- <div class="col-md-2  mt-3 mb-3">
					<button class="custom-btn button2 btnclass" (click)="loadIndividuals()">SEARCH</button>
				</div> -->
			</div>
		</div>

<!-- new table design -->


<div class="containeredd driverside_table">
	<div class="row">
		<div class="col-md-12 custom_table">
			<div class="table-responsive" style="min-height: 350px">
				<table class="table table-dark table-striped table-bordered dataTable dt-responsive"
					id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
					<thead>
						<tr role="row">
							<th>Actions</th>
							<th>Status</th>
							<th>Name</th>
							<th>Email</th>
							<th>Mobile</th>
							<th>Address</th>
							<th>City</th>
							<th>State</th>
							<th>Country</th>
						</tr>
					</thead>
					<tbody >
						<tr role="row" class="odd" *ngFor="let individual of individuals">
							<td>
								<a class="user-profileded view-button btn-transparent-dark dropdown-toggle"
									id="navbarDropdownUserImage" href="javascript:void(0);" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span>View</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
									aria-labelledby="navbarDropdownUserImage">
									<a class="dropdown-item" (click)="clickEditIndividual(individual.id)">
										<div class="dropdown-item-icon"></div>
										Edit Individual Account
									</a>
									<a class="dropdown-item" (click)="clickIndividualCards(individual.id)">
										<div class="dropdown-item-icon" *></div>
										View Cards
									</a>
								</div>
							</td>
							<td class="text-center font-weight-bolder cursor-pointer text-underline">
								<mat-slide-toggle class="example-margin" [color]="color"
									[checked]="individual.status" [disabled]="disabled"
									(change)="enableDisableClicked($event,individual.id)">
								</mat-slide-toggle>
							</td>
							<td *ngIf="individual.middle_name == null;else middleName">{{individual.first_name+' '+individual.last_name}}</td>
								<ng-template #middleName>
									<td>{{individual.first_name+' '+individual.middle_name+' '+individual.last_name}}</td>
								</ng-template>
								<td>{{individual.email}}</td>
								<td>{{individual.mobileIsd+individual.mobile}}</td>
								<td>{{individual.address}}</td>
								<td>{{individual.city}}</td>
								<td>{{individual.state}}</td>
								<td>{{individual.country}}</td>
					</tbody>
				</table>
			</div>
			<!-- <p class="text-danger text-lg" *ngIf="noError">
				No Results Found.
			</p> -->
		</div>
		<!----PAGINATION---->
		<!----BACK BTN---->
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-circle pg-blue">
				<li *ngIf="currentPage!=1" class="page-item disabled" (click)="loadIndividuals(firstPageUrl)"><a
						class="page-link">First</a></li>
				<li *ngIf="currentPage!=1" class="page-item disabled" (click)="loadIndividuals(prevPageUrl)">
					<a class="page-link" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
				<li *ngFor="let in of counter() ;let i = index"
					[ngClass]="(in==currentPage)?'page-item active':'page-item'"
					(click)="loadIndividuals(path+'?page='+in)" [disabled]="(in==currentPage)?true:false">
					<a class="page-link">{{in}}</a>
				</li>
				<li *ngIf="currentPage!=lastPage" class="page-item" (click)="loadIndividuals(nextPageUrl)">
					<a class="page-link" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
				<li *ngIf="currentPage!=lastPage" class="page-item" (click)="loadIndividuals(lastPageUrl)"><a
						class="page-link">Last</a></li>
			</ul>
		</nav>
	</div>
</div>
<!-- design end -->
		<!-- <div class="containeredd driverside_table">
			<div class="row">
				<div class="col-md-12 custom_table table-responsive">
					<table class="table table-striped dataTable dt-responsive" id="dataTable" role="grid"
						aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
						<thead>
							<tr role="row">
								<th>Name</th>
								<th>Email</th>
								<th>Mobile</th>
								<th>Work</th>
								<th>Address</th>
								<th>City</th>
								<th>State</th>
								<th>Country</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" class="odd" *ngFor="let individual of individuals">
								<td *ngIf="individual.middle_name == null;else middleName">{{individual.first_name+' '+individual.last_name}}</td>
								<ng-template #middleName>
									<td>{{individual.first_name+' '+individual.middle_name+' '+individual.last_name}}</td>
								</ng-template>
								<td>{{individual.email}}</td>
								<td>{{individual.mobileIsd+individual.mobile}}</td>
								<td>{{individual.workIsd+individual.work_contact_number}}</td>
								<td>{{individual.address}}</td>
								<td>{{individual.city}}</td>
								<td>{{individual.state}}</td>
								<td>{{individual.country}}</td>
								<td>
									<mat-slide-toggle class="example-margin" [color]="color"
										[checked]="individual.status" [disabled]="disabled"
										(change)="enableDisableClicked($event,individual.id)">
									</mat-slide-toggle>
								</td>
								<td>
									<a class="user-profileded btn btn-icon btn-transparent-dark dropdown-toggle"
										id="navbarDropdownUserImage" href="javascript:void(0);" role="button"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span>View</span>
									</a>
									<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
										aria-labelledby="navbarDropdownUserImage">
										<a class="dropdown-item" (click)="clickEditIndividual(individual.id)">
											<div class="dropdown-item-icon"></div>
											Edit Individual Account
										</a>
										<a class="dropdown-item" (click)="clickIndividualCards(individual.id)">
											<div class="dropdown-item-icon"></div>
											View Cards
										</a>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div> -->
	</section>
</main>