<section class="section-container">
	<div class="container" id="print-section">
		<h3 class="font-weight-bolder mb-1 text-center">Finalize Booking</h3>
		<hr>
		<div class="invoicesum_header">
			<div class="row">
				<div class="col-md-6">
					<h3 class="text-lg pl-0">Booking # {{ BookingDetail?.reservation_id }}</h3>
				</div>
				<div class="col-md-6 text-right">
					<h3 class="text-lg pl-0">Payment Status # {{ BookingDetail?.payment_status }}</h3>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-md-4">
					<p>Service Type <strong>{{ textFormatter(BookingDetail?.service_type) | titlecase }}</strong>
					</p>
				</div>
				<div class="col-md-4">
					<p>Booking Type <strong>{{ textFormatter(BookingDetail?.transfer_type) | titlecase }}</strong>
					</p>
				</div>
				<div class="col-md-4">
					<p>Booking Status <strong>{{ BookingDetail?.booking_status | titlecase }}</strong></p>
				</div>
			</div>
		</div>

		<div class="invoicesum_dtl">
			<!-- Pickup Date and Time -->
			<div class="row">
				<div class="col-md-4 field">
					<p>Quote Amount </p>
					<strong>$ {{ BookingDetail?.grand_total }}</strong>
				</div>
				<div class="col-md-4 field">
					<p>Pickup Date </p>
					<strong>{{ dateFormat2(BookingDetail?.pickup_date) }} | {{ dateFormat(BookingDetail?.pickup_date)
						}}</strong>
				</div>
				<div class="col-md-4 field">
					<p>Pickup Time</p>
					<strong>{{ timeFormat2(BookingDetail?.pickup_time) }} |
						{{ timeFormat(BookingDetail?.pickup_time) }}</strong>
				</div>
				<!-- Driver Details -->
				<div class="col-md-4 field">
					<p>Driver Name </p>
					<strong>{{ BookingDetail?.driver_name | titlecase }}</strong>
				</div>
				<div class="col-md-4 field">
					<p>Driver Email</p>
					<strong>{{ BookingDetail?.driver_email }}</strong>
				</div>

				<div class="col-md-4 field">
					<p>Driver Phone</p>
					<strong>{{ BookingDetail?.driver_cell_isd }}{{ BookingDetail?.driver_cell }}</strong>
				</div>
				<!-- Passenger Details -->
				<div class="col-md-4 field">
					<p>Passenger Name </p>
					<strong>{{ BookingDetail?.passenger_name | titlecase }}</strong>
				</div>
				<div class="col-md-4 field">
					<p>Passenger Email</p>
					<strong>{{ BookingDetail?.passenger_email }}</strong>
				</div>

				<div class="col-md-4 field">
					<p>Passenger Phone</p>
					<strong>{{ BookingDetail?.passenger_cell_isd }}{{ BookingDetail?.passenger_cell }}</strong>
				</div>
				<!-- Pickup Details One Way -->
				<div class="col-md-4 field"
					*ngIf="transferType?.includes('city_') || transferType?.includes('cruise_')">
					<p>Pickup Address</p>
					<strong>{{ BookingDetail?.pickup_address }}</strong>
				</div>
				<!-- Pickup Details Airport -->
				<div class="col-md-4 field" *ngIf="transferType?.includes('airport_')">
					<p>Pickup Airport </p>
					<strong>{{ BookingDetail?.pickup_airport_name | titlecase }}</strong>
				</div>
				<div class="col-md-4 field" *ngIf="transferType?.includes('airport_')">
					<p>Pickup Airline</p>
					<strong>{{ BookingDetail?.pickup_airline_name | titlecase }}</strong>
				</div>
				<div class="col-md-4 field" *ngIf="transferType?.includes('airport_')">
					<p>Pickup Flight</p>
					<strong>{{ BookingDetail?.pickup_flight }}</strong>
				</div>
				<!-- Pickup Details Cruise Port -->
				<div class="col-md-4 field" *ngIf="transferType?.includes('cruise_')">
					<p>Cruise Port </p>
					<strong>{{ BookingDetail?.cruise_port | titlecase }}</strong>
				</div>
				<div class="col-md-4 field" *ngIf="transferType?.includes('cruise_')">
					<p>Cruise Name</p>
					<strong>{{ BookingDetail?.cruise_name | titlecase }}</strong>
				</div>
				<div class="col-md-4 field" *ngIf="transferType?.includes('cruise_')">
					<p>Cruise Time</p>
					<strong>{{ timeFormat2(BookingDetail?.cruise_time) }} |
						{{ timeFormat(BookingDetail?.cruise_time) }}</strong>
				</div>
				<!-- Dropoff Details One Way -->
				<div class="col-md-4 field"
					*ngIf="transferType?.includes('_city') || transferType?.includes('_cruise')">
					<p>DropOff Address </p>
					<strong>{{ BookingDetail?.dropoff_address }}</strong>
				</div>
				<!-- Dropoff Details Airport -->
				<div class="col-md-4 field" *ngIf="transferType?.includes('_airport')">
					<p>DropOff Airport </p>
					<strong>{{ BookingDetail?.dropoff_airport_name | titlecase }}</strong>
				</div>
				<div class="col-md-4 field" *ngIf="transferType?.includes('_airport')">
					<p>DropOff Airline</p>
					<strong>{{ BookingDetail?.dropoff_airline_name | titlecase }}</strong>
				</div>
				<div class="col-md-4 field" *ngIf="transferType?.includes('_airport')">
					<p>DropOff Flight</p>
					<strong>{{ BookingDetail?.dropoff_flight | titlecase }}</strong>
				</div>
				<!-- Dropoff Details Cruise Port -->
				<div class="col-md-4 field" *ngIf="transferType?.includes('_cruise')">
					<p>Dropoff Cruise Port </p>
					<strong>{{ BookingDetail?.cruise_port | titlecase }}</strong>
				</div>
				<div class="col-md-4 field" *ngIf="transferType?.includes('_cruise')">
					<p>Dropoff Cruise Name</p>
					<strong>{{ BookingDetail?.cruise_name | titlecase }}</strong>
				</div>
				<div class="col-md-4 field" *ngIf="transferType?.includes('_cruise')">
					<p>Dropoff Cruise Time</p>
					<strong>{{ timeFormat2(BookingDetail?.cruise_time) }} |
						{{ timeFormat(BookingDetail?.cruise_time) }}</strong>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Rates Section -->
<app-finalize-rates class="d-flex flex-wrap finalize-rates" [initRates]="init_rates"
	[affiliate_type]="'loose_affiliate'" (formvalue)="RateFormValue($event)" [distance]="finalize_params.distance"
	[reservation_id]="finalize_params.booking_id" [reset]="false" [hours]="finalize_params.number_of_hours"
	[vehicles]="finalize_params.number_of_vehicles" (returnformvalue)="ReturnRateFormValue($event)"
	(isSectionOpen)="showSaveButton($event)">
</app-finalize-rates>
<div class="row mb-3">
	<div class="col-md-12 text-right" *ngIf="visibility">
		<button type="button" class="custom-filled-button ratesButton m-3" (click)="submitForm()">
			Save
		</button>
	</div>
</div>


<!-- Rates Section End -->

<!-- Payment Section -->
<section class="section-container" *ngIf="BookingDetail.payment_status=='unpaid'">
	<div class="col-md-12 p-0" (click)="handlePaymentSection()">
		<h4 class="section-dropdown-header mb-0">
			Payment
		</h4>
		<p [ngClass]="chevron ? 'bi bi-chevron-down' : 'bi bi-chevron-up'"></p>
	</div>
	<div class="row" *ngIf="paymentSection">

		<!-- RADIO BUTTONS -->
		<div class="col-md-12 cardSection">
			<div class="radio">
				<input id="card" name="paymentMethod" type="radio" (click)="changeDetection('card')">
				<label for="card" class="radio-label">Payment with Card</label>
			</div>
			<div class="methodCard" *ngIf="paymentMethod=='card'">
				<table class="table table-borderless">
					<thead class="bg-transparent">
						<tr>
							<th scope="col"></th>
							<th scope="col">Name on Card</th>
							<th scope="col">Card Number</th>
							<th scope="col">Expires on</th>
						</tr>
					</thead>
					<tbody *ngIf="CardsInformation.length > 0; else noData">
						<tr *ngFor="let item of CardsInformation">
							<td>
								<input id="selectCard" name="selectCard" type="radio"
									(click)="changeDetection('card'); handleChangeCard(item)"
									[checked]="item.cc_prority=='Primary' && !isCardFormOpen">
							</td>
							<td>{{item.name}}</td>
							<td>{{item.last4}}</td>
							<td>{{item.exp_month}}/{{item.exp_year}}</td>
						</tr>
					</tbody>
					<ng-template #noData>
						<tbody>
							<p class="text-danger text-lg">No
								Card Found !</p>
						</tbody>
					</ng-template>
				</table>
				<a class="addCardClass" (click)="changeDetection('new_card')">
					<input id="card" name="AddCard" type="radio" [checked]="isCardFormOpen">
					<img src="../../../../assets/images/credit-card.png" alt="">
					Add a credit or debit card</a>
			</div>
			<!-- Credit Card Details -->

			<form class="container-fluid" [formGroup]="cardForm" appInvalidControlScroll>

				<div id="credit-card-details" class="mt-4 px-4" *ngIf="paymentMethod=='card' && isCardFormOpen">
					<h6>
						Card Details
					</h6>
					<div class="row">
						<!-- Card Holder Name -->
						<div class="col-md-4 my-2">
							<mat-form-field appearance="outline">
								<mat-label class="required-field">
									Card Holder
								</mat-label>
								<input matInput placeholder="First & Last Name" type="text" formControlName="name"
									tabindex="0" (focus)="$event.target.select()">
							</mat-form-field>
							<div class="error-message"
								*ngIf="cardForm.controls.name.invalid && (cardForm.controls.name.touched || cardForm.controls.name.dirty)">
								<p class="text-danger text-lg m-0" *ngIf="cardForm.controls.name.errors?.required">
									This field is required
								</p>
								<div class="text-danger text-lg m-0" *ngIf="cardForm.controls.name.errors?.pattern">
									Only character allowed
								</div>
							</div>
						</div>
						<!-- Card Number -->
						<div class="col-md-4 my-2">
							<mat-form-field appearance="outline">
								<mat-label class="required-field">
									Card Number
								</mat-label>
								<input matInput placeholder="xxxx xxxx xxxx xxxx" type="text"
									formControlName="card_number" tabindex="0" (focus)="$event.target.select()">
							</mat-form-field>
							<div class="error-message"
								*ngIf="cardForm.controls.card_number.invalid && (cardForm.controls.card_number.touched || cardForm.controls.card_number.dirty)">
								<p class="text-danger text-lg m-0"
									*ngIf="cardForm.controls.card_number.errors?.required">
									This field is required
								</p>
								<div class="text-danger text-lg m-0"
									*ngIf="cardForm.controls.card_number.errors.minlength;">Required min 12 no.
								</div>
								<div class="text-danger text-lg m-0"
									*ngIf="cardForm.controls.card_number.errors.maxlength">Exceeded max limit
								</div>
								<!-- <ng-template #invalidPattern > -->
								<div class="text-danger text-lg m-0"
									*ngIf="cardForm.controls.card_number.errors.pattern;">Invalid card number
								</div>
								<!-- </ng-template> -->
							</div>
						</div>

						<!-- Expiration Month -->
						<div class="col-md-4 my-2">
							<mat-form-field appearance="outline">
								<mat-label class="required-field">
									Expiration Month
								</mat-label>
								<mat-select formControlName="exp_month" tabindex="0">
									<mat-option value='01'>01</mat-option>
									<mat-option value='02'>02</mat-option>
									<mat-option value='03'>03</mat-option>
									<mat-option value='04'>04</mat-option>
									<mat-option value='05'>05</mat-option>
									<mat-option value='06'>06</mat-option>
									<mat-option value='07'>07</mat-option>
									<mat-option value='08'>08</mat-option>
									<mat-option value='09'>09</mat-option>
									<mat-option value='10'>10</mat-option>
									<mat-option value='11'>11</mat-option>
									<mat-option value='12'>12</mat-option>
								</mat-select>
							</mat-form-field>
							<div class="error-message"
								*ngIf="cardForm.controls.exp_month.invalid && (cardForm.controls.exp_month.touched || cardForm.controls.exp_month.dirty)">
								<p class="text-danger text-lg m-0" *ngIf="cardForm.controls.exp_month.errors?.required">
									This field is required
								</p>
							</div>
						</div>

						<!-- Expiration Year -->
						<div class="col-md-4 my-2">
							<mat-form-field appearance="outline">
								<mat-label class="required-field">
									Expiration Year
								</mat-label>
								<mat-select formControlName="exp_year" tabindex="0">
									<mat-option [value]="number" *ngFor="let number of card_params.years">
										{{ number }}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<div class="error-message"
								*ngIf="cardForm.controls.exp_year.invalid && (cardForm.controls.exp_year.touched || cardForm.controls.exp_year.dirty)">
								<p class="text-danger text-lg m-0" *ngIf="cardForm.controls.exp_year.errors?.required">
									This field is required
								</p>
							</div>
						</div>

						<!-- CVV -->
						<div class="col-md-4 my-2">
							<mat-form-field appearance="outline">
								<mat-label class="required-field">
									CVV
								</mat-label>
								<input matInput placeholder="0000" type="text" tabindex="0"
									(focus)="$event.target.select()" formControlName="cvv">
							</mat-form-field>
							<div class="error-message"
								*ngIf="cardForm.controls.cvv.invalid && (cardForm.controls.cvv.touched || cardForm.controls.cvv.dirty)">
								<p class="text-danger text-lg m-0" *ngIf="cardForm.controls.cvv.errors?.required">
									This field is required
								</p>
								<p class="text-danger text-lg m-0" *ngIf="cardForm.controls.cvv.errors?.pattern">
									Contains only numbers
								</p>
								<p class="text-danger text-lg m-0" *ngIf="cardForm.controls.cvv.errors?.maxlength">
									Contains atmost 4 digit
								</p>
							</div>
						</div>
						<div class="col-md-12">
							<mat-checkbox [color]="primary" formControlName="save_card_detail">Save
								details</mat-checkbox>
						</div>
					</div>
				</div>
			</form>

		</div>
		<div class="col-md-12 my-3 cardSection">
			<div class="radio">
				<input id="cash" name="paymentMethod" type="radio" checked (click)="changeDetection('cash')">
				<label for="cash" class="radio-label">Payment with Cash</label>
			</div>
		</div>

		<div class="col-md-12 text-right">
			<button type="button" class="custom-filled-button m-3" (click)="makePayment()">
				Pay
			</button>
		</div>
	</div>
</section>
<!-- Payment Section End -->