<main>
    <form [formGroup]="profileForm" appInvalidControlScroll>
        <section class="user_information">
            <h2 class="headinginfo adminbox_shadow">{{userId ? "Edit" : "Add"}} Loose Affiliate Account</h2>
            <div class="container mt-1 ">
                <div class="row ">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Business Name</mat-label>
                            <input #nameInput formControlName="name" type="text" matInput placeholder="Name"
                                (focus)="$event.target.select()" tabindex="1">
                        </mat-form-field>
                        <!-- <div *ngIf="submittedForm && f.name.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.name.errors.required">This field is required</div>
                        </div> -->
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Owner / Operator Name </mat-label>
                            <input formControlName="operator_name" type="text" matInput
                                placeholder="Owner / Operator Name" (focus)="$event.target.select()" tabindex="1">
                        </mat-form-field>
                        <!-- <div *ngIf="submittedForm && f.name.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.name.errors.required">This field is required</div>
                        </div> -->
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="mobileField">
                            <mat-label>Mobile<span class="asterisk"> *</span></mat-label>
                            <div class="input-with-icon">
                                <input matInput #phoneInput placeholder="Mobile" formControlName="phone"
                                    class="phoneNumberClass" tabIndex="1" (focus)="$event.target.select()"
                                    (keypress)="numberOnly($event)" (input)="validatePhone('phone', MobileObject)"
                                    (blur)="validatePhone('phone', MobileObject)" />
                                <a class="phone_icon" *ngIf="userId"
                                    href="tel:{{f?.phone_isd?.value}}{{f?.phone?.value}}">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 122.88 122.88">
                                        <defs>
                                            <style>
                                                .phoneCls-1 {
                                                    fill: #33a867;
                                                    fill-rule: evenodd;
                                                }
                                            </style>
                                        </defs>
                                        <path class="phoneCls-1"
                                            d="M61.44,0A61.46,61.46,0,1,1,18,18,61.21,61.21,0,0,1,61.44,0ZM48.1,56.19A49.35,49.35,0,0,0,55.39,66.4a41.25,41.25,0,0,0,11.55,8.51,1.14,1.14,0,0,0,1,0,4.48,4.48,0,0,0,1.39-1A16.91,16.91,0,0,0,70.6,72.4c1.85-2.44,4.15-5.47,7.39-4l.2.11L89,74.77l.11.07a4.84,4.84,0,0,1,2,4.2,11.43,11.43,0,0,1-1.58,5.37,11.06,11.06,0,0,1-5.2,4.6A23.63,23.63,0,0,1,78,90.75a21.69,21.69,0,0,1-9.8-.82,43.06,43.06,0,0,1-9.85-4.76L58.05,85c-1.6-1-3.33-2.07-5-3.33a62.69,62.69,0,0,1-16.65-18.9c-3.46-6.26-5.34-13-4.32-19.44a14,14,0,0,1,4.72-8.85A12.68,12.68,0,0,1,46.18,32a1.35,1.35,0,0,1,1.09.7L54.21,44.4a3.68,3.68,0,0,1,.59,3.92,7.71,7.71,0,0,1-2.66,3c-.37.32-.82.64-1.29,1-1.55,1.12-3.32,2.42-2.71,4l0-.05Z" />
                                    </svg>
                                </a>
                            </div>
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.phone.errors || f.phone.touched && f.phone.errors || f.phone.dirty && f.phone.errors"
                            class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.phone.errors.required">This field is required</div>
                            <div *ngIf="f.phone.errors['invalidIntl']">{{ f.phone.errors['invalidIntl'] }}</div>
                        </div>
                        <div *ngIf="f.phone.errors" class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.phone.errors?.invalid_Pattern; else plusError">Do not add Dashes with
                                numbers
                            </div>
                            <ng-template #plusError>
                                <div *ngIf="f.phone.errors?.invalidPattern; else allErrors">Do not enter + sign
                                </div>
                                <ng-template #allErrors>
                                    <!-- <div *ngIf="f.phone.errors?.pattern; else numberLength">Enter Numbers Without
                                        Spaces
                                        or Dashes</div> -->
                                    <!-- <ng-template #numberLength>
                                        <div *ngIf="f.phone.errors.minlength">Minimum length should be 7</div>
                                        <div *ngIf="f.phone.errors.maxlength">Maximum length should be 15</div>
                                    </ng-template> -->
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="mobileField">
                            <mat-label>Work</mat-label>
                            <input matInput #workInput placeholder="Work" formControlName="work"
                                class="phoneNumberClass" tabIndex="1" (focus)="$event.target.select()"
                                (keypress)="numberOnly($event)" (input)="validatePhone('work', OfficeObject)"
                                (blur)="validatePhone('work', OfficeObject)" />
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.work.errors || f.work.touched && f.work.errors || f.work.dirty && f.work.errors"
                            class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.work.errors.required">This field is required</div>
                            <div *ngIf="f.work.errors['invalidIntl']">{{ f.work.errors['invalidIntl'] }}</div>
                        </div>
                        <div *ngIf="f.work.errors" class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.work.errors?.invalid_Pattern;else plusError">Do not add
                                Dashes
                                with numbers</div>
                            <ng-template #plusError>
                                <div *ngIf="f.work.errors?.invalidPattern;else allErrors">Do not
                                    enter +
                                    sign</div>
                                <ng-template #allErrors>
                                    <!-- <div *ngIf="f.work.errors?.pattern;else numberLength">Enter
                                        Numbers Without
                                        Spaces or Dashes
                                    </div> -->
                                    <ng-template #numberLength>
                                        <div *ngIf="f.work.errors.minlength">Minimum length should
                                            be 4</div>
                                        <div *ngIf="f.work.errors.maxlength">Maximum length should
                                            be 15</div>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail </mat-label>
                            <input formControlName="email" type="text" matInput placeholder="E-mail"
                                (focus)="$event.target.select()" tabindex="1">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.email?.errors || f?.email?.touched && f?.email?.errors"
                            class="text-danger">
                            <div *ngIf="f?.email?.errors?.required">This field is required</div>
                            <div *ngIf="f?.email?.errors?.pattern">Email format should be valid</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ng-select class="language-select" [class.language-select-has-value]="profileForm.get('language')?.value?.length"
                            appearance="outline" [items]="languageList" bindLabel="name" bindValue="id"
                            formControlName="language" [multiple]="true" [searchable]="true" [closeOnSelect]="false"
                            [clearSearchOnAdd]="true"
                            dropdownPosition="bottom" appendTo="body"
                            placeholder="Chose or Enter More Languages" tabindex="1">
                        </ng-select>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Address </mat-label>
                            <input #search1 formControlName="address" type="text" matInput placeholder="Address"
                                (focus)="$event.target.select()" tabindex="1">
                            <button matSuffix type="button" class="address-clear-btn"
                                *ngIf="f?.address?.value || search1?.value"
                                (click)="clearAddressField()" aria-label="Clear address">
                                <svg width="21" height="20" fill="none" viewBox="0 0 21 20">
                                    <path fill="#1f1f1f" fill-rule="evenodd"
                                        d="M10.8 0a10 10 0 100 20 10 10 0 100-20m2.59 6L10.8 8.59 8.21 6 6.8 7.41 9.39 10 6.8 12.59 8.21 14l2.59-2.59L13.39 14l1.41-1.41L12.21 10l2.59-2.59zM2.8 10a8.01 8.01 0 0016 0 8.01 8.01 0 00-16 0"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </mat-form-field>
                        <!-- <textarea placeholder="Address" formControlName="address"></textarea> -->
                        <div *ngIf="submittedForm && f?.address?.errors || f?.address?.touced && f?.address?.errors"
                            class="text-danger">
                            <div *ngIf="f?.address?.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="example-full-width"
                            [ngClass]="(f.badge_city_name.value) ? '' : 'red-placeholder' ">
                            <mat-label [ngClass]="(f.badge_city_name.value) ? '' : 'red-placeholder' ">Badge city (Enter
                                Largest
                                Major City You Service)
                            </mat-label>
                            <input type="text" placeholder="Enter Largest Major City You Service" aria-label="Number"
                                matInput formControlName="badge_city_name" [matAutocomplete]="auto"
                                (keyup)="handleBadgeCity($event.target.value)" (focus)="$event.target.select()"
                                [ngClass]="(f.badge_city_name.value) ? '' : 'red-placeholder' " tabindex="1">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions"
                                    (onSelectionChange)="selectBadgeCity(option,$event.isUserInput)"
                                    [value]="option.name">
                                    {{option.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="col-md-12">
                <div class="billing_inforamtion ">
                    <ul class="d-flex justify-content-center" style="gap:30px;">
                        <li>
                            <button class="custom-filled-back-button" (click)="backButton()">
                                <svg width="41" height="16" viewBox="0 0 41 16" fill="#fff"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M37.963 0.500001H0.5L0.5 2H19.7407H36.963C37.7914 2 38.463 2.67157 38.463 3.5V9C38.463 9.82843 37.7914 10.5 36.963 10.5H19.7407H19.2407V10V6.59305L14.4313 10.75L19.2407 14.907V13V12.5H19.7407H37.963C38.6378 12.5 39.2838 12.2351 39.7591 11.7656C40.2342 11.2963 40.5 10.661 40.5 10V2.5C40.5 1.82723 40.2315 1.35011 39.8074 1.0275C39.3675 0.692862 38.7244 0.500001 37.963 0.500001Z"
                                        fill="#fff" stroke="#fff" />
                                </svg>
                            </button>
                        </li>
                        <!-- <li>
                            <button class="custom-filled-reset-button" (click)="resetForm()" tabIndex="2">
                                RESET
                            </button>
                        </li> -->
                        <li><button class="custom-filled-button" (click)="submitForm()" tabIndex="1">
                                SAVE
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</main>
