<main>
    <form [formGroup]="profileForm" appInvalidControlScroll>
        <section class="user_information">
            <h2 class="headinginfo adminbox_shadow">{{userId ? "Edit" : "Add"}} Loose Affiliate Account</h2>
            <div class="container mt-1 ">
                <div class="row ">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Business Name <span class="asterisk">*</span></mat-label>
                            <input formControlName="name" type="text" matInput placeholder="Name"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.name.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.name.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Owner / Operator Name </mat-label>
                            <input formControlName="operator_name" type="text" matInput placeholder="Owner / Operator Name"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <!-- <div *ngIf="submittedForm && f.name.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.name.errors.required">This field is required</div>
                        </div> -->
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="mat-custom-phone cellLabelClass">
                            <label class="mat-form-field-label mat-empty mat-form-field-empty labelClass">Mobile<span
                                    class="asterisk"> *</span></label>
                            <input matInput placeholder="Mobile" formControlName="phone" ng2TelInput
                                [ng2TelInputOptions]="{'initialCountry': defaultCountryCode,'preferredCountries': ['us','in','ca','mx','gb']}"
                                placeholder="1234567890" class="phoneNumberClass"
                                (countryChange)="onCountryChange($event,'phone')"
                                (intlTelInputObject)="telInputObjectMobile($event)" tabIndex="1"
                                (focus)="$event.target.select()" />
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.phone.errors || f.phone.touched && f.phone.errors"
                            class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.phone.errors.required">This field is required</div>
                        </div>
                        <div *ngIf="f.phone.errors" class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.phone.errors?.invalid_Pattern;else plusError">Do not add
                                Dashes
                                with numbers</div>
                            <ng-template #plusError>
                                <div *ngIf="f.phone.errors?.invalidPattern;else allErrors">Do not
                                    enter +
                                    sign</div>
                                <ng-template #allErrors>
                                    <div *ngIf="f.phone.errors?.pattern;else numberLength">Enter
                                        Numbers Without
                                        Spaces or Dashes
                                    </div>
                                    <ng-template #numberLength>
                                        <div *ngIf="f.phone.errors.minlength">Minimum length should
                                            be 4</div>
                                        <div *ngIf="f.phone.errors.maxlength">Maximum length should
                                            be 15</div>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>

                   
                    <!-- <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Country <span class="asterisk">*</span></mat-label>
                            <input formControlName="country" type="text" matInput placeholder="Country">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.country?.errors" class="text-danger">
                            <div *ngIf="f?.country?.errors?.required">This field is required</div>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="mat-custom-phone cellLabelClass">
                            <label class="mat-form-field-label mat-empty mat-form-field-empty labelClass">Work</label>
                            <input matInput placeholder="Mobile" formControlName="work" ng2TelInput
                                [ng2TelInputOptions]="{'initialCountry': defaultCountryCode,'preferredCountries': ['us','in','ca','mx','gb']}"
                                placeholder="1234567890" class="phoneNumberClass"
                                (countryChange)="onCountryChange($event,'work')"
                                (intlTelInputObject)="telInputObjectOffice($event)" tabIndex="1"
                                (focus)="$event.target.select()" />
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.work.errors || f.work.touched && f.work.errors"
                            class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.work.errors.required">This field is required</div>
                        </div>
                        <div *ngIf="f.work.errors" class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.work.errors?.invalid_Pattern;else plusError">Do not add
                                Dashes
                                with numbers</div>
                            <ng-template #plusError>
                                <div *ngIf="f.work.errors?.invalidPattern;else allErrors">Do not
                                    enter +
                                    sign</div>
                                <ng-template #allErrors>
                                    <div *ngIf="f.work.errors?.pattern;else numberLength">Enter
                                        Numbers Without
                                        Spaces or Dashes
                                    </div>
                                    <ng-template #numberLength>
                                        <div *ngIf="f.work.errors.minlength">Minimum length should
                                            be 4</div>
                                        <div *ngIf="f.work.errors.maxlength">Maximum length should
                                            be 15</div>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail </mat-label>
                            <input formControlName="email" type="text" matInput placeholder="E-mail" (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.email?.errors || f?.email?.touched && f?.email?.errors"
                            class="text-danger">
                            <div *ngIf="f?.email?.errors?.required">This field is required</div>
                            <div *ngIf="f?.email?.errors?.pattern">Email format should be valid</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Language </mat-label>
                            <mat-select formControlName="language" tabindex="1">
                                <mat-option value="">Choose language</mat-option>
                                <mat-option *ngFor="let language of languageList" [value]="language.id">
                                    {{ language.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Address </mat-label>
                            <input formControlName="address" type="text" matInput placeholder="Address" #search1 (focus)="$event.target.select()">
                        </mat-form-field>
                        <!-- <textarea placeholder="Address" formControlName="address"></textarea> -->
                        <div *ngIf="submittedForm && f?.address?.errors || f?.address?.touced && f?.address?.errors"
                            class="text-danger">
                            <div *ngIf="f?.address?.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="example-full-width red-placeholder">
                            <mat-label class="red-placeholder">Badge city (Enter Largest Major City You Service)
                            </mat-label>
                            <input type="text" placeholder="Enter Largest Major City You Service" aria-label="Number"
                                matInput formControlName="badge_city_name" [matAutocomplete]="auto"
                                (keyup)="handleBadgeCity($event.target.value)" (focus)="$event.target.select()"
                                class="red-placeholder">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions"
                                    (onSelectionChange)="selectBadgeCity(option,$event.isUserInput)" [value]="option.name">
                                    {{option.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row justify-content-between">
                <div class="billing_inforamtion">
                    <ul>
                        <li>
                            <button class="custom-filled-back-button" (click)="backButton()">
                                BACK
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="billing_inforamtion d-flex justify-content-end">
                    <ul>
                        <!-- <li>
                            <button class="custom-filled-reset-button" (click)="resetForm()" tabIndex="2">
                                RESET
                            </button>
                        </li> -->
                        <li><button class="custom-filled-button" (click)="submitForm()" tabIndex="1">
                                SAVE
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</main>