.tableWidth .dropdown-menu {
	width: 0 !important;
	left : 15px !important;
}

.pointer {
	cursor: pointer;
}

.pointer a {
	text-decoration: none;
	color          : #000;
}

.table-responsive i {
	cursor: pointer;
}

.table-responsive svg {
	cursor: pointer;
}

.status-btn{
	padding: 8px 10px;
	border-radius: 16px;
}
.btn-ctn{
	color: green;
    border: 1px solid #33c658; 
}
.btn-suspend{
	color: red;
    border: 1px solid red;
}

.box-shadow{
	box-shadow: 0px 5px 20px -6px rgb(0 0 0 / 100%);
}
// toggle button css
body,
html {
	background     : #efefef;
	display        : flex;
	justify-content: center;
	align-items    : center;
	min-height     : 100%;
	z-index        : -1;
}

.continueLabel {
	border    : 2px solid var(--green-color);
	display   : inline-block;
	padding   : 10px;
	position  : relative;
	text-align: center;
	color     : var(--green-color);
}

.suspendLabel {
	border    : 2px solid #dc3545;
	display   : inline-block;
	padding   : 10px;
	position  : relative;
	text-align: center;
	color     : #dc3545;
}

.toggle-left {
	border-right             : 0;
	border-bottom-left-radius: 25px;
	border-top-left-radius   : 25px;

	&:after {
		left: 100%
	}
}

.toggle-right {
	margin-left               : -5px;
	border-top-right-radius   : 25px;
	border-bottom-right-radius: 25px;


	&:after {
		left: -100%;
	}
}

.checkedContinueLabel {
	cursor          : default;
	color           : #fff !important;
	background-color: var(--green-color);
	z-index         : 1;
	width           : 85px;
	transition      : color 200ms;

	&:after {
		left: 0;
	}
}

.checkedSuspendLabel {
	cursor          : default;
	color           : #fff !important;
	background-color: #dc3545;
	transition      : color 200ms;

	&:after {
		left: 0;
	}
}

.custom-filled-button
{
	padding: 0.375rem 0.758rem;
	font-size: 1.02rem;
	font-weight: 500;
}