.mat-checkbox-checked.mat-accent .mat-checkbox-background {
	background-color: var(--orange);
}

.mat-form-field-flex {
	align-items: center;
}
hr{
	border-top: 1px solid black
}

.section-container {
	background-color: #fff;
	color: #000;
	border-radius: 12px;
	padding: 12px;
	width: 90%;
	font-size: 1rem;
	margin: 0.8rem auto;
	box-shadow: 3px 3px 20px -6px rgba(40, 40, 40, 0.5);
}

mat-form-field {
	margin: 1rem 0 !important;
}

.mat-form-field.m-0 {
	margin: 1rem 0 0 0 !important;
}

.extra-stop-field:not(.extra-stop-field:first-child) {
	margin-top: 1.5rem;
}
.block-cursor{
	cursor: pointer;
    pointer-events: none;
}
ul {
	list-style: none;
}

.map-block {
	padding: 0 10px;
	margin: 4rem 0 2rem 0;

	.google_map {
		width: auto;
		max-height: 300px;
		height: 300px;

		.map {
			width: 100%;
			height: 100%;
			border-radius: 17px;
		}
	}
}

.section-dropdown {
	overflow: hidden;
	cursor: pointer;
	height: 3.5rem;
	transition: height 0.17s ease-in-out;

	.section-dropdown-header {
		color: var(--orange);
	}

	&.active {
		height: fit-content;
	}

	// &.active#languages {
	// 	height: 26rem;
	// }
	// &.active#dresses {
	// 	height: 10rem;
	// }
	// &.active#amenities {
	// 	height: 43rem;
	// }
	// &.active#images {
	// 	height: 42rem;
	// }
}


#previewBooking {
	.modal-body {
		.row.m-0 {
			padding: 0.3rem 0 !important;
		}
	}

	.value {
		font-size: 18px;
	}
}

.vehtype_extint img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: zoom-in;
	height: 220px !important;
	border-radius: 15px !important;
}

.emptyImage {
	position: relative;
	border: 1px solid #717171;
	border-radius: 15px;
	height: 220px !important;
}

.box-special-instruction{
	overflow-y: auto;
	max-height: 200px;
}
.preview-pickup-color{
	color: #007500;
  }
  .preview-extra-stop-color{
	color: #000000;
  }
  .preview-dropoff-color{
	color:  #FF0000 ;
  }
  .preview-airport-color{
	color:  #00008B !important ;
  }


@media (min-width:767px) and (max-width:991px) {
	.text-danger {
		color: #dc3545 !important;
		font-size: 14px !important;
	}

	.looseError {
		padding: 10px 15px !important;
	}
}

.cellLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	padding-left: 0px;
	background-color: #fff;
	max-width: 60px;
	text-align: center;
	left: -5px;
	top: 30px;
	font-weight: 700;
}

.pcellLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	padding-left: 0px;
	background-color: #fff;
	max-width: 130px;
	text-align: center;
	left: -5px;
	top: 30px;
	font-weight: 700;
}

.labelClass {
	font-weight: 700;
}


:host ::ng-deep.ng-select .ng-select-container.ng-appearance-outline:after {
	height: 100%;
}

::ng-deep .col-md-3.margin-mat-field {
    margin-top: -15px;
}