<section class="driverbooking_top user_information">
	<h2 class="headinginfo">Add Vehicle (s)</h2>
	<div class="containeredd">
		<div class="row mt-3">
			<div class="col-md-12 mb-2">
				<ol class="alert alert-danger">
					<li> After Admin review and activation. You will be notified ASAP.</li>
					<li *ngIf="is_account_accepted"> Click + Add vehicle, if a different Make and Model. </li>
					<li *ngIf="is_account_accepted"> Click the View button and click Duplicate and change Year, Color, Amenities, or Rates. 
					</li>
					
				</ol>
			</div>
		</div>
		<div class="row mb-4" *ngIf="canAddVehicle">
			<div class="col-md-12">
				<button type="button" class="custom-filled-button" (click)="addVehicleClick(vehicleTypeId)"
					tabindex="1">
					<i class="bi bi-plus-lg" style="font-size: 1.2rem"></i>
					Add Vehicle
				</button>
			</div>
		</div>
	</div>
	<div class="containeredd driverside_table">
		<div class="row">
			<div class="col-md-12 custom_table">
				<div class="table-responsive">
					<table class="table table-striped dataTable dt-responsive" id="dataTable" role="grid"
						aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
						<thead>
							<tr role="row">
								<th>Actions</th>
								<th>Image</th>
								<th>Vehicle Type</th>
								<th># of Vehicles</th>
								<th>Seats</th>
								<th>Year</th>
								<th>Make</th>
								<th>Model</th>
								<th>Color</th>
								<th>Amenities</th>
								<th>Plate #</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="vehicles">
								<tr role="row" class="odd" *ngFor="let vehicle of vehicles">
									<td>
										<a class="user-profileded btn btn-icon btn-transparent-dark dropdown-toggle"
											data-toggle="dropdown"
											[ngClass]="!vehicle?.isRatesCompleted ? 'notCompleted' : ''"
											id="navbarDropdownUserImage" href="javascript:void(0);" role="button"
											aria-haspopup="true" aria-expanded="false" tabindex="1">
											<span>View</span>
										</a>
										<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
											aria-labelledby="navbarDropdownUserImage">
											<a class="dropdown-item" (click)="clickEditVehicle(vehicle?.ID)">
												<div class="dropdown-item-icon"></div>
												Edit Vehicle
											</a>
											<a class="dropdown-item"
												[ngClass]="{notCompleted: !vehicle?.isRatesCompleted}"
												(click)="clickEditVehicleRates(vehicle?.ID)">
												<div class="dropdown-item-icon"></div>
												{{ vehicle?.isRatesCompleted ? 'Edit' : 'Add'}} Rates
											</a>
											<a *ngIf="canAddVehicle" class="dropdown-item"
												(click)="clickDuplicateVehicle(vehicle?.ID)">
												<div class="dropdown-item-icon"></div>
												Duplicate Vehicle
											</a>
										</div>
									</td>
									<td><img src="{{vehicle?.vehicleImage}}"></td>
									<td>{{vehicle?.vehicleType}}</td>
									<td>{{vehicle?.numberOfVehicles}}</td>
									<td>{{vehicle?.seats}}</td>
									<td>{{vehicle?.year}}</td>
									<td>{{vehicle?.make}}</td>
									<td>{{vehicle?.model}}</td>
									<td>{{vehicle?.color}}</td>
									<td>
										<button (click)="updateAmenityList(vehicle?.amenities)"
											class="custom-filled-button" tabindex="1">
											Amenity List
										</button>
									</td>
									<td>{{vehicle?.licensePlate}}</td>
									<td>
										<i class="fa fa-trash" style="font-size: x-large; color:#d64646"
											(click)="enableDisableClicked(vehicle?.id)" data-toggle="modal"
											data-target="#deleteConfirmationModal"></i>
									</td>
									
								</tr>
								<tr *ngIf="!vehicles?.length">
									<td colspan="12">No vehicle found!</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Delete confirmation modal -->
<app-delete-confirmation (deleteRecord)="delete()" [alertMessage]="alertMessage"></app-delete-confirmation>

<!-- Amenity list modal -->
<div class="modal fade" id="amenityListModal" tabindex="-1" role="dialog" aria-labelledby="amenityListModal"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<ul class="mb-0">
					<li *ngFor="let amenity of amenityList">
						<i class="bi bi-currency-dollar text-orange" *ngIf="amenity?.name?.chargeable == 'yes'"></i>
						{{amenity?.name?.name}}
					</li>
				</ul>
			</div>
			<div class="modal-footer py-0">
				<button type="button" class="custom-btn button2" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>