.button2 {
	border       : 0;
	border-radius: 7px;
	padding      : 8px 15px;
}

#amenityListModal .modal-dialog {
	max-width: 300px;
}

a.dropdown-toggle.notCompleted {
	background-color: var(--orange) !important;
	color: white;
	text-decoration: none;
}
a.dropdown-item.notCompleted
{
	background-color: #f8f87c !important;
}

.table-responsive i {
	cursor: pointer;
}

@media only screen and (min-width:1199px) {

	a.notCompleted:focus {
		transform       : scale(1.2, 1.2);
		background-color: var(--orange) !important;
	}
}


.modal-content {
	align-items: center;
}

.modal-content h2 {
	color        : #5dbd8a;
	margin-bottom: 0;
}

.modal-content img {
	width: 80px;
}