a.dropdown-toggle.notCompleted {
	background-color: var(--orange) !important;
	color           : white;
	text-decoration : none;
}

a.dropdown-item.notCompleted {
	background-color: #f8f87c !important;
}

.table-responsive i {
	cursor: pointer;
}

@media only screen and (min-width:1199px) {
	
	a.notCompleted:focus {
		transform       : scale(1.2, 1.2);
		background-color: var(--orange) !important;
	}
}

table.dataTable
{
	img
	{
		width: 7rem;
		border-radius: 0.3rem;
		object-fit: cover;
	}
}

.modal-content {
	align-items: center;
}

.modal-content h2 {
	color        : var(--green-color);
	margin-bottom: 0;
}

.modal-content img {
	width: 80px;
}

.custom-filled-button
{
	padding: 0.275rem 0.858rem;
	font-size: 1rem;
	font-weight: 500;
}

#navbarDropdownUserImage
{
	background-color: var(--green);
	border-radius: 1rem;
	padding: 0.6rem 1rem;
	letter-spacing: 0.5px;
}
.vehicleFontDesign{
	font-weight: 500 !important;
	font-size: 17px;
}