.vehtype_extint img {
	height: 200px;
	border-radius: 15px;
}

.vehtype_extint .emptyImage {
	height: 200px;
}

.vehtype_extint .emptyImage img {
	height: 195px;
}

hr {
	margin-top: 0;
}

.custom-check-row {
	line-height: 2;
}

.single-image .row {
	justify-content: inherit;
}

.choose-all {
	font-weight: 600;
}

.custom-check-row .custom-checkbox {
	padding-left: 0;
}

.vehtype_extint .my-mat-hint {
	margin-bottom: 1rem;
}

.braces-content {
	color: #dc3545 !important;
}

.topLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
	.mat-form-field-label {
	padding-left: 0px;
	background-color: #fff;
	max-width: 50px;
	text-align: center;
	left: -6px;
}

@media only screen and (max-width: 767px) {
	.toggleLabelClass label {
		font-size: 16px;
		width: 80%;
		vertical-align: text-top;
		margin-top: -5px;
	}
}
.selectGenderLabel {
	position: relative;
	top: 43px;
	left: 8px;
	background: #fff;
	color: #808080 !important;
	padding: 0 3px;
	font-size: 16px !important;
}

.select-gender-label {
	position: relative;
	top: 15px;
	left: 8px;
	background: #fff;
	color: #000 !important;
	padding: 0 3px;
	font-size: 12px !important;
	transition: 0.3s;
}
.selectDressLabel {
	position: relative;
	top: 43px;
	left: 8px;
	background: #fff;
	color: #808080 !important;
	padding: 0 3px;
	font-size: 16px !important;
}

.select-dress-label {
	position: relative;
	top: 15px;
	left: 8px;
	background: #fff;
	color: #000 !important;
	padding: 0 3px;
	font-size: 12px !important;
	transition: 0.3s;
}
.selectYearBusinessLabel {
	position: relative;
	top: 43px;
	left: 8px;
	background: #fff;
	color: #808080 !important;
	padding: 0 3px;
	font-size: 16px !important;
}

.select-year-business-label {
	position: relative;
	top: 15px;
	left: 8px;
	background: #fff;
	color: #000 !important;
	padding: 0 3px;
	font-size: 12px !important;
	transition: 0.3s;
}
.select-state-label {
	position: relative;
	top: 15px;
	left: 8px;
	background: #fff;
	color: #000 !important;
	padding: 0 3px;
	font-size: 12px !important;
	transition: 0.3s;
}
.select-country-label {
	position: relative;
	top: 15px;
	left: 8px;
	background: #fff;
	color: #000 !important;
	padding: 0 3px;
	font-size: 12px !important;
	transition: 0.3s;
}





:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap{
	border-top-color: #f44336!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.mat-form-field-should-float.mat-focused .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-touched.ng-dirty.mat-form-field-should-float.ng-valid .mat-form-field-outline-gap{
	border-top-color: rgba(0,0,0,.12)!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-touched.mat-form-field-should-float.ng-valid.mat-focused .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.ng-dirty.ng-valid.ng-touched .mat-form-field-flex:hover .mat-form-field-outline-gap{border-top-color: rgba(0,0,0,.87)!important;}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.mat-focused .mat-form-field-outline-gap{
	border-top-color: #f44336!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-invalid.mat-form-field-should-float .mat-form-field-outline-gap{
	border-top-color: rgba(0,0,0,.12)!important;
}
:host ::ng-deep.mat-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-invalid .mat-form-field-flex:hover .mat-form-field-outline-gap{border-top-color: rgba(0,0,0,.87)!important;}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix mat-label{
	font-weight: normal!important;
	font-size: 14px!important;
	color: #191919;
}
:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-label{top:1.3675em}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix .labelClass{font-weight: normal!important;
	font-size: 14px!important;
	color: #191919;
top:1.65em}
:host ::ng-deep .mat-form-field {
	.mat-form-field-outline {
	  &-end {
		border-radius: 0 10px 10px 0 !important;
	  }
  
	  &-start {
		border-radius: 10px 0 0 10px !important;
		flex-grow: 1;
	  }
	}
  }
  :host ::ng-deep .mat-form-field .mat-form-field-wrapper{
		border-radius: 10px;
		background-color: rgb(226, 226, 226,1);
  } 
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix .labelClass+.iti--allow-dropdown .iti__flag-container{top:-12px}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{transform:translateY(-0.8em) scale(0.75)!important;width:133.3333333333%}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: #b2b2b2 !important;
}

.mat-option{
	background-color: rgb(226, 226, 226,1) !important;
}

:host ::ng-deep .selectInputStyle,.mat-form-field-label,.selectGenderLabel{
	background-color: rgb(226, 226, 226,1) !important;
}

:host ::ng-deep .select-gender-label,.select-dress-label{
	background-color: rgb(226, 226, 226,1) !important;
	transform: translateY(0.5em) scale(0.9) !important;
	opacity: 0.7;
}
