<form [formGroup]="VehicleRateSettingsForm" class="step_form_wrapper" appInvalidControlScroll>
	<section class="user_information">
		<h2 class="headinginfo">
			Edit Vehicle Rates <span class="spanText">(Enter an all-inclusive rate in each applicable bucket)</span>
		</h2>
		<div class="container">
			<!-- PAGE HEADER -->
			<div class="row imageSection">
				<div class="col-lg-3 col-6 vehicleImage">
					<img *ngIf="vehicle_info?.vehicle_image" [src]="vehicle_info?.vehicle_image" alt="vehicle image">
				</div>
				<div class="col-lg-3 col-6">
					<ul class="vehicleData">
						<li><strong> {{vehicle_info?.vehicleType}}</strong></li>
						<li><strong> {{vehicle_info?.vehicleColor}}</strong></li>
						<li><strong> {{vehicle_info?.vehicleYear}}</strong></li>
						<li><strong> {{vehicle_info?.vehicleMake}}</strong></li>
						<li><strong> {{vehicle_info?.vehicleModel}}</strong></li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-12 mt-lg-0 mt-4">
					<label class="alert alert-danger">
						1-800-LIMO.COM takes a 25% convenience fee, from our clients, to
						match you with our repeat customers. Raise or lower your rates in real-time depending on demand
						or season.
					</label>
					<label class="alert alert-danger mt-2">We auto add 25% to your rates to cover our commission.
						(Except
						tip, tax, tolls, and per
						diem)
					</label>
				</div>
			</div>

			<!-- CURRENCY -->
			<div class="row">
				<div class="col-md-12 p-0">
					<mat-form-field class="mat-form-field-rates" appearance="outline">
						<mat-label>
							Currency <span class="asterisk">*</span>
						</mat-label>
						<mat-select formControlName="currency" (selectionChange)="changeDetection.currencySymbol($event.value)" tabindex="1">
							<mat-option value="">Choose Currency</mat-option>
							<mat-option *ngFor="let currencyOption of currency_options | keyvalue" [value]="currencyOption.key">
								{{currencyOption.value.countryName}} -
								{{currencyOption.value.symbol}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<div *ngIf="is_form_submitted && form.currency.errors || form.currency.touched && form.currency.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="form.currency.errors.required">This field is required</div>
					</div>
				</div>
			</div>
		</div>
		<!-- UPPER HEADER ENDS -->

		<!-- RATE BUCKETS -->

		<!-- ROW 1 -->
		<div class="row">
			<!-- RADIO BUTTONS -->
			<div id="radio-button-type" class="col-md-6">
				<div id="type-mile" class="text-center" (click)="changeDetection.radioButton('mile', 'km_mile')"
					[ngClass]="form.km_mile.value == 'mile' ? 'active' : ''">
					Mile
				</div>
				<div id="type-kilometer" class="text-center" (click)="changeDetection.radioButton('kilometer', 'km_mile')"
					[ngClass]="form.km_mile.value == 'kilometer' ? 'active' : ''">
					Kilometer
				</div>
			</div>

			<!-- RATE BUCKET: MILEAGE RATE -->
			<div class="col-md-6" *ngIf="form.km_mile.value == 'mile'; else kilometer_rate">
				<mat-form-field class="mat-form-field-rates m-0" appearance="outline">
					<mat-label>Milage Rate <span class="asterisk">*</span></mat-label>
					<span matPrefix *ngIf="form.milage_rate.value == null || form.milage_rate.value == ''; else hideZero">{{currency_symbol}}
						0 &nbsp;</span>
					<ng-template #hideZero>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input matInput placeholder="Milage Rate" type="number" formControlName="milage_rate" tabindex="1" value="0"
						(focus)="$event.target.select()" (change)="updateRateRangeObject()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.milage_rate.errors || form.milage_rate.touched && form.milage_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.milage_rate.errors.required">This field is required</div>
				</div>
				<div *ngIf="form.milage_rate.errors" class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.milage_rate.errors.pattern">Enter Numbers only</div>
				</div>
			</div>

			<!-- RATE BUCKET: KILOMETER RATE -->
			<ng-template #kilometer_rate>
				<div class="col-md-6">
					<mat-form-field class="mat-form-field-rates m-0" appearance="outline">
						<mat-label>Kilometer Rate <span class="asterisk">*</span></mat-label>
						<span matPrefix
							*ngIf="form.kilometer_rate.value == null || form.kilometer_rate.value == ''; else hideZero">{{currency_symbol}}
							0 &nbsp;</span>
						<ng-template #hideZero>
							<span matPrefix>{{currency_symbol}} &nbsp;</span>
						</ng-template>
						<input matInput placeholder="Kilometer Rate" type="number" formControlName="kilometer_rate" tabindex="1"
							(focus)="$event.target.select()" (change)="updateRateRangeObject()" />
					</mat-form-field>
					<div *ngIf="is_form_submitted && form.kilometer_rate.errors || form.kilometer_rate.touched && form.kilometer_rate.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="form.kilometer_rate.errors.required">This field is required</div>
					</div>
					<div *ngIf="form.kilometer_rate.errors" class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="form.kilometer_rate.errors.pattern">Enter Numbers only</div>
					</div>
				</div>
			</ng-template>
		</div>
		<!-- ROW 1 ENDS -->

		<!-- ROW 2 -->
		<div class="row">
			<!-- HOURLY RATE -->
			<div class="col-md-6">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Hourly Rate <span class="asterisk">*</span>
					</mat-label>
					<span matPrefix *ngIf="form.hourly_rate.value == null || form.hourly_rate.value == ''; else hideZero1">{{currency_symbol}}
						0 &nbsp;</span>
					<ng-template #hideZero1>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Hourly Rate" formControlName="hourly_rate" tabindex="1"
						(change)="updateRateRangeObject()" (focus)="$event.target.select()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.hourly_rate.errors || form.hourly_rate.touched && form.hourly_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.hourly_rate.errors.required">This field is required</div>
				</div>
				<div *ngIf="form.hourly_rate.errors" class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.hourly_rate.errors.pattern">Enter Numbers only</div>
				</div>
			</div>

			<!-- HOURLY RATE AFTER 5 HRS -->
			<div class="col-md-6">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>Hourly Rate After 5 Hours <span class="asterisk">*</span></mat-label>
					<span matPrefix
						*ngIf="form.hourly_rate_after_five_hours.value == null || form.hourly_rate_after_five_hours.value == ''; else hideZero2">{{currency_symbol}}
						0 &nbsp;</span>
					<ng-template #hideZero2>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Hourly Rate After 5 Hours" formControlName="hourly_rate_after_five_hours" tabindex="1"
						(change)="updateRateRangeObject()" (focus)="$event.target.select()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.hourly_rate_after_five_hours.errors || form.hourly_rate_after_five_hours.touched && form.hourly_rate_after_five_hours.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.hourly_rate_after_five_hours.errors.required">This field is required</div>
				</div>
				<div *ngIf="form.hourly_rate_after_five_hours.errors" class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.hourly_rate_after_five_hours.errors.pattern">Enter Numbers only</div>
				</div>
			</div>
		</div>
		<!-- ROW 2 ENDS -->

		<!-- ROW 3 -->
		<div class="row">
			<!-- HOURS - DAY RATE EXTENSION -->
			<div class="col-md-3">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						# Hours = Day Rate Extension
					</mat-label>
					<span matPrefix># &nbsp;</span>
					<mat-select formControlName="hours_day_rate" tabindex="1" (onSelectionChange)="updateRateRangeObject()">
						<mat-option value="">Choose Hours</mat-option>
						<mat-option [value]="8">8</mat-option>
						<mat-option [value]="10">10</mat-option>
						<mat-option [value]="12">12</mat-option>
					</mat-select>
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.hours_day_rate.errors || form.hours_day_rate.touched && form.hours_day_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.hours_day_rate.errors.pattern">Enter Numbers only</div>
				</div>
			</div>
			<!-- HOURS - DAY RATE EXTENSION -->

			<!-- DAY RATE EXNTENSION -->
			<div class="col-md-3">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Day Rate Extension
					</mat-label>
					<span matPrefix *ngIf="form.day_rate.value == null || form.day_rate.value == ''; else hideZero4">{{currency_symbol}}
						0 &nbsp;</span>
					<ng-template #hideZero4>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Day Rate Extension" formControlName="day_rate" tabindex="1"
						(change)="updateRateRangeObject()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.day_rate.errors || form.day_rate.touched && form.day_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.day_rate.errors.pattern">Enter Numbers only</div>
				</div>
			</div>

			<!-- MIN. INTRACITY RATE -->
			<div class="col-md-6">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Minimum Intra City Rate <span class="asterisk">*</span>
					</mat-label>
					<span matPrefix
						*ngIf="form.minimum_city_rate.value == null || form.minimum_city_rate.value == ''; else hideZero5">{{currency_symbol}}
						0 &nbsp;</span>
					<ng-template #hideZero5>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Minimum Intra City Rate" formControlName="minimum_city_rate" tabindex="1"
						(change)="updateRateRangeObject()" autocomplete="off" (focus)="$event.target.select()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.minimum_city_rate.errors || form.minimum_city_rate.touched && form.minimum_city_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.minimum_city_rate.errors.required">This field is required</div>
				</div>
				<div *ngIf="form.minimum_city_rate.errors" class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.minimum_city_rate.errors.pattern">Enter Numbers only</div>
				</div>
			</div>
		</div>
		<!-- ROW 3 ENDS -->

		<!-- ROW 4 -->
		<div class="row">
			<!-- MIN. AIRPORT ARRIVAL RATE -->
			<div class="col-md-3">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Minimum Airport Rate - Arrival <span class="asterisk">*</span>
					</mat-label>
					<span matPrefix
						*ngIf="form.minimum_airport_arrival_rate.value == null || form.minimum_airport_arrival_rate.value == ''; else hideZero7">{{currency_symbol}}
						0 &nbsp;</span>
					<ng-template #hideZero7>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Minimum Airport Rate - Arrival" formControlName="minimum_airport_arrival_rate"
						(focus)="$event.target.select()"
						(change)="updateRateRangeObject(); cloneValue('minimum_airport_arrival_rate', 'minimum_airport_departure_rate')" tabindex="1">
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.minimum_airport_arrival_rate.errors || form.minimum_airport_arrival_rate.touched && form.minimum_airport_arrival_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.minimum_airport_arrival_rate.errors.required">This field is required</div>
				</div>
				<div *ngIf="is_form_submitted && form.minimum_airport_arrival_rate.errors || form.minimum_airport_arrival_rate.touched && form.minimum_airport_arrival_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.minimum_airport_arrival_rate.errors.pattern">
						Enter Numbers only
					</div>
				</div>
			</div>

			<!-- MIN. AIRPORT DEPARTURE RATE -->
			<div class="col-md-3">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Minimum Airport Rate - Departure <span class="asterisk">*</span>
					</mat-label>
					<span matPrefix
						*ngIf="form.minimum_airport_departure_rate.value == null || form.minimum_airport_departure_rate.value == ''; else hideZero6">
						{{currency_symbol}}
						0 &nbsp;</span>
					<ng-template #hideZero6>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Minimum Airport Rate - Departure" (focus)="$event.target.select()"
						formControlName="minimum_airport_departure_rate" tabindex="1" (change)="updateRateRangeObject()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.minimum_airport_departure_rate.errors || form.minimum_airport_departure_rate.touched && form.minimum_airport_departure_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.minimum_airport_departure_rate.errors.required">This field is required</div>
				</div>
				<div *ngIf="is_form_submitted && form.minimum_airport_departure_rate.errors || form.minimum_airport_departure_rate.touched && form.minimum_airport_departure_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.minimum_airport_departure_rate.errors.pattern">Enter Numbers only</div>
				</div>
			</div>

			<!-- MIN. CRUISE PORT ARRIVAL RATE -->
			<div class="col-md-3">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Minimum Cruise Port Rate - Arrival <span class="asterisk">*</span>
					</mat-label>
					<span matPrefix
						*ngIf="form.minimum_cruise_port_arrival_rate.value == null || form.minimum_cruise_port_arrival_rate.value == ''; else hideZero9">
						{{currency_symbol}}
						0 &nbsp;</span>
					<ng-template #hideZero9>
						<span matPrefix>
							{{currency_symbol}} &nbsp;
						</span>
					</ng-template>
					<input type="number" matInput placeholder="Minimum Cruise Port Rate - Arrival" (focus)="$event.target.select()"
						formControlName="minimum_cruise_port_arrival_rate" tabindex="1" (change)="updateRateRangeObject()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.minimum_cruise_port_arrival_rate.errors || form.minimum_cruise_port_arrival_rate.touched && form.minimum_cruise_port_arrival_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.minimum_cruise_port_arrival_rate.errors.required">This field is required</div>
				</div>
				<div *ngIf="is_form_submitted && form.minimum_cruise_port_arrival_rate.errors || form.minimum_cruise_port_arrival_rate.touched && form.minimum_cruise_port_arrival_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.minimum_cruise_port_arrival_rate.errors.pattern">Enter Numbers only</div>
				</div>
			</div>

			<!-- MIN. CRUISE PORT DEPARTURE RATE -->
			<div class="col-md-3">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Minimum Cruise Port Rate - Departure <span class="asterisk">*</span>
					</mat-label>
					<span matPrefix
						*ngIf="form.minimum_cruise_port_departure_rate.value == null || form.minimum_cruise_port_departure_rate.value == ''; else hideZero9">{{currency_symbol}}
						0 &nbsp;</span>
					<ng-template #hideZero9>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Minimum Cruise Port Rate - Departure" (focus)="$event.target.select()"
						formControlName="minimum_cruise_port_departure_rate" tabindex="1" (change)="updateRateRangeObject()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.minimum_cruise_port_departure_rate.errors || form.minimum_cruise_port_departure_rate.touched && form.minimum_cruise_port_departure_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.minimum_cruise_port_departure_rate.errors.required">This field is required</div>
				</div>
				<div *ngIf="is_form_submitted && form.minimum_cruise_port_departure_rate.errors || form.minimum_cruise_port_departure_rate.touched && form.minimum_cruise_port_departure_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.minimum_cruise_port_departure_rate.errors.pattern">Enter Numbers only</div>
				</div>
			</div>
		</div>
		<!-- ROW 4 ENDS -->

		<!-- ROW 5 -->
		<div class="row">
			<!-- AIRPORT/CRUISE CANCEL RATE -->
			<div class="col-md-6">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Airport / Cruise Port Cancel Rate
					</mat-label>
					<span matPrefix
						*ngIf="form.airport_city_percentage_booking_cancel_charges.value == null || form.airport_city_percentage_booking_cancel_charges.value == ''; else hideZero11">{{currency_symbol}}
						0 &nbsp;</span>
					<ng-template #hideZero11>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Airport / Cruise Port Cancel Rate" (focus)="$event.target.select()"
						formControlName="airport_city_percentage_booking_cancel_charges" tabindex="1" (change)="updateRateRangeObject()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.airport_city_percentage_booking_cancel_charges.errors || form.airport_city_percentage_booking_cancel_charges.touched && form.airport_city_percentage_booking_cancel_charges.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.airport_city_percentage_booking_cancel_charges.errors.pattern">
						Enter Numbers only
					</div>
				</div>
			</div>

			<!-- SHARED RIDE RATE -->
			<div class="col-md-6">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Shared Ride Rate - Per Person
					</mat-label>
					<span matPrefix
						*ngIf="form.per_person_group_ride_rate.value == null || form.per_person_group_ride_rate.value == ''; else hideZero12">
						{{currency_symbol}}
						0 &nbsp;
					</span>
					<ng-template #hideZero12>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Shared Ride Rate - Per Person" formControlName="per_person_group_ride_rate"
						(focus)="$event.target.select()" (change)="updateRateRangeObject()" tabindex="1" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.per_person_group_ride_rate.errors || form.per_person_group_ride_rate.touched && form.per_person_group_ride_rate.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.per_person_group_ride_rate.errors.pattern">
						Enter Numbers only
					</div>
				</div>
			</div>
		</div>
		<!-- ROW 5 ENDS -->

		<!-- ROW 6 -->
		<div class="row" *ngIf="false">
			<!-- EARLY AM/LATE PM  -->
			<div class="col-md-6">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Early AM / Late PM
					</mat-label>
					<span matPrefix *ngIf="form.early_late_charges.value == null || form.early_late_charges.value == ''; else hideZero21">
						{{currency_symbol}} 0 &nbsp;
					</span>
					<ng-template #hideZero21>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Early Am/Late Pm" formControlName="early_late_charges" tabindex="1"
						(change)="updateRateRangeObject()" (focus)="$event.target.select()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.early_late_charges.errors || form.early_late_charges.touched && form.early_late_charges.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.early_late_charges.errors.pattern">
						Enter Numbers only
					</div>
				</div>
			</div>

			<!-- HOLIDAY RATE -->
			<div class="col-md-6">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Holiday Rate
					</mat-label>
					<span matPrefix *ngIf="form.holiday_charges.value == null || form.holiday_charges.value == ''; else hideZero22">
						{{currency_symbol}} 0 &nbsp;</span>
					<ng-template #hideZero22>
						<span matPrefix>{{currency_symbol}} &nbsp;</span>
					</ng-template>
					<input type="number" matInput placeholder="Holiday Rate" formControlName="holiday_charges" tabindex="1"
						(change)="updateRateRangeObject()" (focus)="$event.target.select()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.holiday_charges.errors || form.holiday_charges.touched && form.holiday_charges.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.holiday_charges.errors.pattern">
						Enter Numbers only
					</div>
				</div>
			</div>
		</div>
		<!-- ROW 6 ENDS -->

		<!-- ROW 7 -->
		<div class="row" *ngIf="false">
			<!-- FRIDAY/SATURDAY RATE -->
			<div class="col-md-6">
				<mat-form-field class="mat-form-field-rates" appearance="outline">
					<mat-label>
						Friday/Saturday Night
					</mat-label>
					<span matPrefix *ngIf="form.friday_saturday_charges.value == null || form.friday_saturday_charges.value == ''; else hideZero23">
						{{currency_symbol}} 0 &nbsp;</span>
					<ng-template #hideZero23>
						<span matPrefix>
							{{currency_symbol}} &nbsp;
						</span>
					</ng-template>
					<input type="number" matInput placeholder="Friday/Saturday Night" formControlName="friday_saturday_charges" tabindex="1"
						(focus)="$event.target.select()" (change)="updateRateRangeObject()" />
				</mat-form-field>
				<div *ngIf="is_form_submitted && form.friday_saturday_charges.errors || form.friday_saturday_charges.touched && form.friday_saturday_charges.errors"
					class="text-danger margin-bottom-thin my-mat-hint">
					<div *ngIf="form.friday_saturday_charges.errors.pattern">
						Enter Numbers only
					</div>
				</div>
			</div>
		</div>
		<!-- ROW 7 ENDS -->
		<!-- RATE BUCKETS ENDS -->

		<!-- RATE MANAGER -->
		<div>
			<!-- RATE MANAGER: HEADING -->
			<h2 class="headinginfo my-4">
				Rate Manager <span class="spanText"> (Adjust Your rates up or down)</span>
				<br />
				<span class="text-orange" style="font-size: 0.95rem">
					Click on the range value to reset.
				</span>
			</h2>
			<!-- RATE MANAGER: TYPE/SLIDER-->
			<div id="radio-button" class="row">
				<!-- TYPE -->
				<div id="radio-button-type" class="col-md-6">
					<div id="rate-manager-percent" class="text-center" (click)="changeDetection.radioButton('percent', 'rate_range_percent_flat')"
						[ngClass]="form.rate_range_percent_flat.value == 'percent' ? 'active' : ''">
						Percent (%)
					</div>
					<div id="rate-manager-flat" class="text-center" (click)="changeDetection.radioButton('flat', 'rate_range_percent_flat')"
						[ngClass]="form.rate_range_percent_flat.value == 'flat' ? 'active' : ''">
						Flat ($)
					</div>
				</div>

				<!-- SLIDER -->
				<div id="rate-manager-slider" class="col-md-6 mt-3 p-0">
					<span id="sign-percent-minus" (click)="changeThumb(1, '-')">
						-
						<i class="bi text-orange"
							[ngClass]="form.rate_range_percent_flat.value == 'percent' ? 'bi-percent' : 'bi-currency-dollar'"></i>
					</span>
					<span class="mx-lg-1">
						<input type="range" [value]="form.rate_range.value" min="-50" max="50" id="slider"
							(input)="getRateRange($event.target.value)" />
					</span>
					<span id="sign-percent-plus" (click)="changeThumb(1, '+')">
						+
						<i class="bi text-orange"
							[ngClass]="form.rate_range_percent_flat.value == 'percent' ? 'bi-percent' : 'bi-currency-dollar'"></i>
					</span>
					<p id="thumb-value" class="text-center m-0 mt-3" (click)="getRateRange(0)">
						<i class="bi bi-currency-dollar text-orange" *ngIf="form.rate_range_percent_flat.value == 'flat'"></i>
						{{ thumb_value }}
						<i class="bi bi-percent text-orange" *ngIf="form.rate_range_percent_flat.value == 'percent'"></i>
					</p>
				</div>
			</div>
		</div>
		<!-- RATE MANAGER ENDS -->

		<!-- GRATUITY -->
		<div class="row mb-5">
			<div class="col-md-12">
				<h3 class="my-3">
					<label class="alert alert-danger"> Surge Protection </label>
				</h3>
				<div class="px-3 custom-control custom-checkbox pl-0 d-flex flex-wrap align-items-center">
					<mat-slide-toggle class="example-margin gratuityToggle" [checked]="form.is_gratuity.value == 'yes'"
						(change)="changeDetection.gratuity($event.checked, 'is_gratuity')" tabindex="1">
					</mat-slide-toggle>
					<label class="text-orange ml-2">
						Turn on 20% surge pricing for high demand events.
					</label>
				</div>
			</div>
		</div>
		<!-- NOTE: GRATUITY ENDS -->

		<!-- AMENITY RATES -->
		<div>
			<h2 class="headinginfo">
				Amenity Rates
				<span class="spanText">(Enter an all-inclusive rate in each applicable bucket)</span>
			</h2>
			<div class="row" [formGroup]="AmenitiesRates">
				<div class="col-md-3" *ngFor="let  amenity of AmenitiesRates.controls | keyvalue" [formGroupName]="amenity.key">
					<mat-form-field class="mat-form-field-rates amentitiesLabel" appearance="outline">
						<mat-label class="amenityLabel">
							{{amenity.value.value.name}}
						</mat-label>
						<span matPrefix *ngIf="amenity.value.value.price == null || amenity.value.value.price == ''; else hideZero18">
							{{currency_symbol}} 0 &nbsp;</span>
						<ng-template #hideZero18>
							<span matPrefix>{{currency_symbol}} &nbsp;</span>
						</ng-template>
						<input type="number" matInput placeholder={{amenity.value.value.name}} formControlName="price"
							(focus)="$event.target.select()" [id]="amenity.value.value.label"
							(input)="changeAmenityRate(amenity.key,amenity.value.value)" tabindex="1">
					</mat-form-field>
				</div>
			</div>
		</div>
		<!-- AMENITY RATES ENDS -->

		<!-- APPLICABLE TAXES -->
		<div>
			<h2 class="headinginfo">
				Applicable Taxes
			</h2>
			<!-- ROW 1 -->
			<div class="row">
				<!-- AIRPORT ARRIVAL TAX -->
				<div class="col-md-3">
					<mat-form-field class="mat-form-field-rates" appearance="outline">
						<mat-label>
							Airport Arrival Tax
						</mat-label>
						<span matPrefix
							*ngIf="form.airport_arrival_tax_per_us.value == null || form.airport_arrival_tax_per_us.value == ''; else hideZero14">
							{{currency_symbol}} 0 &nbsp;
						</span>
						<ng-template #hideZero14>
							<span matPrefix>
								{{currency_symbol}} &nbsp;
							</span>
						</ng-template>
						<input type="number" matInput placeholder="Airport Arrival Tax" formControlName="airport_arrival_tax_per_us" tabindex="1"
							(focus)="$event.target.select()">
					</mat-form-field>
					<div *ngIf="is_form_submitted && form.airport_arrival_tax_per_us.errors || form.airport_arrival_tax_per_us.touched && form.airport_arrival_tax_per_us.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="form.airport_arrival_tax_per_us.errors.pattern">
							Enter Numbers only
						</div>
					</div>
				</div>

				<!-- AIRPORT DEPARTURE TAX -->
				<div class="col-md-3">
					<mat-form-field class="mat-form-field-rates" appearance="outline">
						<mat-label>
							Airport Departure Tax
						</mat-label>
						<span matPrefix
							*ngIf="form.airport_departure_tax_per_us.value == null || form.airport_departure_tax_per_us.value == ''; else hideZero15">
							{{currency_symbol}} 0 &nbsp;
						</span>
						<ng-template #hideZero15>
							<span matPrefix>
								{{currency_symbol}} &nbsp;
							</span>
						</ng-template>
						<input type="number" matInput placeholder="Airport Departure Tax" formControlName="airport_departure_tax_per_us" tabindex="1"
							(focus)="$event.target.select()" />
					</mat-form-field>
					<div *ngIf="is_form_submitted && form.airport_departure_tax_per_us.errors || form.airport_departure_tax_per_us.touched && form.airport_departure_tax_per_us.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="form.airport_departure_tax_per_us.errors.pattern">
							Enter Numbers only
						</div>
					</div>
				</div>

				<!-- SEA PORT TAX -->
				<div class="col-md-3">
					<mat-form-field class="mat-form-field-rates" appearance="outline">
						<mat-label>
							Sea Port Tax
						</mat-label>
						<span matPrefix *ngIf="form.sea_port_tax_per_us.value == null || form.sea_port_tax_per_us.value == ''; else hideZero16">
							{{currency_symbol}} 0 &nbsp;
						</span>
						<ng-template #hideZero16>
							<span matPrefix>
								{{currency_symbol}} &nbsp;
							</span>
						</ng-template>
						<input type="number" matInput placeholder="Sea Port Tax" (focus)="$event.target.select()"
							formControlName="sea_port_tax_per_us" tabindex="1">
					</mat-form-field>
					<div *ngIf="is_form_submitted && form.sea_port_tax_per_us.errors || form.sea_port_tax_per_us.touched && form.sea_port_tax_per_us.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="form.sea_port_tax_per_us.errors.pattern">
							Enter Numbers only
						</div>
					</div>
				</div>

				<!-- CITY CONGESSION TAX -->
				<div class="col-md-3">
					<mat-form-field class="mat-form-field-rates" appearance="outline">
						<mat-label>
							City Congestion Tax
						</mat-label>
						<span matPrefix
							*ngIf="form.city_congestion_tax_per_us.value == null || form.city_congestion_tax_per_us.value == ''; else hideZero17">
							{{currency_symbol}} 0 &nbsp;</span>
						<ng-template #hideZero17>
							<span matPrefix>
								{{currency_symbol}} &nbsp;
							</span>
						</ng-template>
						<input type="number" matInput placeholder="City Congestion Tax" formControlName="city_congestion_tax_per_us" tabindex="1"
							autocomplete="off" />
					</mat-form-field>
					<div *ngIf="is_form_submitted && form.city_congestion_tax_per_us.errors || form.city_congestion_tax_per_us.touched && form.city_congestion_tax_per_us.errors"
						class="text-danger margin-bottom-thin my-mat-hint">
						<div *ngIf="form.city_congestion_tax_per_us.errors.pattern">
							Enter Numbers only
						</div>
					</div>
				</div>
			</div>
			<!-- ROW 1 ENDS -->

			<!-- ROW 2 -->
			<div class="row">
				<!-- CITY TAX -->
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6 col-lg-3 pr-0 borderright mobilePadding">
							<div class="form-group radio-tile-group assment_radio">
								<div class="custom-radio input-container">
									<input class="radio-button" type="radio" id="test1" name="city_tax_percent_flat" checked=""
										formControlName="city_tax_percent_flat" value="percent" tabindex="-1">
									<div class="radio-tile">
										<label class="radio-tile-label" for="test1">
											Percent (<span class="prefix">%</span>)
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 pl-0 mobilePadding">
							<div class="form-group radio-tile-group assment_radio">
								<div class="custom-radio input-container">
									<input class="radio-button" type="radio" id="test2" name="city_tax_percent_flat"
										formControlName="city_tax_percent_flat" value="flat" tabindex="-1">
									<div class="radio-tile">
										<label class="radio-tile-label" for="test2">
											Flat (<span class="prefix">{{currency_symbol}}</span>) </label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6 cityTaxErrorMsg ">
							<mat-form-field class="mat-form-field-rates" appearance="outline" class="cityTax">
								<mat-label>City Tax</mat-label>
								<input type="number" matInput placeholder="City Tax" (focus)="$event.target.select()" formControlName="city_tax"
									tabindex="1" autocomplete="off" />
							</mat-form-field>
							<div *ngIf="is_form_submitted && form.city_tax.errors || form.city_tax.touched && form.city_tax.errors"
								class="text-danger margin-bottom-thin my-mat-hint">
								<div *ngIf="form.city_tax.errors.pattern">Enter Numbers only</div>
							</div>
						</div>
					</div>
				</div>

				<!-- State Tax -->
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6 col-lg-3 pr-0 borderright mobilePadding">
							<div class="form-group radio-tile-group assment_radio">
								<div class="custom-radio input-container">
									<input class="radio-button" type="radio" id="test3" name="state_tax_percent_flat" checked=""
										formControlName="state_tax_percent_flat" value="percent" tabindex="-1">
									<div class="radio-tile">
										<label class="radio-tile-label" for="test3">Percent (<span class="prefix">%</span>)
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 pl-0 mobilePadding">
							<div class="form-group radio-tile-group assment_radio">
								<div class="custom-radio input-container">
									<input class="radio-button" type="radio" id="test4" name="state_tax_percent_flat"
										formControlName="state_tax_percent_flat" value="flat" tabindex="-1">
									<div class="radio-tile">
										<label class="radio-tile-label" for="test4">Flat (<span class="prefix">{{currency_symbol}}</span>) </label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6 cityTaxErrorMsg">
							<mat-form-field class="mat-form-field-rates" appearance="outline" class="cityTax">
								<mat-label>State Tax</mat-label>
								<input type="number" matInput placeholder="State Tax" formControlName="state_tax" tabindex="1"
									(focus)="$event.target.select()" />
							</mat-form-field>
							<div *ngIf="is_form_submitted && form.state_tax.errors || form.state_tax.touched && form.state_tax.errors"
								class="text-danger margin-bottom-thin my-mat-hint">
								<div *ngIf="form.state_tax.errors.pattern">Enter Numbers only</div>
							</div>
						</div>
					</div>
				</div>

				<!-- VAT -->
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6 col-lg-3 pr-0 borderright mobilePadding">
							<div class="form-group radio-tile-group assment_radio">
								<div class="custom-radio input-container">
									<input class="radio-button" type="radio" id="test5" name="vat_percent_flat" checked=""
										formControlName="vat_percent_flat" value="percent" tabindex="-1">
									<div class="radio-tile">
										<label class="radio-tile-label" for="test5">Percent (<span class="prefix">%</span>)
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 pl-0 mobilePadding">
							<div class="form-group radio-tile-group assment_radio">
								<div class="custom-radio input-container">
									<input class="radio-button" type="radio" id="test6" name="vat_percent_flat" formControlName="vat_percent_flat"
										value="flat" tabindex="-1">
									<div class="radio-tile">
										<label class="radio-tile-label" for="test6">Flat (<span class="prefix">{{currency_symbol}}</span>) </label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6 cityTaxErrorMsg">
							<mat-form-field class="mat-form-field-rates" appearance="outline" class="cityTax">
								<mat-label>VAT</mat-label>
								<input type="number" matInput placeholder="VAT" formControlName="vat" tabindex="1" (focus)="$event.target.select()" />
							</mat-form-field>
							<div *ngIf="is_form_submitted && form.vat.errors || form.vat.touched && form.vat.errors"
								class="text-danger margin-bottom-thin my-mat-hint">
								<div *ngIf="form.vat.errors.pattern">Enter Numbers only</div>
							</div>
						</div>
					</div>
				</div>

				<!-- WORKMAN'S COMPENSATION-->
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6 col-lg-3 pr-0 borderright mobilePadding">
							<div class="form-group radio-tile-group assment_radio">
								<div class="custom-radio input-container">
									<input class="radio-button" type="radio" id="test7" name="workman_comp_percent_flat" checked=""
										formControlName="workman_comp_percent_flat" value="percent" tabindex="-1">
									<div class="radio-tile">
										<label class="radio-tile-label" for="test7">Percent (<span class="prefix">%</span>)
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 pl-0 mobilePadding">
							<div class="form-group radio-tile-group assment_radio">
								<div class="custom-radio input-container">
									<input class="radio-button" type="radio" id="test8" name="workman_comp_percent_flat"
										formControlName="workman_comp_percent_flat" value="flat" tabindex="-1">
									<div class="radio-tile">
										<label class="radio-tile-label" for="test8">Flat (<span class="prefix">{{currency_symbol}}</span>) </label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6 cityTaxErrorMsg">
							<mat-form-field class="mat-form-field-rates" appearance="outline" class="cityTax">
								<mat-label>Workman's Comp</mat-label>
								<input type="number" matInput placeholder="Workman's Comp" formControlName="workmans_comp" tabindex="1"
									(focus)="$event.target.select()" />
							</mat-form-field>
							<div *ngIf="is_form_submitted && form.workmans_comp.errors || form.workmans_comp.touched && form.workmans_comp.errors"
								class="text-danger margin-bottom-thin my-mat-hint">
								<div *ngIf="form.workmans_comp.errors.pattern">Enter Numbers only</div>
							</div>
						</div>
					</div>
				</div>

				<!-- OTHER TRANSPORTATION TAX -->
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6 col-lg-3 pr-0 borderright mobilePadding">
							<div class="form-group radio-tile-group assment_radio">
								<div class="custom-radio input-container">
									<input class="radio-button" type="radio" id="test9" name="other_transportation_tax_percent_flat" checked=""
										formControlName="other_transportation_tax_percent_flat" value="percent" tabindex="-1">
									<div class="radio-tile">
										<label class="radio-tile-label" for="test9">Percent (<span class="prefix">%</span>)
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 pl-0 mobilePadding">
							<div class="form-group radio-tile-group assment_radio">
								<div class="custom-radio input-container">
									<input class="radio-button" type="radio" id="test10" name="other_transportation_tax_percent_flat"
										formControlName="other_transportation_tax_percent_flat" value="flat" tabindex="-1">
									<div class="radio-tile">
										<label class="radio-tile-label" for="test10">Flat (<span class="prefix">{{currency_symbol}}</span>) </label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6 cityTaxErrorMsg">
							<mat-form-field class="mat-form-field-rates" appearance="outline" class="cityTax">
								<mat-label>Other Transportation Tax</mat-label>
								<input type="number" matInput placeholder="Other Transportation Tax" formControlName="other_transportation_tax"
									(focus)="$event.target.select()" tabindex="1">
							</mat-form-field>
							<div *ngIf="is_form_submitted && form.other_transportation_tax.errors || form.other_transportation_tax.touched && form.other_transportation_tax.errors"
								class="text-danger margin-bottom-thin my-mat-hint">
								<div *ngIf="form.other_transportation_tax.errors.pattern">Enter Numbers only</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ROW 2 ENDS -->
		</div>
		<!-- APPLICABLE TAXES ENDS -->



	</section>

	<section class="billing_inforamtion">
		<ul>
			<li><button class="custom-btn savebutton" (click)="submitForm()" [disabled]="is_form_submitted" tabindex="1">SAVE</button> </li>
			<li><button class="custom-btn resetbutton" (click)="resetForm()" tabindex="1">RESET</button> </li>
			<!-- <li><button class="custom-btn backbutton" (click)="backButton()" data-toggle="tooltip" data-placement="top"
					title="Clicking back button deletes all fields." tabindex="1">BACK</button> </li> -->
		</ul>
	</section>
</form>