.row {
	margin: 0;
}

.imageSection {
	margin-top: 30px;
}

.vehicleData {
	list-style-type: none;
	padding-left   : 0;
	margin-bottom  : 0;
}

.input-container {
	margin-top: 0;
}

.cityTax {
	margin-top   : 0px;
	margin-bottom: 0px;
}

.cityTaxErrorMsg {
	margin-bottom: 20px;
}

.mile_km_radio li p label {
	font-size: 1rem;
}

.vehicleImage img {
	width        : 280px;
	height       : 200px;
	max-width    : 100%;
	border-radius: 20px;
	object-fit   : cover;
}

.taxesStyle .input-container {
	margin-top: 0;
}

.gratuityLabel {
	font-size   : 24px;
	position    : absolute;
	font-weight : 600;
	top         : -5px;
	padding-left: 10px;
}

.amenityLabel {
	font-weight: 600;
}

div#rate-manager-slider {
	width: 100%;

	&>span {
		cursor: pointer;

		input {
			width: 85%;
		}
	}

	&>p {
		width : auto;
		cursor: pointer;
	}

	#slider {
		background-color: #908c8c;
		appearance      : none;
		outline         : none;
		border-radius   : 10px;
		height          : 3px
	}

	#slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance        : none;
		width             : 25px;
		height            : 25px;
		border-radius     : 50%;
		background-color  : var(--orange-color);
		cursor            : pointer;
		border            : 3px solid var(--orange-color);
	}

	#slider::-moz-range-thumb {
		width           : 25px;
		height          : 25px;
		border-radius   : 50%;
		background-color: var(--orange-color);
		cursor          : pointer;
		border          : 3px solid var(--orange-color);
	}
}

.select-currency-label {
	position  : relative;
	top       : 15px;
	left      : 8px;
	background: #fff;
	color     : #000 !important;
	padding   : 0 3px;
	font-size : 12px !important;
	transition: 0.3s;
}

.select-extension-label {
	position  : relative;
	top       : 15px;
	left      : 8px;
	background: #fff;
	color     : #000 !important;
	padding   : 0 3px;
	font-size : 12px !important;
	transition: 0.3s;
}

.user_information .rateExtensionStyle {
	border-bottom: 1px solid #ccc !important;
	background   : #fff;
	padding-left : 25px;
	height       : 60px;
	border-radius: 5px;
}

.spanRate {
	color   : var(--orange-color);
	position: absolute;
	top     : 43px;
	left    : 25px;
}



#card-type-container {
	.card-type {
		width        : 48%;
		padding      : 1rem;
		text-align   : center;
		border-radius: 1rem;
		height       : fit-content;
		line-height  : 2.7rem;
		box-shadow   : 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
		margin       : 0 3px;
		cursor       : pointer;
		transition   : box-shadow 0.25s ease, background-color 0.25s ease;
	}

	.card-type.active {
		background-color: var(--green-color);
		box-shadow      : 0px 5px 10px -1px rgb(0 0 0 / 30%);
	}
}

@media only screen and (min-width:768px) {
	.vehicleData li {
		margin-bottom: 10px;
		font-size    : 18px;
		font-weight  : 600;
	}
}


@media only screen and (min-width:1199px) {
	.input-container:focus {
		outline: none;

		.radio-button:checked+.radio-tile {
			color    : #000 !important;
			transform: scale(1, 1);

			.radio-tile-label {
				color: #000 !important;
			}
		}

		.radio-tile-label {
			color: #000 !important;
		}
	}
}

@media only screen and (max-width:991px) {
	.vehicleImage img {
		width : 100%;
		height: auto;
	}
}

@media only screen and (max-width:767px) {
	.mobilePadding {
		padding: 0px 15px !important;
	}

	.cityTax {
		margin-top   : 10px;
		margin-bottom: 0px;
	}

	.flatRange {
		margin-top: 0px;
	}

	.vehicleData li {
		margin-top: 10px;
	}

	.card-type {
		padding: 0 !important;
	}
}

@media only screen and (max-width:575px) {
	.vehicleData li:first-child {
		margin-top: 0px;
	}

	.vehicleData li {
		margin-top: 0px;
		font-size : 14px;
	}

	.vehicleImage img {
		width : 100%;
		height: auto;
	}
}