<!-- <ngx-spinner></ngx-spinner> -->
<main>
   <!-- Main page content-->
   <section class="user_information">
      <h2 class="headinginfo">Add Vehicle</h2>
      <div class="containeredd">
         <div class="row">
            <div class="col-md-12">
               <button class="custom-btn add-button" (click)="addVehicleClick(vehicleTypeId)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-circle"
                     viewBox="0 0 16 16">
                     <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                     <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                  </svg> Add Vehicle
               </button>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <label class="alert alert-danger">Note: Add each different vehicle first. Enter rates and taxes for each
                  vehicle. </label>
            </div>
            <!-- <div class="col-md-12 mt-3 mb-3">
                <input type="text" placeholder="Search Filter by Name, Number or Key word" (input)="serach($event.target.value)">
             </div> -->
         </div>
      </div>
      <div class="containeredd driverside_table">
         <div class="row">
            <div class="col-md-12 custom_table table-responsive">
               <table class="table table-striped dataTable dt-responsive" id="dataTable" role="grid"
                  aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                  <thead>
                     <tr role="row">
                        <th>Image</th>
                        <th>Vehicle Type</th>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Color</th>
                        <th>Amenities</th>
                        <th>Plate #</th>
                        <th>Status</th>
                        <th>Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr role="row" class="odd" *ngFor="let vehicle of vehicles">
                        <td><img src="{{vehicle.vehicleImage}}"></td>
                        <td>
                           <p>{{vehicle.vehicleType}}</p>
                        </td>
                        <td>{{vehicle.year}}</td>
                        <td>{{vehicle.make}}</td>
                        <td>{{vehicle.model}}</td>
                        <td>{{vehicle.color}}</td>
                        <td>{{vehicle.amenities}}</td>
                        <td>{{vehicle.licensePlate}}</td>
                        <td>
                           <mat-slide-toggle class="example-margin" [color]="color" [checked]="vehicle.status"
                              [disabled]="disabled" (change)="enableDisableClicked($event,vehicle.id)">
                           </mat-slide-toggle>
                        </td>
                        <td>
                           <a class="user-profileded btn btn-icon btn-transparent-dark dropdown-toggle"
                              id="navbarDropdownUserImage" href="javascript:void(0);" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span>View</span>
                           </a>
                           <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
                              aria-labelledby="navbarDropdownUserImage">
                              <a class="dropdown-item" (click)="clickEditVehicle(vehicle.id)">
                                 <div class="dropdown-item-icon"></div>
                                 Edit Vehicle details
                              </a>
                              <a class="dropdown-item" (click)="clickEditVehicleRates(vehicle.ID)">
                                 <div class="dropdown-item-icon"></div>
                                 Edit Vehicle Rates
                              </a>
                           </div>
                        </td>

                  </tbody>
               </table>
            </div>
            <!----BACK BTN---->
            <button class="custom-btn backbutton ml-3" routerLink="/admin/master-vehicle-types"><i
                  class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
         </div>
      </div>
   </section>
</main>