<ngx-spinner></ngx-spinner>
<main>
	<!-- Main page content-->
	<section class="adminbox_shadow user_information" id="individual_table">
		<h2 class="headinginfo"> Subscriber Accounts </h2>
		<div class="containeredd">
			<button class="custom-btn send-email-button" data-toggle="modal" data-target="#sendEmailModal"
				(click)="buildSendEmailForm();">
				Send Email
			</button>
			<div class="row">
				<div class="col-md-12 mt-3 mb-3">
					<mat-form-field appearance="outline">
						<mat-label>Search Filter by Key word</mat-label>
						<input type="text" matInput placeholder="Search by name, email, cell phone, address, country"
							(focus)="$event.target.select()" (keyup)="handleSearchKeyword($event.target.value)"
							[value]="searchText" id="keyword" autofocus>
					</mat-form-field>
				</div>
				<!-- <div class="col-md-2  mt-3 mb-3">
					<button class="custom-btn button2 btnclass" (click)="loadSubscribers()">SEARCH</button>
				</div> -->
			</div>
		</div>

		<!-- new table design -->


		<div class="containeredd driverside_table">
			<div class="row">
				<div class="col-md-12 custom_table">
					<div class="table-responsive" style="min-height: 350px">
						<table class="table table-dark table-striped table-bordered dataTable dt-responsive"
							id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
							<thead>
								<tr role="row">
									<th>Actions</th>
									<!-- <th>Status</th> -->
									<th>Company Name</th>
									<th>Name</th>
									<th>Email</th>
									<th>Mobile</th>
									<th>Address</th>
									<!-- <th>City</th> -->
									<!-- <th>State</th> -->
									<!-- <th>Country</th> -->
									<th>Plan Selected</th>
									<th>Vehicle Type</th>

								</tr>
							</thead>
							<tbody>
								<tr role="row" class="odd" *ngFor="let individual of individuals">
									<td>
										<a class="user-profileded btn btn-icon btn-transparent-dark dropdown-toggle"
											id="navbarDropdownUserImage" href="javascript:void(0);" role="button"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span>View</span>
										</a>
										<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
											aria-labelledby="navbarDropdownUserImage">
											<a class="dropdown-item" (click)="auditTrail(individual?.id)"
												data-toggle="modal" data-target="#AuditTrailModal"
												*ngIf="individual?.id">
												<div class="dropdown-item-icon"></div>
												Communication Logs
											</a>
										</div>
									</td>
									<td><span [innerHTML]="highlighText(individual?.CompanyName)"></span>
									</td>
									<td *ngIf="individual?.MiddleName == null;else middleName"><span
											[innerHTML]="highlighText(individual?.FirstName+' '+individual?.LastName)"></span>
									</td>
									<ng-template #middleName>
										<td><span
												[innerHTML]="highlighText(individual?.FirstName+' '+individual?.MiddleName+' '+individual?.LastName)"></span>
										</td>
									</ng-template>
									<td class="clickable" (click)="sendMessage('email', individual)"
										data-messagetype="email"><span
											[innerHTML]="highlighText(individual?.Email)"></span></td>
									<td class="clickable" (click)="sendMessage('sms', individual)"
										data-messagetype="sms"><span
											[innerHTML]="highlighText(individual?.CellIsd+individual?.CellNumber+' '+'('+individual?.CellNumberCountry.toUpperCase()+')')"></span>
									</td>
									<td><span [innerHTML]="highlighText(individual?.Address)"></span></td>
									<!-- <td><span [innerHTML]="highlighText(individual?.city)"></span></td> -->
									<!-- <td><span [innerHTML]="highlighText(individual?.state)"></span></td> -->
									<!-- <td><span [innerHTML]="highlighText(individual?.Country)"></span></td> -->
									<td><span
											[innerHTML]="highlighText(individual?.product_name + ' ' + '($'+individual?.product_price+')')"></span>
									</td>
									<ul
										style="flex-direction: column !important; padding: 0px !important; margin: 0px !important;color: black;">
										<li *ngFor="let vehcile of individual?.vehicles"><span
												[innerHTML]="teset(vehcile)"></span></li>
									</ul>
							</tbody>
						</table>
					</div>
					<!-- <p class="text-danger text-lg" *ngIf="noError">
				No Results Found.
			</p> -->
				</div>
				<!----PAGINATION---->
				<!----BACK BTN---->
				<nav aria-label="Page navigation example">
					<ul class="pagination pagination-circle pg-blue">
						<li *ngIf="currentPage!=1" class="page-item disabled" (click)="loadSubscribers(firstPageUrl)"><a
								class="page-link">First</a></li>
						<li *ngIf="currentPage!=1" class="page-item disabled" (click)="loadSubscribers(prevPageUrl)">
							<a class="page-link" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li *ngFor="let in of counter() ;let i = index"
							[ngClass]="(in==currentPage)?'page-item active':'page-item'"
							(click)="loadSubscribers(path+'?page='+in)" [disabled]="(in==currentPage)?true:false">
							<a class="page-link">{{in}}</a>
						</li>
						<li *ngIf="currentPage!=lastPage" class="page-item" (click)="loadSubscribers(nextPageUrl)">
							<a class="page-link" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
						<li *ngIf="currentPage!=lastPage" class="page-item" (click)="loadSubscribers(lastPageUrl)"><a
								class="page-link">Last</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- design end -->
		<!-- <div class="containeredd driverside_table">
			<div class="row">
				<div class="col-md-12 custom_table table-responsive">
					<table class="table table-striped dataTable dt-responsive" id="dataTable" role="grid"
						aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
						<thead>
							<tr role="row">
								<th>Name</th>
								<th>Email</th>
								<th>Mobile</th>
								<th>Work</th>
								<th>Address</th>
								<th>City</th>
								<th>State</th>
								<th>Country</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" class="odd" *ngFor="let individual of individuals">
								<td *ngIf="individual.middle_name == null;else middleName">{{individual.first_name+' '+individual.last_name}}</td>
								<ng-template #middleName>
									<td>{{individual.first_name+' '+individual.middle_name+' '+individual.last_name}}</td>
								</ng-template>
								<td>{{individual.email}}</td>
								<td>{{individual.mobileIsd+individual.mobile}}</td>
								<td>{{individual.workIsd+individual.work_contact_number}}</td>
								<td>{{individual.address}}</td>
								<td>{{individual.city}}</td>
								<td>{{individual.state}}</td>
								<td>{{individual.country}}</td>
								<td>
									<mat-slide-toggle class="example-margin" [color]="color"
										[checked]="individual.status" [disabled]="disabled"
										(change)="enableDisableClicked($event,individual.id)">
									</mat-slide-toggle>
								</td>
								<td>
									<a class="user-profileded btn btn-icon btn-transparent-dark dropdown-toggle"
										id="navbarDropdownUserImage" href="javascript:void(0);" role="button"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span>View</span>
									</a>
									<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
										aria-labelledby="navbarDropdownUserImage">
										<a class="dropdown-item" (click)="clickEditIndividual(individual.id)">
											<div class="dropdown-item-icon"></div>
											Edit Individual Account
										</a>
										<a class="dropdown-item" (click)="clickIndividualCards(individual.id)">
											<div class="dropdown-item-icon"></div>
											View Cards
										</a>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div> -->
	</section>
</main>


<!-- Audit trail Modal -->
<div class="modal fade bd-example-modal-lg" id="AuditTrailModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content user_information bottom-container">
			<div class="modal-header pb-0">
				<h3 class="modal-title mb-0">Communication Logs</h3>
			</div>
			<div class="modal-body">
				<!-- {{invoiceData.audit_trail | json}} -->
				<table id="audittrail" class="table table-striped">
					<thead style="background-color: white;">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Description</th>
							<th scope="col">Content</th>
							<th scope="col" id="date">Created Date</th>
						</tr>
					</thead>
					<tbody>

						<!-- <ng-container *ngIf="audit_Trail; else not_found"> -->
						<tr *ngFor="let record of audit_Trail; let i=index">
							<th scope="row" *ngIf="record?.user_type != 'loose_affiliate' ">{{i+1}}</th>
							<td style="word-wrap: break-word;" *ngIf="record?.user_type != 'loose_affiliate'">
								{{record?.description}}</td>
							<td style="word-wrap: break-word;"
								*ngIf="record?.type == 'sms' && record?.user_type != 'loose_affiliate'">
								{{record?.content}}</td>
							<td style="word-wrap: break-word;"
								*ngIf="record?.type == 'email' && record?.user_type != 'loose_affiliate'"><a
									style="color: blue;text-decoration: underline;cursor: pointer;"
									(click)="viewEmailContent(record?.encrypted_id)">View
									Content</a></td>
							<td *ngIf="record?.user_type != 'loose_affiliate'">{{record?.created_at}}</td>
						</tr>

						<!-- </ng-container> -->
						<!-- <ng-template #not_found>
							<tr>
								<td colspan = "3">No Record Found!</td>
							</tr>	
						</ng-template> -->


					</tbody>
				</table>
			</div>
			<div class="modal-footer justify-content-end">
				<button type="button" class="x-close-btn x-cross-btn mx-3" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="bi bi-x-circle"></span>
				</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="messageModal" aria-labelledby="messageModal" aria-hidden="true"
	data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" (click)="closeModal()" class="close closeButton x-circle-btn mt-2"
				data-dismiss="modal" aria-label="Close">
				<i class="bi bi-x-circle"></i>
			</button>
			<div class="modal-header">
				<h4></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p id="affiliate-details"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mt-2 mb-2">
						<input type="file" (change)="myUploader($event)" #fileInput1 />
					</div>
					<div class="col-md-12">
						<p id="label">
							Message:
						</p>
						<textarea id="message" rows="7" placeholder="Your Message" #message
							style="font-weight: 700;"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-end">
				<button class="custom-filled-button" data-dismiss="modal"
					(click)="sendMessage(messagetype?.type, messagetype?.individual, message.value)">
					Send {{ messagetype?.type | titlecase }}
				</button>
			</div>
		</div>
	</div>
</div>

<!-- SEND EMAIL MODAL-->
<div class="modal fade bd-example-modal-lg" id="sendEmailModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content user_inforamtion">
			<button type="button" (click)="closeModal()" class="close closeButton x-circle-btn" data-dismiss="modal"
				aria-label="Close">
				<i class="bi bi-x-circle"></i>
			</button>
			<div class="modal-header pb-0 d-flex justify-content-center">
				<h3 class="mb-0" id="exampleModalLabel">Send Email to Subscribers</h3>
			</div>
			<div class="modal-body">
				<form [formGroup]="sendEmailForm" appInvalidControlScroll>
					<div class="form-group">
						<div class="col-md-12">
							<mat-form-field appearance="outline">
								<mat-label>Subject <span class="asterisk">*</span></mat-label>
								<input matInput type="text" formControlName="subject" style="font-weight: 500;">
							</mat-form-field>
						</div>
						<div class="col-md-12">
							<mat-form-field appearance="outline">
								<mat-label>
									Text Message <span class="asterisk">*</span>
								</mat-label>
								<textarea matInput #textArea
									style="white-space: pre-wrap; font-weight: 500; overflow: hidden;"
									formControlName="text_message" (focus)="$event.target.select()"
									(input)="adjustTextareaHeight(textArea)" rows="5">
								</textarea>
							</mat-form-field>
						</div>
						<div class="col-md-12">
							<mat-form-field appearance="outline">
								<mat-label>Select Emails <span class="asterisk">*</span></mat-label>
								<mat-select [formControl]="emails" multiple panelClass="custom-select-panel">
									<!-- Add Select All option -->
									<mat-option (click)="selectAll()">Select All</mat-option>
									<mat-option *ngFor="let option of subs_emails"
										[value]="stringifyOption(option)">{{option.FirstName + " " +
										option.LastName}}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-12 mt-3">
							<input type="file" (change)="myUploader($event)" #fileInput />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button class="custom-btn add-button" type="submit" (click)="sendEmail()"
					[disabled]="Form.subject?.invalid && (Form.subject.touched || Form.subject.dirty)">Submit</button>
			</div>
		</div>
	</div>
</div>