<ngx-spinner></ngx-spinner>
<main>
	<!-- Main page content-->
	<section class="user_information">
		<h2 class="headinginfo">Affiliate Accounts</h2>
		<div class="containeredd">
			<div class="row align-items-center my-3 p-3">
				<div class="col-md-3 py-2">
					<mat-form-field appearance="outline" class="m-0">
						<mat-label>
							Operator Account
						</mat-label>
						<mat-select [(value)]="operatorSelect">
							<mat-option value="all" name="affiliateType"
								(click)="affiliateTypeSwitch('all')">All
								Accounts</mat-option>
							<mat-option value="black-limo-operator" name="affiliateType"
								(click)="affiliateTypeSwitch('black-limo-operator')">Black Car /
								Limo Accounts
							</mat-option>
							<mat-option value="fleet-operator" name="affiliateType"
								(click)="affiliateTypeSwitch('fleet-operator')">Fleet
								Accounts</mat-option>
							<mat-option value="taxi-operator" name="affiliateType"
								(click)="affiliateTypeSwitch('taxi-operator')">Taxi
								Accounts</mat-option>
							<mat-option value="gig-operator" name="affiliateType"
								(click)="affiliateTypeSwitch('gig-operator')">Gig
								Accounts</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-md-3 py-2">
					<mat-form-field appearance="outline" class="m-0">
						<mat-label>
							Filter
						</mat-label>
						<mat-select id="filter_type" [(value)]="filter_type"
							(selectionChange)="onChangeFilterType($event.value)">
							<mat-option value="all">
								All
							</mat-option>
							<mat-option value="in-progress">
								Pending
							</mat-option>
							<mat-option value="completed">
								Completed
							</mat-option>
							<mat-option value="accepted">
								Accepted
							</mat-option>
							<mat-option value="rejected">
								Rejected
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-md-4 py-2">
					<mat-form-field appearance="outline" class="m-0">
						<mat-label>Search Filter by Key word</mat-label>
						<input type="text" matInput placeholder="Search Filter by Key word"
							id="keyword">
					</mat-form-field>
				</div>
				<div class="col-md-2 py-2">
					<button class="custom-filled-button m-0"
						(click)="loadAffiliateOperators()">SEARCH</button>
				</div>
			</div>
			<h3 class="headinginfoH3">{{heading}}</h3>
			<div class="row">
				<div class="col-md-12">
					<button class="custom-btn add-button" data-toggle="modal"
						data-target="#addDriverDressModal" (click)="addAffiliateAccountClick()">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
							class="bi bi-plus-circle" viewBox="0 0 16 16">
							<path
								d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
							<path
								d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
						</svg> {{addButton}}
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label class="alert alert-danger">Note: Add each different {{affiliateName}}
						first. Enter rates and
						taxes for each {{affiliateName}}.</label>
				</div>
			</div>
		</div>

		<div class="containeredd driverside_table">
			<div class="row">
				<div class="col-md-12 custom_table table-responsive">
					<table class="table table-striped dataTable dt-responsive" id="dataTable"
						role="grid" aria-describedby="dataTable_info" style="width: 100%;"
						width="100%" cellspacing="0">
						<thead>
							<tr role="row">
								<th>Actions</th>
								<th>Approval Status</th>
								<th>Status</th>
								<th>Name</th>
								<th>Email</th>
								<th>Cell</th>
								<th>Company Name</th>
								<th>DBA</th>
								<th>Languages</th>
								<th>Associations</th>
								<th>Address</th>
								<th>City</th>
								<!-- <th>State</th>
								<th>Country</th> -->
							</tr>
						</thead>
						<tbody>
							<tr role="row" class="odd"
								*ngFor="let blackCarLimoBus of affiliate_accounts">
								<td>
									<a class="user-profileded btn btn-icon btn-transparent-dark dropdown-toggle"
										id="navbarDropdownUserImage" href="javascript:void(0);"
										role="button" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
										<span>View</span>
									</a>
									<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
										aria-labelledby="navbarDropdownUserImage">
										<a class="dropdown-item"
											(click)="editAffiliateAccount(blackCarLimoBus.id)">
											<div class="dropdown-item-icon"></div>
											Edit {{formatter(blackCarLimoBus.AffiliateType) |
											titlecase }} Account
										</a>
										<a class="dropdown-item"
											(click)="viewAffiliateCreditCards(blackCarLimoBus.id)">
											<div class="dropdown-item-icon"></div>
											View Credit Cards
										</a>
									</div>
								</td>
								<td>
									<div
										*ngIf="blackCarLimoBus.account_approval=='completed'; else notCompleted">
										<button class="acceptButton"
											(click)="acceptAffiliate(blackCarLimoBus.id)">Accept</button>
										<button class="rejectButton"
											(click)="rejectAffiliateClick(blackCarLimoBus.id)"
											data-toggle="modal"
											data-target="#rejectCauseModal">Reject</button>
									</div>
									<ng-template #notCompleted>
										<div
											[className]="'badge badge-pill approval_status ' + blackCarLimoBus.account_approval">
											{{blackCarLimoBus.account_approval |
											bookingStatusTextReplace : '_' : ' '
											|titlecase}}</div>
									</ng-template>
								</td>
								<td>
									<mat-slide-toggle class="example-margin" [color]="color"
										[checked]="blackCarLimoBus.status" [disabled]="disabled"
										(change)="enableDisableClicked($event,blackCarLimoBus.id)">
									</mat-slide-toggle>
								</td>
								<td>
									{{ blackCarLimoBus.FirstName }}
									{{ blackCarLimoBus.MiddleName ? blackCarLimoBus.MiddleName : ''
									}}
									{{ blackCarLimoBus.LastName }}
								</td>
								<td class="clickable"
									(click)="sendMessage('email', blackCarLimoBus)"
									data-messagetype="email">
									{{blackCarLimoBus.Email}}
								</td>
								<td class="clickable" (click)="sendMessage('sms', blackCarLimoBus)"
									data-messagetype="sms">
									{{blackCarLimoBus.CellIsd+blackCarLimoBus.CellNumber}}
								</td>
								<td>{{blackCarLimoBus.CompanyName}}</td>
								<td>{{blackCarLimoBus.DBA}}</td>
								<td>{{blackCarLimoBus.LanguagesSpoken}}</td>
								<td>{{blackCarLimoBus.Associations}}</td>
								<td>{{blackCarLimoBus.Address}}</td>
								<td>{{blackCarLimoBus.City}}</td>
								<!-- <td>{{blackCarLimoBus.State}}</td>
								<td>{{blackCarLimoBus.Country}}</td> -->
							</tr>

						</tbody>
					</table>
				</div>
				<!----BACK BTN---->
				<nav aria-label="Page navigation example">
					<ul class="pagination pagination-circle pg-blue">
						<li *ngIf="currentPage!=1" class="page-item disabled"
							(click)="loadAffiliateOperators(firstPageUrl)"><a
								class="page-link">First</a></li>
						<li *ngIf="currentPage!=1" class="page-item disabled"
							(click)="loadAffiliateOperators(prevPageUrl)">
							<a class="page-link" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li *ngFor="let in of counter() ;let i = index"
							[ngClass]="(in==currentPage)?'page-item active':'page-item'"
							(click)="loadAffiliateOperators(path+'?page='+in)"
							[disabled]="(in==currentPage)?true:false">
							<a class="page-link">{{in}}</a>
						</li>
						<li *ngIf="currentPage!=lastPage" class="page-item"
							(click)="loadAffiliateOperators(nextPageUrl)">
							<a class="page-link" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
						<li *ngIf="currentPage!=lastPage" class="page-item"
							(click)="loadAffiliateOperators(lastPageUrl)">
							<a class="page-link">Last</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
</main>

<!-- repeat/return booking type modal -->
<div class="modal fade" id="rejectCauseModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content user_inforamtion">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Please enter the cause of Rejection.
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="rejectCauseForm">
					<div class="form-group">
						<div class="col-md-12">
							<label>Rejection Cause</label>
							<textarea formControlName="reject_cause"></textarea>
							<div *ngIf="submitted && rejectCauseF.reject_cause.errors"
								class="text-danger">
								<div *ngIf="rejectCauseF.reject_cause.errors.required">This field is
									required</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="forstep_booknow"
					(click)="rejectAffiliate()">Reject</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" tabindex="-1" id="messageModal" aria-labelledby="messageModal"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p id="affiliate-details"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p id="label">
							Message:
						</p>
						<textarea id="message" rows="7" placeholder="Your Message"
							#message></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-end">
				<button class="custom-filled-button" data-dismiss="modal"
					(click)="sendMessage(messagetype?.type, messagetype?.affiliate, message.value)">
					Send {{ messagetype?.type | titlecase }}
				</button>
			</div>
		</div>
	</div>
</div>