.approval_status{
    font-size:medium;
    color:#fff;
}
.in-progress{
    background-color: #0474fc;
}
.completed{
    background-color: #f7905d;
}
.accepted{
    background-color: #00bd1f;
}
.rejected{
    background-color: #fc0404;
}
.mat-form-field-hide-placeholder{
	border: solid 3px;
    border-radius: 4px;
}
.md-stepper-horizontal{
    background-color: var(--section-bg-color);
}
.acceptButton{
    background-color: #00bd1f;
    color: #fff;
    border: none;
    border-radius: 10rem;
    margin-right: 0.5rem;
}
.rejectButton{
    background-color: #fc0404;
    color: #fff;
    border: none;
    border-radius: 10rem;
}

.custom-filled-button
{
    padding: 0.875rem 1.058rem;
}

.clickable
{
    cursor: pointer;
    transition: color 0.1s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
    transition: color 0.1s ease-in-out, text-decoration 0.2s ease-in-out;
    transition: color 0.1s ease-in-out, text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
    &:hover
    {
        text-decoration: underline;
        color: var(--blue);
    }
}
.modal#messageModal
{
    .modal-body
    {
        p
        {
            font-size: 1rem;
            font-weight: 500;
            span
            {
                font-size: 1.1rem;
            }
        }
        textarea#message
        {
            width: 100%;
            border-radius: 1rem;
            padding: 1rem;
            max-height: 15rem;
        }
    }
}

a.dropdown-item {
    padding: 0.6rem 1.6rem !important;
    font-size: 16px;
}