.invoice {
	background-color: #fff;
}

.invoice p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
	font-family: 'Inter', sans-serif;
}

.invoice .invoice-header {
	max-width: 100%;
	background: #FFF0E2;
}

.invoice .invoice-head--text {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	text-align: right;
	letter-spacing: 0.05em;
	color: #1E191A;
}

.invoice .invoice-text--booking {
	font-family: 'Inter', sans-serif;
	text-align: end;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.invoice .invoice-p {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #6F6F84;
}

.invoice .invoice-dollar--color {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-align: right;
	color: #F2933C;
}

.invoice .invoice-text-bold {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
}

.invoice .invoice-status-bar {
	font-size: large !important;
}

.invoice .text-charges {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 22px;
	color: #fff;
}

.invoice .invoice-text-charges {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #6F6F84;
}

.invoice .invoice-charges-textb {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	color: #222234;
}

.invoice-subhead {
	background: #393939;
	color: white;
	padding: 10px;
}

.invoice .invoice-passenger {
	border: 0.5px solid #D9D9D9;
}

.print-btn {
	color: #fff !important;
	background-color: var(--orange-color);
	border-color: var(--orange-color);
}

.button2 {
	color: #fff !important;
	background-color: #3351c6;
	border-color: #3351c6;
}

.custom-btn {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: none;
	border: 1px solid;
	border-top-color: currentcolor;
	border-right-color: currentcolor;
	border-bottom-color: currentcolor;
	border-left-color: currentcolor;
	border-radius: 15px;
}

@media only screen and (max-width: 764px) {
	.invoice .invoice-head--text {
		font-size: 24px;
		line-height: 24px;
	}
	
	.invoice .invoice-subhead {
		background: #393939;
		color: white;
		padding: 7px;
	}
}

