@media (min-width: 280px) and (max-width: 991px) {
    .innerpage_topbanner h2 {
        top      : 20%;
        font-size: 24px !important;
        height   : 80px !important;
        padding  : 15px 0px 0px 0px !important;
    }

    .innerpage_topbanner {
        height: 90px !important;
    }
}