<ngx-spinner></ngx-spinner>
<main>
	<!-- Main page content-->
	<form [formGroup]="addSubAdminAccountForm">
		<section class="user_information">
			<h2 class="headinginfo adminbox_shadow"> Sub Admin Information </h2>
			<div class="container mt-1 ">
				<div class="row ">
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>First Name <span class="asterisk">*</span></mat-label>
							<input type="text" matInput placeholder="First Name" formControlName="firstName"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.firstName.errors" class="text-danger">
							<div *ngIf="f.firstName.errors.required">This field is required</div>
						</div>
					</div>
					<!-- <div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>Middle Name</mat-label>
							<input type="text" matInput placeholder="Middle Name" formControlName="middleName"
								(focus)="$event.target.select()">
						</mat-form-field>
					</div> -->
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Last Name <span class="asterisk">*</span></mat-label>
							<input type="text" matInput placeholder="Last Name" formControlName="lastName"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.lastName.errors" class="text-danger">
							<div *ngIf="f.lastName.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline" class="mat-custom-phone">
							<mat-label>Mobile<span class="asterisk">*</span></mat-label>
							<input matInput ng2TelInput
								[ng2TelInputOptions]="{'preferredCountries': ['us', 'ca','mx','gb']}"
								(intlTelInputObject)="telInputObjectMobile($event)"
								(countryChange)="onCountryChange($event)" placeholder="Mobile" formControlName="mobile"
								(focus)="$event.target.select()" [readonly]="subAdminId">
						</mat-form-field>
						<div *ngIf="f.mobile.invalid && (f.mobile.touched || f.mobile.dirty)" class="text-danger">
							<div *ngIf="f.mobile.errors.required">This field is required</div>
							<div *ngIf="f.mobile.errors.pattern">This field should be a number</div>
							<div *ngIf="f.mobile.errors.minlength">Minimum length should be 10</div>
							<div *ngIf="f.mobile.errors.maxlength">Maximum length should be 12</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>E-mail <span class="asterisk">*</span></mat-label>
							<input type="email" matInput placeholder="E-mail" formControlName="email"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.email.errors" class="text-danger">
							<div *ngIf="f.email.errors.required">This field is required</div>
							<div *ngIf="f.email.errors.pattern">Email format should be valid</div>
						</div>
					</div>
					<div class="col-md-12">
						<mat-form-field appearance="outline">
							<mat-label>Address <span class="asterisk">*</span></mat-label>
							<input type="text" matInput placeholder="Address" #search1 formControlName="address"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.address.errors" class="text-danger">
							<div *ngIf="f.address.errors.required">This field is required</div>
							<div *ngIf="f.address.errors.pattern">This field should be a number</div>
						</div>
					</div>
					<!-- <div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>City </mat-label>
							<input type="text" matInput placeholder="City" formControlName="city"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.city.errors" class="text-danger">
							<div *ngIf="f.city.errors.required">This field is required</div>
							<div *ngIf="f.city.errors.pattern">This field should be a number</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>State/Province </mat-label>
							<input type="text" matInput placeholder="State/Province" formControlName="state"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.state.errors" class="text-danger">
							<div *ngIf="f.state.errors.required">This field is required</div>
							<div *ngIf="f.state.errors.pattern">This field should be a number</div>
						</div> 
					</div> -->
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Country <span class="asterisk">*</span></mat-label>
							<input type="text" matInput placeholder="Country" formControlName="country"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.country.errors" class="text-danger">
							<div *ngIf="f.country.errors.required">This field is required</div>
							<div *ngIf="f.country.errors.pattern">This field should be a number</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Zip Code / Country Address Code <span class="asterisk">*</span></mat-label>
							<input type="text" matInput placeholder="Zip Code / Country Address Code"
								formControlName="zipCode" (focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.zipCode.errors" class="text-danger">
							<div *ngIf="f.zipCode.errors.required">This field is required</div>
							<div *ngIf="f.zipCode.errors.pattern">This field should be a number</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-----BILLING INFO-------------->
		<div class="container">
			<div class="col-md-12">
				<div class="billing_inforamtion">
					<ul class="d-flex justify-content-center">
						<li>
							<button class="custom-filled-back-button" type="button" (click)="backButton()">
								<svg width="41" height="16" viewBox="0 0 41 16" fill="#fff"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M37.963 0.500001H0.5L0.5 2H19.7407H36.963C37.7914 2 38.463 2.67157 38.463 3.5V9C38.463 9.82843 37.7914 10.5 36.963 10.5H19.7407H19.2407V10V6.59305L14.4313 10.75L19.2407 14.907V13V12.5H19.7407H37.963C38.6378 12.5 39.2838 12.2351 39.7591 11.7656C40.2342 11.2963 40.5 10.661 40.5 10V2.5C40.5 1.82723 40.2315 1.35011 39.8074 1.0275C39.3675 0.692862 38.7244 0.500001 37.963 0.500001Z"
										fill="#fff" stroke="#fff" />
								</svg></button>
						</li>
						<li><button class="custom-filled-reset-button" (click)="resetForm()" tabindex="1">RESET</button>
						</li>
						<li><button class="custom-filled-button" (click)="submitForm()">SAVE</button></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <div class="billing_inforamtion">
			<ul class="d-flex justify-content-end"> 
				<li><button class="custom-btn savebutton mr-2 btn-shadow" (click)="submitForm()"
						[disabled]="disableSubmitButton">SAVE</button> </li>
				<li><button class="custom-btn resetbutton mr-2 btn-shadow" (click)="resetForm()">RESET</button> </li>
				<li><button class="custom-btn backbutton mr-2 btn-shadow" (click)="backButton()">BACK</button> </li>
			</ul>
		</div> -->
	</form>
</main>