.btnclass
{
    margin-top: 25px;
    height: 60px;
    width: 100%;
}
.mat-form-field-hide-placeholder{
	border: solid 3px;
    border-radius: 4px;
}



.btnclass
{
    margin-top: 25px;
    height: 60px;
    width: 100%;
}
.mat-form-field-hide-placeholder{
	border: solid 3px;
    border-radius: 4px;
}
 .mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.3675em !important;
}

table {
	width: 100;
	white-space: break-spaces;
	padding: 10px;
	min-width: 5rem;

	thead th {
		color: #000000;
		font-weight: 600;
	}

	tbody td>p {
		margin: 0;
	}
}

a:hover {
	text-decoration: none;
	color: unset !important;
}

.dropdown-item{
	padding: 0.7rem 1.8rem !important;
	font-size: 16px;
}

.clickable
{
    cursor: pointer;
    transition: color 0.1s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
    transition: color 0.1s ease-in-out, text-decoration 0.2s ease-in-out;
    transition: color 0.1s ease-in-out, text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
    &:hover
    {
        text-decoration: underline;
        color: var(--blue);
    }
}
.modal#messageModal
{
    .modal-body
    {
        p
        {
            font-size: 1rem;
            font-weight: 500;
            span
            {
                font-size: 1.1rem;
            }
        }
        textarea#message
        {
            width: 100%;
            border-radius: 1rem;
            padding: 1rem;
            max-height: 15rem;
        }
    }
}

.accpet_reject_div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .acceptButton{
    background-color: #00bd1f;
    color: #fff;
    border: none;
    border-radius: 10rem;
    margin-right: 0.5rem;
    width: 80px;
}
.rejectButton{
    background-color: #fc0404;
    color: #fff;
    border: none;
    border-radius: 10rem;
    margin-right: 0.5rem;
    width: 80px;

}
.accepted{
  background-color: #00bd1f;
}
.rejected{
  background-color: #fc0404;
}
.pending{
    background-color: #0474fc;
}
.approval_status{
  font-size:medium;
  color:#fff;
}

.headingAccepted{
    font-size: 20px;
    color: #00bd1f;
      }
    
      .headingInProgress{
        font-size: 20px;
        color: #0474fc;
      }
    
      .headingRejected{
        font-size: 20px;
        color: #fc0404;
      }
      .headingStripe{
        font-size: 20px;
        color: #ff69b4;
      }