<ngx-spinner></ngx-spinner>
<main>
	<!-- Main page content-->
	<section class="user_information">
		<h2 class="headinginfo"> Cards </h2>
		<div class="containeredd">
			<div class="row mt-3">
				<div class="col-md-12">
					<label class="alert alert-danger">Note: Add Debit/Credit card first.</label>
				</div>
			</div>

			<div class="row d-flex justify-content-between">
				<div class="col-md-10" >
					<button class="custom-btn add-button" data-toggle="modal" (click)="addCardClick()">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-circle"
							viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
							<path
								d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
						</svg> Add Debit / Credit card
					</button>
				</div> 
			</div>

		</div>

		<div class="containeredd driverside_table">
			<div class="row">
				<div class="col-md-12 custom_table table-responsive">
					<table class="table table-striped dataTable dt-responsive" id="dataTable" role="grid"
						aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0"
						tabindex="-1">
						<thead>
							<tr role="row">
								<th>Card Holder First & Last Name</th>
								<th>Card No.</th>
								<th>MM/YYYY</th>
								<th>Card Type</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
								<ng-container *ngIf="cards">
									<tr role="row" class="odd" *ngFor="let card of cards">
										<td class="text-capitalize">{{card.name}}</td>
										<td>{{card.last4}}</td>
										<td *ngIf="card.exp_month >= 10; else showZero">
											{{card.exp_month+'/'+card.exp_year}}</td>
										<ng-template #showZero>
											<td>0{{card.exp_month+'/'+card.exp_year}}</td>
										</ng-template>
										<td class="text-capitalize">{{card.card_type}}</td>
										<td>
											<i class="fa fa-trash" style="font-size: x-large; color:#d64646"
												(click)="deleteCard(card.ID)" data-toggle="modal"
												data-target="#deleteConfirmationModal"></i>
										</td>
									</tr>

								</ng-container>
							<ng-container *ngIf="!cards">
								<tr>
									<td colspan="6">No Card found!</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
				<section class="billing_inforamtion">
					<ul>
						<li><button class="custom-btn backbutton btn-shadow" (click)="backButtonClick()"
								tabindex="-1">BACK</button> </li>
					</ul>
				</section>
			</div>
		</div>
	</section>
</main>

<!-- Delete confirmation modal -->
<app-delete-confirmation (deleteRecord)="delete()" [alertMessage]="alertMessage"></app-delete-confirmation>


