<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main>
	<!-- Main page content-->
	<form [formGroup]="addTravelPlannerAccountForm">
		<section class="user_information">
			<h2 class="headinginfo adminbox_shadow">Travel Advisor Account <span>({{countryCodeName}})</span></h2>
			<div class="container mt-1 ">
				<div class="row ">
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>First Name <span class="asterisk">*</span></mat-label>
							<input formControlName="firstName" type="text" matInput placeholder="First Name"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.firstName.errors" class="text-danger">
							<div *ngIf="f.firstName.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>Middle Name<span class="asterisk"></span></mat-label>
							<input formControlName="middleName" type="text" matInput placeholder="Middle Name"
								(focus)="$event.target.select()">
						</mat-form-field>

					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>Last Name <span class="asterisk">*</span></mat-label>
							<input formControlName="lastName" type="text" matInput placeholder="Last Name"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.lastName.errors" class="text-danger">
							<div *ngIf="f.lastName.errors.required">This field is required</div>
						</div>
					</div>

					<div class="col-md-4">
						<mat-form-field appearance="outline" class="mobileField"
							[class.is-invalid-input]="submittedForm && f.office.errors || (f.office.touched || f.office.dirty) && f.office.errors">
							<mat-label>Contact</mat-label>
							<input pattern="[0-9+]*" maxlength="16" matInput #officeInput placeholder="Contact"
								formControlName="office" class="phoneNumberClass" tabindex="1"
								(focus)="$event.target.select()" (keypress)="numberOnly($event)"
								(input)="validateOffice()" (blur)="validateOffice()" />
						</mat-form-field>
						<div *ngIf="submittedForm && f.office.errors || (f.office.touched || f.office.dirty) && f.office.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.office.errors.required">This field is required</div>
							<div *ngIf="f.office.errors?.invalidIntl">{{f.office.errors?.invalidIntl}}</div>
						</div>
						<div *ngIf="f.office.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<!-- <div *ngIf="f.office.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div> -->
							<ng-template #plusError>
								<!-- <div *ngIf="f.office.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div> -->
								<ng-template #allErrors>
									<!-- <div *ngIf="f.office.errors?.pattern;else numberLength">Enter Numbers Without
										Spaces or Dashes
									</div> -->
									<!-- <ng-template #numberLength>
										<div *ngIf="f.office.errors.minlength">Minimum length should be 4</div>
										<div *ngIf="f.office.errors.maxlength">Maximum length should be 15</div>
									</ng-template> -->
								</ng-template>
							</ng-template>
						</div>
					</div>
					<div class="col-md-4">
						<mat-form-field appearance="outline" class="mobileField"
							[class.is-invalid-input]="submittedForm && f.mobile.errors || (f.mobile.touched || f.mobile.dirty) && f.mobile.errors">
							<mat-label>Mobile<span class="asterisk"> *</span></mat-label>
							<input pattern="[0-9+]*" maxlength="16" matInput #mobileInput placeholder="mobile"
								formControlName="mobile" class="phoneNumberClass" tabindex="1"
								[readonly]="travelPlannerId" (focus)="$event.target.select()"
								(keypress)="numberOnly($event)" (input)="validateMobile()" (blur)="validateMobile()" />

						</mat-form-field>
						<div *ngIf="submittedForm && f.mobile.errors || (f.mobile.touched || f.mobile.dirty) && f.mobile.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.mobile.errors.required">This field is required</div>
							<div *ngIf="f.mobile.errors?.invalidIntl">{{f.mobile.errors?.invalidIntl}}</div>
						</div>
						<div *ngIf="f.mobile.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<!-- <div *ngIf="f.mobile.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div> -->
							<ng-template #plusError>
								<!-- <div *ngIf="f.mobile.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div> -->
								<ng-template #allErrors>
									<!-- <div *ngIf="f.mobile.errors?.pattern;else numberLength">Enter Numbers Without
										Spaces or Dashes
									</div> -->
									<!-- <ng-template #numberLength>
										<div *ngIf="f.mobile.errors.minlength">Minimum length should be 4</div>
										<div *ngIf="f.mobile.errors.maxlength">Maximum length should be 15</div>
									</ng-template> -->
								</ng-template>
							</ng-template>
						</div>
						<a class="phone_icon" *ngIf="travelPlannerId"
							href="tel:{{f?.mobileIsd?.value}}{{f?.mobile?.value}}">
							<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 122.88 122.88">
								<defs>
									<style>
										.phoneCls-1 {
											fill: #33a867;
											fill-rule: evenodd;
										}
									</style>
								</defs>
								<path class="phoneCls-1"
									d="M61.44,0A61.46,61.46,0,1,1,18,18,61.21,61.21,0,0,1,61.44,0ZM48.1,56.19A49.35,49.35,0,0,0,55.39,66.4a41.25,41.25,0,0,0,11.55,8.51,1.14,1.14,0,0,0,1,0,4.48,4.48,0,0,0,1.39-1A16.91,16.91,0,0,0,70.6,72.4c1.85-2.44,4.15-5.47,7.39-4l.2.11L89,74.77l.11.07a4.84,4.84,0,0,1,2,4.2,11.43,11.43,0,0,1-1.58,5.37,11.06,11.06,0,0,1-5.2,4.6A23.63,23.63,0,0,1,78,90.75a21.69,21.69,0,0,1-9.8-.82,43.06,43.06,0,0,1-9.85-4.76L58.05,85c-1.6-1-3.33-2.07-5-3.33a62.69,62.69,0,0,1-16.65-18.9c-3.46-6.26-5.34-13-4.32-19.44a14,14,0,0,1,4.72-8.85A12.68,12.68,0,0,1,46.18,32a1.35,1.35,0,0,1,1.09.7L54.21,44.4a3.68,3.68,0,0,1,.59,3.92,7.71,7.71,0,0,1-2.66,3c-.37.32-.82.64-1.29,1-1.55,1.12-3.32,2.42-2.71,4l0-.05Z" />
							</svg>
						</a>
					</div>

					<div class="col-md-4">
						<mat-form-field appearance="outline">
							<mat-label>E-mail <span class="asterisk">*</span></mat-label>
							<input formControlName="email" type="text" matInput placeholder="E-mail"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.email.errors" class="text-danger">
							<div *ngIf="f.email.errors.required">This field is required</div>
							<div *ngIf="f.email.errors.pattern">Email format should be valid</div>
						</div>
					</div>
					<!-- <div class="col-md-4 margin-left-20" *ngIf="travelPlannerId">
						<mat-form-field appearance="outline">
							<mat-label>E-mail <span class="asterisk">*</span></mat-label>
							<input formControlName="email" type="text" matInput placeholder="E-mail">
						</mat-form-field>
						<div *ngIf="submittedForm && f.email.errors" class="text-danger">
							<div *ngIf="f.email.errors.required">This field is required</div>
							<div *ngIf="f.email.errors.pattern">Email format should be valid</div>
						</div>
					</div> -->
				</div>
			</div>
		</section>
		<section class="user_information">
			<h2 class="headinginfo adminbox_shadow"> Travel Agency Information </h2>
			<div class="container mt-1 ">
				<div class="row ">
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Agency Name <span class="asterisk">*</span></mat-label>
							<input formControlName="agencyName" type="text" matInput placeholder="Agency Name"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.agencyName.errors" class="text-danger">
							<div *ngIf="f.agencyName.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Payee Name <span class="asterisk">*</span></mat-label>
							<input formControlName="payee" type="text" matInput placeholder="Payee Name"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.payee.errors" class="text-danger">
							<div *ngIf="f.payee.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Address <span class="asterisk">*</span></mat-label>
							<input formControlName="address" type="text" matInput placeholder="Address" #search1
								autocomplete="off" (focus)="$event.target.select()">
						</mat-form-field>
						<!-- <textarea placeholder="Address" formControlName="address"></textarea> -->
						<div *ngIf="submittedForm && f.address.errors" class="text-danger">
							<div *ngIf="f.address.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline" class="mobileField"
							[class.is-invalid-input]="submittedForm && f.fax.errors || (f.fax.touched || f.fax.dirty) && f.fax.errors">
							<mat-label>Fax</mat-label>
							<input pattern="[0-9+]*" maxlength="16" matInput #faxInput placeholder="fax"
								formControlName="fax" class="phoneNumberClass" tabindex="1"
								(focus)="$event.target.select()" (keypress)="numberOnly($event)" (input)="validateFax()"
								(blur)="validateFax()" />

						</mat-form-field>
						<div *ngIf="submittedForm && f.fax.errors || (f.fax.touched || f.fax.dirty) && f.fax.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.fax.errors.required">This field is required</div>
							<div *ngIf="f.fax.errors?.invalidIntl">{{f.fax.errors?.invalidIntl}}</div>
						</div>
						<div *ngIf="f.fax.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<!-- <div *ngIf="f.fax.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div> -->
							<ng-template #plusError>
								<!-- <div *ngIf="f.fax.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div> -->
								<ng-template #allErrors>
									<!-- <div *ngIf="f.fax.errors?.pattern;else numberLength">Enter Numbers Without
										Spaces or Dashes
									</div> -->
									<!-- <ng-template #numberLength>
										<div *ngIf="f.fax.errors.minlength">Minimum length should be 4</div>
										<div *ngIf="f.fax.errors.maxlength">Maximum length should be 15</div>
									</ng-template> -->
								</ng-template>
							</ng-template>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline" class="mobileField"
							[class.is-invalid-input]="submittedForm && f.officeNumber.errors || (f.officeNumber.touched || f.officeNumber.dirty) && f.officeNumber.errors">
							<mat-label>24hr Agent Help Desk <span class="asterisk">*</span></mat-label>

							<input pattern="[0-9+]*" maxlength="16" matInput #officeNumberInput
								placeholder="24hr Agent Help Desk" formControlName="officeNumber"
								class="phoneNumberClass" tabindex="1" (focus)="$event.target.select()"
								(keypress)="numberOnly($event)" (input)="validateOfficeNumber()"
								(blur)="validateOfficeNumber()" />

						</mat-form-field>
						<div *ngIf="submittedForm && f.officeNumber.errors || (f.officeNumber.touched || f.officeNumber.dirty) && f.officeNumber.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.officeNumber.errors.required">This field is required</div>
							<div *ngIf="f.officeNumber.errors?.invalidIntl">{{f.officeNumber.errors?.invalidIntl}}</div>
						</div>
						<div *ngIf="f.officeNumber.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<!-- <div *ngIf="f.officeNumber.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div> -->
							<ng-template #plusError>
								<!-- <div *ngIf="f.officeNumber.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div> -->
								<ng-template #allErrors>
									<!-- <div *ngIf="f.officeNumber.errors?.pattern;else numberLength">Enter Numbers Without
										Spaces or Dashes
									</div> -->
									<!-- <ng-template #numberLength>
										<div *ngIf="f.officeNumber.errors.minlength">Minimum length should be 4</div>
										<div *ngIf="f.officeNumber.errors.maxlength">Maximum length should be 15</div>
									</ng-template> -->
								</ng-template>
							</ng-template>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>IATA # <span class="asterisk">*</span></mat-label>
							<input formControlName="iata" type="text" matInput placeholder="IATA"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.iata.errors" class="text-danger">
							<div *ngIf="f.iata.errors.required">This field is required</div>
						</div>
					</div>

					<!-- <div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>City <span class="asterisk">*</span></mat-label>
							<input formControlName="city" type="text" matInput placeholder="City">
						</mat-form-field>
						<div *ngIf="submittedForm && f.city.errors" class="text-danger">
							<div *ngIf="f.city.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>State/Province <span class="asterisk">*</span></mat-label>
							<input formControlName="state" type="text" matInput placeholder="State/Province">
						</mat-form-field>
						<div *ngIf="submittedForm && f.state.errors" class="text-danger">
							<div *ngIf="f.state.errors.required">This field is required</div>
						</div>
					</div> -->
					<div class="col-md-6">
						<!-- <mat-form-field appearance="outline">
							<mat-label>Country <span class="asterisk">*</span></mat-label>
							<input formControlName="country" type="text" matInput placeholder="Country"
								(focus)="$event.target.select()">
						</mat-form-field> -->
						<mat-form-field appearance="outline">
							<mat-label>Country <span class="asterisk">*</span></mat-label>
							<mat-select formControlName="country" (selectionChange)="changeCountry($event.value)"
								tabindex="1">
								<mat-option value="">Choose Country</mat-option>
								<mat-option *ngFor="let countryOption of countryOptions"
									[value]="countryOption.countryShortCode">
									{{ countryOption.countryName }}</mat-option>
							</mat-select>
						</mat-form-field>
						<div *ngIf="submittedForm && f.country.errors" class="text-danger">
							<div *ngIf="f.country.errors.required">This field is required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Zip Code / Country Address Code <span class="asterisk">*</span></mat-label>
							<input formControlName="zipCode" type="text" matInput
								placeholder="Zip Code / Country Address Code" (focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.zipCode.errors" class="text-danger">
							<div *ngIf="f.zipCode.errors.required">This field is required</div>
							<div *ngIf="f.zipCode.errors.pattern">This field should be a number</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="user_information" *ngIf="!travelPlannerId">
			<h2 class="headinginfo"> Billing Information</h2>
			<div class="container py-2" id="accordionSidebar1">
				<h3 class="headinginfoH3 mt-3">Credit Card <img class="creditcard_pay"
						src="assets/admin/images/creditcard_pay.png" tabindex="-1"></h3>
				<div class="row">
					<div class="col-md-3 pr-0 borderright mobilePadding">
						<div class="form-group radio-tile-group">
							<div class="custom-radio input-container btn-shadow">
								<input class="radio-button" id="personal" type="radio" name="card_type" checked=""
									formControlName="card_type" value="personal" tabindex="-1">
								<div class="radio-tile">
									<label class="radio-tile-label" for="personal">Personal</label>
								</div>
							</div>
							<div *ngIf="submittedForm && f.card_type.errors || f.card_type.touched && f.card_type.errors"
								class="text-danger margin-bottom-thin my-mat-hint">
								<div *ngIf="f.card_type.errors.required">This field is required</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 pl-0 mobilePadding">
						<div class="form-group radio-tile-group">
							<div class="custom-radio input-container btn-shadow">
								<input class="radio-button" id="business" type="radio" name="card_type"
									formControlName="card_type" value="business" tabindex="-1">
								<div class="radio-tile">
									<label class="radio-tile-label" for="business">Business</label>
								</div>
								<div *ngIf="submittedForm && f.card_type.errors || f.card_type.touched && f.card_type.errors"
									class="text-danger margin-bottom-thin my-mat-hint">
									<div *ngIf="f.card_type.errors.required">This field is required</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>First & Last Name</mat-label>
							<input matInput placeholder="First & Last Name" formControlName="name" tabindex="1"
								(focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.name.errors || f.name.touched && f.name.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<!-- <div *ngIf="f.name.errors.required">This field is required</div> -->
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Card No#</mat-label>
							<input matInput placeholder="Card No#" formControlName="number" tabindex="1"
								id="card-number" (focus)="$event.target.select()">
						</mat-form-field>
						<div *ngIf="submittedForm && f.number.errors || f.number.touched && f.number.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<!-- <div *ngIf="f.number.errors.required">This field is required</div> -->
						</div>
						<div *ngIf="f.number.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.number.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div>
							<ng-template #plusError>
								<div *ngIf="f.number.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div>
								<ng-template #allErrors>
									<div *ngIf="f.number.errors?.pattern;else numberLength">Enter Numbers Only
									</div>
									<ng-template #numberLength>
										<div *ngIf="f.number.errors.minlength">Minimum length should be 14</div>
										<div *ngIf="f.number.errors.maxlength">Maximum length should be 20</div>
									</ng-template>
								</ng-template>
							</ng-template>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>Expiry Date*</mat-label>
							<input matInput [matDatepicker]="dp" [formControl]="expiryDateControl" placeholder="MM/YYYY"
								(click)="dp.open()" readonly>
							<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
							<mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
								(monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
							</mat-datepicker>
						</mat-form-field>
						<div *ngIf="submittedForm && (f.exp_month.errors || f.exp_year.errors) || (f.exp_month.touched && (f.exp_month.errors || f.exp_year.errors))"
							class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.exp_month.errors?.required || f.exp_year.errors?.required">Expiry Date is
								required</div>
						</div>
					</div>
					<div class="col-md-6">
						<mat-form-field appearance="outline">
							<mat-label>CVV (3-4 digit code)</mat-label>
							<input matInput placeholder="CVV (3-4 digit code)" formControlName="cvc" tabindex="1">
						</mat-form-field>
						<div *ngIf="submittedForm && f.cvc.errors || f.cvc.touched && f.cvc.errors"
							class="text-danger margin-bottom-thin my-mat-hint">
							<!-- <div *ngIf="f.cvc.errors.required">This field is required</div> -->
						</div>
						<div *ngIf="f.cvc.errors" class="text-danger margin-bottom-thin my-mat-hint">
							<div *ngIf="f.cvc.errors?.invalid_Pattern;else plusError">Do not add Dashes
								with numbers</div>
							<ng-template #plusError>
								<div *ngIf="f.cvc.errors?.invalidPattern;else allErrors">Do not enter +
									sign</div>
								<ng-template #allErrors>
									<div *ngIf="f.cvc.errors?.pattern;else numberLength">Enter Numbers Only
									</div>
									<ng-template #numberLength>
										<div *ngIf="f.cvc.errors.minlength">Minimum length should be 3</div>
										<div *ngIf="f.cvc.errors.maxlength">Maximum length should be 3</div>
									</ng-template>
								</ng-template>
							</ng-template>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="col-md-12">
				<div class="billing_inforamtion">
					<ul class="d-flex justify-content-center">
						<li>
							<button class="custom-filled-back-button" type="button" (click)="backButton()">
								<svg width="41" height="16" viewBox="0 0 41 16" fill="#fff"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M37.963 0.500001H0.5L0.5 2H19.7407H36.963C37.7914 2 38.463 2.67157 38.463 3.5V9C38.463 9.82843 37.7914 10.5 36.963 10.5H19.7407H19.2407V10V6.59305L14.4313 10.75L19.2407 14.907V13V12.5H19.7407H37.963C38.6378 12.5 39.2838 12.2351 39.7591 11.7656C40.2342 11.2963 40.5 10.661 40.5 10V2.5C40.5 1.82723 40.2315 1.35011 39.8074 1.0275C39.3675 0.692862 38.7244 0.500001 37.963 0.500001Z"
										fill="#fff" stroke="#fff" />
								</svg></button>
						</li>
						<li><button class="custom-filled-reset-button" (click)="resetForm()" tabindex="1">RESET</button>
						</li>
						<li><button class="custom-filled-button" (click)="submitForm()">SAVE</button></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <div class="container">
			<div class="row py-4">
				<div class="col-md-6">

				</div>
				<div class="col-md-6 ">
					<div class="billing_inforamtion">
						<ul class="d-flex justify-content-center">
							<li><button class="custom-btn savebutton" (click)="submitForm()"
									[disabled]="disableSubmitButton" tabindex="-1">SAVE</button> </li>
							<li><button class="custom-btn resetbutton" (click)="resetForm()"
									tabindex="-1">RESET</button> </li>
							<li><button class="custom-btn backbutton" (click)="backButton()" tabindex="-1">BACK</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> -->

	</form>
</main>