<div class="vehicle-card" (click)="selectVehicle()">
	<div class="vehicle-image-wrap">
		<img
			*ngIf="imageUrl"
			[src]="imageUrl"
			[alt]="vehicleName"
			class="vehicle-img"
			onerror="this.style.display='none'" />
		<div class="vehicle-img-placeholder" *ngIf="!imageUrl">🚗</div>
	</div>
	<div class="vehicle-info">
		<div class="vehicle-type">{{ vehicle?.vehicle_type }}</div>
		<div class="vehicle-name">{{ vehicleName }}</div>
		<div class="vehicle-meta" *ngIf="capacity">{{ capacity }}</div>
		<div class="vehicle-affiliate" *ngIf="affiliateName">{{ affiliateName }}</div>
	</div>
	<div class="vehicle-price">
		<div class="price-label">From</div>
		<div class="price-value">{{ price }}</div>
		<button class="select-btn">Select</button>
	</div>
</div>
