#btn-back-to-top {
	position: fixed;
	bottom  : 20px;
	right   : 20px;
	display : none;
}

/* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version.*/
mat-progress-bar {
	top     : 80px;
	position: fixed;
	z-index : 99;
}

.nav-item a {
	cursor : pointer;
	display: flex;
}
.layout_shadow{
	box-shadow: 3px 3px 20px -6px rgb(40 40 40 / 50%);
    border-radius: 12px;
}

.sidebar_admin_li{
	margin-bottom: 5px;
}

:host ::ng-deep .VIpgJd-ZVi9od-l4eHX-hSRGPd {
	display: none !important;
}

:host ::ng-deep .goog-te-gadget .goog-te-combo {
	// margin: 0 !important;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0 0px 10px 10px !important;
	width: 130px !important;
	max-width: 100% !important;
	padding-left: 28px;
	font-size: 15px;
}

@media only screen and (max-width:767px) {
	.hideMobile {
		display: none;
	}
}

@media only screen and (min-width:767px) {
	.hideDesktop {
		display: none;
	}
}

.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30px;  /* Set the width of the hamburger icon */
	height: 26px; /* Set the height of the hamburger icon */
	cursor: pointer; /* Add cursor pointer to make it clickable */
  }
  
  .line {
	width: 100%;
	height: 4px;  /* Set the thickness of each line */
	background-color: black;  /* Color of the lines */
	border-radius: 4px;  /* Rounded corners for smoothness */
  }
  