<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main>
    <!-- Main page content-->
    <form [formGroup]="addFamilyMemberAccountForm" appInvalidControlScroll>
        <section class="user_information">
            <h2 class="headinginfo adminbox_shadow">{{clientId ? "Edit" : "Add"}} Other Member/User Account</h2>

            <div class="container-fluid mt-1 ">
                <div class="row ">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name <span class="asterisk">*</span></mat-label>
                            <input formControlName="first_name" type="text" matInput placeholder="First Name">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.first_name.errors" class="text-danger">
                            <div *ngIf="f.first_name.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name <span class="asterisk">*</span></mat-label>
                            <input formControlName="last_name" type="text" matInput placeholder="Last Name">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.last_name.errors" class="text-danger">
                            <div *ngIf="f.last_name.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="mobileLabelClass">
                            <label class="mat-form-field-label mat-empty mat-form-field-empty labelClass">Mobile<span
                                    class="asterisk">
                                    *</span></label>
                            <input matInput #phoneInput placeholder="Mobile" formControlName="phone_number"
                                class="phoneNumberClass" tabIndex="1" (focus)="$event.target.select()"
                                [readonly]="clientId" />
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.phone_number?.errors || f?.phone_number?.touched && f?.phone_number?.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f?.phone_number?.errors?.required">This field is required</div>
                        </div>
                        <div *ngIf="f?.phone_number?.errors" class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f?.phone_number?.errors?.invalid_Pattern;else plusError">Do not add Dashes
                                with numbers</div>
                            <ng-template #plusError>
                                <div *ngIf="f?.phone_number?.errors?.invalidPattern;else allErrors">Do not enter +
                                    sign</div>
                                <ng-template #allErrors>
                                    <div *ngIf="f?.phone_number?.errors?.pattern;else numberLength">Enter Numbers
                                        Without
                                        Spaces or Dashes
                                    </div>
                                    <ng-template #numberLength>
                                        <div *ngIf="f?.phone_number?.errors?.minlength">Minimum length should be 4</div>
                                        <div *ngIf="f?.phone_number?.errors?.maxlength">Maximum length should be 15
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail <span class="asterisk">*</span></mat-label>
                            <input formControlName="email" type="email" matInput placeholder="E-mail"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="(submittedForm && f.email.errors) || (f.email.touched && f.email.errors)"
                            class="text-danger text-lg m-0">
                            <div *ngIf="f.email.errors.required">This field is required</div>
                            <div *ngIf="f.email.errors.pattern">Email format should be valid</div>
                        </div>
                    </div>

                    <!-- <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Address <span class="asterisk">*</span></mat-label>
                            <input formControlName="address" type="text" matInput placeholder="Address" #search1>
                        </mat-form-field> -->
                    <!-- <textarea placeholder="Address" formControlName="address"></textarea> -->
                    <!-- <div *ngIf="submittedForm && f.address.errors" class="text-danger">
                            <div *ngIf="f.address.errors.required">This field is required</div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Relation <span class="asterisk">*</span></mat-label>
                            <input formControlName="relationship" type="text" matInput placeholder="Relation">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.relationship.errors" class="text-danger">
                            <div *ngIf="f.relationship.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Age <span class="asterisk">*</span></mat-label>
                            <input formControlName="age" type="text" matInput placeholder="Age">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.age.errors || f.age.touched && f.age.errors" class="text-danger">
                            <div *ngIf="f.age.errors.required">This field is required</div>
                            <div *ngIf="f.age.errors.pattern">This field should be a number
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row py-4">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 ">
                    <div class="billing_inforamtion">
                        <ul class="d-flex justify-content-center" style="gap:30px;">
                            <li><button class="custom-btn mr-2 savebutton btn-shadow" (click)="submitForm()"
                                    [disabled]="disableSubmitButton">SAVE</button> </li>
                            <li><button class="custom-btn  mr-2 resetbutton btn-shadow"
                                    (click)="resetForm()">RESET</button> </li>
                            <!-- <li><button class="custom-btn  mr-3 backbutton btn-shadow"
									(click)="backButton()">BACK</button> </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </form>
</main>