.mobileLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	padding-left    : 0px;
	background-color: #fff;
	max-width       : 70px;
	text-align      : center;
	left            : -6px;
	top             : 30px;
}


.resetbutton,
.backbutton,
.savebutton
 {
    padding: 14px 45px !important;
	
}

.billing_inforamtion ul {
	margin: 0px 14px !important;
	padding-bottom: 20px !important;
    padding-top: 15px !important;
	display: flex;
    justify-content: right;
}
.asterisk{
	font-size: 1.2rem;
}