<main>
   <h2 class="headinginfo adminbox_shadow"> Create Booking </h2>
   <!-- Main page content-->
   <section class="createbooking_wrap">
      <div class="container mt-1 ">
         <!-----ONE WAY---->
         <div class="row ">
            <div class="col-md-12">
               <label>Service Type*</label>
               <select class="form-control custom-select">
                  <option class="oneway" selected>One Way</option>
                  <option class="roundtrip">Round Trip</option>
                  <option class="charttour">Charter/Tour</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label>Transfer Type*</label>
               <select class="form-control custom-select">
                  <option>Airport</option>
                  <option>Cruise Port</option>
                  <option>To City</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label>Travel Type* </label>
               <select class="form-control custom-select">
                  <option>Departure</option>
                  <option>Arrival</option>
                  <option>None</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label> Pickup Date* </label>
               <input type="date" placeholder="dfs">
            </div>
            <div class="col-6 col-md-6">
               <label> Pickup Time* </label>
               <select class="form-control custom-select">
                  <option _ngcontent-mmx-c81="" value="1200a">12:00 AM - 1200</option>
                  <option _ngcontent-mmx-c81="" value="1215a">12:15 AM - 1215</option>
                  <option _ngcontent-mmx-c81="" value="1230a">12:30 AM - 1230</option>
                  <option _ngcontent-mmx-c81="" value="1245a">12:45 AM - 1245</option>
                  <option _ngcontent-mmx-c81="" value="0100a">1:00 AM - 0100</option>
                  <option _ngcontent-mmx-c81="" value="1015a">1:15 AM - 0115</option>
                  <option _ngcontent-mmx-c81="" value="0130a">1:30 AM - 0130</option>
                  <option _ngcontent-mmx-c81="" value="0145a">1:45 AM - 0145</option>
                  <option _ngcontent-mmx-c81="" value="0200a">2:00 AM - 0200</option>
                  <option _ngcontent-mmx-c81="" value="0215a">2:15 AM - 0215</option>
                  <option _ngcontent-mmx-c81="" value="0230a">2:30 AM - 0230</option>
                  <option _ngcontent-mmx-c81="" value="0245a">2:45 AM - 0245</option>
                  <option _ngcontent-mmx-c81="" value="0300a">3:00 AM - 0300</option>
                  <option _ngcontent-mmx-c81="" value="0315a">3:15 AM - 0315</option>
                  <option _ngcontent-mmx-c81="" value="0330a">3:30 AM - 0330</option>
                  <option _ngcontent-mmx-c81="" value="0345a">3:45 AM - 0345</option>
                  <option _ngcontent-mmx-c81="" value="0400a">4:00 AM - 0400</option>
                  <option _ngcontent-mmx-c81="" value="0415a">4:15 AM - 0415</option>
                  <option _ngcontent-mmx-c81="" value="0430a">4:30 AM - 0430</option>
                  <option _ngcontent-mmx-c81="" value="0445a">4:45 AM - 0445</option>
                  <option _ngcontent-mmx-c81="" value="0500a">5:00 AM - 0500</option>
                  <option _ngcontent-mmx-c81="" value="0515a">5:15 AM - 0515</option>
                  <option _ngcontent-mmx-c81="" value="0530a">5:30 AM - 0530</option>
                  <option _ngcontent-mmx-c81="" value="0545a">5:45 AM - 0545</option>
                  <option _ngcontent-mmx-c81="" value="0600a">6:00 AM - 0600</option>
                  <option _ngcontent-mmx-c81="" value="0615a">6:15 AM - 0615</option>
                  <option _ngcontent-mmx-c81="" value="0630a">6:30 AM - 0630</option>
                  <option _ngcontent-mmx-c81="" value="0645a">6:45 AM - 0645</option>
                  <option _ngcontent-mmx-c81="" value="0700a">7:00 AM - 0700</option>
                  <option _ngcontent-mmx-c81="" value="0715a">7:15 AM - 0715</option>
                  <option _ngcontent-mmx-c81="" value="0730a">7:30 AM - 0730</option>
                  <option _ngcontent-mmx-c81="" value="0745a">7:45 AM - 0745</option>
                  <option _ngcontent-mmx-c81="" value="0800a">8:00 AM - 0800</option>
                  <option _ngcontent-mmx-c81="" value="0815a">8:15 AM - 0815</option>
                  <option _ngcontent-mmx-c81="" value="0830a">8:30 AM - 0830</option>
                  <option _ngcontent-mmx-c81="" value="0845a">8:45 AM - 0845</option>
                  <option _ngcontent-mmx-c81="" value="0900a">9:00 AM - 0900</option>
                  <option _ngcontent-mmx-c81="" value="0915a">9:15 AM - 0915</option>
                  <option _ngcontent-mmx-c81="" value="0930a">9:30 AM - 0930</option>
                  <option _ngcontent-mmx-c81="" value="0945a">9:45 AM - 0945</option>
                  <option _ngcontent-mmx-c81="" value="1000a">10:00 AM - 1000</option>
                  <option _ngcontent-mmx-c81="" value="1015a">10:15 AM - 1015</option>
                  <option _ngcontent-mmx-c81="" value="1030a">10:30 AM - 1030</option>
                  <option _ngcontent-mmx-c81="" value="1045a">10:45 AM - 1045</option>
                  <option _ngcontent-mmx-c81="" value="1100a">11:00 AM - 1100</option>
                  <option _ngcontent-mmx-c81="" value="1115a">11:15 AM - 1115</option>
                  <option _ngcontent-mmx-c81="" value="1130a">11:30 AM - 1130</option>
                  <option _ngcontent-mmx-c81="" value="1145a">11:45 AM - 1145</option>
                  <option _ngcontent-mmx-c81="" value="1200p">12:00 PM - 1200</option>
                  <option _ngcontent-mmx-c81="" value="1215p">12:15 PM - 1215</option>
                  <option _ngcontent-mmx-c81="" value="1230p">12:30 PM - 1230</option>
                  <option _ngcontent-mmx-c81="" value="1245p">12:45 PM - 1245</option>
                  <option _ngcontent-mmx-c81="" value="1300p">1:00 PM - 1300</option>
                  <option _ngcontent-mmx-c81="" value="1315p">1:15 PM - 1315</option>
                  <option _ngcontent-mmx-c81="" value="1330p">1:30 PM - 1330</option>
                  <option _ngcontent-mmx-c81="" value="1345p">1:45 PM - 1345</option>
                  <option _ngcontent-mmx-c81="" value="1400p">2:00 PM - 1400</option>
                  <option _ngcontent-mmx-c81="" value="1415p">2:15 PM - 1415</option>
                  <option _ngcontent-mmx-c81="" value="1430p">2:30 PM - 1430</option>
                  <option _ngcontent-mmx-c81="" value="1445p">2:45 PM - 1445</option>
                  <option _ngcontent-mmx-c81="" value="1500p">3:00 PM - 1500</option>
                  <option _ngcontent-mmx-c81="" value="1515p">3:15 PM - 1515</option>
                  <option _ngcontent-mmx-c81="" value="1530p">3:30 PM - 1530</option>
                  <option _ngcontent-mmx-c81="" value="1545p">3:45 PM - 1545</option>
                  <option _ngcontent-mmx-c81="" value="1600p">4:00 PM - 1600</option>
                  <option _ngcontent-mmx-c81="" value="1615p">4:15 PM - 1615</option>
                  <option _ngcontent-mmx-c81="" value="1630p">4:30 PM - 1630</option>
                  <option _ngcontent-mmx-c81="" value="1645p">4:45 PM - 1645</option>
                  <option _ngcontent-mmx-c81="" value="1700p">5:00 PM - 1700</option>
                  <option _ngcontent-mmx-c81="" value="1715p">5:15 PM - 1715</option>
                  <option _ngcontent-mmx-c81="" value="1730p">5:30 PM - 1730</option>
                  <option _ngcontent-mmx-c81="" value="1745p">5:45 PM - 1745</option>
                  <option _ngcontent-mmx-c81="" value="1800p">6:00 PM - 1800</option>
                  <option _ngcontent-mmx-c81="" value="1815p">6:15 PM - 1815</option>
                  <option _ngcontent-mmx-c81="" value="1830p">6:30 PM - 1830</option>
                  <option _ngcontent-mmx-c81="" value="1845p">6:45 PM - 1845</option>
                  <option _ngcontent-mmx-c81="" value="1900p">7:00 PM - 1900</option>
                  <option _ngcontent-mmx-c81="" value="1915p">7:15 PM - 1915</option>
                  <option _ngcontent-mmx-c81="" value="1930p">7:30 PM - 1930</option>
                  <option _ngcontent-mmx-c81="" value="1945p">7:45 PM - 1945</option>
                  <option _ngcontent-mmx-c81="" value="2000p">8:00 PM - 2000</option>
                  <option _ngcontent-mmx-c81="" value="2015p">8:15 PM - 2015</option>
                  <option _ngcontent-mmx-c81="" value="2030p">8:30 PM - 2030</option>
                  <option _ngcontent-mmx-c81="" value="2045p">8:45 PM - 2045</option>
                  <option _ngcontent-mmx-c81="" value="2100p">9:00 PM - 2100</option>
                  <option _ngcontent-mmx-c81="" value="2115p">9:15 PM - 2115</option>
                  <option _ngcontent-mmx-c81="" value="2130p">9:30 PM - 2130</option>
                  <option _ngcontent-mmx-c81="" value="2145p">9:45 PM - 2145</option>
                  <option _ngcontent-mmx-c81="" value="2200p">10:00 PM - 2200</option>
                  <option _ngcontent-mmx-c81="" value="2215p">10:15 PM - 2215</option>
                  <option _ngcontent-mmx-c81="" value="2230p">10:30 PM - 2230</option>
                  <option _ngcontent-mmx-c81="" value="2245p">10:45 PM - 2245</option>
                  <option _ngcontent-mmx-c81="" value="2300p">11:00 PM - 2300</option>
                  <option _ngcontent-mmx-c81="" value="2315p">11:15 PM - 2315</option>
                  <option _ngcontent-mmx-c81="" value="2330p">11:30 PM - 2330</option>
                  <option _ngcontent-mmx-c81="" value="2345p">11:45 PM - 2345</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label>Pickup Address</label>
               <input type="text" placeholder="Pickup Address">
            </div>
            <div class="col-6 col-md-6">
               <label>Drop Off Address</label>
               <input type="text" placeholder="Drop Off Address">
            </div>
            <div class="col-6 col-md-6">
               <label>No. of Passengers*</label>
               <div>
                  <ul class="number passengers_qty">
                     <li>
                        <input type="number" value="1" min="0" max="1000" step="1" />
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-6 col-md-6">
               <label>Luggage Count*</label>
               <div>
                  <ul class="number passengers_qty">
                     <li>
                        <input type="number" value="0" min="0" max="2000" step="1" />
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-md-12">
               <span>1 large luggage = 2 carry on. Golf Bag / Skis = Minivan / SUV</span>
               <input class="mt-4" type="submit" value="Calculate All-Inclusive Rate">
            </div>
         </div>
         <!-----Round Trip---->
         <div class="row d-none">
            <div class="col-md-12">
               <label>Service Type*</label>
               <select class="form-control custom-select">
                  <option class="oneway">One Way</option>
                  <option class="roundtrip" selected>Round Trip</option>
                  <option class="charttour">Charter/Tour</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label>Transfer Type*</label>
               <select class="form-control custom-select">
                  <option>Airport</option>
                  <option>Cruise Port</option>
                  <option>City</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label>Travel Type* </label>
               <select class="form-control custom-select">
                  <option>Departure</option>
                  <option>Arrival</option>
                  <option>None</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label> Pickup Date* </label>
               <input type="date" placeholder="dfs">
            </div>
            <div class="col-6 col-md-6">
               <label> Pickup Time* </label>
               <select class="form-control custom-select">
                  <option _ngcontent-mmx-c81="" value="1200a">12:00 AM - 1200</option>
                  <option _ngcontent-mmx-c81="" value="1215a">12:15 AM - 1215</option>
                  <option _ngcontent-mmx-c81="" value="1230a">12:30 AM - 1230</option>
                  <option _ngcontent-mmx-c81="" value="1245a">12:45 AM - 1245</option>
                  <option _ngcontent-mmx-c81="" value="0100a">1:00 AM - 0100</option>
                  <option _ngcontent-mmx-c81="" value="1015a">1:15 AM - 0115</option>
                  <option _ngcontent-mmx-c81="" value="0130a">1:30 AM - 0130</option>
                  <option _ngcontent-mmx-c81="" value="0145a">1:45 AM - 0145</option>
                  <option _ngcontent-mmx-c81="" value="0200a">2:00 AM - 0200</option>
                  <option _ngcontent-mmx-c81="" value="0215a">2:15 AM - 0215</option>
                  <option _ngcontent-mmx-c81="" value="0230a">2:30 AM - 0230</option>
                  <option _ngcontent-mmx-c81="" value="0245a">2:45 AM - 0245</option>
                  <option _ngcontent-mmx-c81="" value="0300a">3:00 AM - 0300</option>
                  <option _ngcontent-mmx-c81="" value="0315a">3:15 AM - 0315</option>
                  <option _ngcontent-mmx-c81="" value="0330a">3:30 AM - 0330</option>
                  <option _ngcontent-mmx-c81="" value="0345a">3:45 AM - 0345</option>
                  <option _ngcontent-mmx-c81="" value="0400a">4:00 AM - 0400</option>
                  <option _ngcontent-mmx-c81="" value="0415a">4:15 AM - 0415</option>
                  <option _ngcontent-mmx-c81="" value="0430a">4:30 AM - 0430</option>
                  <option _ngcontent-mmx-c81="" value="0445a">4:45 AM - 0445</option>
                  <option _ngcontent-mmx-c81="" value="0500a">5:00 AM - 0500</option>
                  <option _ngcontent-mmx-c81="" value="0515a">5:15 AM - 0515</option>
                  <option _ngcontent-mmx-c81="" value="0530a">5:30 AM - 0530</option>
                  <option _ngcontent-mmx-c81="" value="0545a">5:45 AM - 0545</option>
                  <option _ngcontent-mmx-c81="" value="0600a">6:00 AM - 0600</option>
                  <option _ngcontent-mmx-c81="" value="0615a">6:15 AM - 0615</option>
                  <option _ngcontent-mmx-c81="" value="0630a">6:30 AM - 0630</option>
                  <option _ngcontent-mmx-c81="" value="0645a">6:45 AM - 0645</option>
                  <option _ngcontent-mmx-c81="" value="0700a">7:00 AM - 0700</option>
                  <option _ngcontent-mmx-c81="" value="0715a">7:15 AM - 0715</option>
                  <option _ngcontent-mmx-c81="" value="0730a">7:30 AM - 0730</option>
                  <option _ngcontent-mmx-c81="" value="0745a">7:45 AM - 0745</option>
                  <option _ngcontent-mmx-c81="" value="0800a">8:00 AM - 0800</option>
                  <option _ngcontent-mmx-c81="" value="0815a">8:15 AM - 0815</option>
                  <option _ngcontent-mmx-c81="" value="0830a">8:30 AM - 0830</option>
                  <option _ngcontent-mmx-c81="" value="0845a">8:45 AM - 0845</option>
                  <option _ngcontent-mmx-c81="" value="0900a">9:00 AM - 0900</option>
                  <option _ngcontent-mmx-c81="" value="0915a">9:15 AM - 0915</option>
                  <option _ngcontent-mmx-c81="" value="0930a">9:30 AM - 0930</option>
                  <option _ngcontent-mmx-c81="" value="0945a">9:45 AM - 0945</option>
                  <option _ngcontent-mmx-c81="" value="1000a">10:00 AM - 1000</option>
                  <option _ngcontent-mmx-c81="" value="1015a">10:15 AM - 1015</option>
                  <option _ngcontent-mmx-c81="" value="1030a">10:30 AM - 1030</option>
                  <option _ngcontent-mmx-c81="" value="1045a">10:45 AM - 1045</option>
                  <option _ngcontent-mmx-c81="" value="1100a">11:00 AM - 1100</option>
                  <option _ngcontent-mmx-c81="" value="1115a">11:15 AM - 1115</option>
                  <option _ngcontent-mmx-c81="" value="1130a">11:30 AM - 1130</option>
                  <option _ngcontent-mmx-c81="" value="1145a">11:45 AM - 1145</option>
                  <option _ngcontent-mmx-c81="" value="1200p">12:00 PM - 1200</option>
                  <option _ngcontent-mmx-c81="" value="1215p">12:15 PM - 1215</option>
                  <option _ngcontent-mmx-c81="" value="1230p">12:30 PM - 1230</option>
                  <option _ngcontent-mmx-c81="" value="1245p">12:45 PM - 1245</option>
                  <option _ngcontent-mmx-c81="" value="1300p">1:00 PM - 1300</option>
                  <option _ngcontent-mmx-c81="" value="1315p">1:15 PM - 1315</option>
                  <option _ngcontent-mmx-c81="" value="1330p">1:30 PM - 1330</option>
                  <option _ngcontent-mmx-c81="" value="1345p">1:45 PM - 1345</option>
                  <option _ngcontent-mmx-c81="" value="1400p">2:00 PM - 1400</option>
                  <option _ngcontent-mmx-c81="" value="1415p">2:15 PM - 1415</option>
                  <option _ngcontent-mmx-c81="" value="1430p">2:30 PM - 1430</option>
                  <option _ngcontent-mmx-c81="" value="1445p">2:45 PM - 1445</option>
                  <option _ngcontent-mmx-c81="" value="1500p">3:00 PM - 1500</option>
                  <option _ngcontent-mmx-c81="" value="1515p">3:15 PM - 1515</option>
                  <option _ngcontent-mmx-c81="" value="1530p">3:30 PM - 1530</option>
                  <option _ngcontent-mmx-c81="" value="1545p">3:45 PM - 1545</option>
                  <option _ngcontent-mmx-c81="" value="1600p">4:00 PM - 1600</option>
                  <option _ngcontent-mmx-c81="" value="1615p">4:15 PM - 1615</option>
                  <option _ngcontent-mmx-c81="" value="1630p">4:30 PM - 1630</option>
                  <option _ngcontent-mmx-c81="" value="1645p">4:45 PM - 1645</option>
                  <option _ngcontent-mmx-c81="" value="1700p">5:00 PM - 1700</option>
                  <option _ngcontent-mmx-c81="" value="1715p">5:15 PM - 1715</option>
                  <option _ngcontent-mmx-c81="" value="1730p">5:30 PM - 1730</option>
                  <option _ngcontent-mmx-c81="" value="1745p">5:45 PM - 1745</option>
                  <option _ngcontent-mmx-c81="" value="1800p">6:00 PM - 1800</option>
                  <option _ngcontent-mmx-c81="" value="1815p">6:15 PM - 1815</option>
                  <option _ngcontent-mmx-c81="" value="1830p">6:30 PM - 1830</option>
                  <option _ngcontent-mmx-c81="" value="1845p">6:45 PM - 1845</option>
                  <option _ngcontent-mmx-c81="" value="1900p">7:00 PM - 1900</option>
                  <option _ngcontent-mmx-c81="" value="1915p">7:15 PM - 1915</option>
                  <option _ngcontent-mmx-c81="" value="1930p">7:30 PM - 1930</option>
                  <option _ngcontent-mmx-c81="" value="1945p">7:45 PM - 1945</option>
                  <option _ngcontent-mmx-c81="" value="2000p">8:00 PM - 2000</option>
                  <option _ngcontent-mmx-c81="" value="2015p">8:15 PM - 2015</option>
                  <option _ngcontent-mmx-c81="" value="2030p">8:30 PM - 2030</option>
                  <option _ngcontent-mmx-c81="" value="2045p">8:45 PM - 2045</option>
                  <option _ngcontent-mmx-c81="" value="2100p">9:00 PM - 2100</option>
                  <option _ngcontent-mmx-c81="" value="2115p">9:15 PM - 2115</option>
                  <option _ngcontent-mmx-c81="" value="2130p">9:30 PM - 2130</option>
                  <option _ngcontent-mmx-c81="" value="2145p">9:45 PM - 2145</option>
                  <option _ngcontent-mmx-c81="" value="2200p">10:00 PM - 2200</option>
                  <option _ngcontent-mmx-c81="" value="2215p">10:15 PM - 2215</option>
                  <option _ngcontent-mmx-c81="" value="2230p">10:30 PM - 2230</option>
                  <option _ngcontent-mmx-c81="" value="2245p">10:45 PM - 2245</option>
                  <option _ngcontent-mmx-c81="" value="2300p">11:00 PM - 2300</option>
                  <option _ngcontent-mmx-c81="" value="2315p">11:15 PM - 2315</option>
                  <option _ngcontent-mmx-c81="" value="2330p">11:30 PM - 2330</option>
                  <option _ngcontent-mmx-c81="" value="2345p">11:45 PM - 2345</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label> Return Pickup Date* </label>
               <input type="date" placeholder="dfs">
            </div>
            <div class="col-6 col-md-6">
               <label> Return Pickup Time* </label>
               <select class="form-control custom-select">
                  <option _ngcontent-mmx-c81="" value="1200a">12:00 AM - 1200</option>
                  <option _ngcontent-mmx-c81="" value="1215a">12:15 AM - 1215</option>
                  <option _ngcontent-mmx-c81="" value="1230a">12:30 AM - 1230</option>
                  <option _ngcontent-mmx-c81="" value="1245a">12:45 AM - 1245</option>
                  <option _ngcontent-mmx-c81="" value="0100a">1:00 AM - 0100</option>
                  <option _ngcontent-mmx-c81="" value="1015a">1:15 AM - 0115</option>
                  <option _ngcontent-mmx-c81="" value="0130a">1:30 AM - 0130</option>
                  <option _ngcontent-mmx-c81="" value="0145a">1:45 AM - 0145</option>
                  <option _ngcontent-mmx-c81="" value="0200a">2:00 AM - 0200</option>
                  <option _ngcontent-mmx-c81="" value="0215a">2:15 AM - 0215</option>
                  <option _ngcontent-mmx-c81="" value="0230a">2:30 AM - 0230</option>
                  <option _ngcontent-mmx-c81="" value="0245a">2:45 AM - 0245</option>
                  <option _ngcontent-mmx-c81="" value="0300a">3:00 AM - 0300</option>
                  <option _ngcontent-mmx-c81="" value="0315a">3:15 AM - 0315</option>
                  <option _ngcontent-mmx-c81="" value="0330a">3:30 AM - 0330</option>
                  <option _ngcontent-mmx-c81="" value="0345a">3:45 AM - 0345</option>
                  <option _ngcontent-mmx-c81="" value="0400a">4:00 AM - 0400</option>
                  <option _ngcontent-mmx-c81="" value="0415a">4:15 AM - 0415</option>
                  <option _ngcontent-mmx-c81="" value="0430a">4:30 AM - 0430</option>
                  <option _ngcontent-mmx-c81="" value="0445a">4:45 AM - 0445</option>
                  <option _ngcontent-mmx-c81="" value="0500a">5:00 AM - 0500</option>
                  <option _ngcontent-mmx-c81="" value="0515a">5:15 AM - 0515</option>
                  <option _ngcontent-mmx-c81="" value="0530a">5:30 AM - 0530</option>
                  <option _ngcontent-mmx-c81="" value="0545a">5:45 AM - 0545</option>
                  <option _ngcontent-mmx-c81="" value="0600a">6:00 AM - 0600</option>
                  <option _ngcontent-mmx-c81="" value="0615a">6:15 AM - 0615</option>
                  <option _ngcontent-mmx-c81="" value="0630a">6:30 AM - 0630</option>
                  <option _ngcontent-mmx-c81="" value="0645a">6:45 AM - 0645</option>
                  <option _ngcontent-mmx-c81="" value="0700a">7:00 AM - 0700</option>
                  <option _ngcontent-mmx-c81="" value="0715a">7:15 AM - 0715</option>
                  <option _ngcontent-mmx-c81="" value="0730a">7:30 AM - 0730</option>
                  <option _ngcontent-mmx-c81="" value="0745a">7:45 AM - 0745</option>
                  <option _ngcontent-mmx-c81="" value="0800a">8:00 AM - 0800</option>
                  <option _ngcontent-mmx-c81="" value="0815a">8:15 AM - 0815</option>
                  <option _ngcontent-mmx-c81="" value="0830a">8:30 AM - 0830</option>
                  <option _ngcontent-mmx-c81="" value="0845a">8:45 AM - 0845</option>
                  <option _ngcontent-mmx-c81="" value="0900a">9:00 AM - 0900</option>
                  <option _ngcontent-mmx-c81="" value="0915a">9:15 AM - 0915</option>
                  <option _ngcontent-mmx-c81="" value="0930a">9:30 AM - 0930</option>
                  <option _ngcontent-mmx-c81="" value="0945a">9:45 AM - 0945</option>
                  <option _ngcontent-mmx-c81="" value="1000a">10:00 AM - 1000</option>
                  <option _ngcontent-mmx-c81="" value="1015a">10:15 AM - 1015</option>
                  <option _ngcontent-mmx-c81="" value="1030a">10:30 AM - 1030</option>
                  <option _ngcontent-mmx-c81="" value="1045a">10:45 AM - 1045</option>
                  <option _ngcontent-mmx-c81="" value="1100a">11:00 AM - 1100</option>
                  <option _ngcontent-mmx-c81="" value="1115a">11:15 AM - 1115</option>
                  <option _ngcontent-mmx-c81="" value="1130a">11:30 AM - 1130</option>
                  <option _ngcontent-mmx-c81="" value="1145a">11:45 AM - 1145</option>
                  <option _ngcontent-mmx-c81="" value="1200p">12:00 PM - 1200</option>
                  <option _ngcontent-mmx-c81="" value="1215p">12:15 PM - 1215</option>
                  <option _ngcontent-mmx-c81="" value="1230p">12:30 PM - 1230</option>
                  <option _ngcontent-mmx-c81="" value="1245p">12:45 PM - 1245</option>
                  <option _ngcontent-mmx-c81="" value="1300p">1:00 PM - 1300</option>
                  <option _ngcontent-mmx-c81="" value="1315p">1:15 PM - 1315</option>
                  <option _ngcontent-mmx-c81="" value="1330p">1:30 PM - 1330</option>
                  <option _ngcontent-mmx-c81="" value="1345p">1:45 PM - 1345</option>
                  <option _ngcontent-mmx-c81="" value="1400p">2:00 PM - 1400</option>
                  <option _ngcontent-mmx-c81="" value="1415p">2:15 PM - 1415</option>
                  <option _ngcontent-mmx-c81="" value="1430p">2:30 PM - 1430</option>
                  <option _ngcontent-mmx-c81="" value="1445p">2:45 PM - 1445</option>
                  <option _ngcontent-mmx-c81="" value="1500p">3:00 PM - 1500</option>
                  <option _ngcontent-mmx-c81="" value="1515p">3:15 PM - 1515</option>
                  <option _ngcontent-mmx-c81="" value="1530p">3:30 PM - 1530</option>
                  <option _ngcontent-mmx-c81="" value="1545p">3:45 PM - 1545</option>
                  <option _ngcontent-mmx-c81="" value="1600p">4:00 PM - 1600</option>
                  <option _ngcontent-mmx-c81="" value="1615p">4:15 PM - 1615</option>
                  <option _ngcontent-mmx-c81="" value="1630p">4:30 PM - 1630</option>
                  <option _ngcontent-mmx-c81="" value="1645p">4:45 PM - 1645</option>
                  <option _ngcontent-mmx-c81="" value="1700p">5:00 PM - 1700</option>
                  <option _ngcontent-mmx-c81="" value="1715p">5:15 PM - 1715</option>
                  <option _ngcontent-mmx-c81="" value="1730p">5:30 PM - 1730</option>
                  <option _ngcontent-mmx-c81="" value="1745p">5:45 PM - 1745</option>
                  <option _ngcontent-mmx-c81="" value="1800p">6:00 PM - 1800</option>
                  <option _ngcontent-mmx-c81="" value="1815p">6:15 PM - 1815</option>
                  <option _ngcontent-mmx-c81="" value="1830p">6:30 PM - 1830</option>
                  <option _ngcontent-mmx-c81="" value="1845p">6:45 PM - 1845</option>
                  <option _ngcontent-mmx-c81="" value="1900p">7:00 PM - 1900</option>
                  <option _ngcontent-mmx-c81="" value="1915p">7:15 PM - 1915</option>
                  <option _ngcontent-mmx-c81="" value="1930p">7:30 PM - 1930</option>
                  <option _ngcontent-mmx-c81="" value="1945p">7:45 PM - 1945</option>
                  <option _ngcontent-mmx-c81="" value="2000p">8:00 PM - 2000</option>
                  <option _ngcontent-mmx-c81="" value="2015p">8:15 PM - 2015</option>
                  <option _ngcontent-mmx-c81="" value="2030p">8:30 PM - 2030</option>
                  <option _ngcontent-mmx-c81="" value="2045p">8:45 PM - 2045</option>
                  <option _ngcontent-mmx-c81="" value="2100p">9:00 PM - 2100</option>
                  <option _ngcontent-mmx-c81="" value="2115p">9:15 PM - 2115</option>
                  <option _ngcontent-mmx-c81="" value="2130p">9:30 PM - 2130</option>
                  <option _ngcontent-mmx-c81="" value="2145p">9:45 PM - 2145</option>
                  <option _ngcontent-mmx-c81="" value="2200p">10:00 PM - 2200</option>
                  <option _ngcontent-mmx-c81="" value="2215p">10:15 PM - 2215</option>
                  <option _ngcontent-mmx-c81="" value="2230p">10:30 PM - 2230</option>
                  <option _ngcontent-mmx-c81="" value="2245p">10:45 PM - 2245</option>
                  <option _ngcontent-mmx-c81="" value="2300p">11:00 PM - 2300</option>
                  <option _ngcontent-mmx-c81="" value="2315p">11:15 PM - 2315</option>
                  <option _ngcontent-mmx-c81="" value="2330p">11:30 PM - 2330</option>
                  <option _ngcontent-mmx-c81="" value="2345p">11:45 PM - 2345</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label>Pickup Address</label>
               <input type="text" placeholder="Pickup Address">
            </div>
            <div class="col-6 col-md-6">
               <label>Drop Off Address</label>
               <input type="text" placeholder="Drop Off Address">
            </div>
            <div class="col-6 col-md-6">
               <label>Return Pickup Address</label>
               <input type="text" placeholder="Return Pickup Address">
            </div>
            <div class="col-6 col-md-6">
               <label>Return Drop Off Address</label>
               <input type="text" placeholder="Return Drop Off Address">
            </div>
            <div class="col-6 col-md-6">
               <label>No. of Passengers*</label>
               <div>
                  <ul class="number passengers_qty">
                     <li>
                        <input type="number" value="1" min="0" max="1000" step="1" />
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-6 col-md-6">
               <label>Luggage Count*</label>
               <div>
                  <ul class="number passengers_qty">
                     <li>
                        <input type="number" value="0" min="0" max="2000" step="1" />
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-md-12">
               <span>1 large luggage = 2 carry on. Golf Bag / Skis = Minivan / SUV</span>
               <input class="mt-4" type="submit" value="Calculate All-Inclusive Rate">
            </div>
         </div>
         <!-----Charter tour---->
         <div class="row d-none">
            <div class="col-md-12">
               <label>Service Type*</label>
               <select class="form-control custom-select">
                  <option class="oneway">One Way</option>
                  <option class="roundtrip">Round Trip</option>
                  <option class="charttour" selected>Charter/Tour</option>
               </select>
            </div>
            <div class="col-md-12">
               <label>Booking Hours*</label>
               <select class="form-control custom-select">
                  <option _ngcontent-fdm-c6="" value="H2">2 Hours Minimum</option>
                  <option _ngcontent-fdm-c6="" value="H3">3 Hours</option>
                  <option _ngcontent-fdm-c6="" value="H4">4 Hours</option>
                  <option _ngcontent-fdm-c6="" value="H5">5 Hours</option>
                  <option _ngcontent-fdm-c6="" value="H6">6 Hours</option>
                  <option _ngcontent-fdm-c6="" value="H7">7 Hours</option>
                  <option _ngcontent-fdm-c6="" value="H8">8 Hours</option>
                  <option _ngcontent-fdm-c6="" value="H9">9 Hours</option>
                  <option _ngcontent-fdm-c6="" value="H24">1 Day</option>
                  <option _ngcontent-fdm-c6="" value="H48">2 Days</option>
                  <option _ngcontent-fdm-c6="" value="H72">3 Days</option>
                  <option _ngcontent-fdm-c6="" value="H96">4 Days</option>
                  <option _ngcontent-fdm-c6="" value="H120">5 Days</option>
                  <option _ngcontent-fdm-c6="" value="H144">6 Days</option>
                  <option _ngcontent-fdm-c6="" value="H168">7 Days</option>
                  <option _ngcontent-fdm-c6="" value="H192">8 Days</option>
                  <option _ngcontent-fdm-c6="" value="H216">9 Days</option>
                  <option _ngcontent-fdm-c6="" value="H240">10 Days</option>
                  <option _ngcontent-fdm-c6="" value="H264">11 Days</option>
                  <option _ngcontent-fdm-c6="" value="H288">12 Days</option>
                  <option _ngcontent-fdm-c6="" value="H312">13 Days</option>
                  <option _ngcontent-fdm-c6="" value="H336">14 Days</option>
                  <option _ngcontent-fdm-c6="" value="H360">15 Days</option>
                  <option _ngcontent-fdm-c6="" value="H384">16 Days</option>
                  <option _ngcontent-fdm-c6="" value="H408">17 Days</option>
                  <option _ngcontent-fdm-c6="" value="H432">18 Days</option>
                  <option _ngcontent-fdm-c6="" value="H456">19 Days</option>
                  <option _ngcontent-fdm-c6="" value="H480">20 Days</option>
                  <option _ngcontent-fdm-c6="" value="H504">21 Days</option>
                  <option _ngcontent-fdm-c6="" value="H528">22 Days</option>
                  <option _ngcontent-fdm-c6="" value="H552">23 Days</option>
                  <option _ngcontent-fdm-c6="" value="H576">24 Days</option>
                  <option _ngcontent-fdm-c6="" value="H600">25 Days</option>
                  <option _ngcontent-fdm-c6="" value="H624">26 Days</option>
                  <option _ngcontent-fdm-c6="" value="H648">27 Days</option>
                  <option _ngcontent-fdm-c6="" value="H672">28 Days</option>
                  <option _ngcontent-fdm-c6="" value="H696">29 Days</option>
                  <option _ngcontent-fdm-c6="" value="H720">30 Days</option>
                  <option _ngcontent-fdm-c6="" value="H744">31 Days</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label>Transfer Type*</label>
               <select class="form-control custom-select">
                  <option>Airport</option>
                  <option>Cruise Port</option>
                  <option>City</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label>Travel Type* </label>
               <select class="form-control custom-select">
                  <option>Departure</option>
                  <option>Arrival</option>
                  <option>None</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label> Pickup Date* </label>
               <input type="date" placeholder="dfs">
            </div>
            <div class="col-6 col-md-6">
               <label> Pickup Time* </label>
               <select class="form-control custom-select">
                  <option _ngcontent-mmx-c81="" value="1200a">12:00 AM - 1200</option>
                  <option _ngcontent-mmx-c81="" value="1215a">12:15 AM - 1215</option>
                  <option _ngcontent-mmx-c81="" value="1230a">12:30 AM - 1230</option>
                  <option _ngcontent-mmx-c81="" value="1245a">12:45 AM - 1245</option>
                  <option _ngcontent-mmx-c81="" value="0100a">1:00 AM - 0100</option>
                  <option _ngcontent-mmx-c81="" value="1015a">1:15 AM - 0115</option>
                  <option _ngcontent-mmx-c81="" value="0130a">1:30 AM - 0130</option>
                  <option _ngcontent-mmx-c81="" value="0145a">1:45 AM - 0145</option>
                  <option _ngcontent-mmx-c81="" value="0200a">2:00 AM - 0200</option>
                  <option _ngcontent-mmx-c81="" value="0215a">2:15 AM - 0215</option>
                  <option _ngcontent-mmx-c81="" value="0230a">2:30 AM - 0230</option>
                  <option _ngcontent-mmx-c81="" value="0245a">2:45 AM - 0245</option>
                  <option _ngcontent-mmx-c81="" value="0300a">3:00 AM - 0300</option>
                  <option _ngcontent-mmx-c81="" value="0315a">3:15 AM - 0315</option>
                  <option _ngcontent-mmx-c81="" value="0330a">3:30 AM - 0330</option>
                  <option _ngcontent-mmx-c81="" value="0345a">3:45 AM - 0345</option>
                  <option _ngcontent-mmx-c81="" value="0400a">4:00 AM - 0400</option>
                  <option _ngcontent-mmx-c81="" value="0415a">4:15 AM - 0415</option>
                  <option _ngcontent-mmx-c81="" value="0430a">4:30 AM - 0430</option>
                  <option _ngcontent-mmx-c81="" value="0445a">4:45 AM - 0445</option>
                  <option _ngcontent-mmx-c81="" value="0500a">5:00 AM - 0500</option>
                  <option _ngcontent-mmx-c81="" value="0515a">5:15 AM - 0515</option>
                  <option _ngcontent-mmx-c81="" value="0530a">5:30 AM - 0530</option>
                  <option _ngcontent-mmx-c81="" value="0545a">5:45 AM - 0545</option>
                  <option _ngcontent-mmx-c81="" value="0600a">6:00 AM - 0600</option>
                  <option _ngcontent-mmx-c81="" value="0615a">6:15 AM - 0615</option>
                  <option _ngcontent-mmx-c81="" value="0630a">6:30 AM - 0630</option>
                  <option _ngcontent-mmx-c81="" value="0645a">6:45 AM - 0645</option>
                  <option _ngcontent-mmx-c81="" value="0700a">7:00 AM - 0700</option>
                  <option _ngcontent-mmx-c81="" value="0715a">7:15 AM - 0715</option>
                  <option _ngcontent-mmx-c81="" value="0730a">7:30 AM - 0730</option>
                  <option _ngcontent-mmx-c81="" value="0745a">7:45 AM - 0745</option>
                  <option _ngcontent-mmx-c81="" value="0800a">8:00 AM - 0800</option>
                  <option _ngcontent-mmx-c81="" value="0815a">8:15 AM - 0815</option>
                  <option _ngcontent-mmx-c81="" value="0830a">8:30 AM - 0830</option>
                  <option _ngcontent-mmx-c81="" value="0845a">8:45 AM - 0845</option>
                  <option _ngcontent-mmx-c81="" value="0900a">9:00 AM - 0900</option>
                  <option _ngcontent-mmx-c81="" value="0915a">9:15 AM - 0915</option>
                  <option _ngcontent-mmx-c81="" value="0930a">9:30 AM - 0930</option>
                  <option _ngcontent-mmx-c81="" value="0945a">9:45 AM - 0945</option>
                  <option _ngcontent-mmx-c81="" value="1000a">10:00 AM - 1000</option>
                  <option _ngcontent-mmx-c81="" value="1015a">10:15 AM - 1015</option>
                  <option _ngcontent-mmx-c81="" value="1030a">10:30 AM - 1030</option>
                  <option _ngcontent-mmx-c81="" value="1045a">10:45 AM - 1045</option>
                  <option _ngcontent-mmx-c81="" value="1100a">11:00 AM - 1100</option>
                  <option _ngcontent-mmx-c81="" value="1115a">11:15 AM - 1115</option>
                  <option _ngcontent-mmx-c81="" value="1130a">11:30 AM - 1130</option>
                  <option _ngcontent-mmx-c81="" value="1145a">11:45 AM - 1145</option>
                  <option _ngcontent-mmx-c81="" value="1200p">12:00 PM - 1200</option>
                  <option _ngcontent-mmx-c81="" value="1215p">12:15 PM - 1215</option>
                  <option _ngcontent-mmx-c81="" value="1230p">12:30 PM - 1230</option>
                  <option _ngcontent-mmx-c81="" value="1245p">12:45 PM - 1245</option>
                  <option _ngcontent-mmx-c81="" value="1300p">1:00 PM - 1300</option>
                  <option _ngcontent-mmx-c81="" value="1315p">1:15 PM - 1315</option>
                  <option _ngcontent-mmx-c81="" value="1330p">1:30 PM - 1330</option>
                  <option _ngcontent-mmx-c81="" value="1345p">1:45 PM - 1345</option>
                  <option _ngcontent-mmx-c81="" value="1400p">2:00 PM - 1400</option>
                  <option _ngcontent-mmx-c81="" value="1415p">2:15 PM - 1415</option>
                  <option _ngcontent-mmx-c81="" value="1430p">2:30 PM - 1430</option>
                  <option _ngcontent-mmx-c81="" value="1445p">2:45 PM - 1445</option>
                  <option _ngcontent-mmx-c81="" value="1500p">3:00 PM - 1500</option>
                  <option _ngcontent-mmx-c81="" value="1515p">3:15 PM - 1515</option>
                  <option _ngcontent-mmx-c81="" value="1530p">3:30 PM - 1530</option>
                  <option _ngcontent-mmx-c81="" value="1545p">3:45 PM - 1545</option>
                  <option _ngcontent-mmx-c81="" value="1600p">4:00 PM - 1600</option>
                  <option _ngcontent-mmx-c81="" value="1615p">4:15 PM - 1615</option>
                  <option _ngcontent-mmx-c81="" value="1630p">4:30 PM - 1630</option>
                  <option _ngcontent-mmx-c81="" value="1645p">4:45 PM - 1645</option>
                  <option _ngcontent-mmx-c81="" value="1700p">5:00 PM - 1700</option>
                  <option _ngcontent-mmx-c81="" value="1715p">5:15 PM - 1715</option>
                  <option _ngcontent-mmx-c81="" value="1730p">5:30 PM - 1730</option>
                  <option _ngcontent-mmx-c81="" value="1745p">5:45 PM - 1745</option>
                  <option _ngcontent-mmx-c81="" value="1800p">6:00 PM - 1800</option>
                  <option _ngcontent-mmx-c81="" value="1815p">6:15 PM - 1815</option>
                  <option _ngcontent-mmx-c81="" value="1830p">6:30 PM - 1830</option>
                  <option _ngcontent-mmx-c81="" value="1845p">6:45 PM - 1845</option>
                  <option _ngcontent-mmx-c81="" value="1900p">7:00 PM - 1900</option>
                  <option _ngcontent-mmx-c81="" value="1915p">7:15 PM - 1915</option>
                  <option _ngcontent-mmx-c81="" value="1930p">7:30 PM - 1930</option>
                  <option _ngcontent-mmx-c81="" value="1945p">7:45 PM - 1945</option>
                  <option _ngcontent-mmx-c81="" value="2000p">8:00 PM - 2000</option>
                  <option _ngcontent-mmx-c81="" value="2015p">8:15 PM - 2015</option>
                  <option _ngcontent-mmx-c81="" value="2030p">8:30 PM - 2030</option>
                  <option _ngcontent-mmx-c81="" value="2045p">8:45 PM - 2045</option>
                  <option _ngcontent-mmx-c81="" value="2100p">9:00 PM - 2100</option>
                  <option _ngcontent-mmx-c81="" value="2115p">9:15 PM - 2115</option>
                  <option _ngcontent-mmx-c81="" value="2130p">9:30 PM - 2130</option>
                  <option _ngcontent-mmx-c81="" value="2145p">9:45 PM - 2145</option>
                  <option _ngcontent-mmx-c81="" value="2200p">10:00 PM - 2200</option>
                  <option _ngcontent-mmx-c81="" value="2215p">10:15 PM - 2215</option>
                  <option _ngcontent-mmx-c81="" value="2230p">10:30 PM - 2230</option>
                  <option _ngcontent-mmx-c81="" value="2245p">10:45 PM - 2245</option>
                  <option _ngcontent-mmx-c81="" value="2300p">11:00 PM - 2300</option>
                  <option _ngcontent-mmx-c81="" value="2315p">11:15 PM - 2315</option>
                  <option _ngcontent-mmx-c81="" value="2330p">11:30 PM - 2330</option>
                  <option _ngcontent-mmx-c81="" value="2345p">11:45 PM - 2345</option>
               </select>
            </div>
            <div class="col-6 col-md-6">
               <label>Pickup Address</label>
               <input type="text" placeholder="Pickup Address">
            </div>
            <div class="col-6 col-md-6">
               <label>Drop Off Address</label>
               <input type="text" placeholder="Drop Off Address">
            </div>
            <div class="col-6 col-md-6">
               <label>No. of Passengers*</label>
               <div>
                  <ul class="number passengers_qty">
                     <li>
                        <input type="number" value="1" min="0" max="1000" step="1" />
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-6 col-md-6">
               <label>Luggage Count*</label>
               <div>
                  <ul class="number passengers_qty">
                     <li>
                        <input type="number" value="0" min="0" max="2000" step="1" />
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-md-12">
               <span>1 large luggage = 2 carry on. Golf Bag / Skis = Minivan / SUV</span>
               <input class="mt-4" type="submit" value="Calculate All-Inclusive Rate">
            </div>
         </div>
         <!--end--->
      </div>
   </section>
</main>