<!--
<div class="container">
			<h2 class="headinginfo pl-0">Booking Details</h2>
			<div class="row topmargin2" *ngIf="bookingDetail.service_type">
				<div class="col-md-4">
					<p>Service Type: </p>
				</div>
				<div class="col-md-8">
					<strong>{{bookingDetail.service_type |titlecase}}</strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.transfer_type">
				<div class="col-md-4">
					<p>Transfer Type: </p>
				</div>
				<div class="col-md-8">
					<strong>{{bookingDetail.transfer_type |titlecase}}</strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.return_transfer_type">
				<div class="col-md-4">
					<p>Return Transfer Type: </p>
				</div>
				<div class="col-md-8">
					<strong>{{bookingDetail.return_transfer_type |titlecase}}</strong>
				</div>
			</div>

			<h2 class="headinginfoH2 topmargin pl-0">Journey Details</h2>
			<div class="row topmargin2" *ngIf="bookingDetail.pickup_address">
				<div class="col-md-4">
					<p> Pickup Address: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.pickup_address}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.pickup_airport_name">
				<div class="col-md-4">
					<p>Pickup Airport: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.pickup_airport_name}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.pickup_airline_name">
				<div class="col-md-4">
					<p>Pickup Airline: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.pickup_airline_name}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.pickup_flight">
				<div class="col-md-4">
					<p> Pickup Flight Number: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.pickup_flight}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.origin_airport_city">
				<div class="col-md-4">
					<p> Pickup Origin Airport / City: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.origin_airport_city}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.dropoff_address">
				<div class="col-md-4">
					<p> Drop-Off Address: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.dropoff_address}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.dropoff_airport_name">
				<div class="col-md-4">
					<p> Drop-Off Airport: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.dropoff_airport_name}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.dropoff_airline_name">
				<div class="col-md-4">
					<p> Drop-Off Airline: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.dropoff_airline_name}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.dropoff_flight">
				<div class="col-md-4">
					<p> Drop-Off Flight Number: </p>
				</div>
				<div class="col-md-8">
					<strong>{{bookingDetail.dropoff_flight}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.stop_1">
				<div class="col-md-4">
					<p> Extra Stops Number 2: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.stop_1}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.stop_2">
				<div class="col-md-4">
					<p> Extra Stops Number 3: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.stop_2}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.meet_greet_choices">
				<div class="col-md-4">
					<p> Meet and Greet Choices: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.meet_greet_choices}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.pickup_date">
				<div class="col-md-4">
					<p> Pickup Travel Date: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.pickup_date}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.pickup_time">
				<div class="col-md-4">
					<p> Pickup Travel Time: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.pickup_time}} </strong>
				</div>
			</div>
			<div class="row" *ngIf="bookingDetail.distance">
				<div class="col-md-4">
					<p> Distance: </p>
				</div>
				<div class="col-md-8">
					<strong> {{bookingDetail.distance}} </strong>
				</div>
			</div>

			<h2 class="headinginfoH2 topmargin pl-0" *ngIf="bookingDetail.service_type=='roundtrip'">Return Details</h2>
			<div *ngIf="bookingDetail.service_type=='roundtrip'">
				<div class="row topmargin2" *ngIf="bookingDetail.return_pickup_address">
					<div class="col-md-4">
						<p> Return Pickup Address: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_pickup_address}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_pickup_airport_name">
					<div class="col-md-4">
						<p> Return Pickup Airport: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_pickup_airport_name}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_pickup_airline_name">
					<div class="col-md-4">
						<p> Return Pickup Airline: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_pickup_airline_name}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_pickup_flight">
					<div class="col-md-4">
						<p> Return Pickup Flight Number: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_pickup_flight}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_origin_airport_city">
					<div class="col-md-4">
						<p> Return Pickup Origin Airport / City: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_origin_airport_city}}
						</strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_pickup_latitude">
					<div class="col-md-4">
						<p> Return Pickup Latitude/Longitude: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_pickup_latitude}}/{{bookingDetail.return_pickup_longitude}}
						</strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_dropoff_address">
					<div class="col-md-4">
						<p> Return Drop-Off Address: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_dropoff_address}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_dropoff_airport_name">
					<div class="col-md-4">
						<p> Return Drop-Off Airport: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_dropoff_airport_name}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_dropoff_airline_name">
					<div class="col-md-4">
						<p>Return Drop-Off Airline: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_dropoff_airline_name}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_dropoff_flight">
					<div class="col-md-4">
						<p> Return Drop-Off Flight Number: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_dropoff_flight}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_dropoff_latitude">
					<div class="col-md-4">
						<p> Return Drop-Off Latitude/Longitude: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_dropoff_latitude}}/{{bookingDetail.return_dropoff_longitude}}
						</strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_stop_1">
					<div class="col-md-4">
						<p> Return Extra Stops Number 2: </p>
					</div>
					<div class="col-md-8">
						<strong>{{bookingDetail.return_stop_1}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_stop_1_latitude && bookingDetail.return_stop_1_longitude">
					<div class="col-md-4">
						<p> Return Extra Stops Number 2 Latitude/Longitude: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_stop_1_latitude}}/{{bookingDetail.return_stop_1_longitude}}
						</strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_stop_2">
					<div class="col-md-4">
						<p> Return Extra Stops Number 3: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_stop_2}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_stop_2_latitude && bookingDetail.return_stop_2_longitude">
					<div class="col-md-4">
						<p> Return Extra Stops Number 3
							Latitude/Longitude: </p>
					</div>
					<div class="col-md-8">
						<strong>{{bookingDetail.return_stop_2_latitude}}/{{bookingDetail.return_stop_2_longitude}}
						</strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_meet_greet_choices">
					<div class="col-md-4">
						<p> Return Meet and Greet Choices: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_meet_greet_choices
							|titlecase}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_pickup_date">
					<div class="col-md-4">
						<p> Return Travel Date: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_pickup_date}} </strong>
					</div>
				</div>
				<div class="row" *ngIf="bookingDetail.return_pickup_time">
					<div class="col-md-4">
						<p> Return Travel Time: </p>
					</div>
					<div class="col-md-8">
						<strong> {{bookingDetail.return_pickup_time}} </strong>
					</div>
				</div>
			</div>
			<button class="custom-btn button2 mt-4" type="edit" (click)="editBooking()">Edit</button>

		</div>

-->