<div id="page-content-container" class="container p-4">

	<div id="page-content">

		<!-- SERVICE TYPE | TRANSFER TYPE -->
		<div *ngFor="let item of booking_details.booking">
			<!-- SUB-ROW HEADING -->
			<h1>
				{{ item.label }}
			</h1>
			<div class="row" *ngFor="let elem of item.data">
				<ng-container *ngIf="isString(elem.key); then stringarea; else objectarea"></ng-container>

				<ng-template #objectarea>
					<!-- THE KEY -->
					<div *ngFor="let obj of elem.key | keyvalue">
						<div class="col-md-3">
							{{ obj.key }}
						</div>

						<!-- OBTAIN VALUE -->
						<div class="col-md-auto">
							{{ obtainValue(obj.value) }}
						</div>
					</div>
				</ng-template>

				<ng-template #stringarea>
					<!-- THE KEY -->
					<div class="col-md-3">
						{{ formatString(elem) | titlecase }}
					</div>

					<!-- OBTAIN VALUE -->
					<div class="col-md-auto">
						<div class="col-md-auto">
							{{ obtainValue(elem) }}
						</div>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>