<main>
    <!-- Main page content-->
    <form [formGroup]="addCardForm" appInvalidControlScroll>
        <!-----BILLING INFO-------------->
        <section class="user_information">
            <h2 class="headinginfo"> Billing Information</h2>
            <div class="container py-2" id="accordionSidebar1">
                <h3 class="headinginfoH3 mt-3">Credit Card <img class="creditcard_pay"
                        src="assets/admin/images/creditcard_pay.png" tabindex="-1"></h3>
                <div class="row">
                    <div class="col-md-6">
                        <div id="card-type-container" class="w-100 d-flex flex-nowrap justify-content-center">
                            <div id="cd-personal" class="card-type"
                                [ngClass]="f.card_type.value == 'personal' ? 'active' : ''"
                                (click)="changeRadio('card_type', 'personal')">
                                <label>Personal</label>
                            </div>
                            <div id="cd-business" class="card-type"
                                [ngClass]="f.card_type.value == 'business' ? 'active' : ''"
                                (click)="changeRadio('card_type', 'business')">
                                <label>Business</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>First & Last Name <span class="asterisk">*</span></mat-label>
                            <input matInput placeholder="First & Last Name" formControlName="name" tabindex="1">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.name.errors || f.name.touched && f.name.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.name.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Card No <span class="asterisk">*</span></mat-label>
                            <input matInput placeholder="Card No" formControlName="number" tabindex="1"
                                id="card-number">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.number.errors || f.number.touched && f.number.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.number.errors.required">This field is required</div>
                        </div>
                        <div *ngIf="f.number.errors" class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.number.errors?.invalid_Pattern;else plusError">Do not add Dashes
                                with numbers</div>
                            <ng-template #plusError>
                                <div *ngIf="f.number.errors?.invalidPattern;else allErrors">Do not enter +
                                    sign</div>
                                <ng-template #allErrors>
                                    <div *ngIf="f.number.errors?.pattern;else numberLength">Enter Numbers Only
                                    </div>
                                    <ng-template #numberLength>
                                        <div *ngIf="f.number.errors.minlength">Minimum length should be 14</div>
                                        <div *ngIf="f.number.errors.maxlength">Maximum length should be 20</div>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Expiry Date <span class="asterisk">*</span></mat-label>
                            <input matInput [matDatepicker]="dp" [formControl]="expiryDateControl" placeholder="MM/YYYY"
                                (click)="dp.open()" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                            </mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="submittedForm && (f.exp_month.errors || f.exp_year.errors) || (f.exp_month.touched && (f.exp_month.errors || f.exp_year.errors))"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.exp_month.errors?.required || f.exp_year.errors?.required">Expiry Date is
                                required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                CVV (3-4 digit code) <span class="asterisk">*</span>
                            </mat-label>
                            <input matInput placeholder="CVV (3-4 digit code)" formControlName="cvc" tabindex="1">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.cvc.errors || f.cvc.touched && f.cvc.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.cvc.errors.required">This field is required</div>
                        </div>
                        <div *ngIf="f.cvc.errors" class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.cvc.errors?.invalid_Pattern;else plusError">Do not add Dashes
                                with numbers</div>
                            <ng-template #plusError>
                                <div *ngIf="f.cvc.errors?.invalidPattern;else allErrors">Do not enter +
                                    sign</div>
                                <ng-template #allErrors>
                                    <div *ngIf="f.cvc.errors?.pattern;else numberLength">Enter Numbers Only
                                    </div>
                                    <ng-template #numberLength>
                                        <div *ngIf="f.cvc.errors.minlength">Minimum length should be 3</div>
                                        <div *ngIf="f.cvc.errors.maxlength">Maximum length should be 3</div>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row py-4">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 ">
                    <div class="billing_inforamtion">
                        <ul class="d-flex justify-content-center" style="gap:30px;">
                            <li><button class="custom-btn savebutton btn-shadow" (click)="submitForm()"
                                    [disabled]="disableSubmitButton" tabindex="-1">SAVE</button> </li>
                            <li><button class="custom-btn resetbutton btn-shadow" (click)="resetForm()"
                                    tabindex="-1">RESET</button> </li>
                            <li><button class="custom-btn backbutton btn-shadow" (click)="backButton()" tabindex="-1">
                                    <svg width="41" height="16" viewBox="0 0 41 16" fill="#fff"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M37.963 0.500001H0.5L0.5 2H19.7407H36.963C37.7914 2 38.463 2.67157 38.463 3.5V9C38.463 9.82843 37.7914 10.5 36.963 10.5H19.7407H19.2407V10V6.59305L14.4313 10.75L19.2407 14.907V13V12.5H19.7407H37.963C38.6378 12.5 39.2838 12.2351 39.7591 11.7656C40.2342 11.2963 40.5 10.661 40.5 10V2.5C40.5 1.82723 40.2315 1.35011 39.8074 1.0275C39.3675 0.692862 38.7244 0.500001 37.963 0.500001Z"
                                            fill="#fff" stroke="#fff" />
                                    </svg></button> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </form>
</main>