<main>
    <!-- Main page content-->
    <form [formGroup]="addCardForm" appInvalidControlScroll>
        <!-----BILLING INFO-------------->
        <section class="user_information">
            <h2 class="headinginfo"> Billing Information</h2>
            <div class="container py-2" id="accordionSidebar1">
                <h3 class="headinginfoH3 mt-3">Credit Card <img class="creditcard_pay"
                        src="assets/admin/images/creditcard_pay.png" tabindex="-1"></h3>
                <div class="row">
                    <div class="col-md-6">
                        <div id="card-type-container" class="w-100 d-flex flex-nowrap justify-content-center">
                            <div id="cd-personal" class="card-type"
                                [ngClass]="f.card_type.value == 'personal' ? 'active' : ''"
                                (click)="changeRadio('card_type', 'personal')">
                                <label>Personal</label>
                            </div>
                            <div id="cd-business" class="card-type"
                                [ngClass]="f.card_type.value == 'business' ? 'active' : ''"
                                (click)="changeRadio('card_type', 'business')">
                                <label>Business</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Card Holder First & Last Name*</mat-label>
                            <input matInput placeholder="Card Holder First & Last Name" formControlName="name"
                                tabindex="1">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.name.errors || f.name.touched && f.name.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.name.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Card No *</mat-label>
                            <input matInput placeholder="Card No" formControlName="number" tabindex="1"
                                id="card-number">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.number.errors || f.number.touched && f.number.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.number.errors.required">This field is required</div>
                        </div>
                        <div *ngIf="f.number.errors" class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.number.errors?.invalid_Pattern;else plusError">Do not add Dashes
                                with numbers</div>
                            <ng-template #plusError>
                                <div *ngIf="f.number.errors?.invalidPattern;else allErrors">Do not enter +
                                    sign</div>
                                <ng-template #allErrors>
                                    <div *ngIf="f.number.errors?.pattern;else numberLength">Enter Numbers Only
                                    </div>
                                    <ng-template #numberLength>
                                        <div *ngIf="f.number.errors.minlength">Minimum length should be 16</div>
                                        <div *ngIf="f.number.errors.maxlength">Maximum length should be 16</div>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                Expiration Month <sup style="color: #ff0000">*</sup>
                            </mat-label>
                            <mat-select formControlName="exp_month" tabindex="1">
                                <mat-option value="">Choose Expiration Month</mat-option>
                                <mat-option value='01'>Janaury</mat-option>
                                <mat-option value='02'>February</mat-option>
                                <mat-option value='03'>March</mat-option>
                                <mat-option value='04'>April</mat-option>
                                <mat-option value='05'>May</mat-option>
                                <mat-option value='06'>June</mat-option>
                                <mat-option value='07'>July</mat-option>
                                <mat-option value='08'>August</mat-option>
                                <mat-option value='09'>September</mat-option>
                                <mat-option value='10'>October</mat-option>
                                <mat-option value='11'>November</mat-option>
                                <mat-option value='12'>December</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.exp_month.errors || f.exp_month.touched && f.exp_month.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.exp_month.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                Expiration Year<sup style="color: #ff0000">*</sup>
                            </mat-label>
                            <mat-select formControlName="exp_year" tabindex="1">
                                <mat-option value="">Choose Expiration Year</mat-option>
                                <mat-option *ngFor="let yearOption of yearOptions" value="{{yearOption}}">{{yearOption}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.exp_year.errors || f.exp_year.touched && f.exp_year.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.exp_year.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                CVV <sup style="color: #ff0000;">*</sup>
                            </mat-label>
                            <input matInput placeholder="CSC" formControlName="cvc" tabindex="1">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.cvc.errors || f.cvc.touched && f.cvc.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.cvc.errors.required">This field is required</div>
                        </div>
                        <div *ngIf="f.cvc.errors" class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.cvc.errors?.invalid_Pattern;else plusError">Do not add Dashes
                                with numbers</div>
                            <ng-template #plusError>
                                <div *ngIf="f.cvc.errors?.invalidPattern;else allErrors">Do not enter +
                                    sign</div>
                                <ng-template #allErrors>
                                    <div *ngIf="f.cvc.errors?.pattern;else numberLength">Enter Numbers Only
                                    </div>
                                    <ng-template #numberLength>
                                        <div *ngIf="f.cvc.errors.minlength">Minimum length should be 3</div>
                                        <div *ngIf="f.cvc.errors.maxlength">Maximum length should be 3</div>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row py-4">
                <div class="col-md-6">
                  
                </div>
                <div class="col-md-6 ">
                    <div class="billing_inforamtion">
                        <ul class="d-flex justify-content-center">
                            <li><button class="custom-btn savebutton btn-shadow" (click)="submitForm()" [disabled]="disableSubmitButton"
                                    tabindex="-1">SAVE</button> </li>
                            <li><button class="custom-btn resetbutton btn-shadow" (click)="resetForm()" tabindex="-1">RESET</button> </li>
                            <li><button class="custom-btn backbutton btn-shadow" (click)="backButton()" tabindex="-1">BACK</button> </li>
                        </ul>
                    </div>
                </div>
            </div>
                </div>
      
    </form>
</main>