.btn-shadow{
    box-shadow: 0px 5px 20px -6px rgb(0 0 0 / 60%);
}

.billing_inforamtion ul {
	display: flex;
	flex-wrap: nowrap;
	/* Prevent wrapping */
	justify-content: center;
	/* Center align the buttons */
	gap: 30px;
	/* Adjust spacing between buttons */
}

@media only screen and (max-width:767px) {

	.billing_inforamtion ul {
		justify-content: center;
		/* Keep buttons centered */
		gap: 10px;
		/* Smaller gap for mobile */
	}

	.billing_inforamtion li {
		flex: 0 1 auto;
		/* Allow the buttons to stay in one row */
	}

}