.vehtype_extint img {
	height       : 200px;
	border-radius: 15px;
}

.vehtype_extint .emptyImage {
	height: 200px;
}

.vehtype_extint .emptyImage img {
	height: 195px;
}

.camera-svg {
	height    : 35px;
	margin-top: -5px;
	cursor    : pointer;
}

.camera-svg:hover {
	transform: scale(1.2, 1.2);
}

.camera-svg:focus {
	outline  : none;
	transform: scale(1.2, 1.2);
}

.input-checkbox {
	width : 100%;
	height: 100%;
	cursor: pointer;

	.checkbox {
		width         : auto;
		height        : auto;
		font-size     : 1rem;
		text-align    : center;
		text-transform: uppercase;
		font-weight   : 500;
		border-radius : 7px;
		padding       : 1rem 2rem;
		color         : var(--orange-color);
		box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
		transition: box-shadow 0.25s ease, background-color 0.25s ease;
	}

	.checkbox.active {
		background-color: var(--green-color);
		color           : #fff;
		box-shadow: 0px 5px 10px -1px rgb(0 0 0 / 30%);
	}
}

@media only screen and (min-width: 1199px) {
	.input-container:focus {
		outline: none;

		.radio-button:checked+.radio-tile {
			color    : #000 !important;
			transform: scale(1, 1);

			.radio-tile-label {
				color: #000 !important;
			}
		}

		.radio-tile-label {
			color: #000 !important;
		}
	}
}

@media only screen and (max-width: 767px) {
	.mobilePadding {
		padding: 0px 15px !important;
	}
}

.cdk-overlay-pane {
	transform: translateX(0px) translateY(0px) !important;
}

#Layer_2 {
	width   : 10px;
	position: absolute;
	right   : 5px;
	fill    : #757575;
}

.select-seat-label {
	position  : relative;
	top       : 15px;
	left      : 8px;
	background: #fff;
	color     : #000 !important;
	padding   : 0 3px;
	font-size : 12px !important;
	transition: 0.3s;
}

.select-luggage-label {
	position  : relative;
	top       : 15px;
	left      : 8px;
	background: #fff;
	color     : #000 !important;
	padding   : 0 3px;
	font-size : 12px !important;
	transition: 0.3s;
}

@media only screen and (max-width:767px) {
	.select-luggage-label {
		text-overflow: ellipsis;
		overflow     : hidden;
		width        : 285px;
		white-space  : nowrap;
	}
	.mat-form-field{
		margin-top: 20px !important;
	}
}

.select-cancel-label {
	position  : relative;
	top       : 15px;
	left      : 8px;
	background: #fff;
	color     : #000 !important;
	padding   : 0 3px;
	font-size : 12px !important;
	transition: 0.3s;
}

.select-charter-cancel-label {
	position  : relative;
	top       : 15px;
	left      : 8px;
	background: #fff;
	color     : #000 !important;
	padding   : 0 3px;
	font-size : 12px !important;
	transition: 0.3s;
}



:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap{
	border-top-color: #f44336!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.mat-form-field-should-float.mat-focused .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-touched.ng-dirty.mat-form-field-should-float.ng-valid .mat-form-field-outline-gap{
	border-top-color: rgba(0,0,0,.12)!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-touched.mat-form-field-should-float.ng-valid.mat-focused .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.ng-dirty.ng-valid.ng-touched .mat-form-field-flex:hover .mat-form-field-outline-gap{border-top-color: rgba(0,0,0,.87)!important;}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.mat-focused .mat-form-field-outline-gap{
	border-top-color: #f44336!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-invalid.mat-form-field-should-float .mat-form-field-outline-gap{
	border-top-color: rgba(0,0,0,.12)!important;
}
:host ::ng-deep.mat-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-invalid .mat-form-field-flex:hover .mat-form-field-outline-gap{border-top-color: rgba(0,0,0,.87)!important;}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix mat-label{
	font-weight: normal!important;
	font-size: 14px!important;
	color: #191919;
}
:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-label{top:1.3675em}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix .labelClass{font-weight: normal!important;
	font-size: 14px!important;
	color: #191919;
top:2.05em}
:host ::ng-deep .mat-form-field {
	.mat-form-field-outline {
	  &-end {
		border-radius: 0 10px 10px 0 !important;
	  }
  
	  &-start {
		border-radius: 10px 0 0 10px !important;
		flex-grow: 1;
	  }
	}
  }
  :host ::ng-deep .mat-form-field .mat-form-field-wrapper{
		border-radius: 10px;
		background-color: rgb(226, 226, 226,1);
  } 
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix .labelClass+.iti--allow-dropdown .iti__flag-container{top:-12px}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{transform:translateY(-0.8em) scale(0.85)!important;width:133.3333333333%}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: #b2b2b2 !important;
}


:host ::ng-deep .selectInputStyle{
	background-color: rgb(226, 226, 226,1) !important;
}

:host ::ng-deep .ng-placeholder{
	background-color: rgb(226, 226, 226,1) !important;
}

:host ::ng-deep .ng-select-container{
	// background-color: #f5f4fe;
	background-color: rgb(226, 226, 226,1) !important;
	border: #b2b2b2 2em;
    border-radius: 10px;
}

:host ::ng-deep .ng-select .ng-has-value .ng-placeholder, .ng-select.ng-select-opened .ng-placeholder {
    transform: translateY(-0.68125em) scale(0.7) perspective(100px) translateZ(0.001px);
	color: #000;
	top: 0.95em;
}

:host ::ng-deep .ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder{
    transform: translateY(-0.68125em) scale(0.7) perspective(100px) translateZ(0.001px) !important;
	color: #000;
}
:host ::ng-deep .ng-select .ng-select-container.ng-appearance-outline:after {
	height: 100%;
	border-radius: 10px;
}
.mat-option{
	background-color: rgb(226, 226, 226,1) !important;
}
:host ::ng-deep .ng-option{
	background-color: rgb(226, 226, 226,1) !important;
}

:host ::ng-deep .select-cancel-label,.select-seat-label,.select-charter-cancel-label,.select-luggage-label{
	background-color: rgb(226, 226, 226,1) !important;
	transform: translateY(0.4em) scale(1) !important;
	top: 1.3em;
    opacity: 0.7;
    left: -0.05em;
}

:host ::ng-deep .mat-input-element{
	font-weight: 500;
}

:host ::ng-deep .selectStyle select {
	font-weight: 400;
}

// :host ::ng-deep #vehicleTypeField .ng-select-container.ng-appearance-outline{
// 		border: 3px solid red;
// }
.border-red{
	border: 3px solid red;
	padding: 0px;
	border-radius: 10px;
}
