.imageSection {
	margin-top: 30px;
}

.vehicleData {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

@media only screen and (min-width:768px) {
	.vehicleData li {
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 600;
	}
}

@media only screen and (max-width:767px) {
	.vehicleData li {
		margin-top: 10px;
	}
}

@media only screen and (min-width:992px) {
	.cityTax {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}


.cityTaxErrorMsg {
	margin-bottom: 20px;
}

.mile_km_radio li p label {
	font-size: 1rem;
}

.vehicleImage img {
	width: 280px;
	height: 200px;
	max-width: 100%;
	border-radius: 20px;
	object-fit: cover;
}

.taxesStyle .input-container {
	margin-top: 0;
}

@media only screen and (min-width:1199px) {
	.input-container:focus {
		outline: none;

		.radio-button:checked+.radio-tile {
			color: #000 !important;
			transform: scale(1, 1);

			.radio-tile-label {
				color: #000 !important;
			}
		}

		.radio-tile-label {
			color: #000 !important;
		}
	}
}

@media only screen and (max-width:991px) {
	.vehicleImage img {
		width: 100%;
		height: auto
	}
}

@media only screen and (max-width:575px) {
	.vehicleData li:first-child {
		margin-top: 0px;
	}

	.vehicleData li {
		margin-top: 0px;
		font-size: 14px;
	}

	.vehicleImage img {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width:767px) {
	.mobilePadding {
		padding: 0px 15px !important;
	}
}

.gratuityLabel {
	font-size: 24px;
	position: absolute;
	font-weight: 600;
	top: -5px;
	padding-left: 10px;
}

.amenityLabel {
	font-weight: 600;
}