
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mobileLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-mdc-form-field-label {
	padding-left    : 0px;
	background-color: #fff;
	max-width       : 70px;
	text-align      : center;
	left            : -6px;
	top             : 30px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.cellLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-mdc-form-field-label {
	padding-left    : 0px;
	// background-color: #e5e5e5;
	max-width       : 70px;
	text-align      : center;
	left            : -6px;
	top             : 34px;
}

.btn-shadow{
	box-shadow: 0px 5px 20px -6px rgb(0 0 0 / 60%);
}

.address-clear-btn{
	background: transparent;
	border: 0;
	padding: 0;
	margin-right: 8px;
	line-height: 0;
	cursor: pointer;
}
.asterisk{
	font-size: 1.4rem;
}
