.adminbox_shadow.user_information{
	font-family: "PT Serif", serif !important;
	background-color: #f5f4fe;
}
.adminbox_shadow.user_information .mat-mdc-form-field,
.mat-calendar {
	font-family: "PT Serif", serif !important;
}



/*******CREATE USER ACCOUNT******/

.section-wrapper-ng {
    padding: 0 0 20px !important;
}

.user_information {
    padding: 20px 0;
    background-color: #fff;
}

.user_information .custom-control.custom-radio label {
    font-size: 16px;
    color: #000;
    font-weight: 500 !important;
    margin-bottom: 0;
}

.user_information label {
    font-size: 1.1rem;
    font-weight: 500 !important;
    color: #000;
    margin-bottom: 0;
    line-height: 1.5;
    cursor: pointer;
}

.user_information label img {
    margin-top: -5px;
}

.user_information input::placeholder,
.user_information select::placeholder,
.user_information textarea::placeholder {
    // opacity: 1;
    color: #889097;
}

.user_information input {
    border: 0;
    width: 100%;
    font-size: 1.08rem;
}

.user_information textarea {
    border: 0;
    width: 100%;
    min-height: 45px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.user_information select {
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc !important;
    border: 0;
    width: 100%;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 0;
}

.user_information .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: var(--orange-color) !important;
    background-color: var(--orange-color);
    border: 1px solid;
}

.form-group {
    margin-bottom: 0 !important;
}

h2.headinginfo {
    padding: 0 15px;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

h2.headinginfo.topMargin {
    margin-top: 32px;
}




/******DRIVER DAILY BOOKINGS******/

.ad_pickupdate i {
    position: absolute;
    top: 0;
    right: 0;
    color: #c3cfd9;
    padding: 10px 27px 0px 0px;
}

.dailybook_table .dropdown-toggle {
    border: 0;
    background-color: transparent;
}

.dailybook_table p {
    margin: 0;
}

.dailybook_table .badge {
    min-width: 60px;
    padding: 5px 7px 6px 7px;
}

.dailybook_table p {
    margin: 0;
    white-space: nowrap;
}

.agntreprt_disprint,
.agntreprt_disprint ul {
    padding: 0;
}

.tfooter td {
    border-left: 0;
    border-right: 0;
    font-weight: bold;
    font-size: 16px;
}

.tfooter td:first-child {
    border-left: 1px solid #dee2e6;
}

.tfooter td:last-child {
    border-right: 1px solid #dee2e6;
}

.table-bordered td {
    font-size: 15px;
}

.table thead {
    vertical-align: top;
    background-color: #c3cfd9;
    color: #000;
}

.custom_table .table thead th {
    vertical-align: top;
    background-color: #fff;
    color: #000 !important;
    text-align: center;
    vertical-align: text-top !important;
    vertical-align: middle !important;
}

.custom_table .table tbody td {
    vertical-align: top;
    color: #000;
    text-align: center;
    vertical-align: text-top !important;
    vertical-align: middle !important;
    white-space: nowrap;
    font-weight: lighter;
}

.table thead td {
    vertical-align: top;
}

.table tfoot {
    color: #000;
}

.dailybook_table .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--orange-color) !important;
    border-color: var(--orange-color) !important;
}

.dailybook_table .page-item .page-link {
    color: #000;
}


.driverside_table img {
    width: 100px;
    height: 70px;
    object-fit: contain;
    border-radius: 5px;
}

.driverside_table ul {
    display: flex;
    padding: 0px 15px;
    margin-top: 40px;
}

.driverside_table ul li {
    list-style-type: none;
    margin: 0px 5px;
    cursor: pointer;
}


@media only screen and (max-width: 767px) {
    .driverside_table ul {
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .driverside_table ul li {
        margin-top: 10px;
    }
}



table .dropdown-menu {
    left: 0px !important;
}

table #navbarDropdownUserImage {
    background-color: var(--orange-color);
    color: #000;
    padding: 8px 15px !important;
    border-radius: 3rem !important;
}

@media only screen and (min-width: 1199px) {
    table #navbarDropdownUserImage:hover {
        background-color: #28b24b;
    }
    table #navbarDropdownUserImage:focus {
        transform: scale(1.1, 1.1);
        background-color: #28b24b;
    }
}



@media (max-width: 767.98px) {
    .add-button {
        padding: 10px !important;
        line-height: 1.4;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f4fe !important;
    border: none;
}

.dataTable thead th {
    vertical-align: bottom;
    border-bottom: 0px !important;
}

.dataTable td,
.dataTable th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #fff !important;
    font-weight: 500;
}

.alert {
    border-radius: 0.5rem !important;
}

.alert-danger {
    color: #000 !important;
}



/* admin side table view css */

.adminbox_shadow.user_information .custom_table .table thead th {
    text-align: left;
    background-color: #f29439;
    color: #fff;
}

.adminbox_shadow.user_information .custom_table .table.table-dark td,
.adminbox_shadow.user_information .custom_table .table.table-dark th,
.adminbox_shadow.user_information .custom_table .table.table-dark thead th {
    border-color: #fff;
}

.adminbox_shadow.user_information .custom_table .table tbody td {
    text-align: left;
}

.adminbox_shadow.user_information .custom_table .table.table-dark {
    background-color: #e8e8e8;
}

@media only screen and (max-width: 991px) {
    .adminbox_shadow.user_information .custom_table table {
        table-layout: auto !important;
    }
}



.user_information .selectInputStyle {
    border-bottom: 1px solid #ccc !important;
    background: #fff !important;
    padding-left: 10px;
    height: 60px;
    border-radius: 5px;
}

.user_information .selectInputStyle:hover {
    border: 2px solid #000;
    border-bottom: 2px solid #000 !important;
}

.user_information .selectInputStyle:active {
    border: 2px solid #3f51b5;
    border-bottom: 2px solid #3f51b5 !important;
}

