<ngx-spinner></ngx-spinner>
<main>

	<!-- Main page content-->
	<section class="driverbooking_top adminbox_shadow user_information">
		<h2 class="headinginfo">Add Staff</h2>
		<div class="containeredd">
			<div class="row mt-3">
				<div class="col-md-12 mb-2">
					<label class="alert alert-danger">Note: Add each different Staff first.</label>
					<!-- <h3 class="addveh_top"><i (click)="addStaffClick(accountId)" class="addplus fa fa-plus" aria-hidden="true"></i> Add staff
				</h3> -->
				</div>
				<!-- <div class="col-md-12 mt-3 mb-3">
                <input type="text" placeholder="Search Filter by Name, Number or Key word" (input)="serach($event.target.value)">
             </div> -->
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="custom-btn add-button" (click)="addStaffClick(accountId)" tabindex="1">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-circle"
							viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
							<path
								d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
						</svg> Add Staff
					</button>
				</div>
			</div>
		</div>
		<div class="containeredd driverside_table">
			<div class="row">
				<div class="col-md-12 custom_table table-responsive">
					<table class="table table-striped dataTable dt-responsive" id="dataTable" role="grid"
						aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
						<thead>
							<tr role="row">
								<th>Name</th>
								<th>Cell</th>
								<th>Depart Tel #</th>
								<th>Email</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="staffList">
								<tr role="row" class="odd" *ngFor="let staff of staffList">
									<td>{{staff.first_name+' '+staff.middle_name+' '+staff.last_name}}</td>
									<td>{{staff.cell_number_isd+staff.cell_number}}</td>
									<td>{{staff.dept_tel_isd+staff.dept_tel}}</td>
									<td>{{staff.email}}</td>
									<td>
										<mat-slide-toggle class="example-margin" [color]="color"
											[checked]="staff.status" [disabled]="disabled"
											(change)="enableDisableClicked($event,staff.id)">
										</mat-slide-toggle>
									</td>
									<td>
										<a class="user-profileded btn btn-icon btn-transparent-dark"
											(click)="clickEditStaff(staff.id)" id="navbarDropdownUserImage">
											Edit Staff
										</a>
									</td>
								</tr>
								<tr *ngIf="!staffList?.length">
									<td colspan="6">No Staff Found!</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
				<section class="billing_inforamtion">
					<ul>
						<li><button class="custom-btn backbutton" (click)="backButtonClick()" tabindex="-1"><i
									class="fa fa-arrow-circle-left" aria-hidden="true"></i></button> </li>
					</ul>
				</section>
			</div>
		</div>
	</section>
</main>