.adminbox_shadow.user_information,
.adminbox_shadow.user_information .mat-form-field,
.mat-calendar {
	font-family: 'PT Serif', serif !important;
}

.booking_status {
	font-size: medium;
	color: #fff;
}

.btnclass {
	margin-top: 20px;
	height: 60px;
	width: 100%;
	color: #000;
	font-weight: 500;
	background-color: var(--green-color);
	border-color: var(--green-color);
	padding: 15px 40px;
}

.pending {
	background-color: #0474fc;
}

.assigned {
	background-color: #543424;
}

.rejected {
	background-color: #fc6404;
}

.cancelled {
	background-color: #dc3545;
}

.en_route_pu {
	background-color: #6454ac;
}

.on_location {
	background-color: #7289da;
}

.en_route_do {
	background-color: #1abc9c;
}

.ended {
	background-color: #8cc43c;
}

.finalized {
	background-color: #fcac04;
}

.non_payable {
	background-color: #ec4c8c;
}

.comped {
	background-color: #7c7c84;
}


#farmout-modal {
	.modal-footer {
		justify-content: flex-end !important;
		& > button {
			padding: 0.7rem 1.95rem;
			color: var(--orange);
			border: 1.3px solid var(--orange);
			margin: auto 15px;
			border-radius: 15px;
		}
		#prim-btn:hover {
			background-color: var(--orange);
			color: #ffffff;
			border-color: var(--orange)
		}
		#sec-btn:hover {
			background-color: #616161;
			border-color: #616161;
			color: #ffffff
		}
	}
}

.custom-filled-button {
	padding: 0.375rem 0.985rem;
}