<div class="innerpage_wrapper">
   <section class="safety_wrapper py-5">
      <div class="container py-lg-5">
         <div class="row align-items-center">
            <!-- Text Content (Left) -->
            <div class="col-lg-6 mb-5 mb-lg-0 text-center text-lg-left pr-lg-5">
               <div id="notfound">
                  <div class="notfound">
                     <div class="notfound-404">
                        <h1>404</h1>
                     </div>
                     <h2 class="mt-4 mt-lg-0">We are sorry, Page not found!</h2>
                     <p>The page you are looking for might have been removed, had its name changed, or is temporarily
                        unavailable.</p>
                     <a routerLink="/home" class="btn btn-orange mt-2">Back To Homepage</a>
                  </div>
               </div>
            </div>
            <!-- Image Content (Right) -->
            <div class="col-lg-6 text-center">
               <img src="assets/images/404-illustration.png" alt="Page Not Found"
                  class="img-fluid rounded-custom shadow-lg not-found-img">
            </div>
         </div>
      </div>
   </section>
</div>