<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="innerpage_wrapper">
    <div class="innerpage_topbanner">
        <h2>
            Watch Our Tutorials
            <hr>
        </h2>
    </div>
    <section class="safety_wrapper">
        <div class="container">
            <div class="row">
                <!-- Loop through groupedTutorials categories -->
                <div *ngFor="let category of objectKeys(groupedTutorials)">

                    <!-- Display category header -->
                    <div class="col-12">
                        <h2 class="category-title">{{ category }}</h2>
                    </div>

                    <!-- Loop through tutorials in the current category -->
                    <div class="row">
                        <!-- Loop through the tutorials for each category -->
                        <div *ngFor="let tip of groupedTutorials[category]" class="col-sm-12 col-md-6 col-lg-6"
                            style="margin-bottom: 15px;">
                            <a [href]="tip.link" target="_blank" class="card">
                                <div class="d-flex flex-direction-column div_content">
                                    <img src="{{ tip.image }}" alt="{{ tip.title }}">
                                    <div class="card-content">
                                        <p class="title">{{ tip.title }}</p>
                                        <p class="content">{{ tip.content }}</p>
                                    </div>
                                    <div class="arrow-container">
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> <!-- End row for tutorials -->

                </div> <!-- End category -->
            </div> <!-- End main row -->
        </div>
    </section>


    <section class="client_wrapper">
        <div class="container-fluid">
            <h2><span>Who Travels With Us</span></h2>
    
            <div class="client_logo swiper" #clientLogoContainer>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let clientLogo of clientImages">
                        <div class="client-logo-item">
                            <img [src]="clientLogo?.path" alt="client logo" loading="lazy" onerror="this.style.display='none'">
                        </div>
                    </div>
                </div>
                <!-- Navigation buttons -->
                <div class="client-logo-swiper-button-prev"></div>
                <div class="client-logo-swiper-button-next"></div>
            </div>
        </div>
    </section>
</div>