<div class="innerpage_wrapper">
	<div class="innerpage_topbanner">
		<h2>suggestions-complaints
			<hr>
		</h2>
	</div>
	<section class="safety_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="suges_complaint">
						<div class="row">
							<div class="col-md-2">
								<div class="suges_complaintname"><img
										src="http://dummyimage.com/60x60/666/ffffff&amp;text=No+Image"
										class="img-rounded">
								</div>
								<span>Dec 29, 2018 </span>
							</div>
							<div class="col-md-10">
								<label>John Watson</label>
								<ul class="rating_rate">
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
								</ul>
								<h2>Lorem Ipsum is simply dummy text of the pr make but also</h2>
								<p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s with
									the release of Letraset sheets containing Lorem Ipsum passages, and more recently
									with desktop publishing software like Aldus PageMaker including versions of Lorem
									Ipsum.</p>
							</div>
						</div>
					</div>
					<div class="suges_complaint">
						<div class="row">
							<div class="col-md-2">
								<div class="suges_complaintname"><img
										src="http://dummyimage.com/60x60/666/ffffff&amp;text=No+Image"
										class="img-rounded">
								</div>
								<span>Dec 29, 2018 </span>
							</div>
							<div class="col-md-10">
								<label>John Watson</label>
								<ul class="rating_rate">
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
								</ul>
								<h2>Lorem Ipsum is simply dummy text of the pr make but also</h2>
								<p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s with
									the release of Letraset sheets containing Lorem Ipsum passages, and more recently
									with desktop publishing software like Aldus PageMaker including versions of Lorem
									Ipsum.</p>
							</div>
						</div>
					</div>
					<div class="suges_complaint">
						<div class="row">
							<div class="col-md-2">
								<div class="suges_complaintname"><img
										src="http://dummyimage.com/60x60/666/ffffff&amp;text=No+Image"
										class="img-rounded">
								</div>
								<span>Dec 29, 2018 </span>
							</div>
							<div class="col-md-10">
								<label>John Watson</label>
								<ul class="rating_rate">
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
								</ul>
								<h2>Lorem Ipsum is simply dummy text of the pr make but also</h2>
								<p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s with
									the release of Letraset sheets containing Lorem Ipsum passages, and more recently
									with desktop publishing software like Aldus PageMaker including versions of Lorem
									Ipsum.</p>
							</div>
						</div>
					</div>
					<div class="suges_complaint">
						<div class="row">
							<div class="col-md-2">
								<div class="suges_complaintname"><img
										src="http://dummyimage.com/60x60/666/ffffff&amp;text=No+Image"
										class="img-rounded">
								</div>
								<span>Dec 29, 2018 </span>
							</div>
							<div class="col-md-10">
								<label>John Watson</label>
								<ul class="rating_rate">
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
									<li class="float-right"><i class="text-warning fa fa-star"></i></li>
								</ul>
								<h2>Lorem Ipsum is simply dummy text of the pr make but also</h2>
								<p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s with
									the release of Letraset sheets containing Lorem Ipsum passages, and more recently
									with desktop publishing software like Aldus PageMaker including versions of Lorem
									Ipsum.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>