<ngx-spinner></ngx-spinner>
<main>
    <!-- Main page content-->
    <section class="adminbox_shadow user_information">
        <div class="row mx-2">
            <button class="custom-btn add-button"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 16 16" class="bi bi-plus-circle">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
                    </path>
                </svg> Add Role</button>
        </div>
        <h2 class="headinginfo"> Roles list </h2>
        <div class="containeredd driverside_table">
            <div class="row">
                <div class="col-md-12 custom_table">
                    <div class="table-responsive" style="min-height: 350px">
                        <table class="table table-dark table-striped table-bordered dataTable dt-responsive"
                            id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                            <thead>
                                <tr role="row">
                                    <th >Actions</th>
                                    <th>Roles Name</th>
                                    <th>Slug</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- *ngFor="let item of rolesList" -->
                                <tr role="row" class="odd">
                                    <td class="col-md-3"> 
                                        <button class=" user-profileded view-button btn-transparent-dark font-weight-bold"
                                                [routerLink]="['/admin/staff-permissions']"
												[queryParams]="{role: '123'}">
                                            Permissions</button>
                                    </td>
                                    <td class="col-md-5">Sub Admin</td>
                                    <td class="col-md-4">SUB_ADMIN</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>