<ngx-spinner></ngx-spinner>
<main>
    <!-- Main page content-->
    <section class="adminbox_shadow user_information">
        <div class="row mx-2" data-toggle="modal" data-target="#addRoleModal">
            <button class="custom-btn add-button"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 16 16" class="bi bi-plus-circle">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
                    </path>
                </svg> Add Role</button>
        </div>
        <h2 class="headinginfo"> Roles list </h2>
        <div class="containeredd driverside_table">
            <div class="row">
                <div class="col-md-12 custom_table">
                    <div class="table-responsive" style="min-height: 350px">
                        <table class="table table-dark table-striped table-bordered dataTable dt-responsive"
                            id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                            <thead>
                                <tr role="row">
                                    <th>Actions</th>
                                    <th>Roles Name</th>
                                    <th>Slug</th>
                                    <!-- <th>Updated At</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" *ngFor="let item of rolesList">
                                    <td class="col-md-2">
                                        <button
                                            class=" user-profileded view-button btn-transparent-dark font-weight-bold"
                                            [routerLink]="['/admin/staff-permissions']"
                                            [queryParams]="{role: item?.id}">
                                            Permissions</button>
                                    </td>
                                    <td class="col-md-5">{{item?.name}}</td>
                                    <td class="col-md-3">{{item?.slug}}</td>
                                    <!-- <td class="col-md-2">{{formatDate(item?.updated_at) }}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>



<!-- ADD ROLE MODAL -->

<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content user_inforamtion">
            <button type="button" class="close closeButton x-circle-btn" data-dismiss="modal" aria-label="Close">
                <i class="bi bi-x-circle"></i>
            </button>
            <div class="modal-header pb-0 d-flex justify-content-center">
                <h3 class="mb-0" id="exampleModalLabel">Add Role</h3>
            </div>
            <div class="modal-body">
                <form [formGroup]="addRoleForm" appInvalidControlScroll>
                    <div class="form-group">
                        <div class="col-md-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" formControlName="name" required>
                            </mat-form-field>
                            <div class="error-box">
                                <div class="error-message"
                                    *ngIf="Form?.name.invalid && (Form?.name.touched || Form?.name.dirty)">
                                    <p class="text-danger text-lg m-0" *ngIf="Form?.name.errors?.required">
                                        Name is required
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btnStyle" data-dismiss="modal" aria-label="Close">Close</button>
                <button class="btn saveButtonModal" (click)="handleSubmitAddRole()"  type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>