.button2 {
	border       : 0;
	border-radius: 7px;
	padding      : 8px 15px;
}

#amenityListModal .modal-dialog {
	max-width: 300px;
}

a.notCompleted {
	background-color: #F33C2F !important;
	color: #fff !important;
}

.table-responsive i {
	cursor: pointer;
}

@media only screen and (min-width:1199px) {
	a.notCompleted:hover {
		background-color: #d12c20 !important;
		color           : #fff;
		text-decoration : none;
	}

	a.notCompleted:focus {
		transform       : scale(1.2, 1.2);
		background-color: #d12c20 !important;
	}
}
.vehicleFontDesign{
	font-weight: 500 !important;
	font-size: 17px;
}

/* Disable scaling on the image when dragging */
.cdk-drag-preview img {
	transform: none !important;
}

.cdk-drag-preview {
	transform: none !important;
}