<ngx-spinner type="ball-scale-multiple" name="logoutspinner">
    <p style="color: white; font-size: 0.95rem; width: max-content">
        Logging you out. Please Wait...
    </p>
</ngx-spinner>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main style="height: 100vh;">
    <form [formGroup]="profileForm" appInvalidControlScroll>
        <section class="user_information">
            <h2 class="headinginfo adminbox_shadow">Travel Advisor Account</h2>
            <div class="container mt-1 ">
                <div class="row ">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name <span class="asterisk">*</span></mat-label>
                            <input formControlName="firstName" type="text" matInput placeholder="First Name"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.firstName?.errors || f?.firstName?.touched && f?.firstName?.errors"
                            class="text-danger">
                            <div *ngIf="f?.firstName?.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Middle Name </mat-label>
                            <input formControlName="middleName" type="text" matInput placeholder="Middle Name"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.middleName?.errors" class="text-danger">
                            <div *ngIf="f?.middleName?.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name <span class="asterisk">*</span></mat-label>
                            <input formControlName="lastName" type="text" matInput placeholder="Last Name"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.lastName?.errors || f?.lastName?.touched && f?.lastName?.errors"
                            class="text-danger">
                            <div *ngIf="f?.lastName?.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="mobileField">
                            <mat-label>Mobile<span class="asterisk"> *</span></mat-label>
                            <input pattern="[0-9+]*" maxlength="16" matInput #mobileInput placeholder="Mobile"
                                formControlName="mobile" class="phoneNumberClass" tabindex="1"
                                (focus)="$event.target.select()" (keypress)="numberOnly($event)"
                                (input)="validateMobile()" (blur)="validateMobile()"
                                [class.is-invalid-input]="(submittedForm && f?.mobile?.errors) || (f.mobile?.touched && f?.mobile?.errors)" />
                        </mat-form-field>
                        <div *ngIf="(submittedForm && f?.mobile?.errors) || (f.mobile?.touched && f?.mobile?.errors)"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f?.mobile?.errors?.required">This field is required</div>
                            <div *ngIf="f?.mobile?.errors?.invalidIntl">{{f?.mobile?.errors?.invalidIntl}}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="mobileField">
                            <mat-label>Work</mat-label>
                            <input pattern="[0-9+]*" maxlength="16" matInput #workInput placeholder="Contact"
                                formControlName="work_contact_number" class="phoneNumberClass" tabindex="1"
                                (focus)="$event.target.select()" (keypress)="numberOnly($event)"
                                (input)="validateWorkContact()" (blur)="validateWorkContact()"
                                [class.is-invalid-input]="(submittedForm && f?.work_contact_number?.errors) || (f.work_contact_number?.touched && f?.work_contact_number?.errors)" />
                        </mat-form-field>
                        <div *ngIf="(submittedForm && f?.work_contact_number?.errors) || (f.work_contact_number?.touched && f?.work_contact_number?.errors)"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f?.work_contact_number?.errors?.required">This field is required</div>
                            <div *ngIf="f?.work_contact_number?.errors?.invalidIntl">
                                {{f?.work_contact_number?.errors?.invalidIntl}}</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail <span class="asterisk">*</span></mat-label>
                            <input formControlName="email" type="text" matInput placeholder="E-mail"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.email?.errors || f?.email?.touched && f?.email?.errors"
                            class="text-danger">
                            <div *ngIf="f?.email?.errors?.required">This field is required</div>
                            <div *ngIf="f?.email?.errors?.pattern">Email format should be valid</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Agency Name <span class="asterisk">*</span></mat-label>
                            <input formControlName="agency_name" type="text" matInput placeholder="Agency Name"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.agency_name?.errors" class="text-danger">
                            <div *ngIf="f?.agency_name?.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <form [formGroup]="timezoneForm">
                            <mat-form-field appearance="outline">
                                <mat-label>Timezone</mat-label>
                                <mat-select formControlName="timezone" (selectionChange)="onTimezoneChange($event)">
                                    <mat-option value="">Choose timezone</mat-option>
                                    <mat-option value='IST'>IST</mat-option>
                                    <mat-option value='PST'>PST</mat-option>
                                    <mat-option value='EST'>EST</mat-option>
                                    <mat-option value='CST'>CST</mat-option>
                                    <mat-option value='GMT'>GMT</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div> -->
                    <div class="col-md-12 quote-ui-dropdown-host">
                        <mat-form-field appearance="outline" class="quote-ui-field quote-ui-field--address"
                            [ngClass]="{ 'border-red': (f.address.value == '')}">
                            <mat-label>Street Address <span class="asterisk">*</span></mat-label>
                            <i matPrefix class="fas fa-search quote-ui-field__prefix quote-ui-field__prefix--address"></i>
                            <input #search1 formControlName="address" type="text" matInput placeholder="Street Address"
                                autocomplete="off" (focus)="onAddressFocus(search1)" (blur)="onAddressBlur()"
                                (input)="onAddressInput($any($event.target).value)" />
                            <button matSuffix type="button" class="address-clear-btn"
                                *ngIf="f?.address?.value || search1?.value"
                                (click)="clearAddressField()" aria-label="Clear address">
                                <svg width="21" height="20" fill="none" viewBox="0 0 21 20">
                                    <path fill="#1f1f1f" fill-rule="evenodd"
                                        d="M10.8 0a10 10 0 100 20 10 10 0 100-20m2.59 6L10.8 8.59 8.21 6 6.8 7.41 9.39 10 6.8 12.59 8.21 14l2.59-2.59L13.39 14l1.41-1.41L12.21 10l2.59-2.59zM2.8 10a8.01 8.01 0 0016 0 8.01 8.01 0 00-16 0"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </mat-form-field>
                        <div *ngIf="activeAddressDropdown" class="quote-ui-dropdown-panel">
                            <button type="button" class="quote-ui-dropdown-option" *ngFor="let option of addressOptions"
                                (mousedown)="$event.preventDefault()" (click)="selectAddressOption(option)">
                                <i class="fas fa-map-marker-alt quote-ui-dropdown-option__icon"></i>
                                <span class="quote-ui-dropdown-option__content">
                                    <span class="quote-ui-dropdown-option__label">{{ getAddressOptionLabel(option) }}</span>
                                    <span class="quote-ui-dropdown-option__secondary">{{ getAddressOptionSecondary(option) }}</span>
                                </span>
                            </button>
                            <div *ngIf="shouldShowAddressPrompt()" class="quote-ui-dropdown-empty">Start typing to search address</div>
                            <div *ngIf="addressSearchLoading" class="quote-ui-dropdown-empty">Searching...</div>
                            <div *ngIf="shouldShowAddressEmpty()" class="quote-ui-dropdown-empty">No Result found</div>
                        </div>
                        <!-- <textarea placeholder="Address" formControlName="address"></textarea> -->
                        <div *ngIf="submittedForm && f?.address?.errors || f?.address?.touced && f?.address?.errors"
                            class="text-danger">
                            <div *ngIf="f?.address?.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Country <span class="asterisk">*</span></mat-label>
                            <input formControlName="country" type="text" matInput placeholder="Country"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.country?.errors" class="text-danger">
                            <div *ngIf="f?.country?.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Zip Code / Country Address Code <span class="asterisk">*</span></mat-label>
                            <input formControlName="zip" type="text" matInput
                                placeholder="Zip Code / Country Address Code" (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f?.zip?.errors || f.zip.touched && f.zip.errors"
                            class="text-danger">
                            <div *ngIf="f?.zip?.errors?.required">This field is required</div>
                            <div *ngIf="f?.zip?.errors?.pattern">This field should be a number</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="col-md-12">
                <div class="billing_inforamtion ">
                    <ul class="d-flex justify-content-center" style="gap:30px;">
                        <li>
                            <button class="custom-filled-reset-button" tabIndex="2" (click)="resetForm()">
                                RESET
                            </button>
                        </li>
                        <li><button class="custom-filled-button" tabIndex="1" (click)="submitForm()">
                                SAVE
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</main>

<!-- modal to redirect -->
<div class="modal fade" tabindex="-1" id="redirectModal" aria-labelledby="redirectModal" aria-hidden="true">
    <div class="modal-dialog invite-agent-modal-dialog modal-dialog-centered">
        <div class="modal-content" style="padding: 0px;">
            <div class="p-2 closeButton-modal">
                <button type="button" class="close x-circle-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="bi bi-x-circle"></span>
                </button>
            </div>
            <div class="invite-agent-modal-header">
                <h4 style="font-size:18px;">{{response?.message}}
                </h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="custom-filled-button" (click)="redirectToHome()">
                    Redirect to home
                </button>
            </div>
        </div>
    </div>
</div>
