.navbar-dark .navbar-nav .nav-item .nav-link:hover {
	color: var(--orange-color) !important;
}

.logout-background {
	background: #8080805c;
}

.ta-btn{
	background-color: teal;
    font-weight: 500;
    box-shadow: 0 5px 10px -6px rgb(0 0 0);
    color: #fff !important;	
}

.sub-admin-dropdown {
	background-color: var(--orange-color);
}

.gear-bg {
	color: aliceblue !important;
}

.nav-item-bt-1 {
	background-color: var(--orange-color);
}

.nav-item {
	padding-right: 0 !important;
}

#navbarDropdownUserImage:hover {
	color: var(--orange-color) !important;
}

#navbarsExample05 {
	z-index: 999;
}

.navbar-nav li {
	cursor: pointer;
}

.dropdown-menu {
	hr {
		margin: 5px 10px 5px 10px;
		background: #646464;
	}

	.dropdown-item.nav-disabled {
		opacity: 0.6;
		cursor: default;
	}

	.dropdown-item {
		display: block;
		border-radius: 8px;
		margin: 14px 15px;
		width: auto;
		padding: 8px 15px;

		&:hover:not(.dropdown-item.nav-disabled) {
			background-color: #be691d;
		}

	}

	.driver-dropdown {
		background-color: var(--green);
	}

	.driver-dropdown:hover {
		color: #000;
	}

	.dropdown-item:not(.dropdown-item.nav-disabled) {
		box-shadow: 0 3px 10px -6px rgba(0, 0, 0, 0.6);
	}

	.dropdown-item:active {
		box-shadow: none;
	}
}

ul {
	background-color: #000;
}

// .g-translator{position: absolute;right:0;left: auto;top:-6px;bottom: auto;z-index:9999}
:host ::ng-deep .g-translator .goog-te-gadget .goog-te-combo {
	margin: 0 !important;
	border: none !important;
	box-shadow: none !important;
	border-radius: 0 0px 10px 10px !important;
	width: 130px !important;
	max-width: 100% !important;
}

#navbarsExample05 {
	padding-top: 10px;
}

:host ::ng-deep .goog-te-gadget {
	color: #011533 !important
}

:host ::ng-deep .VIpgJd-ZVi9od-l4eHX-hSRGPd {
	display: none !important;
}

@media only screen and (min-width: 980px) {
	ul {
		background-color: transparent;
	}
}

@media only screen and (max-width:991px) {

	// header .navbar-dark .navbar-toggler{padding-top: 20px;}
	header .home_header {
		background-color: transparent !important;
	}

	.navbar-dark .navbar-nav .nav-link {
		color: var(--orange-color) !important;
	}

	.dropdown.button-signin a {
		color: var(--orange-color) !important;
	}

	.allinner_wrapper header nav .navbar-nav li a {
		color: var(--orange-color) !important;
	}
}

// @media only screen and (max-width:767px) {
// 	.hideMobile {
// 		display: none;
// 	}
// 	.hideDesktop {
// 		display: block;
// 	}
// }

// @media only screen and (min-width:767px) {
// 	.hideDesktop {
// 		display: none;
// 	}
// 	.hideMobile {
// 		display: block;
// 	}
// }

.dropdown-item {
	font-weight: 600;
}

.focus-border {
	border: 2px solid #ffffff;
	/* Apply a blue border when focused */
	box-shadow: 0 0 5px #ffffff;
	/* Add a shadow effect (optional) */
}