.navbar-dark .navbar-nav .nav-item .nav-link:hover {
	color: var(--orange-color) !important;
}

.nav-item {
	padding-right: 0 !important;
}

#navbarDropdownUserImage:hover {
	color: var(--orange-color) !important;
}

#navbarsExample05 {
	z-index: 999;
}

.navbar-nav li {
	cursor: pointer;
}

.dropdown-menu {
	hr {
		margin: 5px 10px 5px 10px;
		background: #646464;
	}
	.dropdown-item:disabled {
		opacity: 0.6;
		pointer-events: none;
		cursor: default;
	}
	.dropdown-item {
		display: block;
		border-radius: 8px;
		background-color: var(--orange);
		margin: 14px 15px;
		width: auto;
		padding: 8px 15px;
	}
	.dropdown-item:not(.dropdown-itemdown-item:disabled) {
		box-shadow: 0 3px 10px -6px rgba(0, 0, 0, 0.6);
	}
	.dropdown-item:active {
		box-shadow: none;
	}
}
ul {
	background-color: #000;
}

@media only screen and (min-width: 980px) {
	ul {
		background-color: transparent;
	}
}
