.user_information
{
	font-size: 1.1rem;
}

.iconStyle a {
	display: inline-block !important;
}

.iconStyle i.fa-facebook {
	color: #385593;
}

.iconStyle i.fa-facebook:hover {
	transform: scale(1.2, 1.2);
}

.iconStyle i.fa-twitter {
	color: #00a6e4;
}

.iconStyle i.fa-twitter:hover {
	transform: scale(1.2, 1.2);
}

.iconStyle i.fa-linkedin {
	color: #0073ae;
}

.iconStyle i.fa-linkedin:hover {
	transform: scale(1.2, 1.2);
}

.iconStyle i.fa-youtube {
	color: #c7171e;
}

.iconStyle i.fa-youtube:hover {
	transform: scale(1.2, 1.2);
}

@media only screen and (max-width:320px) {
	.socials {
		text-align: left;
	}

	.socials i {
		font-size: 26px;
	}

	.socials svg {
		width     : 26px;
		margin    : 0px 14px 0px 14px;
		margin-top: -8px;
	}
}

@media (min-width:328px) and (max-width:767px) {
	.socials {
		text-align: center;
	}
}

.alertBox {
	background   : var(--orange-color);
	width        : 500px;
	border-radius: 10px;
	height       : 70px;
	padding      : 10px;
	margin-top   : 20px;
}

@media only screen and (max-width:767px) {
	.alertBox {
		background   : var(--orange-color);
		width        : 100%;
		border-radius: 10px;
		height       : 100%;
		padding      : 10px;
		margin-top   : 20px;

		h5 {
			margin: 0;
		}
	}
}

.custom-filled-button
{
	color: #fff;
	padding: 0.295rem 1.378rem;
}

p#account-approval-status-container
{
	font-size: 1.7rem;
	span
	{
		font-size: 2rem;
	}
}