.mat-checkbox-checked.mat-accent .mat-checkbox-background {
	background-color: var(--orange);
}
.mat-form-field-flex {
	align-items: center;
}

.section-container {
	background-color: #fff;
	color: #000;
	border-radius: 12px;
	padding: 12px;
	width: 100%;
	font-size: 1rem;
	margin: 1.2rem auto;
	box-shadow: 3px 3px 20px -6px rgba(40, 40, 40, 0.5);
}

.required-field:after {
	content: "*";
	color: #ff0000;
	font-weight: 400;
}
mat-form-field {
	margin: 0 !important;
}
.extra-stop-field:not(.extra-stop-field:first-child) {
	margin-top: 1.5rem;
}

ul {
	list-style: none;
}

.map-block {
	padding: 0 10px;
	margin: 4rem 0 2rem 0;

	.google_map {
		width: auto;
		max-height: 300px;
		height: 300px;
		.map {
			width: 100%;
			height: 100%;
			border-radius: 17px;
		}
	}
}

.section-dropdown {
	overflow: hidden;
	cursor: pointer;
	height: 3.5rem;
	transition: height 0.17s ease-in-out;
	&.active#languages {
		height: 26rem;
	}
	&.active#dresses {
		height: 10rem;
	}
	&.active#amenities {
		height: 43rem;
	}
	&.active#images {
		height: 42rem;
	}
}

