.mat-checkbox-checked.mat-accent .mat-checkbox-background {
	background-color: var(--orange);
}

.mat-form-field-flex {
	align-items: center;
}
hr{
	border-top: 1px solid black
}

.section-container {
	background-color: #fff;
	color: #000;
	border-radius: 12px;
	padding: 12px 12px 0px 12px;
	width: 100%;
	font-size: 1rem;
	margin: 1.2rem auto;
	box-shadow: 3px 3px 20px -6px rgba(40, 40, 40, 0.5);
}
.margin-left-10{
	margin-left: 10px !important
}
.margin-bottom-minus-20{
	margin-bottom: -20px !important;
}
mat-form-field {
	margin: 1rem 0 !important;
}
.margin-top-minus{
	margin-top: -26px !important;
}
.border-secondary{
	margin: 0 0 6px !important;
}

.mat-form-field.m-0 {
	margin: 1rem 0 0 0 !important;
}

.extra-stop-field:not(.extra-stop-field:first-child) {
	margin-top: 1.5rem;
}
.block-cursor{
	cursor: pointer;
    pointer-events: none;
}
ul {
	list-style: none;
}

.map-block {
	padding: 0 10px;
	margin: 4rem 0 2rem 0;

	.google_map {
		width: auto;
		max-height: 300px;
		height: 300px;

		.map {
			width: 100%;
			height: 100%;
			border-radius: 17px;
		}
	}
}

.section-dropdown {
	overflow: hidden;
	cursor: pointer;
	height: 3.5rem;
	transition: height 0.17s ease-in-out;

	.section-dropdown-header {
		color: var(--orange);
	}

	&.active {
		height: fit-content;
	}

	// &.active#languages {
	// 	height: 26rem;
	// }
	// &.active#dresses {
	// 	height: 10rem;
	// }
	// &.active#amenities {
	// 	height: 43rem;
	// }
	// &.active#images {
	// 	height: 42rem;
	// }
}


#previewBooking {
	.modal-body {
		.row.m-0 {
			padding: 0.3rem 0 !important;
		}
	}

	.value {
		font-size: 18px;
	}
}

.vehtype_extint img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: zoom-in;
	height: 220px !important;
	border-radius: 15px !important;
}

.emptyImage {
	position: relative;
	border: 1px solid #717171;
	border-radius: 15px;
	height: 220px !important;
}

.box-special-instruction{
	overflow-y: auto;
	max-height: 200px;
}
.preview-pickup-color{
	color: #007500;
  }
  .preview-extra-stop-color{
	color: #000000;
  }
  .preview-dropoff-color{
	color:  #FF0000 ;
  }
  .preview-airport-color{
	color:  #00008B !important ;
  }


@media (min-width:767px) and (max-width:991px) {
	.text-danger {
		color: #dc3545 !important;
		font-size: 14px !important;
	}

	.looseError {
		padding: 10px 15px !important;
	}
}

.cellLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	padding-left: 0px;
	// background-color: #fff;
	max-width: 60px;
	text-align: center;
	left: -5px;
	top: 30px;
	font-weight: 700;
}

.pcellLabelClass.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	padding-left: 0px;
	// background-color: #fff;
	max-width: 130px;
	text-align: center;
	left: -5px;
	top: 30px;
	font-weight: 700;
}

.labelClass {
	font-weight: 700;
}


:host ::ng-deep.ng-select .ng-select-container.ng-appearance-outline:after {
	height: 100%;
}

::ng-deep .col-md-3.margin-mat-field {
    margin-top: -15px;
}



:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap{
	border-top-color: #f44336!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.mat-form-field-should-float.mat-focused .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-touched.ng-dirty.mat-form-field-should-float.ng-valid .mat-form-field-outline-gap{
	border-top-color: rgba(0,0,0,.12)!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.ng-touched.mat-form-field-should-float.ng-valid.mat-focused .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.ng-dirty.ng-valid.ng-touched .mat-form-field-flex:hover .mat-form-field-outline-gap{border-top-color: rgba(0,0,0,.87)!important;}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float.mat-focused .mat-form-field-outline-gap{
	border-top-color: #f44336!important;
}
:host ::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick .mat-form-field-outline-gap{
	border-top-color: #3f51b5!important;
}
:host ::ng-deep.mat-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-invalid.mat-form-field-should-float .mat-form-field-outline-gap{
	border-top-color: rgba(0,0,0,.12)!important;
}
:host ::ng-deep.mat-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-invalid .mat-form-field-flex:hover .mat-form-field-outline-gap{border-top-color: rgba(0,0,0,.87)!important;}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix mat-label{
	font-weight: normal!important;
	font-size: 14px!important;
	color: #191919;
}
:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-label{top:1.3675em}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix .labelClass{font-weight: normal!important;
	font-size: 14px!important;
	color: #191919;
top:2.05em}
:host ::ng-deep .mat-form-field {
	.mat-form-field-outline {
	  &-end {
		border-radius: 0 10px 10px 0 !important;
	  }
  
	  &-start {
		border-radius: 10px 0 0 10px !important;
		flex-grow: 1;
	  }
	}
  }
  :host ::ng-deep .mat-form-field .mat-form-field-wrapper{
		border-radius: 10px;
		background-color: rgb(226, 226, 226,1);
  } 
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-form-field-wrapper .mat-form-field-infix .labelClass+.iti--allow-dropdown .iti__flag-container{top:3px}
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{transform:translateY(-0.8em) scale(0.90)!important;width:133.3333333333%}

:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: #b2b2b2 !important;
}


:host ::ng-deep .selectInputStyle{
	background-color: rgb(226, 226, 226,1) !important;
}

:host ::ng-deep .ng-placeholder{
	background-color: rgb(226, 226, 226,1) !important;
}

:host ::ng-deep .ng-select-container{
	// background-color: #f5f4fe;
	background-color: rgb(226, 226, 226,1) !important;
	border: #b2b2b2 2em;
    border-radius: 10px;
}

:host ::ng-deep .ng-select .ng-has-value .ng-placeholder, .ng-select.ng-select-opened .ng-placeholder {
    transform: translateY(-0.68125em) scale(0.7) perspective(100px) translateZ(0.001px);
	color: #000;
	top: 0.95em;
}

:host ::ng-deep .ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder{
    transform: translateY(-0.68125em) scale(0.6) perspective(100px) translateZ(0.001px) !important;
	color: #000;
}
:host ::ng-deep .ng-select .ng-select-container.ng-appearance-outline:after {
	height: 100%;
	border-radius: 10px;
}
.mat-option{
	background-color: rgb(226, 226, 226,1) !important;
}
:host ::ng-deep .ng-option {
	background-color: rgb(226, 226, 226,1) !important;
}

:host ::ng-deep .select-cancel-label,.select-seat-label,.select-charter-cancel-label,.select-luggage-label{
	background-color: rgb(226, 226, 226,1) !important;
	transform: translateY(0.4em) scale(0.9) !important;
	top: 1.3em;
    opacity: 0.7;
    left: -0.05em;
}

:host ::ng-deep .mat-input-element{
	font-weight: 500;
}

:host ::ng-deep .selectStyle select {
	font-weight: 400;
}
:host ::ng-deep span.mat-select-value-text span {
    font-weight: 500;
}
:host ::ng-deep ng-select span {
    font-weight: 500;
}
.required-field::after{
	font-size: 19px !important;
}
.asterisk{
	font-size: 19px;
	margin-left: 2px;
}