<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main>
    <!-- Main page content-->
    <form [formGroup]="addIndividualAccountForm" appInvalidControlScroll>
        <section class="user_information">
            <h2 class="headinginfo adminbox_shadow">Individual Account</h2>

            <div class="container-fluid mt-1 ">
                <div class="row ">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name <span class="asterisk">*</span></mat-label>
                            <input formControlName="firstName" type="text" matInput placeholder="First Name"
                                (focus)="$event.target.select()" [readonly]="is_family_member">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.firstName.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.firstName.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Middle Name</mat-label>
                            <input formControlName="middleName" type="text" matInput placeholder="Middle Name"
                                (focus)="$event.target.select()" [readonly]="is_family_member">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name <span class="asterisk">*</span></mat-label>
                            <input formControlName="lastName" type="text" matInput placeholder="Last Name"
                                (focus)="$event.target.select()" [readonly]="is_family_member">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.lastName.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.lastName.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="mobileField">
                            <mat-label>Mobile<span class="asterisk"> *</span></mat-label>
                            <input pattern="[0-9+]*" maxlength="16" matInput #mobileInput placeholder="Mobile"
                                formControlName="mobile" class="phoneNumberClass" tabindex="1"
                                (focus)="$event.target.select()" readonly (keypress)="numberOnly($event)"
                                (input)="validateMobile()" (blur)="validateMobile()" />

                        </mat-form-field>
                        <div *ngIf="submittedForm && f.mobile.errors || f.mobile.touched && f.mobile.errors"
                            class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.mobile.errors.required">This field is required</div>
                        </div>
                        <div *ngIf="f.mobile.errors" class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.mobile.errors?.invalidIntl">
                                {{f.mobile.errors?.invalidIntl}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="mobileField">
                            <mat-label>Work/Home<span class="asterisk"> *</span></mat-label>
                            <input pattern="[0-9+]*" maxlength="16" matInput #workInput placeholder="Work/Home"
                                formControlName="work" class="phoneNumberClass" tabindex="1"
                                (focus)="$event.target.select()" [readonly]="is_family_member"
                                (keypress)="numberOnly($event)" (input)="validateWork()" (blur)="validateWork()" />
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.work.errors || f.work.touched && f.work.errors"
                            class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.work.errors.required">This field is required</div>
                        </div>
                        <div *ngIf="f.work.errors" class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.work.errors?.invalidIntl">
                                {{f.work.errors?.invalidIntl}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail <span class="asterisk">*</span></mat-label>
                            <input formControlName="email" type="email" matInput placeholder="E-mail"
                                (focus)="$event.target.select()" [readonly]="is_family_member">
                        </mat-form-field>
                        <div *ngIf="(submittedForm && f.email.errors) || (f.email.touched && f.email.errors)"
                            class="text-danger text-lg m-0">
                            <div *ngIf="f.email.errors.required">This field is required</div>
                            <div *ngIf="f.email.errors.pattern">Email format should be valid</div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="custom-control custom-checkbox d-inline-block">
                            <input type="checkbox" id="smsOptIn" formControlName="smsOptIn"
                                class="custom-control-input">
                            <label for="smsOptIn" class="custom-control-label">Check this box to opt-in for SMS booking
                                confirmations and reminders.</label>
                        </div>
                        <div *ngIf="submittedForm && f.smsOptIn.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.smsOptIn.errors.required">Please check this box.</div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <h3 class="addveh_top d-md-flex justify-content-between align-items-center mb-0">
                            <label class="alert alert-danger" style="color: red !important;">Choose exact address from
                                the
                                drop-down.</label>
                            <!-- <label class="alert alert-danger my-2 mx-2">Choose nearest major city or airport
                                    location</label> -->

                        </h3>
                    </div>
                    <div class="col-md-12 quote-ui-dropdown-host">
                        <mat-form-field appearance="outline" class="quote-ui-field quote-ui-field--address" [ngClass]="{ 'border-red': (f.address.value == '')}">
                            <mat-label>Address <span class="asterisk">*</span></mat-label>
                            <i matPrefix class="fas fa-search quote-ui-field__prefix quote-ui-field__prefix--address"></i>
                            <input formControlName="address" type="text" matInput placeholder="Address" #search1
                                autocomplete="off" (focus)="onAddressFocus(search1)" (blur)="onAddressBlur()"
                                (input)="onAddressInput($any($event.target).value)" [readonly]="is_family_member">
                            <button matSuffix type="button" class="address-clear-btn"
                                *ngIf="!is_family_member && (f?.address?.value || search1?.value)"
                                (click)="clearAddressField()" aria-label="Clear address">
                                <svg width="21" height="20" fill="none" viewBox="0 0 21 20">
                                    <path fill="#1f1f1f" fill-rule="evenodd"
                                        d="M10.8 0a10 10 0 100 20 10 10 0 100-20m2.59 6L10.8 8.59 8.21 6 6.8 7.41 9.39 10 6.8 12.59 8.21 14l2.59-2.59L13.39 14l1.41-1.41L12.21 10l2.59-2.59zM2.8 10a8.01 8.01 0 0016 0 8.01 8.01 0 00-16 0"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </mat-form-field>
                        <div *ngIf="activeAddressDropdown && !is_family_member" class="quote-ui-dropdown-panel">
                            <button type="button" class="quote-ui-dropdown-option" *ngFor="let option of addressOptions"
                                (mousedown)="$event.preventDefault()" (click)="selectAddressOption(option)">
                                <i class="fas fa-map-marker-alt quote-ui-dropdown-option__icon"></i>
                                <span class="quote-ui-dropdown-option__content">
                                    <span class="quote-ui-dropdown-option__label">{{ getAddressOptionLabel(option) }}</span>
                                    <span class="quote-ui-dropdown-option__secondary">{{ getAddressOptionSecondary(option) }}</span>
                                </span>
                            </button>
                            <div *ngIf="shouldShowAddressPrompt()" class="quote-ui-dropdown-empty">Enter address and select from suggestions</div>
                            <div *ngIf="addressSearchLoading" class="quote-ui-dropdown-empty">Searching...</div>
                            <div *ngIf="shouldShowAddressEmpty()" class="quote-ui-dropdown-empty">No Result found</div>
                        </div>
                        <!-- <textarea placeholder="Address" formControlName="address"></textarea> -->
                        <div *ngIf="submittedForm && f.address.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.address.errors.required">This field is required</div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>City <span class="asterisk">*</span></mat-label>
                            <input formControlName="city" type="text" matInput placeholder="City"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.city.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.city.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>State/Province <span class="asterisk">*</span></mat-label>
                            <input formControlName="state" type="text" matInput placeholder="State/Province"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.state.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.state.errors.required">This field is required</div>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Country <span class="asterisk">*</span></mat-label>
                            <input formControlName="country" type="text" matInput placeholder="Country"
                                (focus)="$event.target.select()" [readonly]="is_family_member">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.country.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.country.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Zip Code / Country Address Code <span class="asterisk">*</span></mat-label>
                            <input formControlName="zipCode" type="text" matInput
                                placeholder="Zip Code / Country Address Code" (focus)="$event.target.select()"
                                [readonly]="is_family_member">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.zipCode.errors" class="text-danger text-lg m-0">
                            <div *ngIf="f.zipCode.errors.required">This field is required</div>
                            <div *ngIf="f.zipCode.errors.pattern">This field should be a number
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-----BILLING INFO-------------->
        <section class="user_information"
            *ngIf="!response?.data?.cards?.length && !currentUser?.is_profile_complete; else cardsList">
            <h2 class="headinginfo">Billing Information</h2>
            <div class="container py-2" id="accordionSidebar1">
                <h3 class="headinginfoH3 mt-3">Credit Card <img class="creditcard_pay"
                        src="assets/admin/images/creditcard_pay.png" tabindex="-1"></h3>
                <div class="row">
                    <div class="col-md-3 pr-0 borderright mobilePadding">
                        <div class="form-group radio-tile-group">
                            <div class="custom-radio input-container btn-shadow">
                                <input class="radio-button" id="personal" type="radio" name="card_type" checked=""
                                    formControlName="card_type" value="personal" tabindex="-1">
                                <div class="radio-tile">
                                    <label class="radio-tile-label" for="personal">Personal</label>
                                </div>
                            </div>
                            <div *ngIf="submittedForm && f.card_type.errors || f.card_type.touched && f.card_type.errors"
                                class="text-danger text-lg m-0 margin-bottom-thin my-mat-hint">
                                <div *ngIf="f.card_type.errors.required">This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 pl-0 mobilePadding">
                        <div class="form-group radio-tile-group">
                            <div class="custom-radio input-container btn-shadow">
                                <input class="radio-button" id="business" type="radio" name="card_type"
                                    formControlName="card_type" value="business" tabindex="-1">
                                <div class="radio-tile">
                                    <label class="radio-tile-label" for="business">Business</label>
                                </div>
                                <div *ngIf="submittedForm && f.card_type.errors || f.card_type.touched && f.card_type.errors"
                                    class="text-danger margin-bottom-thin my-mat-hint">
                                    <div *ngIf="f.card_type.errors.required">This field is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>First & Last Name*</mat-label>
                            <input matInput placeholder="First & Last Name" formControlName="name"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.name.errors || f.name.touched && f.name.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.name.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Card No# *</mat-label>
                            <input matInput placeholder="Card No#" formControlName="number" id="card-number"
                                (focus)="$event.target.select()">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.number.errors || f.number.touched && f.number.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.number.errors.required">This field is required</div>
                        </div>
                        <div *ngIf="f.number.errors" class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.number.errors?.invalid_Pattern;else plusError">Do not add
                                Dashes
                                with numbers</div>
                            <ng-template #plusError>
                                <div *ngIf="f.number.errors?.invalidPattern;else allErrors">Do not
                                    enter +
                                    sign</div>
                                <ng-template #allErrors>
                                    <div *ngIf="f.number.errors?.pattern;else numberLength">Enter
                                        Numbers Only
                                    </div>
                                    <ng-template #numberLength>
                                        <div *ngIf="f.number.errors.minlength">Minimum length should
                                            be 14</div>
                                        <div *ngIf="f.number.errors.maxlength">Maximum length should
                                            be 20</div>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Expiration date*</mat-label>
                            <input matInput [matDatepicker]="dp" [formControl]="expiryDateControl" placeholder="MM/YYYY"
                                (click)="dp.open()" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                            </mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="submittedForm && (f.exp_month.errors || f.exp_year.errors) || (f.exp_month.touched && (f.exp_month.errors || f.exp_year.errors))"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.exp_month.errors?.required || f.exp_year.errors?.required">Expiry Date is
                                required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>CVV (3-4 digit code)*</mat-label>
                            <input matInput placeholder="CVV (3-4 digit code)" formControlName="cvc">
                        </mat-form-field>
                        <div *ngIf="submittedForm && f.cvc.errors || f.cvc.touched && f.cvc.errors"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.cvc.errors.required">This field is required</div>
                        </div>
                        <div *ngIf="f.cvc.errors" class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="f.cvc.errors?.invalid_Pattern;else plusError">Do not add
                                Dashes
                                with numbers</div>
                            <ng-template #plusError>
                                <div *ngIf="f.cvc.errors?.invalidPattern;else allErrors">Do not
                                    enter +
                                    sign</div>
                                <ng-template #allErrors>
                                    <div *ngIf="f.cvc.errors?.pattern;else numberLength">Enter
                                        Numbers Only
                                    </div>
                                    <ng-template #numberLength>
                                        <div *ngIf="f.cvc.errors.minlength">Minimum length should be
                                            3</div>
                                        <div *ngIf="f.cvc.errors.maxlength">Maximum length should be
                                            5</div>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-template #cardsList>
            <section class="user_information driverbooking_top adminbox_shadow">
                <div class="containeredd">
                    <div class="row">
                        <div class="col-md-12" *ngIf="!is_family_member">
                            <button class="custom-btn add-button" (click)="addCardClick()" tabindex="-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-circle"
                                    viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                                Add Debit / Credit card
                            </button>
                        </div>
                    </div>
                </div>
                <div class="containeredd driverside_table">
                    <div class="row">
                        <div class="col-md-12 custom_table table-responsive">
                            <table class="table table-striped dataTable dt-responsive" id="dataTable" role="grid"
                                aria-describedby="dataTable_info" style="width: 100%" width="100%" cellspacing="0"
                                tabindex="-1">
                                <thead>
                                    <tr role="row">
                                        <th>Card Holder First & Last Name</th>
                                        <th>Card No.</th>
                                        <th>MM/YYYY</th>
                                        <th>Card Type</th>
                                        <th *ngIf="!is_family_member">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="response">
                                        <ng-container *ngIf="response?.data?.cards">
                                            <tr role="row" class="odd" *ngFor="
                                                    let card of response?.data
                                                        ?.cards
                                                ">
                                                <td class="text-capitalize">
                                                    {{ card?.name }}
                                                </td>
                                                <td>{{ card?.last4 }}</td>
                                                <td>
                                                    {{
                                                    card?.exp_month +
                                                    "/" +
                                                    card?.exp_year
                                                    }}
                                                </td>
                                                <td class="text-capitalize">
                                                    {{ card?.card_type }}
                                                </td>
                                                <td *ngIf="!is_family_member">
                                                    <i class="fa fa-trash" style="
                                                            font-size: x-large;
                                                            color: #d64646;
                                                        " (click)="
                                                            enableDisableClicked(
                                                                card?.ID
                                                            )
                                                        " data-toggle="modal"
                                                        data-target="#deleteConfirmationModal"></i>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                    <!-- <ng-container *ngIf="!response?.data?.cards?.length">
                                        <tr>
                                            <td colspan="6">No Card found!</td>
                                        </tr>
                                    </ng-container> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>

    </form>
    <div class="container" *ngIf="!is_family_member">
        <div class="col-md-12">
            <div class="billing_inforamtion ">
                <ul class="d-flex justify-content-center" style="gap:30px;">
                    <li>

                        <!-- <button class="custom-filled-back-button" (click)="backButton()">
                            BACK
                        </button> -->
                    </li>
                    <li>
                        <button class="custom-filled-reset-button" (click)="resetForm()" tabIndex="2">
                            RESET
                        </button>
                    </li>
                    <li><button class="custom-filled-button" (click)="submitForm()" tabIndex="1">
                            SAVE
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close closeButton" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="70">
                    <g data-name="Layer 51" fill="#ea4444" class="color000 svgShape">
                        <path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"
                            fill="#ea4444" class="color000 svgShape"></path>
                        <path
                            d="M22.71,9.29a1,1,0,0,0-1.42,0L16,14.59l-5.29-5.3a1,1,0,0,0-1.42,1.42L14.59,16l-5.3,5.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L16,17.41l5.29,5.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L17.41,16l5.3-5.29A1,1,0,0,0,22.71,9.29Z"
                            fill="#ea4444" class="color000 svgShape"></path>
                    </g>
                </svg> -->
                <h5 class="modal-title my-3" id="exampleModalLabel">{{alertMessage}}</h5>
            </div>
            <div class="text-center">
                <button type="button" class="custom-btn yes-btn mr-2" (click)="deleteCard()">Yes</button>
                <button type="button" class="custom-btn no-btn" data-dismiss="modal" aria-label="Close">No</button>
            </div>
        </div>
    </div>
</div>
