<!-- Rates and Taxes -->
<ngx-spinner></ngx-spinner>
<div *ngIf="ratesform" [formGroup]="RatesForm" class="section-dropdown finalizeRates mt-2"
	[ngClass]="{'w-100': ratesform && !returnratesform, 'w-50': ratesform && returnratesform}"
	[ngStyle]="affiliate_type == 'affiliate' ? {'height': '0', 'padding': '0'} : ''">
	<div class="row cursor-pointer" (click)="toggleDropdown('section')" id="rate-heading">
		<div class="col-12 col-md-12">
			<h4 class="m-0">
				Rates
			</h4>
		</div>
	</div>

	<div [attr.id]="'RateFormItem-' + item_index" class="my-4 px-md-3 rateSubSection" [formGroupName]="item.key"
		[ngClass]="{'active': rate_params.chevrons[item.key]}"
		*ngFor="let item of RateForm | keyvalue: returnZero; index as item_index" [ngStyle]="item.key == 'direct_taxes' ? {'display':'none'}: ''">
		<div class="col-12 col-md-12" (click)="handleSubHeading(item.key)">
			<div class="row ml-1 section-dropdown-header" *ngIf="item.key == 'all_inclusive_rates'">
				<h5>Vehicle Base Rates</h5>
			</div>
			<div class="section-dropdown-header" *ngIf="item.key == 'others'">
				<h5>Special Event Surge Pricing</h5>
			</div>
			<div class="row ml-1 section-dropdown-header" *ngIf="item.key == 'misc'">
				<h5>Additional Misc. Charges</h5> <p> (Parking, Bar, Mics)</p>
			</div>
			<div class="row ml-1 section-dropdown-header" *ngIf="item.key == 'amenities'">
				<h5>Extra Charge Amenities</h5> <p> (Baby, Booster, Baggage, etc)</p>
			</div>
			<div class="row ml-1 section-dropdown-header" *ngIf="item.key == 'direct_taxes'">
				<h5>Direct Taxes</h5>
			</div>
			<div class="row ml-1 section-dropdown-header" *ngIf="item.key == 'taxes'">
				<h5>Tolls/Taxes</h5> <p> (Airport, Sea, City, Others)</p>
			</div>
			
			<!-- <h5 class="section-dropdown-header" *ngIf="item.key != 'others'"> 
				{{ textFormatter(item.key) | titlecase }}
			</h5> -->
			<p class="subHead-bi"
				[ngClass]="rate_params.chevrons[item.key] ? 'bi bi-chevron-up' : 'bi bi-chevron-down'"></p>
		</div>
		<div [attr.id]="'RateFormSubItem-' + sub_item_index"
			class="row rates-row align-items-center justify-content-between mx-auto"
			*ngFor="let sub_item of item?.value?.controls | keyvalue: returnZero; index as sub_item_index">
			<!-- Base Rate -->
			<div class="col-6 col-sm-3 col-md-4 my-3" [formGroupName]="sub_item.key"
				*ngIf="sub_item.key !== 'Minimum_Rate'">
				<div class="rate-label">
					<mat-form-field appearance="outline" class="m-0">
						<mat-label>
							{{ textFormatter(sub_item?.value?.controls?.rate_label?.value) |
							titlecase }}
						</mat-label>
						<input type="number" matInput placeholder="0" formControlName="baserate" [tabIndex]="getTabIndex(item.key)"
							class="font-weight-bolder rate-input-field text-right" (focus)="$event.target.select()"  (change)="handleNegtiveValue(item.key,sub_item.key,'baserate',$event.target.value)" />
					</mat-form-field>
					<div class="errors" *ngIf="sub_item.key === 'Kilometer_Rate' && trigger_error">
						<div class="error-field">
							<p class="text-danger">
								Rate cannot be less than Minimum Rate
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Distance Value -->
			<div class="col-auto" *ngIf="sub_item.key === 'Kilometer_Rate' || sub_item.key === 'Milage_Rate'">
				<div>
					<mat-form-field appearance="outline" class="m-0">
						<mat-label>
							Distance
						</mat-label>
						<input type="number" matInput placeholder="0" [value]="distance" style="cursor: not-allowed"
							class="font-weight-bolder rate-input-field text-right" readonly />
					</mat-form-field>
				</div>
			</div>

			<!-- Hours -->
			<div class="num-hours col-auto" *ngIf="hours != 0 && sub_item.key === 'Base_Rate'">
				<div>
					<mat-form-field appearance="outline" class="m-0">
						<mat-label>
							Number of Hours
						</mat-label>
						<!-- style="cursor: not-allowed" -->
						<input type="number" matInput placeholder="0" [value]="hours" [ngClass]="is_readonly_min_rate ? 'block-cursor' : ''"
							class="font-weight-bolder rate-input-field text-right" (change)="changeInHours($event.target.value)" [readonly]="is_readonly_min_rate" />
					</mat-form-field>
					<span *ngIf="is_readonly_min_rate">Hours cannot be edited as these are the minimum rates issued</span>
				</div>
			</div>

			<!-- Admin Share -->
			<div class="col-3 col-sm-3 col-md-3" *ngIf="sub_item.key == 'Base_Rate' ">
				<div>
					<mat-form-field appearance="outline" class="m-0">
						<mat-label>
							Admin Share {{ admin_share }} %
						</mat-label>
						<input type="number" matInput placeholder="0" [value]="calc_admin_share"
							style="cursor: not-allowed" class="font-weight-bolder rate-input-field text-right"
							readonly />
					</mat-form-field>
				</div>
			</div>
			<div class="col-3" *ngIf="sub_item.key === 'Base_Rate' && isTravelShare">
				<div>
					<mat-form-field appearance="outline" class="m-0">
						<mat-label>
							Travel Share {{ travel_share }} %
						</mat-label>
						<input type="number" matInput placeholder="0" [value]="travel_agent_share"
							style="cursor: not-allowed" class="font-weight-bolder rate-input-field text-right"
							readonly />
					</mat-form-field>
				</div>
			</div>

			<!-- Flat | Percent -->
			<div class="col-2" *ngIf="item.key === 'taxes' || item.key == 'others'">
				<!-- Matslide Toggle -->
				<div class="d-block">
					<mat-slide-toggle [checked]="sub_item?.value?.controls?.type?.value == 'percent'" [tabIndex]="getTabIndex(item.key)"
						(change)="changeValue('RatesForm', item.key, sub_item.key, 'type', $event.checked ? 'percent' : 'flat')">
						<i class="bi mx-1"
							[ngClass]="sub_item?.value?.controls?.type?.value === 'flat' ? 'bi-currency-dollar' : 'bi-percent'"></i>
					</mat-slide-toggle>
				</div>
			</div>
			<!-- Rate Amount -->
			<div id="rate-amount" class="col-auto" *ngIf="sub_item.key !== 'Minimum_Rate'">
				<div class="rate-amount text-2xl font-weight-bolder text-right">
					<p class="m-0 m-lg-3">
						<i class="bi bi-currency-dollar text-danger"></i>
						{{ sub_item?.value?.controls?.amount.value }}
					</p>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-end m-2">
			<i class="bi bi-x fa-2x" 
			(click)="handleSubHeadingScroll(item.key,'RateFormItem-' + item_index)"></i>
		</div>
	</div>
	<div class="row d-flex justify-content-end mx-2">
		<button class="closeAll-btn" id="closeAll-btn" (click)="closeAllChevrons()">Close all</button>
	</div>

	<hr style="border-top: 2.5px solid #000000; " />

	<div class="row px-2 justify-content-between align-items-center">
		<div class="col-md-6">
			<p class="font-weight-bolder text-uppercase m-0" style="font-size: 1.3rem;">
				Sub Total
			</p>
		</div>
		<div class="col-md-4 text-3xl text-right">
			<i class="bi bi-currency-dollar text-danger"></i>
			{{ subtotal.toFixed(2) }}
		</div>
	</div>
	<!-- Number of Vehicles/Hours -->
	<div class="row px-2 justify-content-between align-items-center" *ngIf="vehicles !== 0">
		<div class="col-md-6 col-xl-7">
			<p class="font-weight-bolder text-uppercase m-0" style="font-size: 1.3rem;">
				Number of Vehicles
			</p>
		</div>
		<div class="col-md-4 col-xl-5 text-3xl text-right" id="NumVehicles">
			<i class="bi bi-x text-dark font-weight-bolder"></i>
			{{ vehicles }}
		</div>
	</div>

	<!-- Total -->
	<div class="row px-2 justify-content-between align-items-center">
		<div class="col-md-6 col-xl-7">
			<p class="font-weight-bolder text-uppercase m-0" style="font-size: 1.3rem;">
				Grand Total
			</p>
		</div>
		<div class="col-md-4 col-xl-5 text-3xl text-right">
			<i class="bi bi-currency-dollar text-danger"></i>
			{{ grandtotal.toFixed(2) }}
		</div>
	</div>
</div>



