.innpage_video {
    padding-top: 10px !important;
}

.safety_wrapper {
    padding-top: 0 !important;
}

.safety_wrapper a {
    color           : #007bff !important;
    background-color: transparent !important;
    padding         : 0;
}