.mat-form-field-empty.mat-form-field-label {
	color: #808080;
}

body {
	-ms-scroll-chaining: none;
	overscroll-behavior: contain;
}

body.bg-fade:before {
	position        : fixed;
	top             : 0;
	left            : 0;
	right           : -1px;
	bottom          : -1px;
	background-color: #000000;
	content         : '';
	z-index         : 9;
	opacity         : 0.5;
	visibility      : visible;
	display         : block
}

* {
	--orange: #F3933D;
}
input, input::placeholder {
	font-size: 1.1rem !important;
	letter-spacing: 1px !important;
	font-weight: 600 !important;
}

.text-orange {
	color: var(--orange) !important
}

.cursor-pointer {
	cursor: pointer;
}

button.custom-filled-button {
	padding           : 0.5rem 3.258rem;
	border-radius     : 1rem;
	border            : 2px solid var(--green-color);
	background-color  : var(--green-color);
	color             : #202020;
	letter-spacing    : 0.9px;
	font-size         : 1.18rem;
	display           : inline-block;
	min-width         : 10rem;
	font-family       : 'Roboto', sans-serif;
	font-weight       : 700;
	appearance        : button;
	-moz-appearance   : button;
	-webkit-appearance: button;
}

button.custom-filled-back-button {
	padding           : 0.675rem 3.258rem;
	border-radius     : 1rem;
	border            : 2px solid #a2a3a2;
	background-color  : #a2a3a2;
	color             : #202020;
	letter-spacing    : 0.9px;
	font-size         : 1.18rem;
	display           : inline-block;
	min-width         : 10rem;
	font-family       : 'Roboto', sans-serif;
	font-weight       : 700;
	appearance        : button;
	-moz-appearance   : button;
	-webkit-appearance: button;
}

@media only screen and (max-width:380px) {
	button.custom-filled-button {
		padding           : 15px 0;
		border-radius     : 1rem;
		border            : 2px solid var(--green-color);
		background-color  : var(--green-color);
		color             : #202020;
		letter-spacing    : 0.9px;
		font-size         : 1.18rem;
		display           : inline-block;
		min-width         : 8rem;
		font-family       : 'Roboto', sans-serif;
		font-weight       : 700;
		appearance        : button;
		-moz-appearance   : button;
		-webkit-appearance: button;
	}

	button.custom-filled-back-button {
		padding           : 15px 0;
		border-radius     : 1rem;
		border            : 2px solid #a2a3a2;
		background-color  : #a2a3a2;
		color             : #202020;
		letter-spacing    : 0.9px;
		font-size         : 1.18rem;
		display           : inline-block;
		min-width         : 8rem;
		font-family       : 'Roboto', sans-serif;
		font-weight       : 700;
		appearance        : button;
		-moz-appearance   : button;
		-webkit-appearance: button;
	}
}

button.custom-filled-orange-button {
	border          : 2px solid var(--orange);
	border-radius   : 1rem;
	padding         : 4px 7px;
	color           : #1d1d1d;
	background-color: var(--orange);
	font-size       : 1.1rem;
}