<ngx-spinner></ngx-spinner>
<main>
    <!-- Main page content-->
    <section class="user_information" id="invoice_ta">
        <h2 class="headinginfo">Payouts</h2>

        <section class="adminbox_shadow user_information">
            <div class="containeredd driverside_table">
                <div class="row">
                    <p class="text-danger text-lg" style="margin-left:10px" *ngIf="invoices.length==0">
                        No Results Found.
                    </p>
                    <div class="col-md-12 custom_table">
                        <div class="table-responsive" style="min-height: 350px">
                            <table class="table table-dark table-striped table-bordered dataTable dt-responsive"
                                id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0"
                                *ngIf="invoices.length >0">
                                <thead>
                                    <tr role="row">
                                        <th>Transfer ID</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody class="invoiceTbody" *ngFor="let invoice of invoices">
                                    <tr role="row" class="odd">
                                        <td class="text-center" style="font-size: 17px;">
                                            <p>{{invoice?.id}}</p>
                                        </td>
                                        <td class="text-center" style="font-size: 17px;">
                                            <p>{{ invoice?.created_at | date: 'dd-MM-yyyy' }}</p>
                                        </td>
                                        <td class="text-center" style="font-size: 17px;">
                                            <p>${{invoice?.amount}}</p>
                                        </td>
                                        <td class="text-center" style="font-size: 17px;">
                                            <p>{{ invoice?.description ? invoice?.description :
                                                invoice?.transfer_group}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
</main>