<ngx-spinner></ngx-spinner>
<main *ngIf="invoiceData" style="background: #f5f4fe;">
    <div class="row m-2 d-flex justify-content-between" id="btn-display-coloumn" style="padding: 20px 0 0 0;">
        <div>
            <button class="custom-btn print-btn box-shadow my-1" style="height: 40px;width: 130px;font-size: 14px;"
                [useExistingCss]="true" printTitle="Invoice" printSectionId="print-section" ngxPrint>
                Print Invoice</button>
        </div>

    </div>
    <section class="invoice" id="print-section">
        <div class="container p-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between bd-highlight mb-3 invoice-header  p-4">
                        <!-- <div class="mr-auto p-2 bd-highlight">
							<img src="assets/admin/images/new_logo.png" class="logo" alt="">
						</div> -->
                        <div class="p-2 bd-highlight ml-2" style="margin: auto 0;">
                            <p class="my-1 invoice-head--text">Paid Invoice {{invoiceData.invoice_number}}</p>
                            <p class="m-0 invoice-text--booking">
                                Booking # {{invoiceData.reservation_id}}
                            </p>
                        </div>
                        <div class="bd-highlight invoice-p m-3">
                            Paid Amount
                            <p class="invoice-dollar--color display-4">
                                <strong
                                    style="font-size: xx-large;"><span>{{currencySymbol}}</span>{{invoiceData?.paid_amount}}</strong>
                            </p>

                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-12" *ngIf="invoiceData.service_type">
                    <div class="invoice-passenger mx-3">
                        <div class="d-flex bd-highlight invoice-subhead p-4 col-12 mr-2">
                            <div class="mr-auto  col-6 p-2 bd-highlight invoice-status-bar"
                                *ngIf="invoiceData.service_type">
                                <p class="m-1 invoice-p text-white invoice-status-bar">
                                    Service Type: <span
                                        class="invoice-text-bold invoice-status-bar">{{invoiceData.service_type}}</span>
                                </p>
                                <p class="m-1 invoice-p text-white invoice-status-bar">
                                    Invoice Status: <span
                                        class="invoice-text-bold invoice-status-bar">{{invoiceData?.invoice_status |
                                        titlecase}} Invoice</span>
                                </p>
                            </div>
                            <div class="p-2 col-6 bd-highlight " *ngIf="invoiceData.date_of_service">
                                <p class="m-1 invoice-p text-white invoice-status-bar">
                                    Date of Service:<span class="invoice-text-bold invoice-status-bar">
                                        {{invoiceData.date_of_service}}</span>
                                </p>
                                <p class="m-1 invoice-p text-white invoice-status-bar">
                                    Invoice Date:<span class="invoice-text-bold invoice-status-bar">
                                        {{invoiceData.created_at}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="div">
                            <dl class="m-0">
                                <dt class="invoice-p" *ngIf="invoiceData.passenger_name">Passenger Name </dt>
                                <dd class="invoice-text-b">{{invoiceData.passenger_name}}
                                </dd>
                                <dt class="invoice-p" *ngIf="invoiceData.passenger_cell">Passenger Phone</dt>
                                <dd class="invoice-text-b"> {{invoiceData.passenger_cell}}</dd>
                                <dt class="invoice-p" *ngIf="invoiceData.passenger_email">
                                    Passenger Email
                                </dt>
                                <dd class="invoice-text-b text-break">{{invoiceData.passenger_email}}</dd>
                            </dl>
                        </div>
                        <div class="div border-top">
                            <dl class="m-0">
                                <dt class="invoice-p" *ngIf="invoiceData.pickup_address">Pickup Address
                                </dt>
                                <dd class="invoice-text-b"> {{invoiceData.pickup_address}}
                                </dd>
                                <dt class="invoice-p" *ngIf="invoiceData.pickup_airport"> <span>Pickup Airport</span>
                                </dt>
                                <dd class="invoice-text-b"> {{invoiceData.pickup_airport}}
                                </dd>
                                <dt class="invoice-p" *ngIf="invoiceData.pickup_airline"> <span>Pickup Airline</span>
                                </dt>
                                <dd class="invoice-text-b"> {{invoiceData.pickup_airline}}
                                </dd>
                                <dt class="invoice-p" *ngIf="invoiceData.dropoff_airport">
                                    Drop-off Airport
                                </dt>
                                <dd class="invoice-text-b">{{invoiceData.dropoff_airport}}</dd>
                                <dt class="invoice-p" *ngIf="invoiceData.dropoff_airline">
                                    Drop-off Airline
                                </dt>
                                <dd class="invoice-text-b">{{invoiceData.dropoff_airline}}</dd>
                                <dt class="invoice-p" *ngIf="invoiceData.dropoff_address">
                                    Drop-off Address
                                </dt>
                                <dd class="invoice-text-b">{{invoiceData.dropoff_address}}</dd>
                            </dl>
                        </div>


                        <div class="div border-top">
                            <dl class="m-0">
                                <dt class="invoice-p" *ngIf="invoiceData.vehicle_type.vehicle_cat_name">Vehicle Type

                                </dt>
                                <dd class="invoice-text-b"> {{invoiceData.vehicle_type.vehicle_cat_name}}
                                </dd>
                                <dt class="invoice-p" *ngIf="invoiceData.transfer_type"><span>Transfer Type</span></dt>
                                <dd class="invoice-text-b"> {{invoiceData.transfer_type}}
                                </dd>
                                <dt class="invoice-p" *ngIf="invoiceData.created_at">
                                    Booking Create Date
                                </dt>
                                <dd class="invoice-text-b"> {{invoiceData.created_at}}</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="div-payment">

                                <dl class="ml-3 dl-payment">
                                    <p class="payment-text ">Payment Details</p>
                                    <dt class="invoice-text--name">Payment Method Type </dt>
                                    <dd class="invoice-text--entry">{{invoiceData.billing_detail.payment_method ==
                                        'credit_card' ?
                                        'Credit Card' : 'Cash' }}
                                    </dd>
                                    <dt class="invoice-text--name"
                                        *ngIf="invoiceData.billing_detail.payment_method=='credit_card'">Name on Credit
                                        Card </dt>
                                    <dd class="invoice-text--entry"
                                        *ngIf="invoiceData.billing_detail.payment_method=='credit_card'">
                                        {{invoiceData.billing_detail.name_on_credit_card ?
                                        invoiceData.billing_detail.name_on_credit_card : ' - '}}</dd>
                                    <dt class="invoice-text--name"
                                        *ngIf="invoiceData.billing_detail.payment_method=='credit_card'">
                                        Credit Card Number
                                    </dt>
                                    <dd class="invoice-text--entry"
                                        *ngIf="invoiceData.billing_detail.payment_method=='credit_card'">
                                        {{invoiceData.billing_detail.credit_card_number ?
                                        invoiceData.billing_detail.credit_card_number : ' - '}} </dd>
                                    <dt class="invoice-text--name"
                                        *ngIf="invoiceData.billing_detail.payment_method=='credit_card'">
                                        Expiry Date
                                    </dt>
                                    <dd class="invoice-text--entry"
                                        *ngIf="invoiceData.billing_detail.payment_method=='credit_card'">
                                        {{invoiceData.billing_detail.credit_card_expiry_date
                                        ?
                                        invoiceData.billing_detail.credit_card_expiry_date : ' - '}}</dd>
                                    <dt class="invoice-text--name"
                                        *ngIf="invoiceData.billing_detail.payment_method=='credit_card'">
                                        Billing Address
                                    </dt>
                                    <dd class="invoice-text--entry"
                                        *ngIf="invoiceData.billing_detail.payment_method=='credit_card'">
                                        {{invoiceData.billing_detail.billing_address ?
                                        invoiceData.billing_detail.billing_address : ' - '}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-passenger m-3">
                        <div class="invoice-subhead px-3">
                            <div class="mr-auto p-2 bd-highlight">
                                <p class="m-0 text-charges">
                                    Charges
                                </p>
                            </div>
                        </div>
                        <div class="div" *ngIf="invoiceData.priceDetail">
                            <div class="col-md-12 p-3 row" *ngFor="let priceObj of invoiceData.priceDetail | keyvalue">
                                <div class="col-3">
                                    <p class="invoice-text-charges">{{priceObj.key}}
                                    </p>
                                </div>
                                <div>

                                </div>
                                <div class="col-6">
                                    <ul style="list-style: none;margin:0;color: #1c1a1a;font-size:15px">
                                        <li style="margin-bottom: 8px;" class="invoice-charges-textb"
                                            *ngFor="let price of priceObj.value">
                                            <span *ngIf="price.amount">{{price.rate_label}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-3 d-flex justify-content-end">
                                    <ul style="list-style: none;margin:0;color: #1c1a1a;font-size:15px">
                                        <li style="margin-bottom: 8px; " class="invoice-charges-textb "
                                            *ngFor="let price of priceObj.value">
                                            <span class="font-weight-bold" *ngIf="price.amount">
                                                {{currencySymbol+price.amount}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- to show refund ammount -->

                            <div class="invoice-subhead px-3">
                                <div class="row d-flex justify-content-between" *ngIf="invoiceData?.number_of_hours">
                                    <p class="m-0 p-1 text-charges">
                                        No. of hours
                                    </p>
                                    <p class="m-0 p-1 text-charges">
                                        {{invoiceData?.number_of_hours}}
                                    </p>
                                </div>
                                <div class="row d-flex justify-content-between">
                                    <p class="m-0 p-1 text-charges">
                                        Sub Total
                                    </p>
                                    <p class="m-0 p-1 text-charges">
                                        <span>{{currencySymbol}}</span>
                                        {{invoiceData?.sub_total.toFixed(2)}}
                                    </p>
                                </div>
                                <div class="row d-flex justify-content-between">
                                    <p class="m-0 p-1 text-charges">
                                        No. of vehicles
                                    </p>
                                    <p class="m-0 p-1 text-charges">
                                        <i class="bi bi-x font-weight-bolder"></i>
                                        {{invoiceData?.number_of_vehicles}}
                                    </p>
                                </div>
                                <div class="row d-flex justify-content-between">
                                    <p class="m-0 p-1 text-charges">
                                        Total-Amount</p>
                                    <p class="m-0 p-1 text-charges font-weight-bold">
                                        <span>{{currencySymbol}}</span>{{this.invoiceData?.grand_total.toFixed(2)}}
                                    </p>
                                </div>
                                <div class="row d-flex justify-content-between"
                                    *ngIf="(this.invoiceData?.grand_total - invoiceData?.paid_amount) > 0">
                                    <p class="m-0 p-1 text-charges">
                                        Payable payment
                                        <!-- <i class="bi bi-info-circle-fill"></i> -->
                                    </p>
                                    <p class="m-0 p-1 text-charges">
                                        <span>{{currencySymbol}}</span>{{(this.invoiceData?.grand_total.toFixed(2) -
                                        invoiceData?.paid_amount).toFixed(2)}}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="billing_inforamtion">
            <div class="row m-2">
                <button class="ok-btn custom-ok-btn box-shadow ml-3" style="height: 40px;width: 100px; font-size: 14px;"
                    type="button" (click)="backButton()" tabindex="1">OK</button>
                <button class="custom-btn refund-btn box-shadow ml-3" style="height: 40px;width: 130px; font-size: 17px;
				padding: 10px;" data-toggle="modal" data-target="#paymentLogs"
                    *ngIf="invoiceData.billing_detail.payment_method !='cash'">Payment logs</button>
            </div>
        </section>
    </section>

</main>

<div class="modal fade bd-example-modal-lg" id="paymentLogs" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content user_information bottom-container">
            <div class="modal-header pb-0">
                <h3 class="modal-title mb-0">Payment logs</h3>
            </div>
            <div class="modal-body">
                <!-- {{invoiceData.audit_trail | json}} -->
                <table id="audittrail" class="table table-striped table-responsive">
                    <thead style="background-color: white;">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type</th>
                            <th scope="col">Transaction ID</th>
                            <th scope="col">Amount</th>
                            <th scope="col" id="date">Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of paymentJson; let i=index">
                            <th scope="row">{{i+1}}</th>
                            <th scope="row">{{record.type}}</th>
                            <td style="word-wrap: break-word;">{{record?.balance_transaction}}</td>
                            <td><span class="currencySymbol">{{currencySymbol}}</span>
                                {{(record?.amount).toFixed(2)}}</td>
                            <td>{{TimestampToDate(record?.created)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="x-close-btn x-cross-btn mx-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="bi bi-x-circle"></span>
                </button>

            </div>
        </div>
    </div>
</div>