.vehtype_extint img {
    height       : 200px;
    border-radius: 15px;
}

.single-image .row {
    justify-content: inherit;
}

.deactivate-button {
    color           : #fff !important;
    background-color: #F33C2F;
    border-color    : #F33C2F;
    padding         : 8px 10px;
	
}
.vehtype_extintwrap ul {
    display: flex;
    justify-content: left !important;
   
}
.vehtype_extint img {
    width: 154px;
    height: 100%;
    object-fit: contain !important;
    cursor: zoom-in;
}
.billing_inforamtion ul{
	display: flex;
    justify-content: right;
	margin: 0px 14px !important;
	padding-bottom: 20px !important;
    padding-top: 15px !important;
}
@media only screen and (min-width:1199px) {
	.deactivate-button:hover {
		background-color: #d12c20;
		color           : #fff;
		text-decoration : none;
	}

	.deactivate-button:focus {
		transform       : scale(1.1, 1.1);
		background-color: #d12c20;
	}
}
