 .form {
 	width: 100%;
 }

 .topmargin2 {
 	margin-top: 15px;
 }

 .ratewidth {
 	width: 350px !important;
 }

 .emptywidth {
 	width: 200px !important;
 }

 .width {
 	width: 300px !important;
 }

 .user_information strong {
 	font-size: 17px;
 }

 .headinginfoH2 {
 	padding    : 0 15px;
 	font-size  : 25px;
 	font-weight: 400;
 	margin     : 20px 0 0 0;
 }

 .svgwidth {
 	width      : 50px !important;
 	padding-top: 35px !important;
 }

 .resultwidth {
 	width     : 200px !important;
 	text-align: right !important;
 }

 .emptyTd {
 	width: 225px !important;
 }

 mat-form-field {
 	display: contents;
 }

 .tableStyle td {
 	font-weight: 400 !important;
 }

 .tableStyle .width {
 	text-align: left !important;
 }

 .tableStyle .ratewidth {
 	text-align: left !important;
 }

 .user_information .row .col-md-6 {
 	margin-bottom: 1rem;
 }

 p {
 	margin-bottom: 0;
 }

 .labelStyle::before {
 	left: -4.5rem;
 }

 .labelStyle::after {
 	left: -4.5rem;
 }

 .cvcWidth {
 	width: 300px !important;
 }


:host ::ng-deep.ng-select .ng-select-container.ng-appearance-outline:after {
	height: 100%;
}

::ng-deep .col-md-3.margin-mat-field {
    margin-top: -15px;
}